Repository kyma-project/kyma, pull requests merged in 2019-05, with the labels that each got.

#3895 Handle a lack of static users in testing.sh script
  installation/resources/test-selector.yaml.tpl
  installation/scripts/testing.sh
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
Labels: bug

#3913 Remove outdated example from docs
  docs/application-connector/docs/03-01-ac-security.md
  docs/application-connector/docs/03-05-pass-access-token-in-request-header.md
  docs/kyma/docs/12-01-try-out-kyma.md
Labels: area/documentation, bug

#3914 Correct the numbered list to render properly on the website
  docs/kyma/docs/04-03-cluster-installation.md
Labels: area/documentation, area/installation

#3915 Fix broken links
  docs/kyma/docs/04-03-cluster-installation.md
  docs/kyma/docs/05-01-overview.md
  docs/kyma/docs/05-02-custom-component-installation.md
  docs/kyma/docs/05-03-overrides.md
Labels: area/documentation, area/installation

#3900 Send different payload in the post-upgrade test for Kyma eventing
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Labels: area/eventing

#3884 display metrics for ignored published events in grafana [Resource]
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish-knative/templates/destination-rule.yaml
  resources/event-bus/charts/publish-knative/templates/metrics-service.yaml
  resources/event-bus/charts/publish-knative/templates/service-monitor.yaml
  resources/event-bus/charts/publish-knative/values.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/_helpers.tpl
  resources/event-bus/charts/subscription-controller-knative/templates/destination-rule.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/metrics-service.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/service-monitor.yaml
  resources/event-bus/charts/subscription-controller-knative/values.yaml
  resources/event-bus/values.yaml
  resources/monitoring/charts/grafana/dashboards/event-bus.json
Labels: area/eventing, area/monitoring, quality/observability

#3929 Remove dead links
  docs/kyma/docs/05-03-overrides.md
Labels: area/documentation

#3897 Simplify local installation guide
  docs/kyma/docs/04-02-local-installation.md
  docs/kyma/docs/04-03-cluster-installation.md
  docs/kyma/docs/04-12-local-installation-scripts.md
Labels: area/documentation, area/installation, enhancement

#3650 Certificate Renewal in Connectivity Certs Controller
  components/connectivity-certs-controller/README.md
  components/connectivity-certs-controller/cmd/connectivitycertscontroller/connectivitycertscontroller.go
  components/connectivity-certs-controller/cmd/connectivitycertscontroller/options.go
  components/connectivity-certs-controller/internal/centralconnection/client.go
  components/connectivity-certs-controller/internal/centralconnection/client_test.go
  components/connectivity-certs-controller/internal/centralconnection/controller.go
  components/connectivity-certs-controller/internal/centralconnection/controller_test.go
  components/connectivity-certs-controller/internal/centralconnection/mocks/Client.go
  components/connectivity-certs-controller/internal/centralconnection/mocks/Manager.go
  components/connectivity-certs-controller/internal/certificaterequest/controller.go
  components/connectivity-certs-controller/internal/certificaterequest/controller_test.go
  components/connectivity-certs-controller/internal/certificaterequest/mocks/Client.go
  components/connectivity-certs-controller/internal/certificates/csrprovider.go
  components/connectivity-certs-controller/internal/certificates/csrprovider_test.go
  components/connectivity-certs-controller/internal/certificates/mocks/CSRProvider.go
  components/connectivity-certs-controller/internal/certificates/mocks/Provider.go
  components/connectivity-certs-controller/internal/certificates/model.go
  components/connectivity-certs-controller/internal/certificates/preserver.go
  components/connectivity-certs-controller/internal/certificates/preserver_test.go
  components/connectivity-certs-controller/internal/certificates/provider.go
  components/connectivity-certs-controller/internal/certificates/provider_test.go
  components/connectivity-certs-controller/internal/connectorservice/client.go
  components/connectivity-certs-controller/internal/connectorservice/establishedconnectionclient.go
  components/connectivity-certs-controller/internal/connectorservice/establishedconnectionclient_test.go
  components/connectivity-certs-controller/internal/connectorservice/establishedconnectionclientprovider.go
  components/connectivity-certs-controller/internal/connectorservice/establishedconnectionclientprovider_test.go
  components/connectivity-certs-controller/internal/connectorservice/initialconnectionclient.go
  components/connectivity-certs-controller/internal/connectorservice/initialconnectionclient_test.go
  components/connectivity-certs-controller/internal/connectorservice/mocks/Client.go
  components/connectivity-certs-controller/internal/connectorservice/mocks/EstablishedConnectionClient.go
  components/connectivity-certs-controller/internal/connectorservice/mocks/EstablishedConnectionClientProvider.go
  components/connectivity-certs-controller/internal/connectorservice/mocks/InitialConnectionClient.go
  components/connectivity-certs-controller/internal/connectorservice/model.go
  components/connectivity-certs-controller/internal/controller/certificaterequest/controller.go
  components/connectivity-certs-controller/pkg/apis/applicationconnector/v1alpha1/register.go
  components/connectivity-certs-controller/pkg/apis/applicationconnector/v1alpha1/types.go
  components/connectivity-certs-controller/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/connectivity-certs-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/connectivity-certs-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/centralconnection.go
  components/connectivity-certs-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/connectivity-certs-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_centralconnection.go
  components/connectivity-certs-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/connectivity-certs-controller/pkg/client/informers/externalversions/applicationconnector/v1alpha1/centralconnection.go
  components/connectivity-certs-controller/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/connectivity-certs-controller/pkg/client/informers/externalversions/generic.go
  components/connectivity-certs-controller/pkg/client/listers/applicationconnector/v1alpha1/centralconnection.go
  components/connectivity-certs-controller/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
Labels: area/application-connector, enhancement

#3669 Certificate Renewal in Connectivity Certs Controller chart
  resources/application-connector/charts/connectivity-certs-controller/README.md
  resources/application-connector/charts/connectivity-certs-controller/templates/central-connection.crd.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/cluster-role-binding.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/deployment.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/role-binding.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/service-account.yaml
  resources/application-connector/charts/connectivity-certs-controller/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3866 Secure minio password handling
  resources/assetstore/charts/minio/templates/secrets.yaml
  resources/assetstore/charts/minio/values.yaml
  resources/assetstore/values.yaml
Labels: area/core-and-supporting, area/documentation, enhancement, security/medium

#3931 Use hostAliases in Console Backend Service chart
  installation/resources/installer-config-local.yaml.tpl
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/charts/console-backend-service/templates/destination-rule.yaml
  resources/core/charts/console-backend-service/templates/policy.yaml
  resources/core/charts/console-backend-service/templates/service.yaml
Labels: area/console, bug

#3377 Create a tutorial for setting Minio to the GCP Gateway mode
  docs/asset-store/docs/03-03-minio-gateway.md
  docs/asset-store/docs/08-01-gateway-mode-set-up.md
  resources/assetstore/README.md
  resources/assetstore/charts/asset-upload-service/README.md
Labels: area/core-and-supporting, area/documentation

#3878 POC: Hydra + Oathkeeper
  CODEOWNERS
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/minikube.sh
  resources/ory/.helmignore
  resources/ory/Chart.yaml
  resources/ory/README.md
  resources/ory/charts/hydra/.helmignore
  resources/ory/charts/hydra/Chart.yaml
  resources/ory/charts/hydra/templates/_helpers.tpl
  resources/ory/charts/hydra/templates/hydra-system-credentials.yaml
  resources/ory/charts/hydra/templates/oauth2.yaml
  resources/ory/charts/hydra/templates/oidc-credentials.yaml
  resources/ory/charts/hydra/templates/service.yaml
  resources/ory/charts/hydra/templates/virtual-service.yaml
  resources/ory/charts/hydra/values.yaml
  resources/ory/charts/oathkeeper/.helmignore
  resources/ory/charts/oathkeeper/Chart.yaml
  resources/ory/charts/oathkeeper/templates/_helpers.tpl
  resources/ory/charts/oathkeeper/templates/api-server-svc.yaml
  resources/ory/charts/oathkeeper/templates/api-server-virtual-svc.yaml
  resources/ory/charts/oathkeeper/templates/api-server.yaml
  resources/ory/charts/oathkeeper/templates/oathkeeper-credentials-issuer-token.yaml
  resources/ory/charts/oathkeeper/templates/proxy-svc.yaml
  resources/ory/charts/oathkeeper/templates/proxy-virtual-svc.yaml
  resources/ory/charts/oathkeeper/templates/proxy.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/values.yaml
Labels: area/security, area/service-mesh, enhancement

#3945 Fix /etc/hosts duplication in minikube.sh
  installation/scripts/minikube.sh
Labels: area/installation, bug

#3952 Impersonate groups selfsubjectrules
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_service.go
Labels: area/console

#3805 Active events bump
  resources/application-connector/values.yaml
Labels: WIP, area/application-connector, area/eventing, enhancement

#3722 Evaluating self subject rules
  resources/application-connector/templates/applications-microfrontend.yaml
  resources/cluster-essentials/templates/microfrontend.crd.yaml
  resources/core/charts/api-controller/templates/apis-microfrontend.yaml
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/values.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/brokers-microfrontend.yaml
Labels: area/console, enhancement

#3951 Fix the rate chart of the ignored published messages grafana dashboard
  resources/monitoring/charts/grafana/dashboards/event-bus.json
Labels: WIP, area/eventing, area/monitoring, quality/observability

#3949 Remove unnecessary policy for Console Backend Service
  resources/core/charts/console-backend-service/templates/policy.yaml
Labels: area/console, enhancement

#3935 Add Asset Store configuration docs
  docs/asset-store/docs/05-01-asset-store.md
  docs/asset-store/docs/05-02-asset-store-metadata-service.md
  docs/asset-store/docs/05-03-asset-store-controller-manager.md
  docs/asset-store/docs/05-04-asset-upload-service.md
  docs/asset-store/docs/05-05-minio.md
  milv.config.yaml
Labels: area/documentation

#3947 Fix unstable assets and bucket policies
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_test.go
  components/asset-store-controller-manager/pkg/handler/asset/asset.go
  components/asset-store-controller-manager/pkg/handler/asset/asset_test.go
  components/asset-store-controller-manager/pkg/store/store.go
  components/asset-store-controller-manager/pkg/store/store_test.go
  tests/asset-store/testsuite/testdata.go
Labels: area/core-and-supporting, bug

#3963 Change add-ons-ui image
  resources/helm-broker/values.yaml
Labels: area/console, bug

#3988 Fix CODOWNERS for service-binding-usage-controller
  CODEOWNERS
Labels: bug

#3871 Update microfrontend client package types
  common/microfrontend-client/pkg/apis/ui/v1alpha1/types.go
  common/microfrontend-client/pkg/apis/ui/v1alpha1/zz_generated.deepcopy.go
Labels: area/console, enhancement

#3872 Implement graphql queries for MFs and CMFs
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/Gopkg.toml
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/ui/automock/cluster_microfrontend_lister.go
  components/console-backend-service/internal/domain/ui/automock/export.go
  components/console-backend-service/internal/domain/ui/automock/gql_cluster_microfrontend_converter.go
  components/console-backend-service/internal/domain/ui/automock/gql_microfrontend_converter.go
  components/console-backend-service/internal/domain/ui/automock/microfrontend_lister.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_converter.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_converter_test.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_resolver.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_resolver_test.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_service.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_service_test.go
  components/console-backend-service/internal/domain/ui/export_test.go
  components/console-backend-service/internal/domain/ui/microfrontend_converter.go
  components/console-backend-service/internal/domain/ui/microfrontend_converter_test.go
  components/console-backend-service/internal/domain/ui/microfrontend_resolver.go
  components/console-backend-service/internal/domain/ui/microfrontend_resolver_test.go
  components/console-backend-service/internal/domain/ui/microfrontend_service.go
  components/console-backend-service/internal/domain/ui/microfrontend_service_test.go
  components/console-backend-service/internal/domain/ui/pretty/kind.go
  components/console-backend-service/internal/domain/ui/ui.go
  components/console-backend-service/internal/gqlschema/config.yml
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/gqlschema/settings.go
Labels: area/console, enhancement

#3955 Bump assetstore controller-manager image version
  resources/assetstore/values.yaml
Labels: area/core-and-supporting, bug

#4005 Fix event-bus upgrade test payload syntax
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Labels: bug, test-failing

#3999 Add gql queries for MFs and CMFs
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/values.yaml
Labels: area/console, enhancement

#3926 Add dashboard to provide insights for a given kyma subscription
  components/event-bus/cmd/event-bus-subscription-controller-knative/cmd/manager/main.go
  components/event-bus/internal/knative/metrics/metrics_def.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
Labels: area/eventing, area/monitoring, quality/observability

#4001 Event Bus Subscription Monitoring Dashboard
  resources/event-bus/values.yaml
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Labels: area/eventing, area/monitoring, quality/observability

#3939 Application Broker with one service
  components/application-broker/Gopkg.lock
  components/application-broker/README.md
  components/application-broker/cmd/broker/main.go
  components/application-broker/internal/broker/automock/broker_service.go
  components/application-broker/internal/broker/broker_service_test.go
  components/application-broker/internal/broker/catalog_export_test.go
  components/application-broker/internal/broker/middleware.go
  components/application-broker/internal/broker/middleware_test.go
  components/application-broker/internal/broker/server.go
  components/application-broker/internal/config/config.go
  components/application-broker/internal/mapping/mapping_service_export_test.go
  components/application-broker/internal/nsbroker/automock/service_checker.go
  components/application-broker/internal/nsbroker/export_test.go
  components/application-broker/internal/nsbroker/facade.go
  components/application-broker/internal/nsbroker/facade_legacy_test.go
  components/application-broker/internal/nsbroker/facade_test.go
  components/application-broker/internal/nsbroker/http_checker.go
  components/application-broker/internal/nsbroker/http_checker_test.go
  components/application-broker/internal/nsbroker/migration.go
  components/application-broker/internal/nsbroker/migration_test.go
Labels: area/service-catalog, enhancement

#3987 Add go metrics to service-binding-usage component
  components/service-binding-usage-controller/Gopkg.lock
  components/service-binding-usage-controller/Gopkg.toml
  components/service-binding-usage-controller/cmd/controller/main.go
Labels: area/service-catalog, enhancement

#4014 Disable ServiceCatalog Application broker test because of Istio RBAC …
  tests/acceptance/servicecatalog/servicecatalog_test.go
Labels: area/service-catalog

#3972 Update service catalog CRD chart
  resources/service-catalog/charts/catalog-crds/Chart.yaml
  resources/service-catalog/charts/catalog-crds/README.md
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/crds.yaml
  resources/service-catalog/charts/catalog-crds/templates/rbac.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-policy.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-register.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
Labels: area/documentation, area/service-catalog

#4008 Use websockets in applications and pods lists views
  resources/core/charts/console/values.yaml
Labels: area/console, enhancement

#4009 Disable Console Backend Service auth and authz middlewares on local machine
  components/console-backend-service/main.go
Labels: area/console, enhancement

#4006 Fix the event bus upgrade tests retry cycle
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Labels: area/eventing

#4020 Bump upgrade tests image version
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/eventing

#3975 Update UIs images
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, enhancement

#4016 Bump Console Backend Service image
  resources/core/values.yaml
Labels: area/console, enhancement

#4029 Update API Gateway diagram to use proper CR name, convert to SVG
  docs/api-gateway/docs/02-01-api-gateway.md
  docs/api-gateway/docs/assets/001-service-exposure-flow.html
  docs/api-gateway/docs/assets/001-service-exposure-flow.png
  docs/api-gateway/docs/assets/001-service-exposure-flow.svg
Labels: area/documentation, enhancement

#4002 Recreate bucket in Asset Store and fix name generation in Uploader
  components/asset-store-controller-manager/pkg/handler/bucket/bucket.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket_test.go
  components/asset-upload-service/internal/bucket/handler.go
  docs/asset-store/docs/03-03-minio-gateway.md
  docs/asset-store/docs/08-01-gateway-mode-set-up.md
Labels: area/core-and-supporting, enhancement

#4027 Add MinIO to hostAliases of ConsoleBackendService
  resources/core/charts/console-backend-service/templates/deployment.yaml
Labels: area/console, bug

#3998 Enable the binding usage controller metrics in Kyma
  resources/monitoring/charts/grafana/dashboards/service-binding-usage-controller-dashboard.json
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role-binding.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/metrics.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/service-account.yaml
  resources/service-catalog-addons/values.yaml
Labels: area/service-catalog, enhancement

#4022 Fix Event Bus Subscription Chart view
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Labels: area/eventing, area/monitoring, quality/observability

#4017 Add system buckets migration
  resources/assetstore/charts/asset-store-controller-manager/templates/statefulset.yaml
  resources/assetstore/charts/asset-upload-service/templates/deployment.yaml
  resources/assetstore/charts/minio/templates/deployment.yaml
  resources/assetstore/templates/_helper_migrate_buckets.txt
  resources/assetstore/templates/_helpers.tpl
  resources/assetstore/templates/migrator-job.yaml
  resources/assetstore/values.yaml
Labels: area/core-and-supporting, enhancement

#4082 Fix table formatting in docs
  components/console-backend-service/docs/security.md
  docs/application-connector/docs/06-01-application.md
  docs/application-connector/docs/06-02-apllicationmapping.md
  docs/application-connector/docs/06-03-event-activation.md
  docs/application-connector/docs/06-04-tokenrequest.md
  docs/application-connector/docs/08-04-register-secured-api.md
  docs/asset-store/docs/06-01-asset.md
  docs/asset-store/docs/06-02-bucket.md
  docs/asset-store/docs/06-03-clusterasset.md
  docs/asset-store/docs/06-04-clusterbucket.md
  docs/console/docs/06-01-microfrontend.md
  docs/console/docs/06-02-clustermicrofrontend.md
  docs/console/docs/06-03-backendmodule.md
  docs/event-bus/docs/06-01-subscription.md
  docs/headless-cms/docs/06-01-docstopic.md
  docs/headless-cms/docs/06-02-clusterdocstopic.md
  docs/kyma/docs/06-01-installation.md
  docs/security/docs/06-02-idppreset.md
  tests/end-to-end/backup-restore-test/README.md
  tests/end-to-end/upgrade/README.md
Labels: area/documentation, enhancement, quality/content

#4041 Fix Event Bus Subscription Dashboard charts colors
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Labels: area/eventing, area/monitoring, quality/observability

#4079 Update content, catalog and instances UIs with firefox regexp fix
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, enhancement

#4087 Fix events fetch in cbs in minikube
  components/console-backend-service/docs/configuration.md
  components/console-backend-service/internal/domain/application/application.go
  components/console-backend-service/internal/domain/application/eventactivation_resolver.go
  components/console-backend-service/internal/domain/application/eventactivation_resolver_test.go
  components/console-backend-service/internal/domain/application/export_test.go
Labels: bug

#4088 Bump cbs image - fix fetch eventactivations on minikube
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/charts/console-backend-service/values.yaml
  resources/core/values.yaml
Labels: area/console, bug

#4090 Fix docs structure
  docs/api-gateway/02-01-api-gateway.md
  docs/api-gateway/03-01-security.md
  docs/api-gateway/assets/001-service-exposure-flow.html
  docs/api-gateway/assets/001-service-exposure-flow.png
  docs/api-gateway/assets/001-service-exposure-flow.svg
  docs/asset-store/05-01-asset-store.md
  docs/asset-store/05-02-asset-store-metadata-service.md
  docs/asset-store/05-03-asset-store-controller-manager.md
  docs/asset-store/05-04-asset-upload-service.md
  docs/asset-store/05-05-minio.md
  docs/service-catalog/13-04-aws-broker.md
  docs/service-catalog/assets/aws-class.png
Labels: area/documentation, bug

#4101 Update Catalog and Instances images
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, area/documentation, area/service-catalog, enhancement

#4102 Fix the Event Bus Subscription Monitoring Dashboard
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Labels: area/eventing, area/monitoring, quality/observability

#4091 Fix dead links
  components/event-bus/README.md
  components/installer/README.md
  resources/ark/README.md
  resources/service-catalog/README.md
Labels: area/documentation

#4004 New logs and liveness probe
  components/service-binding-usage-controller/Gopkg.lock
  components/service-binding-usage-controller/Gopkg.toml
  components/service-binding-usage-controller/cmd/controller/main.go
  components/service-binding-usage-controller/internal/controller/controller.go
Labels: area/service-catalog

#4114 ApplicationMapping with a list of services
  components/application-broker/contrib/examples/selective-mapping.yaml
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/types_test.go
  docs/application-connector/06-02-apllicationmapping.md
Labels: area/application-connector

#4116 Bump ServiceBindingUsage image
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/deployment.yaml
  resources/service-catalog-addons/values.yaml
Labels: area/service-catalog

#4129 Fix error handling in istio-kyma-patch
  components/istio-kyma-patch/patch.sh
Labels: area/service-mesh

#4021 Use view group caching in console
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/lambdas-microfrontend.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Labels: area/console, quality/performance

#3928 Remove content backendmodule and update images related to cbs
  resources/assetstore/charts/minio/templates/backendmodule.yaml
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/values.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/core-and-supporting, enhancement

#4105 Create configuration documents for Helm Broker
  components/helm-broker/README.md
  docs/helm-broker/01-01-helm-broker.md
  docs/helm-broker/05-01-helm-broker.md
  docs/helm-broker/05-02-etcd-stateful.md
  docs/helm-broker/08-01-configure-hb.md
  docs/kyma/05-03-overrides.md
  milv.config.yaml
Labels: area/documentation, enhancement, quality/content

#4138 Add configuration document for the CMS Controller Manager
  docs/headless-cms/05-01-cms-controller-manager.md
Labels: area/core-and-supporting, area/documentation, quality/content

#4141 Adjust the Service Catalog CRD chart
  resources/service-catalog/charts/catalog-crds/templates/_helpers.tpl
  resources/service-catalog/charts/catalog-crds/templates/cleaner-job.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/crds.yaml
  resources/service-catalog/charts/catalog-crds/templates/rbac.yaml
  resources/service-catalog/charts/catalog-crds/templates/serviceaccounts.yaml
  resources/service-catalog/charts/catalog-crds/templates/servicemonitor.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-deployment.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
Labels: area/service-catalog, enhancement

#3950 Disable hpa for istio components for minikube
  installation/resources/installer-config-local.yaml.tpl
Labels: area/installation, area/service-mesh

#4128 Upgrade istio resources
  resources/istio-init/templates/job-cleaner.yaml
  resources/istio-init/templates/job-crd-10.yaml
  resources/istio-init/templates/job-crd-11.yaml
  resources/istio-init/templates/job-crd-certmanager-10.yaml
  resources/istio-init/templates/job-crd-certmanager-11.yaml
  resources/istio-init/values.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/templates/job.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/README.md
  resources/istio/charts/certmanager/templates/deployment.yaml
  resources/istio/charts/certmanager/values.yaml
  resources/istio/charts/galley/templates/deployment.yaml
  resources/istio/charts/galley/values.yaml
  resources/istio/charts/gateways/templates/_affinity.tpl
  resources/istio/charts/gateways/templates/deployment.yaml
  resources/istio/charts/gateways/values.yaml
  resources/istio/charts/grafana/dashboards/galley-dashboard.json
  resources/istio/charts/grafana/templates/create-custom-resources-job.yaml
  resources/istio/charts/grafana/templates/deployment.yaml
  resources/istio/charts/grafana/templates/tests/test-grafana-connection.yaml
  resources/istio/charts/grafana/values.yaml
  resources/istio/charts/istiocoredns/templates/deployment.yaml
  resources/istio/charts/istiocoredns/values.yaml
  resources/istio/charts/kiali/Chart.yaml
  resources/istio/charts/kiali/templates/clusterrole.yaml
  resources/istio/charts/kiali/templates/demosecret.yaml
  resources/istio/charts/kiali/templates/deployment.yaml
  resources/istio/charts/kiali/templates/tests/test-kiali-connection.yaml
  resources/istio/charts/kiali/values.yaml
  resources/istio/charts/mixer/templates/config.yaml
  resources/istio/charts/mixer/templates/deployment.yaml
  resources/istio/charts/mixer/values.yaml
  resources/istio/charts/nodeagent/templates/daemonset.yaml
  resources/istio/charts/nodeagent/values.yaml
  resources/istio/charts/pilot/templates/deployment.yaml
  resources/istio/charts/pilot/values.yaml
  resources/istio/charts/prometheus/templates/configmap.yaml
  resources/istio/charts/prometheus/templates/deployment.yaml
  resources/istio/charts/prometheus/templates/tests/test-prometheus-connection.yaml
  resources/istio/charts/prometheus/values.yaml
  resources/istio/charts/security/templates/cleanup-secrets.yaml
  resources/istio/charts/security/templates/create-custom-resources-job.yaml
  resources/istio/charts/security/templates/deployment.yaml
  resources/istio/charts/security/templates/tests/test-citadel-connection.yaml
  resources/istio/charts/security/values.yaml
  resources/istio/charts/servicegraph/templates/deployment.yaml
  resources/istio/charts/servicegraph/templates/tests/test-servicegraph-connection.yaml
  resources/istio/charts/servicegraph/values.yaml
  resources/istio/charts/sidecarInjectorWebhook/templates/deployment.yaml
  resources/istio/charts/sidecarInjectorWebhook/values.yaml
  resources/istio/charts/tracing/templates/deployment-jaeger.yaml
  resources/istio/charts/tracing/templates/deployment-zipkin.yaml
  resources/istio/charts/tracing/templates/tests/test-tracing-connection.yaml
  resources/istio/charts/tracing/values.yaml
  resources/istio/templates/_affinity.tpl
  resources/istio/templates/_helpers.tpl
  resources/istio/templates/configmap.yaml
  resources/istio/templates/sidecar-injector-configmap.yaml
  resources/istio/values.yaml
Labels: area/service-mesh

#4010 Stabilise lambdas test, add tests for exposing api
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/rbac-ui-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/values.yaml
Labels: area/console, test-failing

#4093 Add metadata.md to the HCMS documentation
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/assets/doc-toggle.png
  docs/headless-cms/assets/docs-ui-question-mark.png
  docs/headless-cms/assets/left-side-nav-docs-ui.png
  docs/headless-cms/assets/tabs-catalog-ui.png
  docs/headless-cms/assets/tip-panel.png
Labels: area/core-and-supporting, area/documentation, enhancement

#3921 Fix the diagram and improve documentation
  docs/event-bus/03-03-service-programming-model.md
  docs/event-bus/assets/event-delivery.svg
  docs/event-bus/assets/service-programming-model.html
  docs/event-bus/assets/service-programming-model.png
Labels: area/documentation, area/eventing

#4150 Updating outdated information in "Monitoring" tutorial
  docs/monitoring/08-01-monitoring-custom-metrics.md
Labels: area/documentation, area/monitoring

#4110 Update GKE installation guide
  docs/kyma/03-02-namespaces.md
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-04-use-your-own-domain.md
Labels: area/documentation

#4121 Add a tutorial on how to create a ClusterDocsTopic
  docs/headless-cms/08-01-add-new-documentation-to-console.md
  docs/headless-cms/assets/docs.png
  docs/headless-cms/assets/prometheus.png
Labels: area/core-and-supporting, area/documentation

#4061 Test Application Operator upgrade managing lifecycle of Event Service and Application Proxy
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/application-operator/application_operator.go
Labels: area/application-connector

#4051 Implement full OSB API contract in Brokers
  components/application-broker/Gopkg.lock
  components/application-broker/Gopkg.toml
  components/application-broker/before-commit.sh
  components/application-broker/internal/broker/broker.go
  components/application-broker/internal/broker/ctx.go
  components/application-broker/internal/broker/dto.go
  components/application-broker/internal/broker/middleware.go
  components/application-broker/internal/broker/middleware_test.go
  components/application-broker/internal/broker/provision.go
  components/application-broker/internal/broker/provision_test.go
  components/application-broker/internal/broker/server.go
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/internal/broker/ctx.go
  components/helm-broker/internal/broker/dto.go
  components/helm-broker/internal/broker/middleware.go
  components/helm-broker/internal/broker/osbapi_test.go
  components/helm-broker/internal/broker/provision.go
  components/helm-broker/internal/broker/provision_test.go
  components/helm-broker/internal/broker/server.go
Labels: area/service-catalog, enhancement

#3991 Extend API with headers and query params property
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-gateway/internal/authorization/externaltokenstrategy.go
  components/application-gateway/internal/authorization/externaltokenstrategy_test.go
  components/application-gateway/internal/authorization/factory.go
  components/application-gateway/internal/httptools/headers.go
  components/application-gateway/internal/httptools/queryparameters.go
  components/application-gateway/internal/metadata/applications/repository.go
  components/application-gateway/internal/metadata/model/model.go
  components/application-gateway/internal/metadata/serviceapi/serviceapiservice.go
  components/application-gateway/internal/proxy/proxy.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/proxyfactory.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
  components/application-registry/docs/api/api.yaml
  components/application-registry/internal/externalapi/model.go
  components/application-registry/internal/metadata/applications/repository.go
  components/application-registry/internal/metadata/applications/util.go
  components/application-registry/internal/metadata/model/model.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice.go
  docs/application-connector/08-03-register-manage-services.md
  docs/application-connector/08-04-register-secured-api.md
  tests/application-gateway-tests/test/executor/proxy/mock/applicationserver.go
  tests/application-gateway-tests/test/executor/proxy/mock/headershandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/queryparamshandler.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
  tests/application-gateway-tests/test/executor/testkit/registry/client.go
  tests/application-gateway-tests/test/executor/testkit/registry/model.go
Labels: area/application-connector, enhancement

#4148 Application broker enables selected services
  components/application-broker/Gopkg.lock
  components/application-broker/cmd/broker/main.go
  components/application-broker/cmd/broker/main_test.go
  components/application-broker/internal/access/mapping.go
  components/application-broker/internal/broker/automock/app_enabled_checker.go
  components/application-broker/internal/broker/automock/service_checker_factory.go
  components/application-broker/internal/broker/catalog.go
  components/application-broker/internal/broker/catalog_export_test.go
  components/application-broker/internal/broker/catalog_test.go
  components/application-broker/internal/broker/server.go
Labels: area/service-catalog

#3906 Kyma performance tests documentation
  CODEOWNERS
  tests/perf/README.md
  tests/perf/components/application-gateway/application_gateway.js
  tests/perf/components/examples/http-db-service.js
  tests/perf/components/examples/http_basic.js
  tests/perf/prerequisites/application-gateway/application-gateway.yaml
  tests/perf/prerequisites/application-gateway/setup.sh
  tests/perf/prerequisites/examples/example.yaml
  tests/perf/prerequisites/examples/setup.sh
Labels: area/documentation, quality/performance

#4165 Bump Application Broker image - ApplicationMapping with selected services
  resources/application-connector/values.yaml
Labels: area/application-connector

#4169 Update kyma in gopkg in application-* components
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
Labels: area/application-connector, enhancement

#4160 Fix incorrect comment of clusterDocsTopicsVersion
  resources/core/values.yaml
Labels: enhancement, quality/release

#4175 Fix toggles
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/08-01-add-new-documentation-to-console.md
  docs/headless-cms/assets/docs-toggle-source.png
  docs/headless-cms/assets/docs-toggle.png
  docs/headless-cms/assets/docs-ui-question-mark.png
  docs/headless-cms/assets/docs.png
Labels: area/documentation

#4151 Reduce istio-kyma-patch logic
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/istio-kyma-patch/README.md
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio/charts/gateways/templates/deployment.yaml
  resources/istio/charts/gateways/values.yaml
  resources/istio/charts/security/templates/create-custom-resources-job.yaml
Labels: area/service-mesh

#4176 Fix documentation
  docs/headless-cms/03-03-markdown-documents.md
Labels: area/documentation

#4149 Fix broken links
  docs/backup/01-01-backup.md
  docs/backup/03-01-backup-configuration.md
  docs/backup/03-02-create-backup.md
  resources/ark/README.md
Labels: area/documentation

#4144 Extend API with headers and query params property - bump
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#4133 Bump end to end upgrade test
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: WIP, area/application-connector

#4123 Use new lambda view with filtered logs
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/logging/charts/log-ui/templates/cr.yaml
  resources/logging/charts/log-ui/values.yaml
Labels: area/console, bug

#4167 ServiceMonitor for kube API server
  resources/monitoring/charts/exporter-kubernetes/templates/servicemonitor.yaml
Labels: area/monitoring

#4108 Add mutation for creating namespaces
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_namespace_converter.go
  components/console-backend-service/internal/domain/k8s/automock/namespace_svc.go
  components/console-backend-service/internal/domain/k8s/automock/ns_lister.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_converter_test.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver_test.go
  components/console-backend-service/internal/domain/k8s/namespace_service.go
  components/console-backend-service/internal/domain/k8s/namespace_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/namespace.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console, enhancement

#4152 Take subscription controller out of service mesh
  resources/event-bus/charts/subscription-controller-knative/templates/deployment.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
Labels: area/eventing, area/service-mesh

#4156 Add performance tests for lambdas
  tests/perf/components/serverless/perf-test-serverless.js
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
  tests/perf/prerequisites/serverless/namespace.yaml
  tests/perf/prerequisites/serverless/resource_quota.yaml
  tests/perf/prerequisites/serverless/setup.sh
Labels: WIP, area/serverless, quality/performance

#4111 Add mutation for creating namespaces
  resources/core/values.yaml
Labels: area/console, enhancement

#4187 Add CORS support to api-controller
  components/api-controller/cmd/controller/main.go
  components/api-controller/pkg/apis/networking.istio.io/v1alpha3/types.go
  components/api-controller/pkg/apis/networking.istio.io/v1alpha3/zz_generated.deepcopy.go
  components/api-controller/pkg/controller/networking/v1/networkingv1.go
  components/api-controller/pkg/controller/networking/v1/networkingv1_integration_test.go
  components/api-controller/pkg/controller/networking/v1/networkingv1_test.go
Labels: area/service-mesh, enhancement

#4198 Improve lambdas performance tests
  tests/perf/README.md
  tests/perf/components/serverless/README.md
  tests/perf/components/serverless/perf-test-serverless.js
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
  tests/perf/prerequisites/serverless/setup.sh
Labels: area/serverless, quality/performance

#4134 Add mutation for creating resource quota
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_lister.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console, enhancement

#3903 Upgrade Knative Eventing to v0.5.0
  components/event-bus/cmd/event-bus-crd-update-job/Dockerfile
  components/event-bus/cmd/event-bus-crd-update-job/crds.yaml
  components/event-bus/cmd/event-bus-crd-update-job/update-crds.sh
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  resources/event-bus/values.yaml
  resources/knative-eventing/Chart.yaml
  resources/knative-eventing/README.md
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/charts/knative-eventing/templates/post-upgrade-job.yaml
  resources/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/README.md
  resources/knative-provisioner-natss/values.yaml
Labels: area/eventing

#4188 Bump api-controller image to version with CORS support
  components/api-controller/README.md
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/values.yaml
  resources/core/values.yaml
Labels: area/service-mesh, enhancement

#4202 Set namespace for horizontalPodAutoscaler explicitly
  tests/perf/components/serverless/perf-test-serverless.js
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
Labels: area/serverless, quality/performance

#4201 Update event-bus version
  resources/event-bus/values.yaml
Labels: area/eventing, enhancement

#4199 Fix PS installation scripts after recent changes
  installation/scripts/extract-kyma-installer-image.ps1
  installation/scripts/generate-local-config.ps1
  installation/scripts/is-installed.ps1
  installation/scripts/minikube.ps1
Labels: area/installation, bug

#4054 Minio cleanup #3836
  CODEOWNERS
  docs/asset-store/08-01-gateway-mode-set-up.md
  resources/assetstore/charts/minio/templates/content-upload-configmap.yaml
  resources/assetstore/templates/_helper_rm_minio_content_bucket.txt
  resources/assetstore/templates/pre-upgrade-rm_minio_content_bucket.yaml
  resources/assetstore/values.yaml
  tools/docsbuilder/Gopkg.lock
  tools/docsbuilder/Gopkg.toml
  tools/docsbuilder/Makefile
  tools/docsbuilder/README.md
  tools/docsbuilder/before-commit.sh
  tools/docsbuilder/internal/content/content.go
  tools/docsbuilder/internal/content/content_test.go
  tools/docsbuilder/internal/docker/docker.go
  tools/docsbuilder/internal/docker/docker_test.go
  tools/docsbuilder/internal/sh/cmd.go
  tools/docsbuilder/internal/sh/cmd_test.go
  tools/docsbuilder/main.go
Labels: area/core-and-supporting, enhancement

#4210 Fix LogUI bugs in firefox
  resources/logging/charts/log-ui/values.yaml
Labels: area/console, bug, quality/observability

#4182 Add support of selective mapping to backend console
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/Gopkg.toml
  components/console-backend-service/before-commit.sh
  components/console-backend-service/internal/domain/application/app_mapping_converter.go
  components/console-backend-service/internal/domain/application/app_mapping_converter_test.go
  components/console-backend-service/internal/domain/application/app_resolver.go
  components/console-backend-service/internal/domain/application/app_resolver_test.go
  components/console-backend-service/internal/domain/application/app_service.go
  components/console-backend-service/internal/domain/application/app_service_test.go
  components/console-backend-service/internal/domain/application/application.go
  components/console-backend-service/internal/domain/application/automock/app_svc.go
  components/console-backend-service/internal/domain/application/disabled/resolver.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/applicationmappingservice.go
  components/console-backend-service/internal/gqlschema/applicationmappingservice_test.go
  components/console-backend-service/internal/gqlschema/config.yml
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/application-connector, area/service-catalog, enhancement

#4219 Fix broken link
  resources/application-connector-ingress/charts/nginx-ingress/README.md
Labels: area/documentation

#4221 Bumb console backend service image
  resources/core/values.yaml
Labels: area/application-connector, area/service-catalog

#4213 Get rid of custom override in knative-serving chart
  resources/knative-serving/README.md
  resources/knative-serving/charts/knative-serving/templates/serving.yaml
  resources/knative-serving/values.yaml
Labels: area/installation, enhancement

#4218 Return more details in resource quotas error
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service.go
Labels: area/console, bug

#4217 Move zipkin config from overwrites to values
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/istio-kyma-patch/README.md
  resources/istio/values.yaml
Labels: area/installation, area/service-mesh

#4118 Simplify cluster installation
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-04-use-your-own-domain.md
  docs/kyma/04-05-use-your-own-image.md
  docs/kyma/assets/aks-overrides.yaml
  docs/kyma/assets/owndomain-overrides.yaml
  installation/cmd/run.sh
  installation/scripts/create-generic-secret.sh
Labels: area/documentation, area/installation

#4190 Bump console-backend-service image
  resources/core/values.yaml
Labels: WIP, area/console, enhancement

#4106 Enable sending custom extension headers in Kyma eventing
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish_test.go
  components/event-bus/cmd/event-bus-publish-knative/publisher/publisher.go
  components/event-bus/cmd/event-bus-publish-knative/test/fake/publisher.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/trace/tags.go
  components/event-bus/test/util/subscriber.go
  components/event-service/internal/events/bus/send.go
  components/event-service/internal/externalapi/errorhandler_test.go
  components/event-service/internal/externalapi/eventshandler.go
  components/event-service/internal/externalapi/eventshandler_test.go
Labels: area/eventing

#4250 Describe adding Kyma cert to trusted on Linux
  docs/kyma/04-02-local-installation.md
Labels: area/documentation, area/installation, enhancement

#4260 Fix code in tab
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/assets/docs-toggle-source.png
  docs/headless-cms/assets/docs-toggle.png
Labels: bug

#4263 Pump latest evnt-bus version
  resources/event-bus/values.yaml
Labels: area/eventing

#4251 Enable sending custom extension headers in Kyma eventing e2e tests
  tests/event-bus/e2e-tester/e2e-tester.go
Labels: area/eventing

#4227 Remove adding testing bundle
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
Labels: area/service-catalog, enhancement

#4236 Add 'name' prop to Tabs in docs
  docs/headless-cms/03-03-markdown-documents.md
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-04-use-your-own-domain.md
Labels: area/community, area/documentation, enhancement

#4232 Bump values after testing bundles change
  installation/scripts/e2e-testing.sh
  installation/scripts/testing-common.sh
  installation/scripts/testing.sh
  resources/core/values.yaml
  resources/helm-broker/templates/cfg-repos-url.yaml
Labels: area/service-catalog, enhancement

#4264 Added resources limits and requests/ removed sidecars
  resources/knative-eventing/README.md
  resources/knative-eventing/charts/knative-eventing/Chart.yaml
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
Labels: WIP, area/eventing

#4293 Fix the diagram issue
  docs/event-bus/assets/publish-events.svg
Labels: area/documentation

#3469 Bump static-users-generator image tag
  resources/dex/values.yaml
Labels: area/installation, enhancement

#4306 Revert names in toggles
  docs/headless-cms/03-03-markdown-documents.md
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-04-use-your-own-domain.md
Labels: area/documentation

#4311 Correct a spelling mistake
  docs/headless-cms/03-03-markdown-documents.md
Labels: area/documentation

#4318 Add trim in order to remove additional newline character added by toY…
  resources/dex/templates/dex-config-map.yaml
Labels: area/security

#4196 Define default promtail value
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/values.yaml
Labels: area/logging

#4325 Fix microfrontend backup and restore test
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Labels: bug

#4330 Fix misbehaving graphql links
  components/console-backend-service/CONTRIBUTING.md
  components/console-backend-service/README.md
  components/console-backend-service/docs/terminology.md
  docs/security/03-02-graphql.md
  docs/security/03-03-graphql-request-flow.md
Labels: area/documentation, bug

#4282 Add 'Test' tab to lambda details
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Labels: area/console, enhancement, quality/testability

#4326 Add a configuration doc for the Console
  docs/console/05-01-console.md
Labels: area/documentation

#4097 Add the 'action=install' label to crs
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
Labels: area/installation, enhancement

#4334 Add configuration documents for the Security component
  docs/security/05-01-api-server-proxy.md
  docs/security/05-02-configurations-generator.md
  docs/security/05-03-dex.md
Labels: area/documentation, area/security

#4328 Update event-bus-e2e-tests dep
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
Labels: area/eventing

#4310 Pump event-bus-tests version
  resources/event-bus/values.yaml
Labels: WIP, area/eventing
