Repository kyma-project/kyma, pull requests merged in 2019-03, with the labels that each got.

#2918 Bump catalog-ui and instances-ui images
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, bug

#2909 Replace hostNetwork setting with hostAliases for ui-acceptance test minikube executions
  installation/resources/installer-config-local.yaml.tpl
  installation/scripts/installer.sh
  resources/core/templates/tests/test-ui-acceptance.yaml
Labels: area/console, bug

#2890 Integrate subscription controller with Knative eventing
  components/event-bus/Gopkg.lock
  components/event-bus/Gopkg.toml
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish/handlers/handlers.go
  components/event-bus/cmd/event-bus-subscription-controller-knative/cmd/manager/main.go
  components/event-bus/docs/knative-subscription-controller-test-resources/rbac_role.yaml
  components/event-bus/internal/knative/subscription/controller/add_subscription.go
  components/event-bus/internal/knative/subscription/controller/controller.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/controller.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/controller.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/subscription_controller.go
  components/event-bus/internal/knative/subscription/opts/opts.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/util.go
  components/event-bus/internal/knative/util/util_test.go
  components/event-bus/test/integration/fake_k8s_client.go
  components/event-bus/test/util/crd.go
Labels: area/eventing, wg/knative

#2943 Fix bugs in the Helm Broker documentation
  docs/helm-broker/docs/01-01-helm-broker.md
  docs/helm-broker/docs/02-01-helm-broker.md
  docs/helm-broker/docs/05-02-helm-broker-bundles.md
  docs/kyma/docs/03-01-components.md
  docs/service-catalog/docs/13-01-service-brokers.md
Labels: area/documentation, bug

#2894 Bump image of Connector Service
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#2897 readme files for components and tests containing naming convention
  components/README.md
  tests/README.md
Labels: area/documentation

#2875 Disable NGINX ssl chain autocompletion
  resources/application-connector/charts/nginx-ingress/values.yaml
Labels: area/application-connector, enhancement

#2954 UI API Layer documentation updates
  docs/console/docs/03-02-ui-api-layer.md
Labels: area/console, area/documentation

#2853 GKE installation command fix
  docs/kyma/docs/04-04-gke-installation.md
Labels: area/documentation

#2969 rename secret in application operator
  components/application-operator/charts/application/values.yaml
Labels: area/application-connector

#2925 Show system namespaces
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Labels: area/console, enhancement

#2936 Add graceful shutdown for the knative-publish HTTP server
  components/event-bus/cmd/event-bus-publish-knative/httpserver/httpserver.go
  components/event-bus/cmd/event-bus-publish-knative/main.go
Labels: area/eventing, enhancement

#2939 Add graceful shutdown for the event-service
  components/event-service/cmd/eventservice/eventgateway.go
Labels: area/eventing, enhancement

#2514 Logging solution replacement for oklog with grafana/loki
  docs/kyma/docs/01-01-in-a-nutshell.md
  docs/kyma/docs/03-01-components.md
  docs/logging/docs/01-01-logging.md
  docs/logging/docs/02-01-logging.md
  docs/logging/docs/03-01-access-logs.md
  docs/logging/docs/03-01-access-oklog.md
  docs/logging/docs/03-02-configure-storage.md
  installation/scripts/minikube.sh
  resources/logging/Chart.yaml
  resources/logging/README.md
  resources/logging/charts/log-ui/.helmignore
  resources/logging/charts/log-ui/Chart.yaml
  resources/logging/charts/log-ui/README.md
  resources/logging/charts/log-ui/templates/_helpers.tpl
  resources/logging/charts/log-ui/templates/configmap.yaml
  resources/logging/charts/log-ui/templates/cr.yaml
  resources/logging/charts/log-ui/templates/deployment.yaml
  resources/logging/charts/log-ui/templates/service.yaml
  resources/logging/charts/log-ui/templates/virtualservice.yaml
  resources/logging/charts/log-ui/values.yaml
  resources/logging/charts/logging-alerts/Chart.yaml
  resources/logging/charts/logging-alerts/templates/logging-component-rules.yaml
  resources/logging/charts/logging-alerts/templates/oklog-alert-rules-configmap.yaml
  resources/logging/charts/logging-alerts/values.yaml
  resources/logging/templates/configmap.yaml
  resources/logging/templates/daemonset.yaml
  resources/logging/templates/loki/_helpers.tpl
  resources/logging/templates/loki/configmap.yaml
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/podsecuritypolicy.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/templates/loki/role.yaml
  resources/logging/templates/loki/rolebinding.yaml
  resources/logging/templates/loki/service.yaml
  resources/logging/templates/loki/serviceaccount.yaml
  resources/logging/templates/loki/virtualservice.yaml
  resources/logging/templates/promtail/_helpers.tpl
  resources/logging/templates/promtail/clusterrole.yaml
  resources/logging/templates/promtail/clusterrolebinding.yaml
  resources/logging/templates/promtail/configmap.yaml
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/templates/promtail/podsecuritypolicy.yaml
  resources/logging/templates/promtail/role.yaml
  resources/logging/templates/promtail/rolebinding.yaml
  resources/logging/templates/service.yaml
  resources/logging/templates/statefulset.yaml
  resources/logging/templates/tests/logging.yaml
  resources/logging/values.yaml
  tests/logging/testCounterPod.yaml
Labels: WIP, area/console, area/logging

#2965 Add monitoring setup for minio and fix other custom monitoring
  docs/monitoring/docs/08-01-monitoring-custom-metrics.md
  resources/application-connector/charts/application-registry/templates/service.yaml
  resources/application-connector/charts/application-registry/templates/servicemonitor.yaml
  resources/application-connector/charts/connector-service/templates/service.yaml
  resources/application-connector/charts/connector-service/templates/servicemonitor.yaml
  resources/ark/templates/service-monitor.yaml
  resources/assetstore/charts/minio/templates/servicemonitor.yaml
  resources/helm-broker/charts/etcd-stateful/templates/04-servicemonitor.yaml
  resources/monitoring/Chart.yaml
  resources/monitoring/charts/grafana/dashboards/minio-dashboard.json
  resources/service-catalog/charts/catalog/templates/servicemonitor.yaml
  resources/service-catalog/charts/etcd-stateful/templates/04-servicemonitor.yaml
Labels: area/documentation, area/monitoring, quality/observability

#2879 Make common value for enabling app-mgmt and conn-svc
  resources/application-connector/README.md
  resources/application-connector/requirements.yaml
  resources/application-connector/templates/applications-microfrontend.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, area/documentation, enhancement

#2961 Configure required backend modules for lambda CMF
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/lambdas-microfrontend.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Labels: area/console, area/serverless, enhancement

#2977 Fix AC tutorial filename
  docs/application-connector/docs/08-08-renew-client-cert.md
Labels: area/documentation, bug

#2933 Application Gateway renaming - bump
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#2812 Extract nginx to a separate chart
  components/application-registry/README.md
  docs/application-connector/docs/08-02-get-client-certificate.md
  docs/application-connector/docs/09-02-metadata-service.md
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector-ingress/Chart.yaml
  resources/application-connector-ingress/charts/nginx-ingress/.helmignore
  resources/application-connector-ingress/charts/nginx-ingress/Chart.yaml
  resources/application-connector-ingress/charts/nginx-ingress/README.md
  resources/application-connector-ingress/charts/nginx-ingress/templates/NOTES.txt
  resources/application-connector-ingress/charts/nginx-ingress/templates/_helpers.tpl
  resources/application-connector-ingress/charts/nginx-ingress/templates/clusterrole.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/clusterrolebinding.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-daemonset.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-deployment.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-hpa.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-metrics-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-stats-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/default-backend-deployment.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/default-backend-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/headers-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/role.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/rolebinding.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/serviceaccount.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/tcp-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/udp-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/zipkin-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/values.yaml
  resources/application-connector-ingress/templates/NOTES.txt
  resources/application-connector-ingress/templates/_helpers.tpl
  resources/application-connector-ingress/templates/rolebindings.yaml
  resources/application-connector-ingress/templates/roles.yaml
  resources/application-connector-ingress/templates/serviceaccount.yaml
  resources/application-connector-ingress/templates/upgrade-job.yaml
  resources/application-connector-ingress/values.yaml
  resources/application-connector/charts/connector-service/templates/ingress.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/templates/kyma-integration-namespace.yaml
  resources/application-connector/templates/nginx-ingress-cert.yaml
  resources/application-connector/values.yaml
  tests/connector-service-tests/scripts/run-local-tests.sh
Labels: area/application-connector, area/installation

#2796 Update Connector Service chart and READMEs
  components/connector-service/README.md
  resources/application-connector/charts/connector-service/README.md
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connector-service/values.yaml
Labels: area/application-connector, area/documentation, enhancement

#3008 Append kyma subscription namespace to knative subscription name
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/controller.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/util.go
Labels: area/eventing, enhancement

#3009 Use custom image in kyma integration tests job
  installation/scripts/prow/kyma-integration-on-debian/deploy-and-test-kyma.sh
  installation/scripts/prow/kyma-integration-on-debian/install-deps-debian.sh
Labels: area/ci

#3029 Adding the ca-certificates file to the scratch image
  components/application-registry/Dockerfile
Labels: area/application-connector, bug, priority/critical

#3007 Modify subscription controller chart
  components/event-bus/docs/knative-subscription-controller-test-resources/README.md
  components/event-bus/docs/knative-subscription-controller-test-resources/event-activation-controller-object-test.yaml
  components/event-bus/docs/knative-subscription-controller-test-resources/event-activation-example-crd.yaml
  components/event-bus/docs/knative-subscription-controller-test-resources/manager.yaml
  components/event-bus/docs/knative-subscription-controller-test-resources/rbac_role.yaml
  components/event-bus/docs/knative-subscription-controller-test-resources/rbac_role_binding.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/deployment.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/service-account.yaml
  resources/event-bus/values.yaml
Labels: area/eventing

#3028 Activate event-bus tests
  installation/scripts/testing.sh
  resources/event-bus/templates/tests/test-e2e-tester.yaml
Labels: area/eventing, bug, priority/critical

#3038 Logging docs updated with alpha state information
  docs/logging/docs/01-01-logging.md
Labels: area/documentation, area/logging

#3033 Bump app-registry component
  resources/application-connector/values.yaml
Labels: area/application-connector, bug, priority/critical

#3037 Fix the broken links
  docs/service-catalog/docs/03-03-backup-and-restore.md
  docs/service-catalog/docs/13-01-service-brokers.md
  resources/service-catalog-addons/README.md
  resources/service-catalog-addons/charts/service-binding-usage-controller/README.md
Labels: area/documentation, bug

#2899 Implementation of certificate revocation functionality
  components/connector-service/Gopkg.lock
  components/connector-service/README.md
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/docs/api/connectorapi.yaml
  components/connector-service/internal/certificates/hash.go
  components/connector-service/internal/certificates/hash_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/middlewares/tokenresolver_test.go
  components/connector-service/internal/externalapi/model.go
  components/connector-service/internal/externalapi/revocationhandler.go
  components/connector-service/internal/externalapi/revocationhandler_test.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/internalapi/internalapi.go
  components/connector-service/internal/internalapi/revocationhandler.go
  components/connector-service/internal/internalapi/revocationhandler_test.go
  components/connector-service/internal/logging/middlewares/auditlogging.go
  components/connector-service/internal/logging/middlewares/requestlogging.go
  components/connector-service/internal/revocation/middlewares/revocationcheck.go
  components/connector-service/internal/revocation/middlewares/revocationcheck_test.go
  components/connector-service/internal/revocation/mocks/Manager.go
  components/connector-service/internal/revocation/mocks/RevocationListRepository.go
  components/connector-service/internal/revocation/repository.go
  components/connector-service/internal/revocation/repository_test.go
  docs/application-connector/docs/assets/connectorapi.yaml
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/certs.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/model.go
  tests/connector-service-tests/test/testkit/securedconnectorclient.go
Labels: area/application-connector, area/documentation, enhancement

#2967 Bump ui-api-layer image for openApiSpec and odataSpec fields in SC and CSC
  resources/core/values.yaml
Labels: area/console, area/documentation, area/service-catalog, enhancement

#2895 Add upgrade functionality to the operator
  components/application-operator/cmd/manager/manager.go
  components/application-operator/pkg/controller/controller.go
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/kymahelm/application/mocks/ApplicationClient.go
  components/application-operator/pkg/kymahelm/application/mocks/ReleaseManager.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
  components/application-operator/pkg/kymahelm/client.go
  components/application-operator/pkg/kymahelm/mocks/HelmClient.go
Labels: area/application-connector, enhancement

#2986 Certificate revocation documentation
  docs/application-connector/docs/08-02-get-client-certificate.md
  docs/application-connector/docs/08-08-renew-client-cert.md
  docs/application-connector/docs/08-09-revoke-cert.md
  milv.config.yaml
Labels: area/application-connector, area/documentation, enhancement

#2915 Enhance OAuth authentication with header containing credentials
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-gateway/before-commit.sh
  components/application-gateway/cmd/applicationgateway/applicationproxy.go
  components/application-gateway/internal/authorization/basicauthstrategy.go
  components/application-gateway/internal/authorization/basicauthstrategy_test.go
  components/application-gateway/internal/authorization/oauth/oauthclient.go
  components/application-gateway/internal/authorization/oauth/oauthclient_test.go
  components/application-gateway/internal/authorization/oauth/tokencache/tokencache.go
  components/application-gateway/internal/authorization/oauth/tokencache/tokencache_test.go
  components/application-gateway/internal/authorization/util/util.go
  components/application-gateway/internal/metadata/applications/repository.go
  components/application-gateway/internal/metadata/applications/repository_test.go
  components/application-gateway/internal/metadata/secrets/repository.go
  components/application-gateway/internal/metadata/secrets/repository_test.go
Labels: area/application-connector, enhancement

#2919 Chart changes
  resources/application-connector/charts/connector-service/README.md
  resources/application-connector/charts/connector-service/templates/configmap.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/ingress.yaml
  resources/application-connector/charts/connector-service/templates/role-binding.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, area/documentation, enhancement

#3075 Improve subscription-controller
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/util/ky-controller.go
Labels: area/eventing

#2932 Enable Asset Store integration tests
  installation/resources/installer-config-local.yaml.tpl
  installation/scripts/installer.sh
  installation/scripts/testing.sh
  resources/assetstore/charts/assetstore-controller-manager/templates/statefulset.yaml
  resources/assetstore/templates/_helpers.tpl
  resources/assetstore/templates/tests/rbac-integration.yaml
  resources/assetstore/templates/tests/test-integration.yaml
  resources/assetstore/values.yaml
  resources/core/values.yaml
Labels: area/cluster, area/documentation, enhancement

#2999 Enable publish-knative monitoring and event-service
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/values.yaml
  resources/event-bus/charts/publish-knative/templates/_helpers.tpl
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish-knative/templates/service-account.yaml
  resources/event-bus/charts/publish-knative/templates/service.yaml
  resources/event-bus/charts/publish-knative/values.yaml
Labels: area/eventing, area/monitoring

#3058 Introduce CMS Controller Manager
  CODEOWNERS
  components/cms-controller-manager/.gitignore
  components/cms-controller-manager/Dockerfile
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/Makefile
  components/cms-controller-manager/PROJECT
  components/cms-controller-manager/README.md
  components/cms-controller-manager/cmd/manager/main.go
  components/cms-controller-manager/config/crds/cms_v1alpha1_clusterdocstopic.yaml
  components/cms-controller-manager/config/crds/cms_v1alpha1_docstopic.yaml
  components/cms-controller-manager/config/default/kustomization.yaml
  components/cms-controller-manager/config/default/manager_auth_proxy_patch.yaml
  components/cms-controller-manager/config/default/manager_image_patch.yaml
  components/cms-controller-manager/config/default/manager_prometheus_metrics_patch.yaml
  components/cms-controller-manager/config/manager/manager.yaml
  components/cms-controller-manager/config/rbac/auth_proxy_role.yaml
  components/cms-controller-manager/config/rbac/auth_proxy_role_binding.yaml
  components/cms-controller-manager/config/rbac/auth_proxy_service.yaml
  components/cms-controller-manager/config/rbac/rbac_role.yaml
  components/cms-controller-manager/config/rbac/rbac_role_binding.yaml
  components/cms-controller-manager/config/samples/cms_v1alpha1_clusterdocstopic.yaml
  components/cms-controller-manager/config/samples/cms_v1alpha1_docstopic.yaml
  components/cms-controller-manager/hack/boilerplate.go.txt
  components/cms-controller-manager/pkg/apis/addtoscheme_assetstore_v1alpha2.go
  components/cms-controller-manager/pkg/apis/addtoscheme_cms_v1alpha1.go
  components/cms-controller-manager/pkg/apis/apis.go
  components/cms-controller-manager/pkg/apis/cms/group.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/clusterdocstopic_types.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/clusterdocstopic_types_test.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/doc.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/docstopic_common.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/docstopic_types.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/docstopic_types_test.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/register.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/v1alpha1_suite_test.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/zz_generated.deepcopy.go
  components/cms-controller-manager/pkg/controller/add_clusterdocstopic.go
  components/cms-controller-manager/pkg/controller/add_docstopic.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterasset_service.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterbucket_service.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_suite_test.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/config.go
  components/cms-controller-manager/pkg/controller/controller.go
  components/cms-controller-manager/pkg/controller/docstopic/asset_service.go
  components/cms-controller-manager/pkg/controller/docstopic/bucket_service.go
  components/cms-controller-manager/pkg/controller/docstopic/config.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_suite_test.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/automock/asset_service.go
  components/cms-controller-manager/pkg/handler/docstopic/automock/bucket_service.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  components/cms-controller-manager/pkg/handler/docstopic/pretty/reason.go
  components/cms-controller-manager/pkg/webhook/webhook.go
Labels: area/documentation, enhancement

#3061 Added new component type "controller-manager"
  components/README.md
Labels: area/documentation

#2795 Enable xip.io integration by default - bump
  docs/kyma/docs/04-01-overview.md
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-06-gke-xip.io-domain.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
  installation/resources/installer-cr-cluster-xip-io.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/values.yaml
Labels: WIP, area/documentation, area/service-mesh, enhancement

#3063 Bump image of Application Gateway
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#2987 Apply Fiori 3 Fundamentals in the Console UI
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, enhancement

#3085 Bump Catalog-ui image
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
Labels: area/console

#3111 Fix email validation for (cluster) role binding
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Labels: area/console, bug, priority/critical

#2865 Fix knative installation option in PowerShell script
  installation/cmd/run.ps1
  installation/scripts/installer.ps1
Labels: area/installation, bug

#3090 Bump the application operator image to the latest version after enabling the event-service monitoring
  resources/application-connector/values.yaml
Labels: area/application-connector, area/eventing, quality/observability

#3081 Limit maximum event publishing request size
  components/event-bus/api/publish/error.go
  components/event-bus/cmd/event-bus-publish-knative/application/application.go
  components/event-bus/cmd/event-bus-publish-knative/application/application_test.go
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/validators/publish_validator.go
  components/event-bus/cmd/event-bus-publish/application/application.go
  components/event-bus/cmd/event-bus-publish/handlers/handlers.go
  components/event-bus/cmd/event-bus-publish/publish_test.go
  components/event-bus/docs/api.yaml
  components/event-bus/internal/knative/publish/opts/opts.go
  components/event-bus/internal/publish/opts.go
  components/event-bus/test/util/publish.go
  components/event-service/cmd/eventservice/eventgateway.go
  components/event-service/cmd/eventservice/options.go
  components/event-service/internal/events/shared/constants.go
  components/event-service/internal/events/shared/utils.go
  components/event-service/internal/externalapi/blackb_test.go
  components/event-service/internal/externalapi/eventshandler.go
  components/event-service/internal/externalapi/eventshandler_test.go
  components/event-service/internal/externalapi/externalapi.go
  docs/application-connector/docs/assets/eventsapi.yaml
Labels: area/eventing

#3133 Do not read response body twice in apiserver-proxy-test
  tests/apiserver-proxy-tests/fetch-token/internal/idtokenprovider.go
Labels: bug

#3132 Improve installation documentation
  docs/kyma/docs/04-03-local-installation-from-sources.md
Labels: area/documentation, enhancement

#3134 Bump apiserver-proxy-test image
  resources/core/values.yaml
Labels: bug

#3137 Fix tutorial links in App Conn. docs
  docs/application-connector/docs/08-05-trigger-lambda-with-event.md
  docs/application-connector/docs/08-06-call-registered-service-from-kyma.md
Labels: area/application-connector, area/documentation, bug

#3124 Improve Backup docs
  docs/backup/docs/01-01-backup.md
  docs/backup/docs/03-01-backup-configuration.md
  docs/backup/docs/03-02-create-backup.md
  docs/backup/docs/03-03-restore-backup.md
Labels: area/documentation

#3118 Fix subscription controller to delete the Knative Subscriptions
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/util/ky-controller.go
Labels: area/eventing

#3121 Workaround fiori bugs for firefox and safari
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Labels: area/console, bug

#3135 Fix bucket policy configuration on GCS
  components/asset-upload-service/internal/bucket/handler.go
  components/assetstore-controller-manager/pkg/store/store.go
  components/assetstore-controller-manager/pkg/store/store_test.go
Labels: area/documentation, bug

#3147 Do not log brokers conditions in UI API Layer acceptance tests
  tests/ui-api-layer-acceptance-tests/internal/installer/broker.go
  tests/ui-api-layer-acceptance-tests/internal/installer/clusterbroker.go
Labels: area/console, enhancement

#3141 Swap satori for gofrs
  components/api-controller/Gopkg.lock
  components/api-controller/Gopkg.toml
  components/api-controller/pkg/controller/commons/errors.go
Labels: area/service-mesh, enhancement

#2850 Define path-to-referenced-charts target in Makefile files.
  components/README.md
  components/api-controller/Makefile
  components/apiserver-proxy/Makefile
  components/application-broker/Makefile
  components/application-gateway/Makefile
  components/application-operator/Makefile
  components/application-registry/Makefile
  components/asset-upload-service/Makefile
  components/assetstore-controller-manager/Makefile
  components/configurations-generator/Makefile
  components/connection-token-handler/Makefile
  components/connectivity-certs-controller/Makefile
  components/connector-service/Makefile
  components/etcd-backup-job/Makefile
  components/event-bus/Makefile
  components/event-service/Makefile
  components/helm-broker/Makefile
  components/istio-kyma-patch/Makefile
  components/namespace-controller/Makefile
  components/service-binding-usage-controller/Makefile
  components/ui-api-layer/Makefile
  resources/README.md
  tests/README.md
  tests/acceptance/Makefile
  tests/api-controller-acceptance-tests/Makefile
  tests/apiserver-proxy-tests/Makefile
  tests/application-operator-tests/Makefile
  tests/application-registry-tests/Makefile
  tests/connector-service-tests/Makefile
  tests/event-bus/Makefile
  tests/gateway-tests/Makefile
  tests/knative-serving-acceptance/Makefile
  tests/kubeless/Makefile
  tests/logging/Makefile
  tests/test-namespace-controller/Makefile
  tests/ui-api-layer-acceptance-tests/Makefile
  tools/README.md
  tools/alpine-net/Makefile
  tools/ark-plugins/Makefile
  tools/static-users-generator/Makefile
Labels: WIP

#3145 Bump event-bus image version
  resources/event-bus/values.yaml
Labels: area/eventing

#3136 Bump Asset Store images and add more resources to Minio
  installation/resources/installer-config-local.yaml.tpl
  resources/assetstore/values.yaml
  resources/core/values.yaml
Labels: area/documentation, bug

#3120 Change the codeowners file
  CODEOWNERS
Labels: area/documentation

#3161 Update knative/eventing dependency version
  components/event-bus/Gopkg.lock
  components/event-bus/Gopkg.toml
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
Labels: area/eventing

#3149 Add support for --kube-context/--context in testing.sh
  installation/scripts/testing-common.sh
  installation/scripts/testing.sh
Labels: enhancement

#2996 CSRF token support: application-operator
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
Labels: area/application-connector, area/security, enhancement

#3144 Enable maximum event publishing request size limit
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/values.yaml
  components/event-service/README.md
  resources/application-connector/values.yaml
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish/templates/deployment.yaml
  resources/event-bus/values.yaml
Labels: area/eventing

#3168 Get logs on timeout reached
  installation/scripts/is-installed.sh
Labels: area/installation

#3122 Differentiate certificate validity time for apps and runtimes
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/model.go
  components/connector-service/internal/revocation/repository.go
  components/connector-service/internal/revocation/repository_test.go
Labels: area/application-connector, enhancement

#3176 Move changelog-generator to test-infra repository
  .github/package.json
  CODEOWNERS
  tools/changelog-generator/Dockerfile
  tools/changelog-generator/README.md
  tools/changelog-generator/app/config-cleanup.sh
  tools/changelog-generator/app/config-git.sh
  tools/changelog-generator/app/config-setup.sh
  tools/changelog-generator/app/generate-full-changelog.sh
  tools/changelog-generator/app/generate-release-changelog.sh
  tools/changelog-generator/app/push-full-changelog.sh
  tools/changelog-generator/app/variables.sh
Labels: area/ci, enhancement

#3110 Implement upgrade test framework
  CODEOWNERS
  tests/end-to-end/upgrade/.gitignore
  tests/end-to-end/upgrade/Dockerfile
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/Makefile
  tests/end-to-end/upgrade/before-commit.sh
  tests/end-to-end/upgrade/chart/upgrade/.helmignore
  tests/end-to-end/upgrade/chart/upgrade/Chart.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/_helpers.tpl
  tests/end-to-end/upgrade/chart/upgrade/templates/job.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/test/test-upgrade.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/internal/platform/logger/config.go
  tests/end-to-end/upgrade/internal/platform/logger/doc.go
  tests/end-to-end/upgrade/internal/platform/logger/logger.go
  tests/end-to-end/upgrade/internal/platform/signal/signal.go
  tests/end-to-end/upgrade/internal/runner/api.go
  tests/end-to-end/upgrade/internal/runner/runner.go
  tests/end-to-end/upgrade/internal/runner/task.go
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/hello-world/test.go
Labels: area/ci, enhancement

#3183 Bump e2e upgrade chart image version
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/ci

#3102 Get service returns certificate in payload
  components/application-registry/docs/api/api.yaml
  components/application-registry/internal/externalapi/metadatahandler_test.go
  components/application-registry/internal/externalapi/model.go
  components/application-registry/internal/metadata/model/model.go
  components/application-registry/internal/metadata/secrets/strategy/certificategen.go
  components/application-registry/internal/metadata/secrets/strategy/certificategen_test.go
  docs/application-connector/docs/08-03-register-manage-services.md
  docs/application-connector/docs/08-04-register-secured-api.md
  docs/application-connector/docs/assets/metadataapi.yaml
  tests/application-registry-tests/test/apitests/metadata_test.go
  tests/application-registry-tests/test/testkit/model.go
Labels: area/application-connector, area/documentation, enhancement

#3140 Expand logs in apiserver-proxy test
  tests/apiserver-proxy-tests/test.sh
Labels: area/service-mesh

#3164 Rename ui-api chart to console-backend-service
  CODEOWNERS
  docs/console/docs/03-02-console-backend-service.md
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
  resources/core/charts/console-backend-service/.helmignore
  resources/core/charts/console-backend-service/Chart.yaml
  resources/core/charts/console-backend-service/templates/_helpers.tpl
  resources/core/charts/console-backend-service/templates/cluster-role-binding.yaml
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/charts/console-backend-service/templates/rbac-config.yaml
  resources/core/charts/console-backend-service/templates/service-account.yaml
  resources/core/charts/console-backend-service/templates/service.yaml
  resources/core/charts/console-backend-service/templates/servicerole-manage-all.yaml
  resources/core/charts/console-backend-service/templates/servicerolebinding-manage-all-for-all-users.yaml
  resources/core/charts/console-backend-service/templates/virtualservice.yaml
  resources/core/charts/console-backend-service/values.yaml
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/templates/configmap.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/configmap.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/ui-api/Chart.yaml
  resources/core/requirements.yaml
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/templates/tests/test-console-backend-service.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/values.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/configmap.yaml
  tests/console-backend-service/internal/domain/application/application_test.go
Labels: area/documentation, enhancement

#3200 Update imports after renaming asset-store-controller-manager
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/README.md
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_asset.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_bucket.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_clusterasset.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_clusterbucket.yaml
  components/cms-controller-manager/pkg/apis/addtoscheme_assetstore_v1alpha2.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterasset_service.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterbucket_service.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_suite_test.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/docstopic/asset_service.go
  components/cms-controller-manager/pkg/controller/docstopic/bucket_service.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_suite_test.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  docs/asset-store/docs/06-02-bucket.md
  docs/asset-store/docs/06-04-clusterbucket.md
  tests/asset-store/Gopkg.lock
  tests/asset-store/testsuite/asset.go
  tests/asset-store/testsuite/assetdetails.go
  tests/asset-store/testsuite/bucket.go
  tests/asset-store/testsuite/clusterasset.go
  tests/asset-store/testsuite/clusterbucket.go
  tests/asset-store/testsuite/testdata.go
Labels: area/documentation, enhancement

#3186 Change bucket name generation
  components/asset-store-controller-manager/pkg/store/store.go
  components/asset-store-controller-manager/pkg/store/store_test.go
  docs/asset-store/docs/03-02-bucket-cr-lifecycle.md
  docs/asset-store/docs/06-01-asset.md
  docs/asset-store/docs/06-02-bucket.md
  docs/asset-store/docs/assets/create-bucket.svg
  docs/asset-store/docs/assets/delete-bucket.svg
Labels: area/documentation, enhancement

#3212 Remove app-conn ingress upgrade job
  CODEOWNERS
  resources/application-connector-ingress/templates/rolebindings.yaml
  resources/application-connector-ingress/templates/roles.yaml
  resources/application-connector-ingress/templates/serviceaccount.yaml
  resources/application-connector-ingress/templates/upgrade-job.yaml
Labels: area/application-connector, bug

#3148 Add graceful shutdown to subscription controller
  components/event-bus/cmd/event-bus-subscription-controller-knative/cmd/manager/main.go
Labels: area/eventing

#3191 Replace satori go.uuid library in application-registry
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
  components/application-registry/cmd/applicationregistry/applicationregistry.go
  components/application-registry/internal/metadata/servicedefservice.go
  components/application-registry/internal/metadata/servicedefservice_test.go
  components/application-registry/internal/metadata/uuid/generator.go
  components/application-registry/internal/metadata/uuid/mocks/Generator.go
Labels: area/application-connector, enhancement

#3126 Image bump for #2940
  resources/application-connector/values.yaml
Labels: WIP, area/application-connector, enhancement

#3206 Rename Asset Store Controller Manager chart
  installation/resources/installer-config-local.yaml.tpl
  resources/assetstore/charts/asset-store-controller-manager/.helmignore
  resources/assetstore/charts/asset-store-controller-manager/Chart.yaml
  resources/assetstore/charts/asset-store-controller-manager/README.md
  resources/assetstore/charts/asset-store-controller-manager/templates/_helpers.tpl
  resources/assetstore/charts/asset-store-controller-manager/templates/cluster-role-binding.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/cluster-role.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/service-account.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/service.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/statefulset.yaml
  resources/assetstore/charts/asset-store-controller-manager/values.yaml
  resources/assetstore/requirements.yaml
  resources/assetstore/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
Labels: area/documentation, enhancement

#3177 Support for token fetching in central connector service
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/tokenrequest_types.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_client.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_client_test.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_controller.go
Labels: area/application-connector, enhancement

#2968 Prepare GraphQL mutation in UI API Layer for creating K8s resources
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/README.md
  components/console-backend-service/internal/apierror/errors.go
  components/console-backend-service/internal/apierror/errors_test.go
  components/console-backend-service/internal/authz/auth.go
  components/console-backend-service/internal/authz/auth_test.go
  components/console-backend-service/internal/authz/fixture_test.go
  components/console-backend-service/internal/authz/rbac.go
  components/console-backend-service/internal/authz/rbac_test.go
  components/console-backend-service/internal/domain/k8s/automock/discovery_interface.go
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_converter.go
  components/console-backend-service/internal/domain/k8s/automock/resource_svc.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/pod_resolver.go
  components/console-backend-service/internal/domain/k8s/pod_resolver_test.go
  components/console-backend-service/internal/domain/k8s/pod_service.go
  components/console-backend-service/internal/domain/k8s/pod_service_test.go
  components/console-backend-service/internal/domain/k8s/pretty/kind.go
  components/console-backend-service/internal/domain/k8s/resource_converter.go
  components/console-backend-service/internal/domain/k8s/resource_converter_test.go
  components/console-backend-service/internal/domain/k8s/resource_resolver.go
  components/console-backend-service/internal/domain/k8s/resource_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resource_service.go
  components/console-backend-service/internal/domain/k8s/resource_service_test.go
  components/console-backend-service/internal/domain/k8s/types/resource.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/extractor/resourcemeta.go
  components/console-backend-service/internal/extractor/resourcemeta_test.go
  components/console-backend-service/internal/gqlerror/errors.go
  components/console-backend-service/internal/gqlerror/errors_test.go
  components/console-backend-service/internal/gqlschema/json.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/main.go
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  tests/console-backend-service/internal/domain/k8s/k8s.go
  tests/console-backend-service/internal/domain/k8s/pod_test.go
  tests/console-backend-service/internal/domain/k8s/replicaset_test.go
  tests/console-backend-service/internal/domain/k8s/resource_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
Labels: area/console, enhancement

#2971 Bump ui-api-layer and ui-api-layer acceptance tests images
  resources/core/values.yaml
Labels: area/console, enhancement

#3209 fixed APISERVER Environment Variable
  docs/kyma/docs/04-04-gke-installation.md
Labels: area/documentation

#3213 Bump console backend service acceptance tests image
  resources/core/values.yaml
Labels: area/console, bug

#3185 Token request docs updated
  docs/application-connector/docs/06-04-tokenrequest.md
Labels: area/application-connector, area/documentation, enhancement

#3084 Update Application Connector tutorials
  docs/application-connector/docs/08-05-trigger-lambda-with-event.md
  docs/application-connector/docs/08-06-call-registered-service-from-kyma.md
Labels: area/application-connector, area/documentation, enhancement

#3193 Bump Application Registry image
  resources/application-connector/values.yaml
Labels: WIP, area/application-connector, enhancement

#3232 Add Docker as a prerequisite
  docs/kyma/docs/04-02-local-installation-from-release.md
Labels: area/documentation

#3165 Prepare components for introducing Istio sidecars for service-catalog components
  components/application-broker/internal/nsbroker/facade.go
  tests/acceptance/Gopkg.lock
  tests/acceptance/entrypoint.sh
  tests/application-operator-tests/scripts/entrypoint.sh
  tests/application-registry-tests/scripts/entrypoint.sh
  tests/connector-service-tests/scripts/entrypoint.sh
  tests/console-backend-service/internal/upsbroker/service.go
  tests/console-backend-service/run-compiled-tests.sh
  tests/gateway-tests/entrypoint.sh
Labels: area/service-catalog

#3207 Bump version of Asset Store
  resources/assetstore/values.yaml
Labels: area/documentation, enhancement

#3179 Introduce csrf support to data model
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
  components/application-registry/internal/externalapi/model.go
  components/application-registry/internal/metadata/applications/repository.go
  components/application-registry/internal/metadata/applications/util.go
  components/application-registry/internal/metadata/model/model.go
  components/application-registry/internal/metadata/secrets/strategy/basicauth.go
  components/application-registry/internal/metadata/secrets/strategy/basicauth_test.go
  components/application-registry/internal/metadata/secrets/strategy/certificategen.go
  components/application-registry/internal/metadata/secrets/strategy/certificategen_test.go
  components/application-registry/internal/metadata/secrets/strategy/csrf.go
  components/application-registry/internal/metadata/secrets/strategy/oauth.go
  components/application-registry/internal/metadata/secrets/strategy/oauth_test.go
Labels: area/application-connector, area/security, enhancement

#3178 Bump image for #2910
  resources/application-connector/values.yaml
Labels: WIP, area/application-connector, enhancement

#3202 Add README.md file for the e2e upgrade framework
  tests/end-to-end/upgrade/README.md
Labels: area/documentation, enhancement

#3123 Update Connector Service chart and READMEs
  components/connector-service/README.md
  resources/application-connector/charts/connector-service/README.md
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3219 Promtail doesn't detect kubeless lambda function pods
  resources/logging/templates/promtail/configmap.yaml
Labels: area/logging, area/serverless, bug

#3247 Add root CA rotation tutorial
  docs/application-connector/docs/08-10-rotate-root-ca.md
Labels: area/application-connector, area/documentation

#3220 Logging document updated with overview diagram
  docs/logging/docs/02-01-logging.md
  docs/logging/docs/assets/loki-overview.png
Labels: area/documentation, area/logging

#2998 Csrf token support
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-gateway/cmd/applicationgateway/applicationproxy.go
  components/application-gateway/internal/authorization/basicauthstrategy.go
  components/application-gateway/internal/authorization/basicauthstrategy_test.go
  components/application-gateway/internal/authorization/certificategenstrategy.go
  components/application-gateway/internal/authorization/certificategenstrategy_test.go
  components/application-gateway/internal/authorization/externaltokenstrategy.go
  components/application-gateway/internal/authorization/externaltokenstrategy_test.go
  components/application-gateway/internal/authorization/factory.go
  components/application-gateway/internal/authorization/factory_test.go
  components/application-gateway/internal/authorization/mocks/Strategy.go
  components/application-gateway/internal/authorization/noauthstrategy.go
  components/application-gateway/internal/authorization/oauthstrategy.go
  components/application-gateway/internal/authorization/oauthstrategy_test.go
  components/application-gateway/internal/authorization/testconsts/testconsts.go
  components/application-gateway/internal/csrf/client/csrfclient.go
  components/application-gateway/internal/csrf/client/csrfclient_test.go
  components/application-gateway/internal/csrf/client/csrftokencache.go
  components/application-gateway/internal/csrf/client/csrftokencache_test.go
  components/application-gateway/internal/csrf/mocks/Client.go
  components/application-gateway/internal/csrf/mocks/TokenStrategy.go
  components/application-gateway/internal/csrf/mocks/TokenStrategyFactory.go
  components/application-gateway/internal/csrf/strategy/csrf.go
  components/application-gateway/internal/csrf/strategy/csrf_test.go
  components/application-gateway/internal/csrf/types.go
  components/application-gateway/internal/httpconsts/httpconsts.go
  components/application-gateway/internal/metadata/applications/repository.go
  components/application-gateway/internal/metadata/model/model.go
  components/application-gateway/internal/metadata/serviceapi/serviceapiservice.go
  components/application-gateway/internal/proxy/cache.go
  components/application-gateway/internal/proxy/cache_test.go
  components/application-gateway/internal/proxy/proxy.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Labels: area/application-connector, area/security, enhancement

#3152 Update istio-kyma-patch to support istio 1.1
  components/istio-kyma-patch/patch.sh
Labels: area/service-mesh

#3240 Log ui for pods and lambdas
  resources/logging/charts/log-ui/templates/cr.yaml
Labels: area/console, area/logging, enhancement

#3035 Improve overall Helm Broker documentation #2682
  components/helm-broker/README.md
  docs/helm-broker/docs/01-01-helm-broker.md
  docs/helm-broker/docs/02-01-helm-broker.md
  docs/helm-broker/docs/03-01-create-bundles.md
  docs/helm-broker/docs/03-02-bind-bundles.md
  docs/helm-broker/docs/03-03-create-bundles-repo.md
  docs/helm-broker/docs/05-01-helm-broker.md
  docs/helm-broker/docs/05-02-helm-broker-bundles.md
  docs/helm-broker/docs/05-03-helm-broker-bundles-binding.md
  docs/helm-broker/docs/05-04-configure-hb.md
  docs/helm-broker/docs/assets/010-helm-registration.html
  docs/helm-broker/docs/assets/010-helm-registration.png
  docs/helm-broker/docs/assets/011-helm-architecture.html
  docs/helm-broker/docs/assets/011-helm-architecture.png
  docs/helm-broker/docs/assets/hb-architecture.svg
  docs/helm-broker/docs/assets/hb-registration.svg
  milv.config.yaml
Labels: area/documentation, enhancement

#3184 enable csrf in application-connector
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/02-03-proxy-service.md
  docs/application-connector/docs/03-01-ac-security.md
  docs/application-connector/docs/08-03-register-manage-services.md
  docs/application-connector/docs/08-04-register-secured-api.md
  docs/application-connector/docs/assets/003-architecture-proxy-service.svg
  resources/application-connector/templates/application.crd.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, area/documentation, area/security

#3272 Fix dead links
  docs/tracing/docs/02-01-tracing.md
Labels: area/documentation

#3259 Implement GraphQL mutations for services
  components/console-backend-service/internal/domain/k8s/automock/gql_service_converter.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/automock/gql_service_converter.go
  components/console-backend-service/internal/domain/k8s/listener/service.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
Labels: area/console, enhancement

#3181 Service Catalog upgrade test
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/README.md
  tests/end-to-end/upgrade/internal/runner/runner.go
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/app_broker.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/base_flow.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/helm_broker.go
Labels: area/service-catalog

#3271 Fetch spec from URL if spec set to null JSON object
  components/application-registry/internal/metadata/specification/service.go
  components/application-registry/internal/metadata/specification/service_test.go
Labels: area/application-connector, enhancement, priority/critical

#3268 Enable alerts for nats-streaming
  resources/monitoring/charts/alert-rules/templates/kyma-rules.yaml
  resources/nats-streaming/templates/statefulset.yaml
Labels: area/eventing, quality/observability

#3277 Add information about the experimental nature of the uninstallation feature
  components/installer/README.md
  docs/kyma/docs/04-02-local-installation-from-release.md
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
Labels: area/documentation, area/installation, bug, enhancement

#3290 Improve handling of API registration in Application Registry service.
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3295 Fixes #3284
  docs/kyma/docs/04-05-aks-installation.md
Labels: area/documentation, bug

#3234 Console UI: cleanup after environment renaming to namespaces, proper usage of anchor tags and small improvements
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console

#3307 Create GraphQL request flow diagram
  docs/security/docs/03-03-graphql-request-flow.md
  docs/security/docs/assets/002-graphql-request-flow.svg
Labels: area/documentation, area/security

#3299 Fix the e2e eventing flow with Knative
  components/event-bus/cmd/event-bus-publish-knative/dockerBuild.sh
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/publisher/publisher.go
  components/event-bus/cmd/event-bus-publish-knative/test/fake/publisher.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/trace/tags.go
  docs/event-bus/docs/03-03-service-programming-model.md
Labels: area/eventing

#3225 Remove global rbacconfig
  resources/cluster-essentials/templates/rbac-config-job.yaml
  resources/cluster-essentials/values.yaml
  resources/core/charts/console-backend-service/templates/rbac-config.yaml
  resources/core/charts/istio-rbac/Chart.yaml
  resources/core/charts/istio-rbac/templates/rbac-config.yaml
  resources/core/charts/istio-rbac/templates/rbac-handler.yaml
  resources/core/charts/istio-rbac/values.yaml
Labels: area/service-mesh

#3311 Fix apis 'unknown namespace' error
  resources/core/charts/api-controller/templates/apis-microfrontend.yaml
Labels: area/console, bug

#3289 Replace satori go.uuid library in tests directory
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/internal/runner/runner.go
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
  tests/event-bus/e2e-tester/e2e-tester.go
Labels: enhancement

#3334 Bump event-bus image version
  resources/event-bus/values.yaml
Labels: area/eventing

#3317 Fix checking logs from wrong pod and adding limit for memory used by functions
  resources/core/charts/kubeless/templates/tests/svcbind-lambda.yaml
  tests/end-to-end/kubeless-integration/test-kubeless.go
Labels: area/serverless, area/service-catalog

#3139 Enable Istio Sidecars for Service Catalog components
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/values.yaml
  resources/core/values.yaml
  resources/helm-broker/templates/cfg-repos-url.yaml
  resources/helm-broker/templates/deploy.yaml
  resources/service-catalog/charts/catalog/templates/apiserver-deployment.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-deployment.yaml
Labels: area/security, area/service-catalog

#3344 Add support for PKCS#1 keys in connector-service
  components/connector-service/internal/certificates/certificates.go
  components/connector-service/internal/certificates/certificates_test.go
Labels: area/application-connector, enhancement

#3303 Backup restore api controller
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/backupe2e/apicontroller.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/end-to-end/backup-restore-test/utils/fetch-dex-token/auth.go
  tests/end-to-end/backup-restore-test/utils/fetch-dex-token/config.go
  tests/end-to-end/backup-restore-test/utils/fetch-dex-token/idtokenprovider.go
Labels: area/service-mesh

#3343 Improve overall Service Catalog documentation
  docs/service-catalog/docs/03-01-resources.md
  docs/service-catalog/docs/03-02-provisioning-and-binding.md
  docs/service-catalog/docs/03-03-backup-and-restore.md
  docs/service-catalog/docs/06-01-service-binding-usage.md
  docs/service-catalog/docs/06-02-usage-kind.md
  docs/service-catalog/docs/11-02-catalog-view.md
  docs/service-catalog/docs/11-03-instances-view.md
  docs/service-catalog/docs/13-01-service-brokers.md
  docs/service-catalog/docs/13-02-gcp-broker.md
Labels: area/documentation, area/service-catalog, enhancement

#3336 Fix namespace backup'n'restore test
  tests/end-to-end/backup-restore-test/backupe2e/namespacecontroller.go
Labels: area/service-mesh

#3291 Bump images of event-bus-tests and end-to-end
  resources/event-bus/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: enhancement

#3354 Add xip.io to MILV whitelist
  milv.config.yaml
Labels: area/documentation, bug

#3356 Backup and restore api-controller test fix
  tests/end-to-end/backup-restore-test/backupe2e/apicontroller.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Labels: area/service-mesh, bug

#3294 Resolve nginx zipkin tracing issue
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/zipkin-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/values.yaml
Labels: area/application-connector, enhancement

#3345 Bump connector-service image
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3306 Bump backup-test image
  installation/scripts/e2e-testing.sh
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Labels: area/service-mesh

#3310 Introduce Asset Metadata Service
  CODEOWNERS
  components/asset-metadata-service/Dockerfile
  components/asset-metadata-service/Gopkg.lock
  components/asset-metadata-service/Gopkg.toml
  components/asset-metadata-service/Makefile
  components/asset-metadata-service/README.md
  components/asset-metadata-service/before-commit.sh
  components/asset-metadata-service/internal/route/export_test.go
  components/asset-metadata-service/internal/route/extract.go
  components/asset-metadata-service/internal/route/extract_test.go
  components/asset-metadata-service/internal/route/testdata/error.md
  components/asset-metadata-service/internal/route/testdata/error.yaml
  components/asset-metadata-service/internal/route/testdata/success.md
  components/asset-metadata-service/internal/route/testdata/success.yaml
  components/asset-metadata-service/main.go
  components/asset-metadata-service/pkg/extractor/automock/extractor.go
  components/asset-metadata-service/pkg/extractor/extractor.go
  components/asset-metadata-service/pkg/extractor/extractor_test.go
  components/asset-metadata-service/pkg/extractor/testdata/error.md
  components/asset-metadata-service/pkg/extractor/testdata/error.yaml
  components/asset-metadata-service/pkg/extractor/testdata/success.md
  components/asset-metadata-service/pkg/extractor/testdata/success.yaml
  components/asset-metadata-service/pkg/fileheader/automock/file.go
  components/asset-metadata-service/pkg/fileheader/automock/file_header.go
  components/asset-metadata-service/pkg/fileheader/fileheader.go
  components/asset-metadata-service/pkg/processor/export_test.go
  components/asset-metadata-service/pkg/processor/processor.go
  components/asset-metadata-service/pkg/processor/processor_test.go
  components/asset-metadata-service/pkg/signal/signal.go
  components/asset-upload-service/README.md
  docs/asset-store/docs/03-04-asset-metadata-service.md
  docs/asset-store/docs/03-04-asset-upload-service.md
  docs/asset-store/docs/assets/asset-metadata-service-openapi.yaml
  docs/asset-store/docs/assets/asset-upload-service-openapi.yaml
Labels: area/core-and-supporting, area/documentation, enhancement

#3329 Modify Connector Service certificate revocation to use certificate fingerprint
  components/connector-service/internal/certificates/hash.go
  components/connector-service/internal/certificates/hash_test.go
  components/connector-service/internal/externalapi/revocationhandler.go
  components/connector-service/internal/externalapi/revocationhandler_test.go
  components/connector-service/internal/revocation/middlewares/revocationcheck.go
  components/connector-service/internal/revocation/middlewares/revocationcheck_test.go
  docs/application-connector/docs/08-09-revoke-cert.md
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/certs.go
Labels: area/application-connector, enhancement

#3352 Bump image of Connector Service
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3372 Fix certhelper failing when not patching cm
  components/xip-patch/certhelper.sh
Labels: area/service-mesh, bug

#3305 Implement queries, mutations and subscriptions in gql for config maps
  components/console-backend-service/internal/domain/k8s/automock/config_map_svc.go
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_config_map_converter.go
  components/console-backend-service/internal/domain/k8s/configmap_converter.go
  components/console-backend-service/internal/domain/k8s/configmap_converter_test.go
  components/console-backend-service/internal/domain/k8s/configmap_resolver.go
  components/console-backend-service/internal/domain/k8s/configmap_resolver_test.go
  components/console-backend-service/internal/domain/k8s/configmap_service.go
  components/console-backend-service/internal/domain/k8s/configmap_service_test.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/automock/export.go
  components/console-backend-service/internal/domain/k8s/listener/automock/gql_config_map_converter.go
  components/console-backend-service/internal/domain/k8s/listener/configmap.go
  components/console-backend-service/internal/domain/k8s/listener/configmap_test.go
  components/console-backend-service/internal/domain/k8s/pretty/kind.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/k8s/configmap_test.go
Labels: area/console, enhancement

#3380 Fix the link to environment variables
  tests/end-to-end/upgrade/README.md
Labels: area/documentation

#3373 Bump application-connector-helper image
  resources/application-connector-helper/values.yaml
Labels: area/service-mesh, bug

#3378 Bump natss provisioner images to fix reconnection issue
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
  resources/knative-provisioner-natss/values.yaml
Labels: area/eventing

#3371 Remove headers in proxy
  components/application-gateway/internal/httpconsts/httpconsts.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/proxyfactory.go
Labels: area/application-connector, enhancement

#3313 Add Asset Metadata Service chart
  components/asset-metadata-service/README.md
  docs/asset-store/docs/03-04-asset-metadata-service.md
  resources/assetstore/charts/asset-metadata-service/.helmignore
  resources/assetstore/charts/asset-metadata-service/Chart.yaml
  resources/assetstore/charts/asset-metadata-service/templates/_helpers.tpl
  resources/assetstore/charts/asset-metadata-service/templates/deployment.yaml
  resources/assetstore/charts/asset-metadata-service/templates/service.yaml
  resources/assetstore/charts/asset-metadata-service/templates/virtualservice.yaml
  resources/assetstore/charts/asset-metadata-service/values.yaml
  resources/assetstore/values.yaml
  resources/core/values.yaml
Labels: area/core-and-supporting, area/documentation, enhancement

#3374 Bump gateway image
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3390 Remove Creative Commons license from the docs folder
  docs/LICENSE
Labels: area/documentation, quality/content

#3246 Acceptance tests for connection token handler
  components/connection-token-handler/scripts/run-with-local-tests.sh
  tests/connection-token-handler-tests/Dockerfile
  tests/connection-token-handler-tests/Gopkg.lock
  tests/connection-token-handler-tests/Gopkg.toml
  tests/connection-token-handler-tests/Makefile
  tests/connection-token-handler-tests/before-commit.sh
  tests/connection-token-handler-tests/scripts/entrypoint.sh
  tests/connection-token-handler-tests/scripts/run-local-tests.sh
  tests/connection-token-handler-tests/test/k8stests/k8sresource_test.go
  tests/connection-token-handler-tests/test/testkit/config.go
  tests/connection-token-handler-tests/test/testkit/k8sClient.go
Labels: WIP, area/application-connector, enhancement

#3241 Run Application tests as part of Application Operator Tests
  tests/application-operator-tests/Dockerfile
  tests/application-operator-tests/Gopkg.lock
  tests/application-operator-tests/Gopkg.toml
  tests/application-operator-tests/scripts/entrypoint.sh
  tests/application-operator-tests/scripts/run-local-tests.sh
  tests/application-operator-tests/test/application/suite.go
  tests/application-operator-tests/test/application/tests/application_test.go
  tests/application-operator-tests/test/controller/suite.go
  tests/application-operator-tests/test/controller/tests/controller_test.go
  tests/application-operator-tests/test/testkit/config.go
  tests/application-operator-tests/test/testkit/helm_client.go
  tests/application-operator-tests/test/testkit/k8sresources_check.go
  tests/application-operator-tests/test/testkit/k8sresources_client.go
  tests/application-operator-tests/test/testkit/suite.go
  tests/application-operator-tests/test/testkit/wait.go
Labels: area/application-connector, enhancement

#3308 Chart changes for Connection token handler acceptance tests
  resources/application-connector/charts/connection-token-handler/templates/tests/role-binding.yaml
  resources/application-connector/charts/connection-token-handler/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3364 Fix for enabling istio rbac rules for services or namespaces
  resources/core/charts/istio-rbac/templates/rbac-config.yaml
Labels: area/security, area/service-mesh, bug, priority/critical

#3375 Create istio-rbac documentation
  docs/service-mesh/docs/03-03-istio-rbac.md
Labels: area/documentation, area/service-mesh, enhancement

#3255 Run Application tests as part of Application Operator Tests - chart changes
  resources/application-connector/charts/application-operator/templates/cluster-rolebinding.yaml
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/templates/role-binding.yaml
  resources/application-connector/charts/application-operator/templates/service-account.yaml
  resources/application-connector/charts/application-operator/templates/tests/rbac.yaml
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/requirements.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3391 The Application Gateway should remove the x-forwarded-proto header
  docs/application-connector/docs/02-03-proxy-service.md
Labels: area/application-connector, enhancement
