Repository kyma-project/kyma, pull requests merged in 2019-04, with the labels that each got.

#3450 Update Knative documentation
  docs/kyma/docs/01-05-kyma-and-knative.md
Labels: area/documentation

#3366 Apply the toggle feature to the installation docs
  components/namespace-controller/README.md
  docs/kyma/docs/01-06-how-to-start.md
  docs/kyma/docs/04-01-overview.md
  docs/kyma/docs/04-02-local-installation.md
  docs/kyma/docs/04-03-cluster-installation.md
  docs/kyma/docs/04-03-local-installation-from-sources.md
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
  installation/README.md
  resources/core/README.md
Labels: area/documentation, area/installation, enhancement

#3421 Add retries to apiserver-proxy test
  tests/apiserver-proxy-tests/test.sh
Labels: area/security, quality/testability, test-failing

#3419 Make dex static users login available with stop and restart Kyma without reinstalling scenario
  tools/static-users-generator/scripts/config_replace.sh
Labels: area/installation, enhancement

#3471 Feature/installer tls
  components/installer/cmd/operator/main.go
  components/installer/pkg/kymahelm/kyma-helm-client.go
Labels: area/installation, enhancement

#3445 Add TLS filter for helm broker repositories
  components/helm-broker/cmd/broker/main.go
  components/helm-broker/internal/broker/broker_export_test.go
  components/helm-broker/internal/broker/deprovision_export_test.go
  components/helm-broker/internal/broker/export_test.go
  components/helm-broker/internal/bundle/automock/extended.go
  components/helm-broker/internal/bundle/repository_controller.go
  components/helm-broker/internal/bundle/repository_controller_test.go
  components/helm-broker/internal/config/config.go
  docs/helm-broker/docs/05-04-configure-hb.md
Labels: area/security, area/service-catalog, enhancement

#3485 Truncate source-id and event-type after encoding if any of them exceeds the length limit
  components/event-bus/api/publish/validators.go
  components/event-bus/api/publish/validators_test.go
  components/event-bus/internal/knative/util/util.go
  components/event-bus/internal/knative/util/util_test.go
Labels: area/eventing

#3490 Add ssl support to helm broker client
  components/helm-broker/Gopkg.lock
  components/helm-broker/internal/helm/client.go
  components/helm-broker/internal/helm/client_test.go
  components/helm-broker/internal/helm/config.go
Labels: area/security, area/service-catalog

#3477 Namespace-controller tests - roles cleanup
  tests/test-namespace-controller/test-namespace-controller.sh
Labels: area/security

#3409 Apply naming pattern and length restriction on the event components
  resources/cluster-essentials/templates/event-activation.crd.yaml
  resources/cluster-essentials/templates/eventing-subscription.crd.yaml
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/values.yaml
Labels: area/eventing

#3465 Bump image
  resources/core/values.yaml
Labels: area/documentation

#3312 Implement query, subscription and mutation for secrets
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_secret_converter.go
  components/console-backend-service/internal/domain/k8s/automock/secret_svc.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/automock/export.go
  components/console-backend-service/internal/domain/k8s/listener/automock/gql_secret_converter.go
  components/console-backend-service/internal/domain/k8s/listener/secret.go
  components/console-backend-service/internal/domain/k8s/listener/secret_test.go
  components/console-backend-service/internal/domain/k8s/pretty/kind.go
  components/console-backend-service/internal/domain/k8s/secret_converter.go
  components/console-backend-service/internal/domain/k8s/secret_converter_test.go
  components/console-backend-service/internal/domain/k8s/secret_resolver.go
  components/console-backend-service/internal/domain/k8s/secret_resolver_test.go
  components/console-backend-service/internal/domain/k8s/secret_service.go
  components/console-backend-service/internal/domain/k8s/secret_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
Labels: area/console, enhancement

#3417 Fix detecting if Bucket is ready in Asset Store
  components/asset-store-controller-manager/README.md
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_asset.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_bucket.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_clusterasset.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_clusterbucket.yaml
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/asset_common_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/asset_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/bucket_common_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/bucket_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/clusterasset_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/clusterbucket_types.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/asset/config.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/config.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/config.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/config.go
  components/asset-store-controller-manager/pkg/handler/asset/asset.go
  components/asset-store-controller-manager/pkg/handler/asset/asset_test.go
  components/asset-store-controller-manager/pkg/handler/asset/pretty/reason.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket_test.go
  components/asset-store-controller-manager/pkg/handler/bucket/pretty/reason.go
  components/asset-store-controller-manager/pkg/store/automock/store.go
  components/asset-store-controller-manager/pkg/store/store.go
Labels: area/core-and-supporting, area/documentation, bug

#3411 Event-bus tests on Knative
  installation/scripts/testing.sh
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
  tests/event-bus/e2e-tester/e2e-tester.go
Labels: area/eventing, enhancement

#3415 Rework Service Catalog and Service Catalog Addons tests setup
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/Gopkg.toml
  tests/console-backend-service/README.md
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/namespace.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebinding_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/fixture/serviceinstance.go
  tests/console-backend-service/internal/domain/shared/fixture/testbundle.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
  tests/console-backend-service/internal/domain/shared/wait/servicebinding.go
  tests/console-backend-service/internal/domain/shared/wait/serviceinstance.go
  tests/console-backend-service/internal/domain/shared/wait/wait.go
  tests/console-backend-service/internal/exit/exit.go
  tests/console-backend-service/internal/installer/broker.go
  tests/console-backend-service/internal/installer/clusterbroker.go
  tests/console-backend-service/internal/installer/namespace.go
  tests/console-backend-service/internal/installer/pod.go
  tests/console-backend-service/internal/installer/service.go
  tests/console-backend-service/internal/upsbroker/broker.go
  tests/console-backend-service/internal/upsbroker/clusterbroker.go
  tests/console-backend-service/internal/upsbroker/pod.go
  tests/console-backend-service/internal/upsbroker/service.go
  tests/console-backend-service/tester.go
Labels: area/console, enhancement

#3340 Bump console-backend-service images
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/values.yaml
Labels: area/console, enhancement

#3463 Fix unstable Application Registry tests
  tests/application-registry-tests/test/apitests/metadata_test.go
Labels: area/application-connector, bug, test-failing

#3492 Add status and reason to the event service publish response
  components/event-service/internal/events/api/types.go
Labels: area/eventing

#3454 Return 200 instead of 500 in case of acknowledged publishing but no s…
  components/event-bus/Gopkg.lock
  components/event-bus/api/publish/api.go
  components/event-bus/cmd/event-bus-publish-knative/application/application_test.go
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/publisher/publisher.go
  components/event-bus/cmd/event-bus-publish-knative/test/fake/publisher.go
  components/event-bus/docs/api.yaml
Labels: area/eventing

#3398 Add support for handling multiple assets having same source type in docsTopic
  components/cms-controller-manager/config/crds/cms_v1alpha1_clusterdocstopic.yaml
  components/cms-controller-manager/config/crds/cms_v1alpha1_docstopic.yaml
  components/cms-controller-manager/config/samples/cms_v1alpha1_clusterdocstopic.yaml
  components/cms-controller-manager/config/samples/cms_v1alpha1_docstopic.yaml
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/clusterdocstopic_types_test.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/docstopic_common.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/docstopic_types_test.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/zz_generated.deepcopy.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/automock/asset_service.go
  components/cms-controller-manager/pkg/handler/docstopic/automock/bucket_service.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  components/cms-controller-manager/pkg/source/sources.go
Labels: area/core-and-supporting, enhancement

#3261 Enable TLS connection to Tiller in Application Connector
  components/application-operator/Gopkg.lock
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/pkg/kymahelm/client.go
  tests/application-operator-tests/Gopkg.lock
  tests/application-operator-tests/Gopkg.toml
  tests/application-operator-tests/scripts/run-local-tests.sh
  tests/application-operator-tests/test/application/suite.go
  tests/application-operator-tests/test/controller/suite.go
  tests/application-operator-tests/test/testkit/config.go
  tests/application-operator-tests/test/testkit/helm_client.go
Labels: area/application-connector, area/installation, area/security, enhancement

#3502 Remove "Remote Environment" mentions from App. Gateway readme
  components/application-gateway/README.md
Labels: area/application-connector, area/documentation

#3505 Tweak main readme formatting
  README.md
Labels: area/documentation

#3506 Tweak main project readme
  README.md
Labels: area/documentation

#3500 Bump e2e-backup tests
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Labels: area/core-and-supporting, enhancement

#3511 Fix exit on error in Console Backend Service
  tests/console-backend-service/internal/exit/exit.go
Labels: area/console, bug

#3495 Improve stability of Asset Store tests
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_test.go
Labels: area/core-and-supporting, bug, priority/critical

#3497 Add support for handling multiple assets having same source type in docsTopic - image bump
  resources/cluster-essentials/templates/clusterdocstopic.yaml
  resources/cluster-essentials/templates/docstopic.yaml
  resources/cms/values.yaml
Labels: area/core-and-supporting, enhancement

#3388 Use gql for config maps and cluster service brokers
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/logging/charts/log-ui/values.yaml
Labels: area/console, enhancement

#3457 Add upgrade tests for cms and assetstore domain
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/README.md
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/dynamicresource/client.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset_store.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/assetdata.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/bucket.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterbucket.go
  tests/end-to-end/upgrade/pkg/tests/cms/clusterdocstopic.go
  tests/end-to-end/upgrade/pkg/tests/cms/cms.go
  tests/end-to-end/upgrade/pkg/tests/cms/docstopic.go
  tests/end-to-end/upgrade/pkg/waiter/waiter.go
Labels: WIP, area/cluster, area/core-and-supporting, enhancement

#3332 Replacing logging storage from file system to persistence volume claims
  resources/logging/Chart.yaml
  resources/logging/templates/loki/_helpers.tpl
  resources/logging/templates/loki/configmap.yaml
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/networkpolicy.yaml
  resources/logging/templates/loki/podsecuritypolicy.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/templates/loki/pvc.yaml
  resources/logging/templates/loki/role.yaml
  resources/logging/templates/loki/rolebinding.yaml
  resources/logging/templates/loki/secret.yaml
  resources/logging/templates/loki/service.yaml
  resources/logging/templates/loki/serviceaccount.yaml
  resources/logging/templates/promtail/_helpers.tpl
  resources/logging/templates/promtail/configmap.yaml
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/templates/promtail/podsecuritypolicy.yaml
  resources/logging/templates/promtail/role.yaml
  resources/logging/templates/promtail/rolebinding.yaml
  resources/logging/values.yaml
Labels: area/logging, enhancement

#3432 Bump Asset Store image
  resources/assetstore/values.yaml
Labels: area/core-and-supporting, bug

#3403 Make knative default
  docs/kyma/docs/04-03-cluster-installation.md
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/scripts/installer.ps1
  installation/scripts/installer.sh
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/cluster-essentials/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/charts/publish-knative/templates/_helpers.tpl
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish-knative/templates/service.yaml
  resources/event-bus/charts/publish/Chart.yaml
  resources/event-bus/charts/publish/templates/_helpers.tpl
  resources/event-bus/charts/publish/templates/deployment.yaml
  resources/event-bus/charts/publish/templates/service.yaml
  resources/event-bus/charts/publish/values.yaml
  resources/event-bus/charts/push/Chart.yaml
  resources/event-bus/charts/push/templates/_helpers.tpl
  resources/event-bus/charts/push/templates/deployment.yaml
  resources/event-bus/charts/push/values.yaml
  resources/event-bus/charts/sub-validator/.helmignore
  resources/event-bus/charts/sub-validator/Chart.yaml
  resources/event-bus/charts/sub-validator/templates/_helpers.tpl
  resources/event-bus/charts/sub-validator/templates/deployment.yaml
  resources/event-bus/charts/sub-validator/values.yaml
  resources/event-bus/requirements.yaml
  resources/event-bus/values.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/values.yaml
  resources/jaeger/values.yaml
  resources/knative-eventing/requirements.yaml
  resources/knative-eventing/values.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
  resources/knative-provisioner-natss/requirements.yaml
  resources/knative-provisioner-natss/values.yaml
  resources/knative-serving/requirements.yaml
  resources/knative-serving/templates/tests/test-service.yaml
  resources/knative-serving/templates/tests/test-serving.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/templates/statefulset.yaml
  resources/nats-streaming/values.yaml
  resources/prometheus-operator/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
Labels: area/eventing

#3416 Bump Console Backend Service tests
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/values.yaml
Labels: area/console, enhancement

#3504 Set securityContext runAsUser in connector-service deployment
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
Labels: area/application-connector, enhancement

#3473 Refactor kyma roles
  resources/core/charts/cluster-users/templates/clusterroles-istio-io.yaml
  resources/core/charts/cluster-users/templates/clusterroles-k8s-io.yaml
  resources/core/charts/cluster-users/templates/clusterroles-kubeless-io.yaml
  resources/core/charts/cluster-users/templates/clusterroles-kyma-project-io.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/cluster-users/values.yaml
Labels: area/security

#3254 Migrating Application Registry to Asset Store
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
  components/application-registry/cmd/applicationregistry/applicationregistry.go
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/cmd/applicationregistry/options.go
  components/application-registry/internal/httpconsts/httpconsts.go
  components/application-registry/internal/metadata/specification/assetstore/docstopic/model.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository_test.go
  components/application-registry/internal/metadata/specification/assetstore/mocks/DocsTopicRepository.go
  components/application-registry/internal/metadata/specification/assetstore/mocks/ResourceInterface.go
  components/application-registry/internal/metadata/specification/assetstore/mocks/Service.go
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client_test.go
  components/application-registry/internal/metadata/specification/assetstore/upload/mocks/Client.go
  components/application-registry/internal/metadata/specification/download/client.go
  components/application-registry/internal/metadata/specification/minio/mocks/Client.go
  components/application-registry/internal/metadata/specification/minio/mocks/Repository.go
  components/application-registry/internal/metadata/specification/minio/repository.go
  components/application-registry/internal/metadata/specification/minio/repository_test.go
  components/application-registry/internal/metadata/specification/minio/service.go
  components/application-registry/internal/metadata/specification/minio/service_test.go
  components/application-registry/internal/metadata/specification/service.go
  components/application-registry/internal/metadata/specification/service_test.go
  tests/application-registry-tests/test/apitests/metadata_test.go
  tests/application-registry-tests/test/testkit/config.go
  tests/application-registry-tests/test/testkit/metadata_api_client.go
  tests/application-registry-tests/test/testkit/model.go
Labels: area/application-connector, enhancement

#3527 Fix cms and assetstore upgrade tests
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/cms/cms.go
  tests/end-to-end/upgrade/pkg/tests/cms/docstopic.go
Labels: area/core-and-supporting, bug

#3427 Fix unstable Connector Service tests
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/securedconnectorclient.go
Labels: area/application-connector, bug, test-failing

#3509 Enable console logging ui with authorization
  resources/core/charts/istio-rbac/templates/rbac-config.yaml
  resources/core/charts/istio-rbac/values.yaml
  resources/logging/charts/log-ui/values.yaml
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/values.yaml
Labels: area/console, area/logging, area/security

#3542 Disable console backend service acceptance tests
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/templates/tests/test-console-backend-service.yaml
Labels: area/console, bug, priority/critical

#3223 Enable ssl in tiller
  docs/kyma/docs/04-02-local-installation.md
  docs/kyma/docs/04-03-cluster-installation.md
  docs/kyma/docs/04-12-local-installation-scripts.md
  docs/security/docs/03-03-tiller-tls.md
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/tiller.yaml
  installation/scripts/extract-kyma-installer-image.sh
  installation/scripts/installer.sh
  installation/scripts/testing.sh
  installation/scripts/tiller-tls.sh
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-operator/values.yaml
  resources/application-connector/templates/helm-secret.yaml
  resources/application-connector/values.yaml
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/templates/helm-secret.yaml
  resources/helm-broker/values.yaml
  resources/monitoring/charts/alert-rules/README.md
  tools/kyma-installer/kyma.Dockerfile
Labels: area/installation, area/security, enhancement, priority/critical

#3309 App Registry Asset Store migration bump
  installation/resources/installer-config-local.yaml.tpl
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/templates/remote-environments-minio-secret.yaml
  resources/application-connector/charts/application-registry/templates/role-binding.yaml
  resources/application-connector/charts/application-registry/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3545 Update event-service version
  resources/application-connector/values.yaml
Labels: area/eventing

#3429 Image bump for Connector Service tests
  resources/application-connector/values.yaml
Labels: area/application-connector, bug, test-failing

#3458 Bump image of e2e upgrade tests
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/cluster, area/core-and-supporting, enhancement

#3507 Improve Application Operator Tests
  tests/application-gateway-tests/Gopkg.lock
  tests/application-gateway-tests/test/executor/proxy/suite.go
  tests/application-operator-tests/scripts/run-local-tests.sh
  tests/application-operator-tests/test/controller/suite.go
  tests/application-operator-tests/test/testkit/k8sresources_check.go
Labels: area/application-connector, bug, test-failing

#3510 Bump image of Application Operator Tests
  installation/resources/installer-config-local.yaml.tpl
  resources/application-connector/values.yaml
Labels: area/application-connector, bug, test-failing

#3562 Add PodSecurityPolicy into nginx-ingress chart
  resources/application-connector-ingress/charts/nginx-ingress/templates/podsecuritypolicy.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/role.yaml
  resources/application-connector-ingress/charts/nginx-ingress/values.yaml
Labels: area/application-connector, enhancement

#3431 Improve backup and restore tests README.md
  resources/ark/README.md
  tests/end-to-end/backup-restore-test/README.md
  tests/end-to-end/backup-restore-test/backup-restore.md
Labels: area/documentation

#3553 Update diagrams in the Asset Store documentation
  docs/asset-store/docs/02-01-asset-store.md
  docs/asset-store/docs/03-04-asset-upload-service.md
  docs/asset-store/docs/assets/asset-store-architecture.svg
  docs/asset-store/docs/assets/asset-upload-service.svg
Labels: area/documentation, enhancement

#3552 Apply hashing on knative channel names
  components/event-bus/api/publish/event_opts.go
  components/event-bus/api/publish/validators.go
  components/event-bus/api/publish/validators_test.go
  components/event-bus/cmd/event-bus-publish-knative/application/application_test.go
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish/handlers/handlers.go
  components/event-bus/internal/knative/hash/hash.go
  components/event-bus/internal/knative/hash/hash_test.go
  components/event-bus/internal/knative/publish/opts/opts.go
  components/event-bus/internal/knative/util/util.go
  components/event-bus/internal/knative/util/util_test.go
  components/event-bus/internal/push/handlers/message_handler.go
  components/event-bus/internal/trace/tracer.go
Labels: area/eventing

#3546 Add support for configurable mtls option in Policy
  components/api-controller/cmd/controller/main.go
  components/api-controller/pkg/apis/authentication.istio.io/v1alpha1/types.go
  components/api-controller/pkg/apis/authentication.istio.io/v1alpha1/zz_generated.deepcopy.go
  components/api-controller/pkg/apis/gateway.kyma-project.io/v1alpha2/types.go
  components/api-controller/pkg/apis/gateway.kyma-project.io/v1alpha2/zz_generated.deepcopy.go
  components/api-controller/pkg/controller/authentication/v2/authenticationv2.go
  components/api-controller/pkg/controller/authentication/v2/authenticationv2_integration_test.go
  components/api-controller/pkg/controller/authentication/v2/authenticationv2_test.go
  components/api-controller/pkg/controller/authentication/v2/interface.go
  components/api-controller/pkg/controller/v1alpha2/controller.go
  components/api-controller/pkg/controller/v1alpha2/crd.go
Labels: area/security

#3557 Add the event metada as knative-channel labels
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
Labels: area/eventing

#3459 Add clusterdocstopics resources and update kyma/docs Readme.md
  docs/README.md
  docs/api-gateway/docs.config.json
  docs/application-connector/docs.config.json
  docs/helm-broker/docs.config.json
  docs/logging/docs.config.json
  docs/monitoring/docs.config.json
  docs/security/docs.config.json
  docs/serverless/docs.config.json
  docs/service-catalog/docs.config.json
  docs/service-mesh/docs.config.json
  docs/tracing/docs.config.json
  resources/core/charts/docs/charts/documentation/templates/docs-components-api-gateway-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-application-connector-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-asset-store-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-backup-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-console-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-event-bus-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-headless-cms-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-helm-broker-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-logging-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-monitoring-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-security-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-serverless-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-service-catalog-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-service-mesh-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-components-tracing-cdt.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-root-kyma-cdt.yaml
  resources/core/charts/docs/charts/documentation/values.yaml
  resources/core/values.yaml
  resources/monitoring/charts/alert-rules/README.md
Labels: WIP, area/core-and-supporting, area/documentation, enhancement

#3528 Enable authentication for NATS Streaming
  resources/knative-provisioner-natss/README.md
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
  resources/knative-provisioner-natss/values.yaml
  resources/nats-streaming/templates/secret.yaml
  resources/nats-streaming/templates/statefulset.yaml
Labels: area/eventing, area/security

#3574 Update event-bus config and knative-channel related config
  components/event-bus/docs/api.yaml
  docs/application-connector/docs/assets/eventsapi.yaml
  resources/cluster-essentials/templates/event-activation.crd.yaml
  resources/cluster-essentials/templates/eventing-subscription.crd.yaml
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/values.yaml
Labels: area/eventing

#3543 Fix backup tests of cms and asset-store after breaking changes in API
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/backupe2e/asset-store/testsuite/asset.go
  tests/end-to-end/backup-restore-test/backupe2e/asset-store/testsuite/clusterasset.go
  tests/end-to-end/backup-restore-test/backupe2e/cms/testsuite/testsuite.go
Labels: area/core-and-supporting, bug

#3572 Application Connector docs: migration to Asset Store
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/03-04-metadata-service.md
  docs/application-connector/docs/assets/001-application-connector.svg
Labels: area/application-connector, area/documentation, enhancement

#3584 Bump e2e backup tests image
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Labels: area/core-and-supporting, enhancement

#3549 Changed Docs topic to Cluster Docs Topic
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/internal/metadata/specification/assetstore/docstopic/model.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository_test.go
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/service_test.go
Labels: area/application-connector, bug

#3292 Add the Headless CMS component
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
  docs/asset-store/docs/03-02-bucket-cr-lifecycle.md
  docs/asset-store/docs/03-03-minio-gateway.md
  docs/asset-store/docs/06-01-asset.md
  docs/asset-store/docs/06-03-clusterasset.md
  docs/docs-build.yaml
  docs/headless-cms/docs.config.json
  docs/headless-cms/docs/01-01-headless-cms.md
  docs/headless-cms/docs/02-01-headless-cms.md
  docs/headless-cms/docs/03-01-headless-cms-in-console.md
  docs/headless-cms/docs/03-02-docstopic-cr-lifecycle.md
  docs/headless-cms/docs/06-01-docstopic.md
  docs/headless-cms/docs/06-02-clusterdocstopic.md
  docs/headless-cms/docs/assets/headless-cms-architecture.svg
  docs/kyma/docs/01-06-how-to-start.md
  docs/kyma/docs/04-01-overview.md
  docs/manifest.yaml
Labels: area/core-and-supporting, area/documentation, enhancement

#3585 Console and log ui improvements
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Labels: area/console

#3593 Add a missing article
  docs/headless-cms/docs/03-01-headless-cms-in-console.md
Labels: area/documentation

#3493 Add migration script to Headless CMS for applications registered before 0.9
  resources/assetstore/charts/minio/README.md
  resources/cluster-essentials/templates/_helpers.tpl
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/_helpers.tpl
  resources/cms/templates/post-upgrade-migration-job.yaml
Labels: area/core-and-supporting

#3587 Update event-bus image
  resources/event-bus/values.yaml
Labels: area/eventing

#3599 Change the doc image
  resources/core/values.yaml
Labels: area/documentation

#3571 Release version 0.9.0-rc2
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Labels: area/ci, enhancement

#3468 Add missing authorization directives to queries
  components/console-backend-service/internal/authz/auth.go
  components/console-backend-service/internal/domain/application/app_service.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/servicecatalog/dep.go
  components/console-backend-service/internal/domain/servicecatalog/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalog/mock_gql_service_instance_converter.go
  components/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  components/console-backend-service/internal/domain/servicecatalog/serviceinstance_converter.go
  components/console-backend-service/internal/domain/servicecatalog/serviceinstance_converter_test.go
  components/console-backend-service/internal/domain/servicecatalog/serviceinstance_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/apicontroller/apis_test.go
  tests/console-backend-service/internal/domain/application/application_test.go
  tests/console-backend-service/internal/domain/authentication/idppreset_authz_test.go
  tests/console-backend-service/internal/domain/authentication/idppreset_common.go
  tests/console-backend-service/internal/domain/authentication/idppreset_test.go
  tests/console-backend-service/internal/domain/k8s/configmap_test.go
  tests/console-backend-service/internal/domain/k8s/k8s_test.go
  tests/console-backend-service/internal/domain/k8s/limitrange_test.go
  tests/console-backend-service/internal/domain/k8s/pod_test.go
  tests/console-backend-service/internal/domain/k8s/replicaset_test.go
  tests/console-backend-service/internal/domain/k8s/resource_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebinding_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/auth/suite.go
  tests/console-backend-service/internal/domain/ui/backendmodule_test.go
  tests/console-backend-service/internal/graphql/client.go
Labels: area/console, enhancement

#3614 Update CODEOWNERS
  CODEOWNERS
Labels: area/community, enhancement

#3603 Update service programming model documentation for the IGNORED messag…
  docs/event-bus/docs/03-03-service-programming-model.md
Labels: area/documentation, area/eventing

#3605 Fix installation of Knative Serving when no domain is specified
  resources/knative-serving/charts/knative-serving/templates/serving.yaml
Labels: bug

#3455 Add support for webhooks to CMS
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/README.md
  components/cms-controller-manager/config/rbac/rbac_role.yaml
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/config.go
  components/cms-controller-manager/pkg/controller/docstopic/config.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  components/cms-controller-manager/pkg/handler/docstopic/export_test.go
  components/cms-controller-manager/pkg/handler/docstopic/pretty/reason.go
  components/cms-controller-manager/pkg/webhookconfig/asset_webhook_config_service.go
  components/cms-controller-manager/pkg/webhookconfig/asset_webhook_config_service_test.go
  components/cms-controller-manager/pkg/webhookconfig/automock/asset_webhook_config_service.go
  components/cms-controller-manager/pkg/webhookconfig/automock/client.go
  components/cms-controller-manager/pkg/webhookconfig/automock/indexer.go
  components/cms-controller-manager/pkg/webhookconfig/webhook_service_config.go
Labels: area/core-and-supporting, enhancement

#3559 Update Asset Store tests
  tests/asset-store/Gopkg.lock
  tests/asset-store/Gopkg.toml
  tests/asset-store/testsuite/asset.go
  tests/asset-store/testsuite/clusterasset.go
  tests/asset-store/testsuite/testdata.go
Labels: WIP, area/core-and-supporting, enhancement

#3619 Prefix Knative channel name with a lowercase alphabet character to fix the istio virtual service name issue
  components/event-bus/internal/knative/publish/opts/opts.go
  components/event-bus/internal/knative/util/util.go
Labels: area/eventing

#3621 Add missing prerequisites to cluster installation
  docs/kyma/docs/04-03-cluster-installation.md
  milv.config.yaml
Labels: area/installation, bug, priority/critical, quality/content

#3620 Update the event-bus version and the max Knative channel name length
  resources/event-bus/values.yaml
Labels: area/eventing

#2739 Add missing err check command in gcp-broker-provider script
  tools/gcp-broker-provider/bin/gcp-broker.sh
Labels: area/service-catalog, bug

#3609 Release version 0.9.0 final
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Labels: area/ci, enhancement

#3610 Introduce PodSecurityPolicy for connector-service
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/podsecuritypolicy.yaml
  resources/application-connector/charts/connector-service/templates/role-binding.yaml
  resources/application-connector/charts/connector-service/values.yaml
Labels: area/application-connector, enhancement

#3628 Bump UI Tests
  resources/core/templates/tests/test-ui-acceptance.yaml
Labels: area/console, bug, priority/critical

#3643 Add minor fixes
  docs/kyma/docs/03-03-testing.md
  docs/kyma/docs/08-05-installation-overrides.md
Labels: area/documentation

#3591 Provide certificate info in managementInfo endpoint
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/model.go
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/model.go
Labels: area/application-connector, enhancement

#3600 Update Connector Service Swagger API
  components/connector-service/docs/api/connectorapi.yaml
  docs/application-connector/docs/assets/connectorapi.yaml
Labels: area/application-connector, area/documentation, enhancement

#3633 Delete obsolete job after 0.9
  resources/cluster-essentials/templates/rbac-config-job.yaml
Labels: area/service-mesh

#3228 Fix access to Knative Serving workloads through gateway
  resources/knative-serving/README.md
  resources/knative-serving/charts/knative-serving/templates/serving.yaml
  resources/knative-serving/values.yaml
Labels: bug

#3437 Fetch gateway URL from graphQL
  components/connector-service/Gopkg.lock
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/middlewares/lookup.go
  components/connector-service/internal/externalapi/middlewares/lookup_test.go
  components/connector-service/internal/externalapi/middlewares/mocks/LookupService.go
  components/connector-service/internal/externalapi/middlewares/runtimeurls.go
  components/connector-service/internal/externalapi/middlewares/runtimeurls_test.go
  components/connector-service/internal/externalapi/middlewares/testdata/config.json
  tests/connector-service-tests/test/apitests/connector_test.go
Labels: area/application-connector, area/documentation, enhancement

#3649 Remove upgrade job for CMS
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/post-upgrade-migration-job.yaml
Labels: area/ci, bug, priority/critical

#3658 Fix local installation documentation
  docs/kyma/docs/04-02-local-installation.md
Labels: area/installation, priority/critical

#3664 Fix management info endpoint test in central connector
  tests/connector-service-tests/test/apitests/connector_test.go
Labels: area/application-connector, enhancement

#3665 Fix upgrade for skipped installation in application-operator
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
Labels: area/application-connector, bug

#3662 Bump version of catalog-ui image
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
Labels: area/console, bug, priority/critical

#3670 Update acceptance test
  tests/acceptance/pkg/retriever/class.go
Labels: area/service-catalog

#3438 Kyma roles cleanup
  resources/core/charts/cluster-users/templates/clusterroles-k8s-io.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/cluster-users/values.yaml
  resources/core/charts/namespace-controller/templates/3-bootstrap-roles.yaml
  resources/core/values.yaml
Labels: area/security

#3570 Describe new RBAC role setup
  components/namespace-controller/README.md
  docs/api-gateway/docs/06-01-api.md
  docs/security/docs/01-01-security.md
  docs/security/docs/03-02-graphql.md
  docs/security/docs/03-04-roles-in-kyma.md
  docs/security/docs/06-01-group.md
  docs/security/docs/06-02-idppreset.md
  docs/security/docs/08-01-update-tls-certificates.md
  docs/security/docs/08-02-manage-static-users.md
  docs/security/docs/08-03-add-connector.md
  resources/assetstore/README.md
  resources/core/charts/namespace-controller/README.md
Labels: area/documentation, area/security, enhancement

#3675 Add test fail report to service catalog accepatnce test
  tests/acceptance/servicecatalog/helpers_test.go
  tests/acceptance/servicecatalog/servicecatalog_test.go
Labels: area/service-catalog, bug

#3538 Chart changes for fetching gateway from graphQL API
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3677 Bumb image version of acceptance test
  resources/core/values.yaml
Labels: area/service-catalog, bug

#3667 Remove the migration guide
  docs/migration-guides/0.8-0.9.md
Labels: area/documentation

#3601 Add ServiceCatalog subchart with crds
  docs/service-catalog/docs/01-01-service-catalog.md
  docs/service-catalog/docs/03-04-experimental-features.md
  resources/service-catalog/charts/catalog-crds/Chart.yaml
  resources/service-catalog/charts/catalog-crds/templates/_helpers.tpl
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-service.yaml
  resources/service-catalog/charts/catalog-crds/templates/crds.yaml
  resources/service-catalog/charts/catalog-crds/templates/rbac.yaml
  resources/service-catalog/charts/catalog-crds/templates/serviceaccounts.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-register.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-service.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
  resources/service-catalog/requirements.yaml
  resources/service-catalog/values.yaml
Labels: area/service-catalog

#3676 Bump Catalog and Instances UI
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, enhancement

#3683 Move lookup config.json to override
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
  resources/application-connector/charts/connector-service/values.yaml
Labels: area/application-connector, enhancement

#3691 Reformat lookup config map (connector-service)
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
Labels: area/application-connector

#3641 mTLS enable check in istio-kyma-patch
  components/istio-kyma-patch/patch.sh
Labels: area/security, area/service-mesh

#3644 mTLS related changes in test-apiserver-proxy
  tests/apiserver-proxy-tests/test.sh
Labels: area/security, area/service-mesh

#3666 Adjust application-operator for mtls
  components/application-operator/charts/application/templates/tests/destination-rule.yaml
  components/application-operator/charts/application/templates/tests/test-acceptance.yaml
  tests/application-operator-tests/test/application/suite.go
Labels: area/application-connector

#3656 Application Connector Docs: Added a chapter describing authentication methods
  docs/application-connector/docs/01-01-application-connector.md
  docs/application-connector/docs/03-05-pass-access-token-in-request-header.md
Labels: area/application-connector, area/documentation

#3690 Fix retries in Application Operator Tests
  tests/application-gateway-tests/test/executor/proxy/suite.go
Labels: area/application-connector, bug

#3686 Fix application-operator increased memory usage
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
  components/application-operator/pkg/kymahelm/client.go
  components/application-operator/pkg/kymahelm/mocks/HelmClient.go
Labels: area/application-connector, bug

#3681 Fix kyma function wrapper
  components/kubeless-images/nodejs/start.sh
Labels: area/serverless

#3657 Fix knative-serving test
  CODEOWNERS
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/Gopkg.toml
  tests/knative-serving-acceptance/Makefile
  tests/knative-serving-acceptance/knative_serving_test.go
  tests/knative-serving/Dockerfile
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
  tests/knative-serving/Makefile
  tests/knative-serving/README.md
  tests/knative-serving/before-commit.sh
  tests/knative-serving/knative_serving_test.go
Labels: area/documentation

#3689 Bump application-operator
  resources/application-connector/values.yaml
Labels: area/application-connector

#3692 Bump image of Application Gateway Tests
  resources/application-connector/values.yaml
Labels: area/application-connector, bug

#3700 istio-kyma-patch fix
  components/istio-kyma-patch/patch.sh
Labels: bug

#3685 Logging docs updates according k8s v1.14 CRI changes
  docs/kyma/docs/04-03-cluster-installation.md
  docs/logging/docs/01-01-logging.md
  tests/logging/test-logging.go
Labels: area/documentation, area/installation, area/logging

#3703 Check origin of postMessage events in console
  resources/core/charts/console/values.yaml
Labels: area/console, enhancement

#3708 Add policy for event-service-external-api
  components/application-operator/charts/application/templates/policy.yaml
Labels: area/application-connector

#3718 AC doc fix
  docs/application-connector/docs/08-03-register-manage-services.md
Labels: area/application-connector, bug

#3385 Enable mTLS cluster-wide
  installation/resources/installer-config-local.yaml.tpl
  installation/scripts/testing-common.sh
  resources/application-connector/charts/application-registry/templates/policy.yaml
  resources/application-connector/charts/connector-service/templates/policy.yaml
  resources/application-connector/values.yaml
  resources/assetstore/charts/asset-upload-service/templates/destination-rule.yaml
  resources/assetstore/charts/minio/templates/destination-rule.yaml
  resources/assetstore/templates/tests/test-integration.yaml
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/apiserver-proxy/templates/deployment.yaml
  resources/core/charts/apiserver-proxy/templates/policy.yaml
  resources/core/charts/apiserver-proxy/templates/service-ssl.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/charts/configurations-generator/templates/deployment.yaml
  resources/core/charts/configurations-generator/templates/service.yaml
  resources/core/charts/console-backend-service/templates/destination-rule.yaml
  resources/core/charts/docs/charts/content-ui/templates/destination-rule.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/values.yaml
  resources/dex/templates/destination-rule.yaml
  resources/dex/templates/policy.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/service.yaml
  resources/event-bus/charts/subscription-controller-knative/values.yaml
  resources/event-bus/templates/tests/test-e2e-tester.yaml
  resources/helm-broker/charts/etcd-stateful/templates/05-destination-rule.yaml
  resources/helm-broker/templates/destination-rule.yaml
  resources/helm-broker/templates/policy.yaml
  resources/istio-kyma-patch/README.md
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/templates/destination-rule.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/values.yaml
  resources/jaeger/templates/destination-rules.yaml
  resources/jaeger/templates/policies.yaml
  resources/knative-eventing/charts/knative-eventing/templates/destination-rule.yaml
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/charts/knative-eventing/templates/policy.yaml
  resources/knative-serving/charts/knative-serving/templates/destination-rule.yaml
  resources/knative-serving/charts/knative-serving/templates/policy.yaml
  resources/knative-serving/charts/knative-serving/templates/serving.yaml
  resources/monitoring/charts/grafana/templates/grafana-deployment.yaml
  resources/monitoring/charts/grafana/templates/policy.yaml
  resources/monitoring/charts/prometheus/templates/destination-rule.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/nats-streaming/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/destination-rule.yaml
  resources/service-catalog/charts/catalog/templates/apiserver-deployment.yaml
  resources/service-catalog/charts/catalog/templates/apiserver-destination-rule.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/etcd-stateful/templates/06-destination-rule.yaml
  tests/apiserver-proxy-tests/test.sh
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/pod.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/test/test-upgrade.yaml
Labels: area/security, area/service-mesh

#3701 Add provision only once for application-broker classes
  components/application-broker/Gopkg.lock
  components/application-broker/internal/broker/catalog.go
  components/application-broker/internal/broker/catalog_test.go
  components/application-broker/internal/broker/deprovision_test.go
  components/application-broker/internal/broker/provision_test.go
Labels: area/application-connector, area/service-catalog, enhancement

#3715 Add additional flag for reading root CA Certificate
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
Labels: area/application-connector, enhancement

#3731 Fix broken link
  docs/service-catalog/docs/08-01-broker-registration.md
Labels: area/documentation

#3702 Improve logging in TestServiceBindingUsagePrefixing
  resources/core/values.yaml
  tests/acceptance/servicecatalog/binding_usage_test.go
  tests/acceptance/servicecatalog/cmd/env-tester/README.md
  tests/acceptance/servicecatalog/cmd/env-tester/main.go
  tests/acceptance/servicecatalog/common.go
Labels: area/service-catalog, test-failing

#3723 Fix AC documentation bug
  docs/application-connector/docs/08-03-register-manage-services.md
Labels: area/application-connector, bug

#3735 Add Namespace separation tip
  docs/kyma/docs/04-03-cluster-installation.md
  docs/security/docs/03-04-roles-in-kyma.md
Labels: area/documentation, area/installation, area/security, bug, enhancement

#3678 Update the status subresource for the kyma subscription
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
  components/event-bus/internal/knative/util/ky-controller.go
  components/event-bus/internal/push/controllers/eventactivation_test.go
  components/event-bus/test/integration/fake_k8s_client.go
Labels: area/eventing

#3730 Bump application broker version
  resources/application-connector/values.yaml
Labels: area/application-connector, area/service-catalog, enhancement

#3218 Create backup restore e2e test for service-catalog domain
  tests/end-to-end/backup-restore-test/.gitignore
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/backupe2e/service-catalog/app_broker.go
  tests/end-to-end/backup-restore-test/backupe2e/service-catalog/brokers_flow.go
  tests/end-to-end/backup-restore-test/backupe2e/service-catalog/helm_broker.go
  tests/end-to-end/backup-restore-test/backupe2e/service-catalog/sc_addons.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/end-to-end/backup-restore-test/utils/backup/backup.go
Labels: area/installation, area/service-catalog, enhancement

#3741 Bump console backend service after adding addons configurations API
  resources/core/values.yaml
Labels: area/service-catalog, enhancement

#3716 Bump image of Connector Service
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#3737 Bump version of HelmBroker bundles to 0.4.0
  resources/helm-broker/templates/cfg-repos-url.yaml
Labels: area/service-catalog

#3668 Add tests for microfrontends upgradebility
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/ui/cluster-microfrontend.go
  tests/end-to-end/upgrade/pkg/tests/ui/microfrontend.go
Labels: area/console, enhancement

#3301 Update istio-kyma-patch to require that policy checks are enabled
  components/istio-kyma-patch/patch.sh
Labels: area/service-mesh

#3750 mTLS for helm broker restored - fix for main mTLS enablement in the Kyma
  resources/helm-broker/templates/destination-rule.yaml
  resources/helm-broker/templates/policy.yaml
Labels: area/service-catalog

#3751 Add bundle repository URL into Helm Chart provisioned by Helm Broker
  components/helm-broker/Gopkg.lock
  components/helm-broker/before-commit.sh
  components/helm-broker/internal/broker/fixture_test.go
  components/helm-broker/internal/broker/provision.go
  components/helm-broker/internal/broker/provision_test.go
  components/helm-broker/internal/bundle/automock/bundle_upserter.go
  components/helm-broker/internal/bundle/automock/chart_upserter.go
  components/helm-broker/internal/bundle/automock/extended.go
  components/helm-broker/internal/bundle/automock/repos_watcher.go
  components/helm-broker/internal/bundle/automock/repository.go
  components/helm-broker/internal/bundle/helpers_test.go
  components/helm-broker/internal/bundle/http_repository.go
  components/helm-broker/internal/bundle/http_repository_test.go
  components/helm-broker/internal/bundle/local_repository.go
  components/helm-broker/internal/bundle/populator.go
  components/helm-broker/internal/bundle/populator_dto_test.go
  components/helm-broker/internal/bundle/provider.go
  components/helm-broker/internal/bundle/provider_test.go
  components/helm-broker/internal/bundle/syncer.go
  components/helm-broker/internal/bundle/syncer_test.go
  components/helm-broker/internal/model.go
  components/helm-broker/pkg/doc.go
Labels: area/service-catalog, enhancement

#3302 Bump istio-kyma-patch
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/values.yaml
Labels: area/service-mesh

#3645 Improve console backend service acceptance tests stability
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/cms/clusterdocstopic_test.go
  tests/console-backend-service/internal/domain/cms/cms_test.go
  tests/console-backend-service/internal/domain/k8s/configmap_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/resource/clusterdocstopic.go
  tests/console-backend-service/internal/resource/resource.go
  tests/console-backend-service/tester.go
Labels: area/core-and-supporting, priority/critical, test-failing

#3758 Unify logging image name
  resources/logging/templates/tests/logging.yaml
  resources/logging/values.yaml
Labels: area/logging

#3639 Add upgradability tests for event bus
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Labels: area/eventing

#3696 Application Connector Documentation: one click integration
  components/connector-service/docs/api/connectorapi.yaml
  docs/application-connector/docs/02-02-connector-service.md
  docs/application-connector/docs/08-02-get-client-certificate.md
  docs/application-connector/docs/assets/002-automatic-configuration.svg
  docs/application-connector/docs/assets/connectorapi.yaml
Labels: area/application-connector, area/documentation

#3762 Remove Kubernetes Dashboard from GKE installation
  docs/kyma/docs/04-03-cluster-installation.md
Labels: area/documentation, area/installation

#3712 Add retries to CBS k8s update mutations tests
  tests/console-backend-service/Dockerfile
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/apicontroller/apis_test.go
  tests/console-backend-service/internal/domain/authentication/idppreset_common.go
  tests/console-backend-service/internal/domain/k8s/configmap_test.go
  tests/console-backend-service/internal/domain/k8s/limitrange_test.go
  tests/console-backend-service/internal/domain/k8s/pod_test.go
  tests/console-backend-service/internal/domain/k8s/replicaset_test.go
  tests/console-backend-service/internal/domain/k8s/resource_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/wait/clusterdocstopic.go
  tests/console-backend-service/internal/domain/shared/wait/docstopic.go
  tests/console-backend-service/internal/domain/shared/wait/servicebinding.go
  tests/console-backend-service/internal/domain/shared/wait/serviceinstance.go
  tests/console-backend-service/internal/domain/ui/backendmodule_test.go
  tests/console-backend-service/pkg/exit/exit.go
  tests/console-backend-service/pkg/retrier/retry.go
  tests/console-backend-service/pkg/waiter/waiter.go
Labels: area/console, bug, test-failing

#3503 Migration from helm test to Octopus
  docs/kyma/docs/03-03-testing.md
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/e2e-testing.sh
  installation/scripts/testing-common.sh
  installation/scripts/testing.sh
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-registry/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/assetstore/templates/tests/test-integration.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/charts/namespace-controller/templates/tests/test-namespace-controller.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/event-bus/templates/tests/test-e2e-tester.yaml
  resources/logging/templates/tests/logging.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/testing/.helmignore
  resources/testing/Chart.yaml
  resources/testing/README.md
  resources/testing/charts/octopus/.helmignore
  resources/testing/charts/octopus/Chart.yaml
  resources/testing/charts/octopus/templates/_helpers.tpl
  resources/testing/charts/octopus/templates/clustertestsuite.crd.yaml
  resources/testing/charts/octopus/templates/manager.yaml
  resources/testing/charts/octopus/templates/rbac_role.yaml
  resources/testing/charts/octopus/templates/rbac_role_binding.yaml
  resources/testing/charts/octopus/templates/service-account.yaml
  resources/testing/charts/octopus/templates/testdefinition.crd.yaml
  resources/testing/charts/octopus/values.yaml
  resources/testing/values.yaml
Labels: quality/productivity, quality/testability

#3688 Enable console backend service acceptance tests
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/templates/tests/test-console-backend-service.yaml
  resources/core/values.yaml
Labels: area/console, priority/critical, test-failing

#3764 Bump helm-broker version
  resources/helm-broker/values.yaml
Labels: area/service-catalog

#3753 Modify subject format of certificates generated by Connector Service
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/certificates/mocks/Service.go
  components/connector-service/internal/certificates/model.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
  components/connector-service/internal/clientcontext/application.go
  components/connector-service/internal/clientcontext/application_test.go
  components/connector-service/internal/clientcontext/certificatecontext.go
  components/connector-service/internal/clientcontext/cluster.go
  components/connector-service/internal/clientcontext/cluster_test.go
  components/connector-service/internal/clientcontext/clustercontextstrategy.go
  components/connector-service/internal/clientcontext/clustercontextstrategy_test.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/middlewares/applicationcontext.go
  components/connector-service/internal/clientcontext/middlewares/applicationcontext_test.go
  components/connector-service/internal/clientcontext/middlewares/clustercontext.go
  components/connector-service/internal/clientcontext/middlewares/clustercontext_test.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject_test.go
  components/connector-service/internal/clientcontext/mocks/ClusterContextStrategy.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/csrinfohandler.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/model.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/externalapi/signaturehandler_test.go
  components/connector-service/internal/internalapi/tokenhandler.go
  components/connector-service/internal/internalapi/tokenhandler_test.go
  tests/connector-service-tests/test/apitests/certificatevalidation_test.go
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/certs.go
  tests/connector-service-tests/test/testkit/model.go
Labels: area/application-connector, enhancement

#3714 Move tenant and group from CN to O and OU fields of Subject in certificates
  components/application-operator/charts/application/templates/ingress.yaml
  components/application-operator/pkg/kymahelm/application/overrides.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
Labels: area/application-connector, enhancement, priority/critical

#3476 Refactor api-controller Backup'n'Restore tests
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/backupe2e/apicontroller.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/end-to-end/backup-restore-test/utils/fetch-dex-token/auth.go
  tests/end-to-end/backup-restore-test/utils/fetch-dex-token/config.go
  tests/end-to-end/backup-restore-test/utils/fetch-dex-token/idtokenprovider.go
Labels: area/service-mesh, enhancement

#3770 Bump upgrade tests image version
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/eventing

#3784 Update images for content, instances, catalog and brokers
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Labels: area/console, enhancement
