Repository kyma-project/kyma, pull requests merged in 2020-09, with the labels that each got.

#9328 Update serverless validation hooks
  components/function-controller/cmd/webhook/main.go
  components/function-controller/go.sum
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_defaults.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_validation_test.go
  resources/serverless/charts/webhook/values.yaml
Labels: area/serverless

#9339 Fix serverless migration
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/serverless/function_converter.go
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/gitops_test.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation_test.go
  resources/cluster-essentials/files/functions.serverless.crd.yaml
  resources/console/values.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless, bug

#9343 Update CBS dependencies
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
Labels: area/serverless

#9314 Bump security fix #9313
  resources/console/values.yaml
Labels: security/medium

#9233 Restructure security documentation
  docs/kyma/04-03-cluster-installation.md
  docs/security/01-01-security.md
  docs/security/02-01-security.md
  docs/security/03-01-authentication-in-kyma.md
  docs/security/03-02-authorization-in-kyma.md
  docs/security/03-03-accessing-kyma.md
  docs/security/03-03-graphql-request-flow.md
  docs/security/03-04-ingress-egress-traffic.md
  docs/security/03-05-graphql.md
  docs/security/03-05-roles-in-kyma.md
  docs/security/03-06-oauth2-server.md
  docs/security/03-08-permission-controller.md
  docs/security/05-05-permission-controller.md
  docs/security/05-06-production-profile.md
  docs/security/05-07-permission-controller.md
  docs/security/06-01-group.md
  docs/security/08-01-overview.md
  docs/security/08-02-update-tls-certificates.md
  docs/security/08-03-manage-static-users.md
  docs/security/08-04-add-connector.md
  docs/security/08-05-invalidate-dex-signing-keys.md
  docs/security/08-06-generate-kubeconfig.md
  docs/security/assets/certificate-propagation.svg
  docs/security/assets/dex.svg
  docs/security/assets/kyma-access-console.svg
  docs/security/assets/kyma-access-kubectl.svg
  docs/security/assets/security-overview.svg
  milv.config.yaml
  resources/iam-kubeconfig-service/README.md
Labels: WIP, area/documentation, area/security

#9353 Add migration guide placeholder, clean up milv
  docs/migration-guides/1.15-1.16.md
  docs/security/08-04-add-connector.md
  milv.config.yaml
Labels: area/documentation

#9364 xip-patch not detecting a gardener environment on apiserver problems
  components/xip-patch/xip-patch.sh
Labels: area/cluster, bug

#9363 Add the documentation issue template
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Labels: area/documentation, enhancement

#9357 Lower Prometheus query timeout
  resources/monitoring/values.yaml
Labels: area/monitoring

#9334 Bump GQL resource upload
  resources/console/charts/web/values.yaml
Labels: area/console

#9356 Migrate deprecated Istio resources in Application Registry
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/go.sum
  components/application-registry/hack/code-generator.go
  components/application-registry/internal/metadata/istio/mocks/HandlerInterface.go
  components/application-registry/internal/metadata/istio/mocks/InstanceInterface.go
  components/application-registry/internal/metadata/istio/mocks/Repository.go
  components/application-registry/internal/metadata/istio/mocks/RuleInterface.go
  components/application-registry/internal/metadata/istio/mocks/Service.go
  components/application-registry/internal/metadata/istio/repository.go
  components/application-registry/internal/metadata/istio/repository_test.go
  components/application-registry/internal/metadata/istio/service.go
  components/application-registry/internal/metadata/istio/service_test.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice_test.go
  components/application-registry/pkg/apis/istio/v1alpha2/doc.go
  components/application-registry/pkg/apis/istio/v1alpha2/register.go
  components/application-registry/pkg/apis/istio/v1alpha2/types.go
  components/application-registry/pkg/apis/istio/v1alpha2/zz_generated.deepcopy.go
  components/application-registry/pkg/client/clientset/versioned/clientset.go
  components/application-registry/pkg/client/clientset/versioned/doc.go
  components/application-registry/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/application-registry/pkg/client/clientset/versioned/fake/doc.go
  components/application-registry/pkg/client/clientset/versioned/fake/register.go
  components/application-registry/pkg/client/clientset/versioned/scheme/doc.go
  components/application-registry/pkg/client/clientset/versioned/scheme/register.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/doc.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/fake/doc.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/fake/fake_handler.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/fake/fake_instance.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/fake/fake_istio_client.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/fake/fake_rule.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/generated_expansion.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/handler.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/instance.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/istio_client.go
  components/application-registry/pkg/client/clientset/versioned/typed/istio/v1alpha2/rule.go
  components/application-registry/pkg/client/informers/externalversions/factory.go
  components/application-registry/pkg/client/informers/externalversions/generic.go
  components/application-registry/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/application-registry/pkg/client/informers/externalversions/istio/interface.go
  components/application-registry/pkg/client/informers/externalversions/istio/v1alpha2/handler.go
  components/application-registry/pkg/client/informers/externalversions/istio/v1alpha2/instance.go
  components/application-registry/pkg/client/informers/externalversions/istio/v1alpha2/interface.go
  components/application-registry/pkg/client/informers/externalversions/istio/v1alpha2/rule.go
  components/application-registry/pkg/client/listers/istio/v1alpha2/expansion_generated.go
  components/application-registry/pkg/client/listers/istio/v1alpha2/handler.go
  components/application-registry/pkg/client/listers/istio/v1alpha2/instance.go
  components/application-registry/pkg/client/listers/istio/v1alpha2/rule.go
  resources/application-connector/charts/application-registry/templates/role-binding.yaml
  resources/application-connector/values.yaml
  tests/application-operator-tests/test/application/suite.go
  tests/application-operator-tests/test/application/tests/application_test.go
  tests/application-registry-tests/Gopkg.lock
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
  tests/application-registry-tests/test/testkit/k8sresources_check.go
  tests/application-registry-tests/test/testkit/k8sresources_client.go
Labels: area/application-connector

#9296 Getting started guides for Kyma
  components/console-backend-service/docs/README.md
  components/console-backend-service/docs/configuration.md
  docs/README.md
  docs/api-gateway/10-02-connect-api-rule.md
  docs/getting-started/01-overview.md
  docs/getting-started/02-create-namespace.md
  docs/getting-started/03-deploy-microservice.md
  docs/getting-started/04-expose-microservice.md
  docs/getting-started/05-add-redis-service.md
  docs/getting-started/06-create-redis-service-instance.md
  docs/getting-started/07-bind-redis-service-to-microservice.md
  docs/getting-started/08-connect-external-application.md
  docs/getting-started/09-trigger-microservice-with-event.md
  docs/getting-started/10-create-function.md
  docs/getting-started/11-expose-function.md
  docs/getting-started/12-bind-redis-service-to-function.md
  docs/getting-started/13-trigger-function-with-event.md
  docs/getting-started/assets/order-flow.svg
  docs/getting-started/assets/orders-service-openapi.yaml
  docs/kyma/01-05-how-to-start.md
  docs/kyma/08-01-local-develop-no-docker.md
  docs/kyma/08-01-sample-service-deployment-to-local.md
  docs/kyma/08-02-publish-service-image-and-deploy.md
  docs/kyma/08-02-sample-service-deployment-to-cluster.md
  docs/kyma/08-03-restore-with-velero.md
  docs/kyma/08-04-create-volume-snapshots.md
  docs/kyma/08-05-create-volume-snapshots-providers.md
  docs/kyma/16-01-try-out-kyma.md
  docs/serverless/08-01-create-function.md
  docs/serverless/08-02-expose-function.md
  docs/serverless/08-03-bind-service-instance.md
  docs/serverless/08-04-trigger-function-with-event.md
  milv.config.yaml
  resources/application-connector/charts/connector-service/README.md
  resources/core/charts/docs/charts/content-ui/templates/docs-root-getting-started-cag.yaml
  tests/rafter/README.md
Labels: area/documentation

#9325 Bump the aws package in cbs
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
Labels: area/console, enhancement

#9382 Disable smoke tests on minikube
  installation/resources/installer-config-local.yaml.tpl
Labels: area/console

#9342 Update serverless docs to incorporate runtime field
  components/function-controller/README.md
  docs/serverless/02-01-serverless.md
  docs/serverless/03-01-available-runtimes.md
  docs/serverless/04-01-supported-webhooks.md
  docs/serverless/04-02-api-rules.md
  docs/serverless/04-03-security.md
  docs/serverless/04-04-function-processing.md
  docs/serverless/05-01-serverless-envs.md
  docs/serverless/06-01-function-cr.md
  docs/serverless/08-01-create-function.md
Labels: area/documentation, area/serverless, enhancement

#9380 Add missing validation of the GitRepository
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_validation_test.go
  resources/serverless/charts/webhook/values.yaml
Labels: area/serverless

#9326 Use cbs with new aws package version
  resources/console/values.yaml
Labels: area/console, enhancement

#9337 Add roles domain to CBS
  components/console-backend-service/internal/domain/oauth/service_test.go
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/domain/roles.resolvers.go
  components/console-backend-service/internal/domain/roles/clusterRole.resolver.go
  components/console-backend-service/internal/domain/roles/clusterRoleBinding.resolver.go
  components/console-backend-service/internal/domain/roles/clusterRoleBindingEventHandler.go
  components/console-backend-service/internal/domain/roles/role.resolver.go
  components/console-backend-service/internal/domain/roles/roleBinding.resolver.go
  components/console-backend-service/internal/domain/roles/roleBindingEventHandler.go
  components/console-backend-service/internal/domain/roles/roles.go
  components/console-backend-service/internal/domain/roles/service.go
  components/console-backend-service/internal/domain/roles/test/clusterRoleBinding_test.go
  components/console-backend-service/internal/domain/roles/test/clusterRole_test.go
  components/console-backend-service/internal/domain/roles/test/roleBinding_test.go
  components/console-backend-service/internal/domain/roles/test/role_test.go
  components/console-backend-service/internal/domain/roles/test/setup.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/roles.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/resource/generic_service.go
  components/console-backend-service/internal/resource/service_base.go
  resources/console/charts/backend/templates/cluster-role.yaml
Labels: area/console

#9393 Fix mon test for istio 1.15
  tests/integration/monitoring/test-monitoring.go
Labels: area/monitoring

#9359 Update serverless webhook deployment resources
  resources/serverless/charts/webhook/templates/deployment.yaml
Labels: area/serverless

#9372 Support authorization for gatekeeper proxied applications
  resources/kiali/templates/_helpers.tpl
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/kiali/templates/kyma-additions/kcproxy-secret.yaml
  resources/kiali/templates/kyma-additions/kcproxy-service.yaml
  resources/kiali/values.yaml
  resources/monitoring/charts/grafana/templates/_helpers.tpl
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-deployment.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-secret.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-service.yaml
  resources/monitoring/charts/grafana/values.yaml
  resources/tracing/templates/_helpers.tpl
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-secret.yaml
  resources/tracing/values.yaml
Labels: area/monitoring, area/tracing

#9385 Update orders-service OpenAPI spec in getting-started guide
  docs/getting-started/04-expose-microservice.md
  docs/getting-started/assets/orders-service-openapi.yaml
  resources/core/charts/docs/charts/content-ui/templates/docs-root-getting-started-cag.yaml
Labels: area/documentation, enhancement

#9405 Use mockice from internal gcr
  resources/console/charts/backend/templates/tests/test.yaml
  resources/rafter/values.yaml
  tests/rafter/pkg/mockice/mockice.go
Labels: area/console, area/core-and-supporting, enhancement

#9415 Remove migration guide
  docs/migration-guides/1.15-1.16.md
Labels: area/documentation

#9318 Introduce CloudEvents Gateway proxy
  CODEOWNERS
  components/cloud-event-gateway-proxy/Dockerfile
  components/cloud-event-gateway-proxy/Makefile
  components/cloud-event-gateway-proxy/OWNERS
  components/cloud-event-gateway-proxy/README.md
  components/cloud-event-gateway-proxy/cmd/cloud-event-gateway-proxy/main.go
  components/cloud-event-gateway-proxy/config/100-secret.yaml
  components/cloud-event-gateway-proxy/config/200-deployment.yaml
  components/cloud-event-gateway-proxy/go.mod
  components/cloud-event-gateway-proxy/go.sum
  components/cloud-event-gateway-proxy/pkg/cloudevents/utils.go
  components/cloud-event-gateway-proxy/pkg/cloudevents/utils_test.go
  components/cloud-event-gateway-proxy/pkg/ems/types.go
  components/cloud-event-gateway-proxy/pkg/env/config.go
  components/cloud-event-gateway-proxy/pkg/env/config_test.go
  components/cloud-event-gateway-proxy/pkg/handler/handler.go
  components/cloud-event-gateway-proxy/pkg/handler/handler_test.go
  components/cloud-event-gateway-proxy/pkg/health/probes.go
  components/cloud-event-gateway-proxy/pkg/health/probes_test.go
  components/cloud-event-gateway-proxy/pkg/oauth/client.go
  components/cloud-event-gateway-proxy/pkg/oauth/client_test.go
  components/cloud-event-gateway-proxy/pkg/oauth/config.go
  components/cloud-event-gateway-proxy/pkg/oauth/config_test.go
  components/cloud-event-gateway-proxy/pkg/receiver/receiver.go
  components/cloud-event-gateway-proxy/pkg/receiver/receiver_test.go
  components/cloud-event-gateway-proxy/pkg/sender/sender.go
  components/cloud-event-gateway-proxy/pkg/sender/sender_test.go
  components/cloud-event-gateway-proxy/pkg/signals/signals.go
  components/cloud-event-gateway-proxy/pkg/tracing/propagation/http_format_sequence.go
  components/cloud-event-gateway-proxy/pkg/tracing/propagation/tracecontextb3/http_format.go
  components/cloud-event-gateway-proxy/testing/env_config.go
  components/cloud-event-gateway-proxy/testing/fixtures.go
  components/cloud-event-gateway-proxy/testing/mock_server.go
  components/cloud-event-gateway-proxy/testing/utils.go
Labels: WIP, area/eventing

#9369 Fix gateway mode in Rafter
  docs/rafter/08-02-set-minio-to-gateway-mode.md
  resources/rafter/charts/controller-manager/values.yaml
  resources/rafter/charts/upload-service/templates/_helper_migrate_buckets.txt
  resources/rafter/charts/upload-service/templates/migrator-job.yaml
  resources/rafter/charts/upload-service/values.yaml
  resources/rafter/values.yaml
Labels: area/documentation, enhancement

#9367 Bump permissions view, APIRule path
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9301 Add queries and mutation for GitRepository CRD in CBS
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/domain/serverless.resolvers.go
  components/console-backend-service/internal/domain/serverless/function_converter.go
  components/console-backend-service/internal/domain/serverless/function_converter_test.go
  components/console-backend-service/internal/domain/serverless/function_resolver_test.go
  components/console-backend-service/internal/domain/serverless/newserverless.go
  components/console-backend-service/internal/domain/serverless/pretty/kind.go
  components/console-backend-service/internal/domain/serverless/repository_resolver.go
  components/console-backend-service/internal/domain/serverless/repository_service.go
  components/console-backend-service/internal/domain/serverless/repository_test.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/gqlschema/serverless.graphql
Labels: area/console, area/serverless, enhancement

#9379 Add git function tutorial
  docs/serverless/08-01-create-inline-function.md
  docs/serverless/08-02-create-git-function.md
  docs/serverless/08-03-expose-function.md
  docs/serverless/08-04-bind-service-instance.md
  docs/serverless/08-05-trigger-function-with-event.md
  docs/serverless/08-06-set-external-docker-registry.md
Labels: area/documentation

#9428 Bump e2e upgrade test image
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/service-catalog

#9392 Support Git repositories in UI - integration
  resources/console/charts/backend/templates/cluster-role.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console, area/serverless, enhancement

#9434 Prevent throw "watch closed before UntilWithoutRetry timeout" in Rafter test
  resources/rafter/values.yaml
  tests/rafter/pkg/resource/resource.go
Labels: enhancement

#9430 Add a note about the tutorial
  docs/serverless/03-02-git-source-type.md
  docs/serverless/08-02-create-git-function.md
Labels: area/documentation, area/serverless

#9432 Add info about hostAliases in getting started guide
  docs/getting-started/08-connect-external-application.md
Labels: area/documentation, enhancement

#9411 Unify tracing configuration
  docs/tracing/05-01-tracing.md
  installation/resources/installer-config-local.yaml.tpl
  resources/console/charts/backend/templates/deployment.yaml
  resources/console/charts/backend/values.yaml
  resources/istio/files/kyma_cluster_istio_control_plane.yaml
  resources/istio/values.yaml
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/values.yaml
  resources/tracing/templates/_helpers.tpl
  resources/tracing/templates/deployment.yaml
  resources/tracing/values.yaml
Labels: area/quality, area/tracing

#9438 Update Prometheus values for production profile
  docs/monitoring/05-04-production-profile.md
Labels: area/documentation

#9437 Update Rafter tests image to production
  resources/rafter/values.yaml
Labels: enhancement

#9423 Improve the Cloud Event Gateway Proxy docs and logs
  components/cloud-event-gateway-proxy/cmd/cloud-event-gateway-proxy/main.go
  components/cloud-event-gateway-proxy/config/200-service.yaml
  components/cloud-event-gateway-proxy/config/300-deployment.yaml
  components/cloud-event-gateway-proxy/pkg/cloudevents/utils.go
  components/cloud-event-gateway-proxy/pkg/ems/types.go
  components/cloud-event-gateway-proxy/pkg/env/config.go
  components/cloud-event-gateway-proxy/pkg/handler/handler.go
  components/cloud-event-gateway-proxy/pkg/handler/handler_test.go
  components/cloud-event-gateway-proxy/pkg/health/probes.go
  components/cloud-event-gateway-proxy/pkg/oauth/client.go
  components/cloud-event-gateway-proxy/pkg/oauth/config.go
  components/cloud-event-gateway-proxy/pkg/receiver/receiver.go
  components/cloud-event-gateway-proxy/pkg/sender/sender.go
  components/cloud-event-gateway-proxy/pkg/sender/sender_test.go
  components/cloud-event-gateway-proxy/pkg/signals/signals.go
Labels: area/eventing

#9429 Have Merge_Log_Key unset by default to have parsed JSON structure at the root level
  resources/logging/charts/fluentbit/templates/configmap.yaml
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9462 Update content-ui view
  resources/core/charts/docs/charts/content-ui/Chart.yaml
Labels: area/console, area/documentation, bug

#9466 Allow grafana extra ports to be configurable through kyma-installer overrides
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-service.yaml
  resources/monitoring/charts/grafana/templates/service.yaml
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring, priority/critical

#9471 Fix rafter & serverless tutorials
  docs/rafter/08-02-set-minio-to-gateway-mode.md
  docs/serverless/08-06-set-external-docker-registry.md
Labels: area/documentation, bug

#9458 Implement secrets-ui
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#9472 Bump system namespaces switch fix
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#9456 Rename function container
  components/function-controller/internal/controllers/serverless/build_resources.go
Labels: area/serverless

#9479 fixed several problems in grafana dashboards
  resources/apiserver-proxy/templates/dashboard-configmap.yaml
  resources/application-connector/charts/application-registry/templates/dashboard-configmap.yaml
  resources/application-connector/charts/application-registry/templates/service-monitor.yaml
  resources/application-connector/charts/connector-service/templates/dashboard-configmap.yaml
  resources/application-connector/charts/connector-service/templates/service-monitor.yaml
  resources/dex/templates/dashboard-configmap.yaml
  resources/helm-broker/templates/extras/dashboard-configmap.yaml
  resources/knative-eventing/charts/event-mesh-dashboard/templates/event-mesh-delivery.yaml
  resources/knative-eventing/charts/event-mesh-dashboard/templates/event-mesh-pods-dashboard.yaml
  resources/knative-eventing/charts/event-mesh-dashboard/templates/knative-eventing-broker-trigger.yaml
  resources/logging/charts/fluentbit/templates/grafana-dashboard.yaml
  resources/monitoring/templates/grafana/dashboards/etcd.yaml
  resources/monitoring/templates/grafana/dashboards/persistentvolumesusage.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-mesh.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/nodes-exporter.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/rest-service.yaml
  resources/monitoring/templates/prometheus/kyma-rules/kyma-rules.yaml
  resources/monitoring/values.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/dashboard-configmap.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/dashboard-configmap.yaml
  resources/rafter/charts/asyncapi-service/templates/dashboard-configmap.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/dashboard-configmap.yaml
  resources/rafter/charts/controller-manager/templates/dashboard-configmap.yaml
  resources/rafter/charts/front-matter-service/templates/dashboard-configmap.yaml
  resources/rafter/charts/upload-service/templates/dashboard-configmap.yaml
  resources/serverless/templates/function-dashboard.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/dashboard-configmap.yaml
  resources/service-catalog/charts/catalog/templates/dashboard-configmap.yaml
  resources/tracing/templates/kyma-additions/metrics-dashboard.yaml
Labels: area/monitoring

#9489 removed coredns, kubedns and kube-proxy scraping by default
  resources/monitoring/templates/kyma-additions/delete-dns-patch.yaml
  resources/monitoring/templates/kyma-additions/monitoring-dns-patch.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring

#9436 make matchExpression to support multiple lines
  resources/monitoring/templates/kyma-additions/alertmanager.config.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring, estimate: 3

#9370 Easy delve debugging of core-test-external-solution test
  tests/end-to-end/external-solution-integration/.gitignore
  tests/end-to-end/external-solution-integration/.ko.curl.yaml
  tests/end-to-end/external-solution-integration/Dockerfile.delve
  tests/end-to-end/external-solution-integration/Makefile
  tests/end-to-end/external-solution-integration/README.md
  tests/end-to-end/external-solution-integration/debug-locally-delve.ko.yaml
Labels: area/quality

#9502 update fluent-bit to 1.5.6
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9483 Add new troubleshooting: removing finalizers
  docs/kyma/10-02-basic-troubleshooting.md
Labels: area/documentation

#9498 renamed loki instance label to pod
  resources/console/charts/web/values.yaml
  resources/logging/charts/fluentbit/values.yaml
  resources/logging/charts/logui/values.yaml
Labels: area/logging

#9317 Set max_conn_lifetime for Hydra DB
  resources/ory/files/secret-migration.sh
Labels: area/security

#9506 Implement additional field with jaml json
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/apigateway.resolvers.go
  components/console-backend-service/internal/domain/apigateway/resolver.go
  components/console-backend-service/internal/gqlschema/apigateway.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console, enhancement

#9507 Implement side drawer with yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console, enhancement

#9512 Bump some libs in the most of the Application Connectivity and the tests
  components/application-connectivity-validator/go.mod
  components/application-connectivity-validator/go.sum
  components/application-gateway/go.mod
  components/application-gateway/go.sum
  components/application-operator/go.mod
  components/application-operator/go.sum
  components/application-registry/go.mod
  components/application-registry/go.sum
  components/compass-runtime-agent/go.mod
  components/compass-runtime-agent/go.sum
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
  tests/application-gateway-tests/go.mod
  tests/application-gateway-tests/go.sum
  tests/application-operator-tests/go.mod
  tests/application-operator-tests/go.sum
Labels: area/application-connector

#9526 Fix typo in serverless docs
  docs/serverless/06-01-function-cr.md
Labels: area/documentation, area/serverless

#9513 Upgrade dependencies in the function-controller
  components/function-controller/go.mod
  components/function-controller/go.sum
  resources/serverless/values.yaml
Labels: area/serverless, security/medium

#9505 Helm Chart for event-publisher-proxy
  CODEOWNERS
  components/event-publisher-proxy/README.md
  installation/resources/installer-cr-cluster.yaml.tpl
  resources/eventing/.helmignore
  resources/eventing/Chart.yaml
  resources/eventing/README.md
  resources/eventing/charts/event-publisher-proxy/.helmignore
  resources/eventing/charts/event-publisher-proxy/Chart.yaml
  resources/eventing/charts/event-publisher-proxy/templates/_helpers.tpl
  resources/eventing/charts/event-publisher-proxy/templates/deployment.yaml
  resources/eventing/charts/event-publisher-proxy/templates/secret.yaml
  resources/eventing/charts/event-publisher-proxy/templates/service.yaml
  resources/eventing/charts/event-publisher-proxy/templates/serviceaccount.yaml
  resources/eventing/charts/event-publisher-proxy/values.yaml
  resources/eventing/values.yaml
Labels: area/eventing

#9529 Upgrade images for the function-controller
  resources/serverless/values.yaml
Labels: area/serverless

#9312 event-source: Migrate from Istio Policy to PeerAuthentication
  components/event-sources/Gopkg.lock
  components/event-sources/Gopkg.toml
  components/event-sources/Makefile
  components/event-sources/apis/sources/v1alpha1/http_lifecycle.go
  components/event-sources/hack/boilerplate.go.txt
  components/event-sources/reconciler/httpsource/controller.go
  components/event-sources/reconciler/httpsource/controller_test.go
  components/event-sources/reconciler/httpsource/event.go
  components/event-sources/reconciler/httpsource/reconcile.go
  components/event-sources/reconciler/httpsource/reconcile_test.go
  components/event-sources/reconciler/object/equality.go
  components/event-sources/reconciler/object/equality_test.go
  components/event-sources/reconciler/object/peerauthentication.go
  components/event-sources/reconciler/object/peerauthentication_test.go
  components/event-sources/reconciler/object/policy.go
  components/event-sources/reconciler/object/policy_test.go
  components/event-sources/reconciler/testing/listers.go
  components/event-sources/test/fixtures/peerAuthentication.json
  components/event-sources/test/fixtures/policy.json
  resources/event-sources/templates/200-rbac.yaml
Labels: WIP, area/eventing

#9534 upgrade to kiali 1.24.0 + enabling of jaeger support
  resources/kiali/templates/kiali.yaml
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/kiali/templates/kyma-additions/peerauthentication.yaml
  resources/kiali/templates/kyma-additions/servicemonitor.yaml
  resources/kiali/templates/operator/clusterrole.yaml
  resources/kiali/templates/operator/deployment.yaml
  resources/kiali/values.yaml
Labels: area/service-mesh

#9516 Fix wide dropdowns in log-ui
  resources/logging/charts/logui/values.yaml
Labels: area/console, bug

#9532 do not generate fluent-bit config when existingConfigMap is set
  resources/logging/charts/fluentbit/templates/configmap.yaml
  resources/logging/charts/fluentbit/templates/daemonset.yaml
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9486 Categorize kyma components and provide some generic dashboards
  resources/api-gateway/templates/deployment.yaml
  resources/apiserver-proxy/templates/deployment.yaml
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/connection-token-handler/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/cluster-essentials/charts/pod-preset/templates/controller-manager/stateful-set.yaml
  resources/console/charts/backend/templates/deployment.yaml
  resources/console/charts/web/templates/deployment.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/helm-broker/charts/addons-ui/templates/deployment.yaml
  resources/helm-broker/templates/deploy.yaml
  resources/iam-kubeconfig-service/templates/deployment.yaml
  resources/logging/charts/logui/templates/deployment.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/alertmanager.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kyma-backends.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kyma-controllers.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kyma-frontends.yaml
  resources/monitoring/templates/prometheus/kyma-rules/kyma-rules.yaml
  resources/nats-streaming/templates/_helpers.tpl
  resources/nats-streaming/templates/statefulset.yaml
  resources/nats-streaming/values.yaml
  resources/permission-controller/templates/deployment.yaml
  resources/rafter/charts/asyncapi-service/templates/deployment.yaml
  resources/rafter/charts/controller-manager/templates/deployment.yaml
  resources/rafter/charts/front-matter-service/templates/deployment.yaml
  resources/rafter/charts/upload-service/templates/deployment.yaml
  resources/serverless/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/deployment.yaml
  resources/service-manager-proxy/templates/deployment.yaml
  resources/testing/charts/octopus/templates/manager.yaml
Labels: area/monitoring, area/quality

#9564 fixed two grafana dashboards
  resources/istio/templates/monitoring/grafana/dashboards/istio-mesh.yaml
  resources/rafter/charts/upload-service/templates/dashboard-configmap.yaml
Labels: area/monitoring

#9577 Fix catalog labels and drawer
  resources/console/charts/web/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#9572 update fluent-bit base image to latest debian image
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9569 Fix golang.org/x/text for application-connectivity and compass-runtime-agent tests
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
  tests/application-connector-tests/Gopkg.lock
  tests/application-gateway-legacy-tests/Gopkg.lock
  tests/application-registry-tests/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.lock
Labels: area/security

#9528 Stabilize UI tests
  resources/console/values.yaml
Labels: area/console, test-failing

#9584 Fix the dead link to kubeless.py
  docs/serverless/05-01-serverless-envs.md
Labels: area/documentation

#9578 Prometheus retention size for default and local installation profile
  docs/monitoring/05-04-production-profile.md
  installation/resources/installer-config-local.yaml.tpl
  resources/monitoring/values.yaml
Labels: area/documentation, area/monitoring
