Repository kyma-project/kyma, pull requests merged in 2020-11, with the labels that each got.

#9501 Create istioctl image in version 1.6.9
  components/istio-installer/Dockerfile
Labels: area/security, area/service-mesh

#9500 Create istioctl image in version 1.7.4
  components/istio-installer/Dockerfile
Labels: area/security, area/service-mesh

#9799 Bump drawer on service views
  resources/console/charts/web/values.yaml
Labels: area/console

#9815 disabling metrics from kube-state-metrics for VPA
  resources/monitoring/charts/kube-state-metrics/values.yaml
Labels: area/logging, area/monitoring

#9822 Bump Service Binding Usage Controller
  resources/service-catalog-addons/values.yaml
Labels: hacktoberfest-accepted

#9837 added docu for second prometheus instance
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/03-02-istio.md
  docs/monitoring/assets/monitoring-istio.svg
Labels: area/monitoring

#9842 Remove dead Istio pilot link
  resources/monitoring/charts/grafana/README.md
Labels: area/documentation

#9732 update docu to use $KYMA_VERSION only
  docs/kyma/04-04-use-your-own-domain.md
Labels: area/documentation, bug

#9826 Add drawer with secret edit on secrets list and detail
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#9589 Istio 1.7: documentation update
  docs/migration-guides/1.15-1.17.md
  docs/service-mesh/03-01-istio-setup-in-kyma.md
  docs/service-mesh/03-03-istio-rbac.md
  docs/service-mesh/03-03-sidecar-proxy-injection.md
  docs/service-mesh/05-01-custom-configuration.md
Labels: area/documentation, area/service-mesh

#9854 increased memory limit for prometheus-operator
  resources/monitoring/values.yaml
Labels: area/monitoring

#9848 Straiten CBS integration tests and wait for Dex availability
  resources/console/values.yaml
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/internal/domain/k8s/configmap_test.go
  tests/console-backend-service/internal/domain/k8s/k8s.go
  tests/console-backend-service/internal/domain/k8s/k8s_test.go
  tests/console-backend-service/internal/domain/k8s/limitrange_test.go
  tests/console-backend-service/internal/domain/k8s/namespace_test.go
  tests/console-backend-service/internal/domain/k8s/pod_test.go
  tests/console-backend-service/internal/domain/k8s/replicaset_test.go
  tests/console-backend-service/internal/domain/k8s/resource_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
  tests/console-backend-service/internal/domain/k8s/selfsubjectrules_test.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
  tests/console-backend-service/internal/domain/rafter/clusterassetgroup_test.go
  tests/console-backend-service/internal/domain/rafter/rafter.go
  tests/console-backend-service/internal/domain/rafter/rafter_test.go
  tests/console-backend-service/internal/graphql/client.go
Labels: area/console, test-failing

#9781 Add Binding Actions
  .github/workflows/ok-to-test.yaml
  .github/workflows/post-master-binding-k3s.yml
  .github/workflows/pre-master-binding-k3s.yml
  .github/workflows/trusted-dev.yaml
  components/binding/pkg/apis/v1alpha1/zz_generated.deepcopy.go
  components/binding/scripts/create-cluster-k3s.sh
  components/binding/scripts/create-scenario.sh
  components/binding/scripts/scenario/binding.yaml
  components/binding/scripts/scenario/deployment.yaml
  components/binding/scripts/scenario/secret.yaml
Labels: hacktoberfest-accepted

#9881 Update Application Connector tutorials
  docs/application-connector/08-01-create-application.md
  docs/application-connector/08-02-get-client-certificate.md
  docs/application-connector/08-03-register-manage-services.md
  docs/application-connector/08-04-register-secured-api.md
  docs/application-connector/08-06-trigger-lambda-with-event.md
  docs/application-connector/08-07-call-registered-service-from-kyma.md
  docs/application-connector/08-08-application-mapping.md
  docs/application-connector/08-12-get-api-specification.md
Labels: area/documentation, bug

#9879 Improve cbs test and deployment list
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9885 Fix and update Application Connector tutorials
  docs/application-connector/08-02-get-client-certificate.md
  docs/application-connector/08-04-register-secured-api.md
  docs/application-connector/08-07-call-registered-service-from-kyma.md
  docs/application-connector/08-08-application-mapping.md
  docs/application-connector/08-10-revoke-cert.md
  docs/application-connector/08-11-rotate-root-ca.md
Labels: area/documentation, bug

#9850 Delete Kiali Operator and upgrade Kiali
  docs/kiali/02-01-kiali.md
  docs/kiali/05-01-kiali.md
  docs/kiali/assets/architecture.svg
  resources/cluster-essentials/files/kialis.kiali.crd.yaml
  resources/kiali/README.md
  resources/kiali/templates/_helpers.tpl
  resources/kiali/templates/configmap.yaml
  resources/kiali/templates/deployment.yaml
  resources/kiali/templates/kiali.yaml
  resources/kiali/templates/kyma-additions/clustermicrofrontend.yaml
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/kiali/templates/kyma-additions/kcproxy-secret.yaml
  resources/kiali/templates/kyma-additions/kcproxy-service.yaml
  resources/kiali/templates/kyma-additions/migration-job.yaml
  resources/kiali/templates/kyma-additions/peerauthentication.yaml
  resources/kiali/templates/kyma-additions/pre-delete-job.yaml
  resources/kiali/templates/kyma-additions/servicemonitor.yaml
  resources/kiali/templates/kyma-additions/virtualservice.yaml
  resources/kiali/templates/operator/clusterrole.yaml
  resources/kiali/templates/operator/clusterrolebinding.yaml
  resources/kiali/templates/operator/deployment.yaml
  resources/kiali/templates/operator/serviceaccount.yaml
  resources/kiali/templates/role-viewer.yaml
  resources/kiali/templates/role.yaml
  resources/kiali/templates/rolebinding.yaml
  resources/kiali/templates/service.yaml
  resources/kiali/templates/serviceaccount.yaml
  resources/kiali/templates/tests/test.yaml
  resources/kiali/values.yaml
  resources/monitoring/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/monitoring/targets_rules.go
  tests/integration/monitoring/test-monitoring.go
Labels: area/service-mesh

#9918 upgraded fluent-bit to patched 1.5.7
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9924 Fix the TW alias in the documentation issue template
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Labels: area/documentation, bug

#9873 Bump Cypress parameters change
  resources/console/values.yaml
Labels: area/console

#9937 Fix fragmentMatcher
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, bug

#9941 Bump fixes for forced logout and doughnut charts in Console
  resources/console/charts/web/values.yaml
Labels: area/console

#9947 Add info on labeling a new Namespace with the default broker
  docs/getting-started/09-trigger-microservice-with-event.md
  docs/serverless/08-05-trigger-function-with-event.md
  docs/serverless/10-01-failure-to-build-functions.md
Labels: area/documentation, area/serverless

#9935 Add Kyma Binding pipelines docs
  components/binding/docs/03-binding-pipelines.md
Labels: area/documentation

#9895 Migrate istio-kyma-patch logic to TestDefinition
  CODEOWNERS
  components/istio-kyma-patch/.dockerignore
  components/istio-kyma-patch/Dockerfile
  components/istio-kyma-patch/Makefile
  components/istio-kyma-patch/OWNERS
  components/istio-kyma-patch/README.md
  components/istio-kyma-patch/patch.sh
  components/xip-patch/README.md
  docs/kyma/04-01-overview.md
  docs/kyma/05-02-custom-component-installation.md
  docs/migration-guides/1.17-1.18.md
  docs/service-mesh/03-02-istio-patch.md
  installation/resources/installer-cr-azure-eventhubs.yaml.tpl
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr-with-compass-runtime-agent.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/istio-kyma-patch/Chart.yaml
  resources/istio-kyma-patch/OWNERS
  resources/istio-kyma-patch/README.md
  resources/istio-kyma-patch/templates/clusterrole.yaml
  resources/istio-kyma-patch/templates/clusterrolebinding.yaml
  resources/istio-kyma-patch/templates/job.yaml
  resources/istio-kyma-patch/templates/role.yaml
  resources/istio-kyma-patch/templates/rolebinding.yaml
  resources/istio-kyma-patch/templates/serviceaccount.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/files/istio-kyma-validate-test.sh
  resources/istio/templates/tests/istio-kyma-validate-rbac.yaml
  resources/istio/templates/tests/istio-kyma-validate.yaml
  resources/istio/values.yaml
Labels: area/service-mesh

#9901 Remove obsolete migration code in serverless
  resources/serverless/templates/_helper_migration.txt
  resources/serverless/templates/functions-migration.yaml
Labels: area/serverless, enhancement

#9934 Add alert test
  resources/monitoring/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/monitoring/prom/alerts.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/prom/rules.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/prom/targets.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/targets_rules.go
  tests/integration/monitoring/prom/alerts.go
  tests/integration/monitoring/prom/rules.go
  tests/integration/monitoring/prom/targets.go
  tests/integration/monitoring/test-monitoring.go
Labels: area/monitoring, test-missing

#9949 disabled readinessProbe for kcproxy for local setup
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
Labels: area/cluster, area/monitoring, area/tracing, bug

#9890 Add passwd to the Application Connectivity dockerfiles
  components/application-connectivity-certs-setup-job/Dockerfile
  components/application-connectivity-validator/Dockerfile
  components/application-gateway/Dockerfile
  components/application-operator/Dockerfile
  components/application-registry/Dockerfile
  components/compass-runtime-agent/Dockerfile
  components/connection-token-handler/Dockerfile
  components/connector-service/Dockerfile
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
Labels: area/application-connector, bug

#9800 Make MaxConcurrentReconciles configurable in function-controller
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  resources/serverless/templates/deployment.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#9946 Add profile support to kyma-operator
  components/kyma-operator/pkg/apis/installer/v1alpha1/types.go
  components/kyma-operator/pkg/config/installation-data.go
  components/kyma-operator/pkg/kymahelm/kyma-helm-client.go
  components/kyma-operator/pkg/kymahelm/kyma-helm-client_test.go
  components/kyma-operator/pkg/kymaoperation/steps/creator_test.go
  components/kyma-operator/pkg/kymaoperation/steps/factory.go
  components/kyma-operator/pkg/kymaoperation/steps/factory_test.go
  components/kyma-operator/pkg/kymaoperation/steps/install.go
  components/kyma-operator/pkg/kymaoperation/steps/step.go
  components/kyma-operator/pkg/kymaoperation/steps/step_test.go
  components/kyma-operator/pkg/kymaoperation/steps/upgrade.go
Labels: area/installation, enhancement

#9963 Add handling for "null" value
  components/console-backend-service/internal/gqlschema/APIRuleAccessStrategyInput.go
Labels: area/cluster, area/console, bug

#9725 Adapt Rafter to 'allowPrivilegedContainers: false' policy
  resources/rafter/charts/asyncapi-service/templates/deployment.yaml
  resources/rafter/charts/asyncapi-service/templates/rolebinding.yaml
  resources/rafter/charts/asyncapi-service/templates/serviceaccount.yaml
  resources/rafter/charts/asyncapi-service/values.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/_helpers.tpl
  resources/rafter/charts/controller-manager/charts/minio/templates/deployment.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/patch-credentials-job.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/psp.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/role.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/rolebinding.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/serviceaccount.yaml
  resources/rafter/charts/controller-manager/charts/minio/values.yaml
  resources/rafter/charts/controller-manager/templates/psp.yaml
  resources/rafter/charts/controller-manager/templates/role.yaml
  resources/rafter/charts/front-matter-service/templates/deployment.yaml
  resources/rafter/charts/front-matter-service/templates/rolebinding.yaml
  resources/rafter/charts/front-matter-service/templates/serviceaccount.yaml
  resources/rafter/charts/front-matter-service/values.yaml
  resources/rafter/charts/upload-service/templates/migrator-job.yaml
  resources/rafter/charts/upload-service/templates/rolebinding.yaml
  resources/rafter/charts/upload-service/values.yaml
  resources/rafter/templates/pre-upgrade-delete-vs-job.yaml
  resources/rafter/templates/psp.yaml
  resources/rafter/templates/role.yaml
  resources/rafter/templates/tests/test.yaml
  resources/rafter/values.yaml
  tests/rafter/Dockerfile
Labels: area/core-and-supporting, enhancement

#9968 Update node patch version for function runtimes
  components/function-runtimes/nodejs10/Dockerfile
  components/function-runtimes/nodejs12/Dockerfile
Labels: area/serverless, enhancement

#9980 Prevent throw "watch closed before UntilWithoutRetry timeout" in function-controller test
  resources/serverless/values.yaml
  tests/function-controller/pkg/function/function.go
Labels: area/serverless, bug

#9988 Consistent flag naming
  docs/kyma/04-04-use-your-own-domain.md
Labels: area/cli, area/documentation

#9948 Enable serverless installation without istio DestinationRule CR
  resources/serverless/charts/docker-registry/templates/destination-rule.yaml
  resources/serverless/charts/docker-registry/values.yaml
  resources/serverless/values.yaml
Labels: WIP, area/serverless, enhancement

#9964 Bump apirule fixes
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console, bug

#9985 Document how to inject env variables from ConfigMaps into Function
  docs/serverless/05-01-serverless-envs.md
  docs/serverless/06-01-function-cr.md
Labels: area/documentation

#9987 Bump runtimes bases for serverless functions
  resources/serverless/values.yaml
Labels: area/serverless

#9955 Update kyma-operator for profile support
  installation/resources/installer-config-production.yaml.tpl
  installation/resources/installer-cr-azure-eventhubs.yaml.tpl
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr-with-compass-runtime-agent.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/ory/profile-evaluation.yaml
  resources/ory/profile-production.yaml
  resources/ory/templates/hpa.yaml
  resources/ory/values.yaml
  resources/serverless/charts/docker-registry/templates/deployment.yaml
  tools/kyma-installer/kyma.Dockerfile
Labels: area/installation

#9973 Profile documentation
  docs/kyma/04-01-overview.md
  docs/kyma/05-05-profiles.md
  docs/kyma/06-01-installation.md
Labels: area/documentation, area/installation

#9983 Bump catalog search & core-ui fixes
  resources/console/charts/web/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, bug

#9999 Fix the dead link to Ory docs
  docs/api-gateway/02-01-api-gateway.md
Labels: area/api-gateway, area/documentation

#10009 Fix broken links in Grafana README
  resources/monitoring/charts/grafana/README.md
Labels: area/monitoring

#10031 Fix a broken link in Monitoring docs
  docs/monitoring/03-01-alertmanager.md
Labels: area/documentation, area/monitoring

#10004 Fixed fluent-bit elasticsearch config with overrides
  resources/logging/charts/fluentbit/templates/configmap.yaml
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#10043 Update HTTPCheck step in function tests
  tests/function-controller/testsuite/teststep/check.go
Labels: area/serverless, enhancement

#10047 Use the newest version of k8s-tools
  resources/cluster-essentials/values.yaml
Labels: area/cluster, area/installation

#10055 Fix serverless tests in k3s job version
  tests/function-controller/cmd/main.go
  tests/function-controller/testsuite/scenarios/light_runtimes.go
  tests/function-controller/testsuite/teststep/check.go
Labels: area/serverless, enhancement

#10010 Fix alering e2e tests
  resources/monitoring/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/monitoring/prom/alerts.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/targets_rules.go
  tests/integration/monitoring/prom/alerts.go
  tests/integration/monitoring/test-monitoring.go
Labels: area/monitoring, test-failing

#10019 Add apiRuleName in subscription CRD status
  resources/cluster-essentials/files/subscriptions.eventing.kyma-project.io.crd.yaml
Labels: area/eventing

#10041 increased memory limit for prometheus to 4GB for production
  docs/monitoring/05-04-production-profile.md
  installation/resources/installer-config-production.yaml.tpl
  resources/monitoring/profile-production.yaml
Labels: area/monitoring

#10066 Convert application registry test to go modules
  resources/application-connector/values.yaml
  tests/application-registry-tests/Gopkg.lock
  tests/application-registry-tests/Gopkg.toml
  tests/application-registry-tests/Makefile
  tests/application-registry-tests/go.mod
  tests/application-registry-tests/go.sum
Labels: enhancement
