Repository kyma-project/kyma, pull requests merged in 2020-06, with the labels that each got.

#8370 Move ory crds to cluster essentials
  resources/cluster-essentials/files/crd-oauth2clients.yaml
  resources/cluster-essentials/files/crd-rules.yaml
  resources/cluster-essentials/templates/crd-init-hydra-master.yaml
  resources/cluster-essentials/templates/crd-init-oathkeeper.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/crd-configmap.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/crd-rbac.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/crd-configmap.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/crd-rbac.yaml
Labels: area/cluster, area/installation, enhancement

#8629 Bump UI images
  resources/compass/charts/cockpit/templates/deployment.yaml
  resources/compass/charts/cockpit/values.yaml
  resources/core/charts/console/values.yaml
Labels: area/console, area/management-plane

#8660 Update cluster-essentials documentation
  resources/cluster-essentials/README.md
Labels: area/documentation

#8470 Move core CRDs to cluster-essentials release
  resources/cluster-essentials/files/crd-idppreset.yaml
  resources/cluster-essentials/templates/crd-init-core.yaml
Labels: area/core-and-supporting, area/installation, enhancement

#8633 Function-controller based on deployments and services
  components/function-controller/cmd/manager/main.go
  components/function-controller/config/rbac/role.yaml
  components/function-controller/config/samples/serverless_v1alpha1_webhook_defaults_function.yaml
  components/function-controller/deploy/function-runtime-image/nodejs12/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/knative/predicate.go
  components/function-controller/internal/controllers/knative/predicate_test.go
  components/function-controller/internal/controllers/knative/service_controller.go
  components/function-controller/internal/controllers/knative/service_controller_test.go
  components/function-controller/internal/controllers/knative/suite_test.go
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/configmap.go
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/deployment_test.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_controller_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/internal/controllers/serverless/job_test.go
  components/function-controller/internal/controllers/serverless/service.go
  components/function-controller/internal/controllers/serverless/service_test.go
  components/function-controller/internal/controllers/serverless/suite_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/v1alpha_suite_test.go
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/function-controller/pkg/apirule/apirule.go
  tests/function-controller/pkg/kservice/kservice.go
  tests/function-controller/pkg/revision/revision.go
  tests/function-controller/pkg/trigger/trigger.go
  tests/function-controller/testsuite/testsuite.go
Labels: area/serverless, enhancement

#8625 Initial Monitoring for Provisioner
  resources/compass/charts/provisioner/files/dashboard.json
  resources/compass/charts/provisioner/templates/dashboard.yaml
  resources/compass/charts/provisioner/templates/deployment.yaml
  resources/compass/charts/provisioner/templates/metrics-policy.yaml
  resources/compass/charts/provisioner/templates/service-monitor.yaml
  resources/compass/charts/provisioner/templates/service.yaml
  resources/compass/charts/provisioner/values.yaml
  resources/compass/values.yaml
Labels: area/management-plane

#8371 Move api-gateway crds to cluster essentials
  resources/api-gateway/templates/crd-configmap.yaml
  resources/api-gateway/templates/crd-rbac.yaml
  resources/cluster-essentials/files/crd-apirules.yaml
  resources/cluster-essentials/templates/crd-init-api-gateway.yaml
  resources/cluster-essentials/values.yaml
Labels: area/cluster, area/installation, enhancement

#8659 Add missing alt texts to describe images and diagrams
  docs/compass/02-03-detailed-workflow.md
  docs/monitoring/01-01-monitoring.md
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/08-04-define-alerting-rules.md
  docs/rafter/02-01-basic-asset-flow.md
  docs/rafter/02-02-assetgroup.md
  docs/rafter/02-03-asset-and-bucket.md
  docs/rafter/03-01-asset-cr-lifecycle.md
  docs/rafter/03-02-bucket-cr-lifecycle.md
  docs/rafter/03-04-minio-gateway.md
  docs/rafter/03-06-upload-service.md
  docs/rafter/08-01-add-new-documentation-to-console.md
  docs/service-catalog/15-04-specifications-in-console-ui.md
Labels: area/documentation

#8662 Bump Director image along with tests
  resources/compass/values.yaml
Labels: area/management-plane, enhancement

#8613 Make more strict function validation in UI
  resources/core/charts/console/templates/configmap.yaml
  resources/core/charts/console/values.yaml
Labels: area/console, area/serverless, enhancement

#8593 Update knative dependencies
  resources/knative-serving/values.yaml
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
Labels: area/serverless, security/medium

#8540 Enable logging upgrade test
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/logging/logging.go
  tests/end-to-end/upgrade/pkg/tests/logging/pkg/logstream/logstream.go
Labels: area/logging, test-missing

#8671 Dead link fix
  components/application-broker/cmd/poc-finalizers/finalizers-findings.md
Labels: area/documentation, bug

#8657 Make management components uninstallationable
  resources/application-connector/values.yaml
  resources/helm-broker/templates/clear-cr-job.yaml
  resources/helm-broker/values.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/clear-cr-job.yaml
  resources/service-catalog-addons/requirements.yaml
  resources/service-catalog-addons/values.yaml
Labels: area/management-plane

#8678 Adapt management components to Helm 3
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/deployment.yaml
Labels: area/management-plane

#8624 Fix log in mechanism in UI tests
  resources/core/values.yaml
Labels: area/console, test-failing

#8474 Move knative-provisioner CRDs to cluster-essentials release
  resources/cluster-essentials/files/crd-natschannel.yaml
  resources/cluster-essentials/templates/crd-init-knative-provisioner-natss.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/natss.yaml
Labels: area/core-and-supporting, area/installation, enhancement

#8497 Move knative-eventing CRD to cluster-essentials release
  resources/cluster-essentials/files/crd-apiserversources.sources.eventing.knative.dev.yaml
  resources/cluster-essentials/files/crd-apiserversources.sources.knative.dev.yaml
  resources/cluster-essentials/files/crd-brokers.eventing.knative.dev.yaml
  resources/cluster-essentials/files/crd-channels.messaging.knative.dev.yaml
  resources/cluster-essentials/files/crd-containersources.sources.eventing.knative.dev.yaml
  resources/cluster-essentials/files/crd-cronjobsources.sources.eventing.knative.dev.yaml
  resources/cluster-essentials/files/crd-eventtypes.eventing.knative.dev.yaml
  resources/cluster-essentials/files/crd-parallels.flows.knative.dev.yaml
  resources/cluster-essentials/files/crd-parallels.messaging.knative.dev.yaml
  resources/cluster-essentials/files/crd-sequences.flows.knative.dev.yaml
  resources/cluster-essentials/files/crd-sequences.messaging.knative.dev.yaml
  resources/cluster-essentials/files/crd-sinkbindings.sources.eventing.knative.dev.yaml
  resources/cluster-essentials/files/crd-sinkbindings.sources.knative.dev.yaml
  resources/cluster-essentials/files/crd-subscriptions.messaging.knative.dev.yaml
  resources/cluster-essentials/files/crd-triggers.eventing.knative.dev.yaml
  resources/cluster-essentials/templates/crd-init-knative-eventing.yaml
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
Labels: area/core-and-supporting, area/installation, enhancement

#8674 Fix Application Registry app update retry
  components/application-registry/internal/metadata/applications/repository.go
  components/application-registry/internal/metadata/applications/repository_test.go
  components/application-registry/internal/metadata/applications/util.go
  resources/application-connector/values.yaml
Labels: area/application-connector, bug

#8681 Enable metrics of the serverless webhook
  resources/serverless/charts/webhook/templates/config-observability.yaml
  resources/serverless/charts/webhook/templates/deployment.yaml
  resources/serverless/charts/webhook/values.yaml
Labels: area/serverless

#8503 Move CRD from knative-serving-init to cluster-essentials release
  CODEOWNERS
  docs/kyma/04-01-overview.md
  installation/resources/installer-cr-azure-eventhubs.yaml.tpl
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/cluster-essentials/files/crd-certificates.networking.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-configurations.serving.knative.dev.yaml
  resources/cluster-essentials/files/crd-images.caching.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-ingresses.networking.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-metrics.autoscaling.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-podautoscalers.autoscaling.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-revisions.serving.knative.dev.yaml
  resources/cluster-essentials/files/crd-routes.serving.knative.dev.yaml
  resources/cluster-essentials/files/crd-serverlessservices.networking.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-services.serving.knative.dev.yaml
  resources/cluster-essentials/templates/crd-init-knative-serving.yaml
  resources/knative-serving-init/Chart.yaml
  resources/knative-serving-init/OWNERS
  resources/knative-serving-init/README.md
  resources/knative-serving-init/templates/delete-crd-job.yaml
  resources/knative-serving-init/templates/serving.yaml
Labels: area/core-and-supporting, area/installation, enhancement

#8673 Remove the kube-rbac-proxy from the serverless-controller-manager
  resources/serverless/templates/auth-proxy-role-binding.yaml
  resources/serverless/templates/auth-proxy-role.yaml
  resources/serverless/templates/auth-proxy-service.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/service-monitor.yaml
  resources/serverless/templates/service.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#8687 Bump Application Registry image
  resources/application-connector/values.yaml
Labels: area/application-connector, test-failing

#8685 Unify Compass Connector charts
  resources/compass/charts/connector/templates/configmap.yaml
  resources/compass/charts/connector/templates/deployment.yaml
  resources/compass/charts/connector/templates/role-binding.yaml
  resources/compass/charts/connector/templates/tests/role-binding.yaml
  resources/compass/charts/connector/templates/tests/test-connector.yaml
  resources/compass/values.yaml
Labels: area/application-connector, enhancement

#8684 Prometheus additionalPrometheusRules template fix
  resources/monitoring/templates/prometheus/additionalPrometheusRules.yaml
Labels: area/monitoring, bug

#8702 Fix a dead link
  docs/event-mesh/01-01-knative-eventing-mesh.md
  docs/event-mesh/02-01-knative-eventing-mesh.md
  docs/event-mesh/03-01-event-processing.md
Labels: area/documentation, bug

#8656 Improving monitoring test error message
  resources/monitoring/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/monitoring/prom/targets.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/targets_rules.go
  tests/integration/monitoring/prom/rules.go
  tests/integration/monitoring/prom/targets.go
  tests/integration/monitoring/test-monitoring.go
Labels: area/monitoring, enhancement

#8651 Add HorizontalPodAutoScaler as function's subresource
  components/function-controller/config/rbac/role.yaml
  components/function-controller/deploy/webhook/Dockerfile
  components/function-controller/go.mod
  components/function-controller/internal/controllers/kubernetes/configmap_controller.go
  components/function-controller/internal/controllers/kubernetes/namespace_controller.go
  components/function-controller/internal/controllers/kubernetes/secret_controller.go
  components/function-controller/internal/controllers/kubernetes/serviceaccount_controller.go
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/deployment_test.go
  components/function-controller/internal/controllers/serverless/function_controller_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler_test.go
  components/function-controller/internal/controllers/serverless/service.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
  resources/core/charts/console/values.yaml
  resources/serverless/templates/cluster-role.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/tests/rbac.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#8694 Migrate Kiali to helm3
  resources/kiali/Chart.yaml
  resources/kiali/templates/_helpers.tpl
  resources/kiali/templates/kiali.yaml
  resources/kiali/templates/kyma-additions/clustermicrofrontend.yaml
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/kiali/templates/kyma-additions/kcproxy-service.yaml
  resources/kiali/templates/kyma-additions/virtualservice.yaml
  resources/kiali/templates/operator/clusterrole.yaml
  resources/kiali/templates/operator/clusterrolebinding.yaml
  resources/kiali/templates/operator/deployment.yaml
  resources/kiali/templates/operator/serviceaccount.yaml
  resources/kiali/templates/tests/test.yaml
Labels: area/service-mesh

#8697 Migrate tracing to Helm3
  resources/tracing/Chart.yaml
  resources/tracing/templates/_helpers.tpl
  resources/tracing/templates/deployment.yaml
  resources/tracing/templates/jaeger.yaml
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-service.yaml
  resources/tracing/templates/kyma-additions/kcproxy-virtualservice.yaml
  resources/tracing/templates/kyma-additions/metrics-policies.yaml
  resources/tracing/templates/kyma-additions/metrics-servicemonitor.yaml
  resources/tracing/templates/kyma-additions/microfrontend.yaml
  resources/tracing/templates/kyma-additions/pvc.yaml
  resources/tracing/templates/kyma-additions/zipkin-policies.yaml
  resources/tracing/templates/kyma-additions/zipkin-service.yaml
  resources/tracing/templates/service.yaml
  resources/tracing/values.yaml
Labels: area/tracing

#8707 Bumping test images
  resources/monitoring/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/monitoring

#8716 Add missing bracket
  docs/kyma/01-01-in-a-nutshell.md
Labels: area/documentation

#8690 Generate Compass dependencies artifact
  installation/resources/README.md
  installation/resources/installer-cr-cluster-compass-dependencies.yaml.tpl
  installation/scripts/release-generate-kyma-installer-artifacts.sh
Labels: area/ci, area/management-plane, enhancement

#8706 Unify statuses on lists
  resources/compass/charts/cockpit/values.yaml
  resources/core/charts/console/values.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, area/management-plane, enhancement

#8695 Migrate Function dashboard to k8s
  resources/serverless/templates/function-dashboard.yaml
Labels: area/monitoring, area/serverless

#8666 Move daemonset from istio to serverless release
  resources/serverless/templates/daemonset-certs-configmap.yaml
  resources/serverless/templates/daemonset-certs.yaml
  resources/serverless/templates/daemonset-delete-job.yaml
  resources/serverless/templates/daemonset-service-account.yaml
  resources/serverless/values.yaml
Labels: area/cluster, area/installation, area/serverless

#8710 Update serverless to forbid scale-to-zero
  components/function-controller/README.md
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation_test.go
  resources/core/charts/console/templates/configmap.yaml
  resources/core/charts/console/values.yaml
  resources/serverless/charts/webhook/values.yaml
Labels: area/serverless, enhancement

#8747 Added migration guide folder and file
  docs/migration-guides/1.13-1.14.md
Labels: area/documentation

#8748 Fix a dead link
  docs/kiali/01-01-kiali.md
Labels: area/documentation

#8732 Update k8s.io/client-go/transpor in knative-serving test
  resources/knative-serving/values.yaml
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
Labels: area/serverless, security/medium

#8724 Update regex in Log ui
  resources/logging/charts/logui/values.yaml
Labels: area/console

#8728 Increase default namespace memory limit
  resources/core/charts/console/values.yaml
Labels: area/console

#8745 Bump image of Provisioner
  resources/compass/values.yaml
Labels: area/management-plane

#8744 Fix defaulting replicas for HPA in function-controller
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/function_controller_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  resources/serverless/values.yaml
Labels: area/serverless, bug

#8737 Remove bindings migration job from serverless release
  resources/serverless/templates/_helper_bindings_migration.txt
  resources/serverless/templates/_helpers.tpl
  resources/serverless/templates/bindings-migration-job-post.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#8739 Add deployments field to namespace query
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/gqlgen.yml
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/namespace.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console

#8508 Update Knative-Serving to 0.14
  resources/cluster-essentials/files/crd-certificates.networking.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-configurations.serving.knative.dev.yaml
  resources/cluster-essentials/files/crd-ingresses.networking.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-metrics.autoscaling.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-podautoscalers.autoscaling.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-revisions.serving.knative.dev.yaml
  resources/cluster-essentials/files/crd-routes.serving.knative.dev.yaml
  resources/cluster-essentials/files/crd-serverlessservices.networking.internal.knative.dev.yaml
  resources/cluster-essentials/files/crd-services.serving.knative.dev.yaml
  resources/knative-serving/templates/serving.yaml
  resources/knative-serving/values.yaml
Labels: enhancement

#8738 Remove unnecessary pre-upgrade job in knative-serving release
  resources/knative-serving/templates/pre-upgrade-job.yaml
Labels: area/serverless

#8572 Move console to separate chart
  CODEOWNERS
  components/application-gateway/README.md
  components/application-operator/charts/application/values.yaml
  docs/kyma/04-04-cluster-installation.md
  docs/kyma/04-05-use-your-own-domain.md
  docs/security/08-01-update-tls-certificates.md
  installation/resources/installer-cr-azure-eventhubs.yaml.tpl
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector/charts/connector-service/values.yaml
  resources/console/.helmignore
  resources/console/Chart.yaml
  resources/console/README.md
  resources/console/charts/backend/.helmignore
  resources/console/charts/backend/Chart.yaml
  resources/console/charts/backend/OWNERS
  resources/console/charts/backend/templates/_helpers.tpl
  resources/console/charts/backend/templates/cluster-role-binding.yaml
  resources/console/charts/backend/templates/cluster-role.yaml
  resources/console/charts/backend/templates/deployment.yaml
  resources/console/charts/backend/templates/service-account.yaml
  resources/console/charts/backend/templates/service.yaml
  resources/console/charts/backend/templates/servicerole-manage-all.yaml
  resources/console/charts/backend/templates/servicerolebinding-manage-all-for-all-users.yaml
  resources/console/charts/backend/templates/tests/rbac.yaml
  resources/console/charts/backend/templates/tests/test.yaml
  resources/console/charts/backend/templates/virtualservice.yaml
  resources/console/charts/backend/values.yaml
  resources/console/charts/web/.helmignore
  resources/console/charts/web/Chart.yaml
  resources/console/charts/web/README.md
  resources/console/charts/web/templates/_helpers.tpl
  resources/console/charts/web/templates/backendmodule.yaml
  resources/console/charts/web/templates/configmap.yaml
  resources/console/charts/web/templates/deployment.yaml
  resources/console/charts/web/templates/destination-rule-compass-mfs.yaml
  resources/console/charts/web/templates/destination-rule-core-ui.yaml
  resources/console/charts/web/templates/destination-rule.yaml
  resources/console/charts/web/templates/kubernetes-dashboard-admin.yaml
  resources/console/charts/web/templates/service-compass-mfs.yaml
  resources/console/charts/web/templates/service-core-ui.yaml
  resources/console/charts/web/templates/service.yaml
  resources/console/charts/web/templates/test/rbac.yaml
  resources/console/charts/web/templates/test/test.yaml
  resources/console/charts/web/templates/virtualservice-compass-mfs.yaml
  resources/console/charts/web/templates/virtualservice-console.yaml
  resources/console/charts/web/templates/virtualservice-core-ui.yaml
  resources/console/charts/web/values.yaml
  resources/console/requirements.yaml
  resources/console/values.yaml
  resources/core/charts/console/OWNERS
  resources/core/requirements.yaml
  resources/core/values.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/webapps.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/console, enhancement

#8754 Bump "Add proper handling for k8s label schema"
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#8713 Adapt knative-eventing-kafka chart to Helm 3
  resources/knative-eventing-kafka/Chart.yaml
  resources/knative-eventing-kafka/values.schema.json
  resources/knative-eventing-kafka/values.yaml
Labels: area/eventing

#8693 Make event-sources helm3 compliant
  resources/event-sources/values.schema.json
  resources/event-sources/values.yaml
Labels: area/eventing

#8766 Adapt natss chart to Helm 3
  resources/nats-streaming/Chart.yaml
Labels: area/eventing

#8759 Add information about CloudEvents and improve the Trigger tutorial
  docs/event-mesh/03-01-event-processing.md
  docs/serverless/08-04-trigger-function-with-event.md
Labels: area/documentation, area/eventing

#8689 Migrate Knative-Eventing to Helm3
  resources/knative-eventing/Chart.yaml
  resources/knative-eventing/charts/event-mesh-dashboard/Chart.yaml
  resources/knative-eventing/charts/knative-eventing/Chart.yaml
  resources/knative-eventing/values.schema.json
Labels: WIP

#8758 Adapt Knative NATSS provisioner to Helm 3
  resources/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/values.schema.json
  resources/knative-provisioner-natss/values.yaml
Labels: area/eventing

#8772 proper lite profile for knative-serving
  installation/resources/installer-config-local.yaml.tpl
  resources/knative-serving/templates/serving.yaml
  resources/knative-serving/values.yaml
Labels: area/serverless

#8721 Make monitoring helm3 compatible
  resources/monitoring/Chart.yaml
  resources/monitoring/charts/grafana/templates/_helpers.tpl
  resources/monitoring/charts/grafana/templates/kyma-additions/stats-metrics-microfrontend.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/virtualservice.yaml
  resources/monitoring/charts/kube-state-metrics/templates/_helpers.tpl
  resources/monitoring/charts/kube-state-metrics/templates/clusterrole.yaml
  resources/monitoring/charts/kube-state-metrics/templates/clusterrolebinding.yaml
  resources/monitoring/charts/kube-state-metrics/templates/deployment.yaml
  resources/monitoring/charts/kube-state-metrics/templates/pdb.yaml
  resources/monitoring/charts/kube-state-metrics/templates/podsecuritypolicy.yaml
  resources/monitoring/charts/kube-state-metrics/templates/psp-clusterrole.yaml
  resources/monitoring/charts/kube-state-metrics/templates/psp-clusterrolebinding.yaml
  resources/monitoring/charts/kube-state-metrics/templates/service.yaml
  resources/monitoring/charts/kube-state-metrics/templates/serviceaccount.yaml
  resources/monitoring/charts/kube-state-metrics/templates/servicemonitor.yaml
  resources/monitoring/charts/kube-state-metrics/templates/stsdiscovery-role.yaml
  resources/monitoring/charts/kube-state-metrics/templates/stsdiscovery-rolebinding.yaml
  resources/monitoring/charts/prometheus-node-exporter/templates/_helpers.tpl
  resources/monitoring/charts/prometheus-node-exporter/templates/serviceaccount.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/_helpers.tpl
  resources/monitoring/charts/prometheus-pushgateway/templates/deployment.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/ingress.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/kyma-additions/policy.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/networkpolicy.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/pdb.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/pushgateway-pvc.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/service.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/serviceaccount.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/servicemonitor.yaml
  resources/monitoring/templates/_helpers.tpl
  resources/monitoring/templates/kyma-additions/aks-delete-patch.yaml
  resources/monitoring/templates/kyma-additions/aks-kubelet-monitoring-patch.yaml
  resources/monitoring/templates/kyma-additions/delete-dns-patch.yaml
  resources/monitoring/templates/tests/_helpers.tpl
  resources/monitoring/templates/tests/rbac.yaml
  resources/monitoring/templates/tests/test.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring

#8405 Update README.md
  tests/README.md
Labels: area/documentation, bug

#8647 kyma-operator uses Helm3
  components/kyma-operator/README.md
  components/kyma-operator/cmd/operator/main.go
  components/kyma-operator/go.mod
  components/kyma-operator/go.sum
  components/kyma-operator/pkg/actionmanager/action-manager.go
  components/kyma-operator/pkg/kymahelm/kyma-helm-client.go
  components/kyma-operator/pkg/kymahelm/release.go
  components/kyma-operator/pkg/kymahelm/release_test.go
  components/kyma-operator/pkg/kymahelm/wait.go
  components/kyma-operator/pkg/kymahelm/wait_test.go
  components/kyma-operator/pkg/kymaoperation/azure-deprovisioner.go
  components/kyma-operator/pkg/kymaoperation/executor.go
  components/kyma-operator/pkg/kymaoperation/executor_test.go
  components/kyma-operator/pkg/kymaoperation/steps/creator.go
  components/kyma-operator/pkg/kymaoperation/steps/creator_test.go
  components/kyma-operator/pkg/kymaoperation/steps/factory.go
  components/kyma-operator/pkg/kymaoperation/steps/factory_test.go
  components/kyma-operator/pkg/kymaoperation/steps/install.go
  components/kyma-operator/pkg/kymaoperation/steps/step.go
  components/kyma-operator/pkg/kymaoperation/steps/step_test.go
  components/kyma-operator/pkg/kymaoperation/steps/uninstall.go
  components/kyma-operator/pkg/kymaoperation/steps/upgrade.go
  components/kyma-operator/pkg/overrides/overrides.go
Labels: area/installation

#8768 add KubePodOOMKilled alert and kube_pod_container_status_terminated_r…
  resources/monitoring/templates/prometheus/kyma-rules/kyma-rules.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring

#8767 Adapt pod preset webhook to gardener system
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
  resources/cluster-essentials/charts/pod-preset/templates/webhook/webhook.yaml
Labels: area/service-catalog

#8785 Fix Istio links
  docs/helm-broker/02-02-deep-dive.md
  docs/kyma/06-01-installation.md
  docs/service-mesh/03-03-istio-rbac.md
  docs/service-mesh/10-03-connection-refused.md
  resources/api-gateway/README.md
  resources/istio/README.md
Labels: area/documentation

#8777 Add Serverless upgrade tests
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/dynamicresource/client.go
  tests/end-to-end/upgrade/pkg/tests/rafter/asset.go
  tests/end-to-end/upgrade/pkg/tests/rafter/assetgroup.go
  tests/end-to-end/upgrade/pkg/tests/rafter/bucket.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterassetgroup.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterbucket.go
  tests/end-to-end/upgrade/pkg/tests/serverless/serverless.go
Labels: area/serverless, test-missing

#8776 fixed config options for kiali in docu
  docs/kiali/05-01-kiali.md
Labels: area/service-mesh

#8773 Preselect default JWT issuer in access strategy in API exposure UI
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#8769 Update dependencies in tests/knative-serving
  resources/knative-serving/values.yaml
  tests/knative-serving/Dockerfile
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
Labels: area/serverless, security/high

#8770 Remove appVersion labels
  resources/logging/charts/fluentbit/Chart.yaml
  resources/logging/charts/fluentbit/templates/_helpers.tpl
  resources/logging/charts/logui/templates/_helpers.tpl
  resources/tracing/Chart.yaml
  resources/tracing/templates/_helpers.tpl
Labels: estimate: 3

#8801 Bug: fix upgrade process in Kyma-operator
  components/kyma-operator/pkg/kymahelm/kyma-helm-client.go
Labels: bug

#8680 Update serverless docs with newer architecture
  components/function-controller/README.md
  docs/kyma/03-01-components.md
  docs/serverless/01-01-serverless.md
  docs/serverless/02-01-serverless.md
  docs/serverless/03-01-supported-webhooks.md
  docs/serverless/03-02-api-rules.md
  docs/serverless/03-04-function-processing.md
  docs/serverless/05-01-serverless.md
  docs/serverless/06-01-function-cr.md
  docs/serverless/08-03-bind-service-instance.md
  docs/serverless/08-04-trigger-function-with-event.md
  docs/serverless/10-01-serverless-troubleshooting.md
  docs/serverless/assets/running.svg
  docs/serverless/assets/serverless-architecture.svg
  resources/serverless/Chart.yaml
  resources/serverless/README.md
Labels: area/documentation, area/serverless, enhancement

#8670 Restructure SC documentation
  components/application-operator/README.md
  components/service-binding-usage-controller/README.md
  components/service-binding-usage-controller/docs/README.md
  components/service-binding-usage-controller/docs/architecture.md
  components/service-binding-usage-controller/docs/assets/architecture.svg
  components/service-binding-usage-controller/docs/example.md
  components/service-binding-usage-controller/docs/usage-kind.md
  docs/service-catalog/01-01-service-catalog.md
  docs/service-catalog/01-02-service-brokers.md
  docs/service-catalog/02-01-resources.md
  docs/service-catalog/02-02-architecture-service-catalog.md
  docs/service-catalog/03-01-provisioning.md
  docs/service-catalog/03-02-deprovisioning.md
  docs/service-catalog/03-02-provisioning-and-binding.md
  docs/service-catalog/06-01-service-binding-usage.md
  docs/service-catalog/06-02-usage-kind.md
  docs/service-catalog/07-01-cli-reference.md
  docs/service-catalog/08-01-broker-registration.md
  docs/service-catalog/15-01-overview.md
  docs/service-catalog/15-02-catalog-view.md
  docs/service-catalog/15-04-specifications-in-console-ui.md
  docs/service-catalog/17-01-service-brokers.md
  docs/service-catalog/17-02-gcp-broker.md
  docs/service-catalog/17-03-azure-broker.md
  docs/service-catalog/17-04-aws-broker.md
  docs/service-catalog/assets/binding.svg
  docs/service-catalog/assets/deprovisioning.svg
  docs/service-catalog/assets/provisioning-and-binding.svg
  docs/service-catalog/assets/service-catalog-flow.svg
  docs/service-catalog/assets/unbinding-deprovisioning.svg
  docs/service-catalog/assets/unbinding.svg
  docs/service-catalog/assets/usagekind.svg
Labels: area/documentation, enhancement

#8782 Update Application Operator and Application Operator tests documentation
  components/application-operator/README.md
  components/application-operator/cmd/manager/options.go
  docs/application-connector/05-01-application-operator.md
  tests/application-operator-tests/README.md
Labels: area/documentation

#8810 Add verification of function response in upgrade tests
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/serverless/serverless.go
Labels: area/serverless, test-missing

#8791 Add dependency from Grafana to Loki
  docs/logging/02-01-logging.md
  docs/logging/assets/logging-architecture.svg
Labels: area/documentation, area/logging

#8621 Make migrator job from KServices to pure k8s resources
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/templates/_helper_knative_migration.txt
  resources/serverless/templates/knative-migrator-job-post.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#8795 Fix labels in service class in cbs
  components/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_converter.go
  components/console-backend-service/internal/domain/servicecatalog/serviceclass_converter.go
Labels: area/console, area/service-catalog, bug

#8803 Fix Function Ready status behaviour
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/deployment_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  resources/serverless/values.yaml
Labels: area/serverless, bug

#8752 Update serverless domain to use envs from configmap
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/samples/serverless_v1alpha1_function_full.yaml
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  resources/cluster-essentials/templates/functions.crd.yaml
  resources/serverless/charts/webhook/templates/configmap.yaml
  resources/serverless/charts/webhook/templates/deployment.yaml
  resources/serverless/charts/webhook/values.yaml
Labels: area/serverless, enhancement

#8814 Bump cbs image
  resources/console/values.yaml
Labels: area/console, area/service-catalog, bug

#8824 Upgrade Grafana
  resources/monitoring/charts/grafana/Chart.yaml
  resources/monitoring/charts/grafana/templates/NOTES.txt
  resources/monitoring/charts/grafana/templates/_pod.tpl
  resources/monitoring/charts/grafana/templates/configmap.yaml
  resources/monitoring/charts/grafana/templates/deployment.yaml
  resources/monitoring/charts/grafana/templates/ingress.yaml
  resources/monitoring/charts/grafana/templates/rolebinding.yaml
  resources/monitoring/charts/grafana/templates/secret.yaml
  resources/monitoring/charts/grafana/values.yaml
  resources/serverless/templates/function-dashboard.yaml
Labels: area/monitoring

#8834 Fix amount of min resources in serverless Function
  resources/serverless/charts/webhook/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/serverless/serverless.go
Labels: area/serverless, bug

#8839 Update core-ui image: Use config from configMap in Functions view
  resources/console/charts/web/templates/configmap.yaml
  resources/console/charts/web/values.yaml
Labels: area/console, area/serverless, enhancement

#8793 Install Compass as a separate component on top of Kyma
  installation/resources/installer-cr-with-compass-runtime-agent.yaml.tpl
Labels: area/ci, area/management-plane, enhancement

#8786 Application Operator releases migration
  resources/application-connector/charts/application-operator/files/helm-release-migration.sh
  resources/application-connector/charts/application-operator/templates/cluster-rolebinding.yaml
  resources/application-connector/charts/application-operator/templates/controller.yaml
Labels: area/application-connector

#8840 update components after kubectl image update
  resources/api-gateway/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/values.yaml
  resources/xip-patch/values.yaml
Labels: area/security

#8818 Fix security issues in Rafter and Serveless domains
  components/function-controller/config/dockerfiles.yaml
  components/function-controller/deploy/function-runtime-image/nodejs12/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
  resources/knative-serving/values.yaml
  resources/rafter/values.yaml
  resources/serverless/charts/docker-registry/values.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
  tests/function-controller/Dockerfile
  tests/rafter/Dockerfile
Labels: area/core-and-supporting, area/security, area/serverless, enhancement

#8820 Add long running tests for serverless
  resources/serverless/templates/tests/long-test.yaml
  resources/serverless/values.yaml
Labels: area/serverless, test-missing

#8822 Update KEB to support extended Avs configuration
  resources/compass/charts/kyma-environment-broker/templates/_helpers.tpl
  resources/compass/charts/kyma-environment-broker/templates/deployment.yaml
  resources/compass/charts/kyma-environment-broker/templates/secrets.yaml
  resources/compass/charts/kyma-environment-broker/values.yaml
  resources/compass/values.yaml
Labels: area/monitoring

#8843 Bump serverless and rafter images
  components/function-controller/config/dockerfiles.yaml
  resources/knative-serving/values.yaml
  resources/rafter/values.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/core-and-supporting, area/serverless, enhancement

#8844 Fix apiVersion resources for helm 3 upgrade
  resources/application-connector/charts/application-broker/templates/cluster-role-binding.yaml
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
  resources/helm-broker/charts/etcd-stateful/templates/01-rbac.yaml
  resources/helm-broker/templates/rbac.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role-binding.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role.yaml
  resources/service-catalog/charts/catalog/templates/cleaner-job.yaml
  resources/service-catalog/templates/tests/rbac.yaml
Labels: area/service-catalog, bug

#8826 Uninstallation Of Eventing Components
  resources/event-sources/templates/200-rbac.yaml
  resources/event-sources/templates/300-httpsource-crd.yaml
  resources/event-sources/templates/500-sources-controller.yaml
  resources/event-sources/templates/uninstall.yaml
  resources/event-sources/uninstall.sh
  resources/knative-eventing-kafka/templates/uninstall.yaml
  resources/knative-eventing-kafka/uninstall.sh
  resources/knative-eventing/charts/knative-eventing/templates/uninstall-eventing.yaml
  resources/knative-eventing/charts/knative-eventing/uninstall.sh
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/uninstall.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/uninstall.sh
Labels: area/eventing

#8849 Bump images for workloads
  resources/console/charts/web/values.yaml
Labels: area/console

#8743 [POC] Refactor cluster-essentials
  resources/cluster-essentials/templates/crd-init-api-gateway.yaml
  resources/cluster-essentials/templates/crd-init-application-connector.yaml
  resources/cluster-essentials/templates/crd-init-compass-runtime-agent.yaml
  resources/cluster-essentials/templates/crd-init-core.yaml
  resources/cluster-essentials/templates/crd-init-event-sources.yaml
  resources/cluster-essentials/templates/crd-init-hydra-master.yaml
  resources/cluster-essentials/templates/crd-init-knative-eventing.yaml
  resources/cluster-essentials/templates/crd-init-knative-kafka.yaml
  resources/cluster-essentials/templates/crd-init-knative-provisioner-natss.yaml
  resources/cluster-essentials/templates/crd-init-knative-serving.yaml
  resources/cluster-essentials/templates/crd-init-oathkeeper.yaml
  resources/cluster-essentials/templates/crd-init-service-catalog.yaml
  resources/cluster-essentials/templates/crd-init-testing.yaml
  resources/cluster-essentials/templates/crd-install-cluster-role-binding.yaml
  resources/cluster-essentials/templates/crd-install-config-map.yaml
  resources/cluster-essentials/templates/crd-install-job.yaml
  resources/cluster-essentials/templates/crd-install-service-account.yaml
  resources/cluster-essentials/values.yaml
Labels: area/core-and-supporting, area/installation, enhancement

#8861 Update kyma cli usage with the new flag
  docs/event-mesh/08-01-configure-kafka-channel.md
  docs/event-mesh/08-02-set-up-channel.md
Labels: area/cli, area/documentation

#8838 Fix serverless bugs with underlying resources
  components/function-controller/config/rbac/role.yaml
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/configmap.go
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler_test.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/internal/controllers/serverless/service.go
  components/function-controller/internal/controllers/serverless/service_test.go
  components/function-controller/internal/resource/automock/client.go
  components/function-controller/internal/resource/automock/k8s_client.go
  components/function-controller/internal/resource/resource.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  resources/serverless/templates/cluster-role.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#8853 Update condition types for Function CR
  docs/serverless/06-01-function-cr.md
Labels: area/documentation, area/serverless

#8708 Bumped Director and director tests images
  resources/compass/values.yaml
Labels: area/management-plane, enhancement

#8863 Update serverless images to prod
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#8860 Change timeout for function creation in long running tests
  resources/serverless/templates/tests/long-test.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#8835 Show only initialized tenants in compass cockpit
  resources/compass/charts/cockpit/values.yaml
Labels: area/console, enhancement

#8851 Bump legacy applications fix
  resources/console/charts/web/values.yaml
Labels: area/console

#8871 Fix the upgrade of knative-eventing-kafka chart with Helm 3 operator
  resources/knative-eventing-kafka/pre-upgrade.sh
  resources/knative-eventing-kafka/templates/pre-upgrade.yaml
Labels: area/eventing

#8869 Bump Provisioner image
  resources/compass/values.yaml
Labels: area/management-plane

#8870 Fix eventing uninstall rbac
  resources/event-sources/templates/uninstall.yaml
  resources/knative-eventing-kafka/templates/uninstall.yaml
  resources/knative-eventing/charts/knative-eventing/templates/uninstall-eventing.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/uninstall.yaml
Labels: area/eventing

#8815 Fix installation tutorial
  docs/kyma/08-02-sample-service-deployment-to-cluster.md
  docs/kyma/08-03-local-develop-no-docker.md
Labels: area/documentation

#8879 Clarify Helm v2 CLI usage
  docs/kyma/04-07-use-helm.md
Labels: area/documentation, area/installation

#8874 Update eventing kubernetes dependencies to 1.16
  components/event-service/Gopkg.lock
  components/event-service/Gopkg.toml
  resources/application-connector/values.yaml
  resources/knative-eventing-kafka/values.yaml
  tests/contract/knative-channel-kafka/Gopkg.lock
  tests/contract/knative-channel-kafka/Gopkg.toml
  tests/integration/event-service/Gopkg.lock
  tests/integration/event-service/Gopkg.toml
Labels: area/eventing

#8842 Change quay.io to gcr
  resources/helm-broker/charts/etcd-stateful/values.yaml
  resources/monitoring/charts/kube-state-metrics/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/charts/catalog/README.md
  resources/service-catalog/charts/catalog/values.yaml
  resources/service-manager-proxy/values.yaml
Labels: WIP, area/ci

#8828 Update Compass images and KEB charts to use shoot purpose
  resources/compass/charts/kyma-environment-broker/templates/deployment.yaml
  resources/compass/charts/kyma-environment-broker/values.yaml
  resources/compass/values.yaml
Labels: area/management-plane, bug

#8893 Fix Grafana link
  docs/monitoring/05-02-grafana.md
Labels: area/documentation

#8901 Upgrade Kiali to v1.19.0
  resources/kiali/values.yaml
Labels: area/service-mesh, estimate: 3

#8891 Update images and dependencies
  resources/compass/values.yaml
Labels: area/application-connector, area/management-plane, area/security

#8904 Use CBS without IDPPresets
  resources/console/values.yaml
Labels: area/console, enhancement

#8916 Shorter the link to Console docs
  docs/security/03-02-graphql.md
Labels: area/documentation

#8918 Bump eventing pr images
  resources/core/values.yaml
  resources/knative-eventing-kafka/values.yaml
Labels: area/eventing

#8923 Add missing logos of Kyma users
  README.md
Labels: area/documentation

#8903 Use Kyma CLI on docs
  docs/kyma/03-02-testing.md
  docs/kyma/04-01-overview.md
  docs/kyma/04-04-cluster-installation.md
  docs/kyma/04-05-use-your-own-domain.md
  docs/kyma/04-06-use-your-own-image.md
  docs/kyma/05-02-custom-component-installation.md
  docs/kyma/05-03-overrides.md
  docs/kyma/05-04-component-source-url.md
  docs/service-mesh/05-05-production-profile.md
Labels: area/cli, area/documentation

#8935 update dependencies for logging and monitoring tests
  tests/integration/logging/Dockerfile
  tests/integration/monitoring/Dockerfile
Labels: area/logging, area/monitoring

#8932 update to kiali 1.20.0
  resources/kiali/values.yaml
Labels: area/service-mesh
