Repository kyma-project/kyma, pull requests merged in 2020-08, with the labels that each got.

#9159 Update CBS Readme
  components/console-backend-service/README.md
Labels: area/console, area/documentation

#9160 Add Function Runtimes to codeowners
  CODEOWNERS
Labels: area/serverless, enhancement

#9117 Add function runtime dockerfiles
  components/function-controller/Makefile
  components/function-controller/config/crd/crds-thirdparty/300-configuration.yaml
  components/function-controller/config/crd/crds-thirdparty/300-revision.yaml
  components/function-controller/config/crd/crds-thirdparty/300-route.yaml
  components/function-controller/config/crd/crds-thirdparty/300-service.yaml
  components/function-controller/internal/controllers/serverless/suite_test.go
  components/function-runtimes/Makefile
  components/function-runtimes/OWNERS
  components/function-runtimes/README.md
  components/function-runtimes/nodejs10/Dockerfile
  components/function-runtimes/nodejs10/kubeless-npm-install.sh
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/nodejs12/kubeless-npm-install.sh
  components/function-runtimes/python37/Dockerfile
  resources/serverless/templates/runtimes.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#9116 Gitops serverless
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/gitops_test.go
  components/function-controller/internal/controllers/serverless/job.go
  resources/serverless/charts/webhook/values.yaml
Labels: WIP, area/serverless

#9169 Remove steps to install Kyma on IBM Cloud
  docs/kyma/04-03-cluster-installation.md
Labels: area/documentation, area/installation

#9175 Show more informations about functions in the external-solution test
  resources/compass-runtime-agent/values.yaml
  resources/core/values.yaml
  tests/end-to-end/external-solution-integration/chart/external-solution/values.yaml
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_function.go
Labels: area/serverless

#9190 Add serverless-webhook-env test to cluster-users tests
  resources/cluster-users/files/sar-test.sh
Labels: area/serverless

#9111 Enhance serverless' git repository auth support
  components/function-controller/cmd/jobinit/README.md
  components/function-controller/cmd/jobinit/main.go
  components/function-controller/config/crd/bases/serverless.kyma-project.io_gitrepositories.yaml
  components/function-controller/config/rbac/role.yaml
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/go.mod
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/configmap.go
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/gitops_test.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/internal/controllers/serverless/service.go
  components/function-controller/internal/git/auth.go
  components/function-controller/internal/git/auth_test.go
  components/function-controller/internal/git/git.go
  components/function-controller/internal/git/git_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_types.go
Labels: area/serverless, enhancement

#9201 Add support for multiple lambda functions in one repository
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/function_controller.go
Labels: area/serverless

#9167 Restrict Namespace list response
  components/console-backend-service/gqlgen.yml
  components/console-backend-service/internal/domain/k8s/listener/automock/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/listener/namespace.go
  components/console-backend-service/internal/domain/k8s/listener/namespace_test.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver_test.go
  components/console-backend-service/internal/domain/schema.resolvers.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/namespace.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console, area/security

#9206 Fix app-operator upgrade job
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/application-operator/application_operator.go
Labels: bug, test-failing

#9134 Support the gitops reference in the function-controller
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/crd/bases/serverless.kyma-project.io_gitrepositories.yaml
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/gitops_test.go
  components/function-controller/internal/git/git.go
  components/function-controller/internal/git/git_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
Labels: area/serverless

#9165 Make extraVolumeMounts and extraVolumes consumable via kyma operator
  resources/logging/charts/fluentbit/templates/daemonset.yaml
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9194 fixed resource settings for prometheus-operator and kube-state-mtrics
  resources/monitoring/charts/kube-state-metrics/values.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring, bug

#9205 aligned timezone and refresh rate across all grafana dashboards
  resources/monitoring/templates/grafana/dashboards-1.14/etcd.yaml
  resources/monitoring/templates/grafana/dashboards-1.14/k8s-coredns.yaml
  resources/monitoring/templates/grafana/dashboards-1.14/prometheus-remote-write.yaml
  resources/monitoring/templates/grafana/dashboards-1.14/prometheus.yaml
  resources/monitoring/templates/grafana/dashboards/etcd.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/alertmanager.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/apiserver.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/grafana.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-citadel.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-galley.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-mesh.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-mixer.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-performance.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-pilot.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-service.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/istio-workload.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kubernetes-apiserver-per-client.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/nodes-exporter.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/rest-service.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/webapps.yaml
Labels: area/monitoring

#9168 Bump restrict namespaces query & SC fixes
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, area/security

#9185 Bump core & tests images for collapsible categories
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9213 Extend function controller code coverage
  components/function-controller/internal/controllers/serverless/automock/git_operator.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_matchers_test.go
Labels: area/serverless

#9024 Upgrade Minikube version
  docs/kyma/04-02-local-installation.md
  installation/scripts/minikube.sh
Labels: area/cluster

#9225 Adjust kyma-project-io script to newest config in website
  .kyma-project-io/build-preview.sh
Labels: enhancement

#9219 Remove the pre-upgrade hook from the knative-eventing-kafka chart
  resources/knative-eventing-kafka/pre-upgrade.sh
  resources/knative-eventing-kafka/templates/pre-upgrade.yaml
Labels: area/eventing

#9119 Add oauth domain to CBS
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/oauth.resolvers.go
  components/console-backend-service/internal/domain/oauth/oauth2client.go
  components/console-backend-service/internal/domain/oauth/resolver.go
  components/console-backend-service/internal/domain/oauth/service.go
  components/console-backend-service/internal/domain/oauth/service_test.go
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/domain/schema.resolvers.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/oauth.graphql
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  resources/console/charts/backend/templates/cluster-role.yaml
Labels: area/console

#9212 refactor the assignment of global.alertTools.credentials.victorOps.sendResolved
  resources/monitoring/templates/kyma-additions/alertmanager.config.yaml
Labels: area/monitoring

#9174 Minor improvements in Istio
  resources/istio-kyma-patch/README.md
  resources/istio-kyma-patch/files/check.sh
  resources/istio-kyma-patch/templates/job.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/files/destination-rules.yaml
  resources/istio/files/job-script.sh
Labels: area/security, area/service-mesh

#9245 Fix Nodejs10 Function install script
  components/function-runtimes/nodejs10/kubeless-npm-install.sh
Labels: area/serverless, bug

#9248 Fix the descriptions for Grafana parameters
  docs/monitoring/05-02-grafana.md
Labels: area/documentation

#9131 Bump OAuth Clients
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9246 Bump function-runtimes bases
  resources/serverless/values.yaml
Labels: area/serverless

#9256 Fix dead links
  docs/service-mesh/03-02-istio-patch.md
  resources/istio-kyma-patch/README.md
Labels: area/documentation

#9216 Update production profile for prometheus with required memory
  installation/resources/installer-config-production.yaml.tpl
Labels: area/monitoring

#9258 Bump event-source controller and adapter image
  resources/application-connector/values.yaml
  resources/core/values.yaml
  resources/event-sources/values.yaml
  tests/end-to-end/external-solution-integration/chart/external-solution/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/eventing

#9263 Remove 1.13-1.14 migration guide
  docs/migration-guides/1.13-1.14.md
Labels: area/documentation

#9239 Generalize runtimes for gitops usecase
  resources/serverless/templates/runtimes.yaml
Labels: area/serverless

#9266 Bump application-operator-tests image
  resources/application-connector/values.yaml
Labels: area/application-connector

#9195 Enable GitOps functionality for the Serverless domain
  components/function-controller/README.md
  components/function-controller/config/samples/serverless_v1alpha1_function_git.yaml
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/config.go
  resources/cluster-essentials/files/functions.serverless.crd.yaml
  resources/cluster-essentials/files/gitrepositories.serverless.crd.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/templates/cluster-role.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#9267 Update RA dependencies
  components/compass-runtime-agent/Dockerfile
  components/compass-runtime-agent/Makefile
  components/compass-runtime-agent/cmd/init.go
  components/compass-runtime-agent/go.mod
  components/compass-runtime-agent/go.sum
  components/compass-runtime-agent/hack/Dockerfile
  components/compass-runtime-agent/internal/certificates/csrprovider.go
  components/compass-runtime-agent/internal/certificates/manager.go
  components/compass-runtime-agent/internal/certificates/mocks/CSRProvider.go
  components/compass-runtime-agent/internal/certificates/mocks/Manager.go
  components/compass-runtime-agent/internal/compass/clients_provider.go
  components/compass-runtime-agent/internal/compass/connector/client.go
  components/compass-runtime-agent/internal/compass/connector/mocks/Client.go
  components/compass-runtime-agent/internal/compass/director/client.go
  components/compass-runtime-agent/internal/compass/director/mocks/DirectorClient.go
  components/compass-runtime-agent/internal/compass/director/mocks/ProxyConfigurator.go
  components/compass-runtime-agent/internal/compass/director/proxy.go
  components/compass-runtime-agent/internal/compass/mocks/ClientsProvider.go
  components/compass-runtime-agent/internal/compassconnection/connector.go
  components/compass-runtime-agent/internal/compassconnection/mocks/CRManager.go
  components/compass-runtime-agent/internal/compassconnection/mocks/Connector.go
  components/compass-runtime-agent/internal/compassconnection/mocks/Supervisor.go
  components/compass-runtime-agent/internal/compassconnection/package_test.go
  components/compass-runtime-agent/internal/compassconnection/supervisor.go
  components/compass-runtime-agent/internal/config/mocks/Provider.go
  components/compass-runtime-agent/internal/config/provider.go
  components/compass-runtime-agent/internal/graphql/client.go
  components/compass-runtime-agent/internal/graphql/mocks/Client.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/clusterassetgrouprepository.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/clusterassetgrouprepository_test.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/mocks/ClusterAssetGroupRepository.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/mocks/ResourceInterface.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/mocks/Service.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/upload/client.go
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/upload/mocks/Client.go
  components/compass-runtime-agent/internal/kyma/applications/converter.go
  components/compass-runtime-agent/internal/kyma/applications/mocks/Converter.go
  components/compass-runtime-agent/internal/kyma/applications/mocks/Repository.go
  components/compass-runtime-agent/internal/kyma/applications/repository.go
  components/compass-runtime-agent/internal/kyma/mocks/Service.go
  components/compass-runtime-agent/internal/kyma/service.go
  components/compass-runtime-agent/internal/metrics/logger_test.go
  components/compass-runtime-agent/internal/metrics/metrics_fetcher.go
  components/compass-runtime-agent/internal/metrics/metrics_fetcher_test.go
  components/compass-runtime-agent/internal/metrics/mock_interfaces.go
  components/compass-runtime-agent/internal/metrics/mocks/MetricsClientsetInterface.go
  components/compass-runtime-agent/internal/metrics/mocks/MetricsV1beta1Interface.go
  components/compass-runtime-agent/internal/metrics/mocks/NodeMetricsInterface.go
  components/compass-runtime-agent/internal/metrics/resources_fetcher.go
  components/compass-runtime-agent/internal/metrics/volumes_fetcher.go
  components/compass-runtime-agent/internal/secrets/mocks/Manager.go
  components/compass-runtime-agent/internal/secrets/mocks/Repository.go
  components/compass-runtime-agent/internal/secrets/repository.go
  components/compass-runtime-agent/internal/secrets/repository_test.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/clientset.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/compassconnection.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/fake/fake_compassconnection.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/compass/v1alpha1/compassconnection.go
  resources/compass-runtime-agent/values.yaml
Labels: enhancement

#9252 Make limit ranges optional
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console, bug

#9269 Change min TLS version to 1.2
  resources/application-connector/templates/application-connector-gateway.yaml
  resources/core/charts/gateway/templates/gateway.yaml
Labels: area/security

#9279 Add ClusterRoles for svcat API group
  resources/cluster-users/files/sar-test.sh
  resources/cluster-users/templates/clusterroles-svcat.yaml
  resources/cluster-users/templates/rbac-roles.yaml
  resources/cluster-users/values.yaml
Labels: area/service-catalog, enhancement

#9272 Bump window titles
  resources/console/charts/web/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#9276 Configurable pod-preset webhook timeout
  resources/cluster-essentials/charts/pod-preset/templates/webhook/webhook.yaml
  resources/cluster-essentials/charts/pod-preset/values.yaml
Labels: priority/critical

#9289 Update the Istio docs link
  docs/tracing/10-01-traces-troubleshooting.md
Labels: area/documentation, area/tracing

#9126 Add ability to run python function in serverless
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/samples/serverless_v1alpha1_funtion_python37.yaml
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/kubernetes/shared.go
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/configmap.go
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_controller_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/gitops_test.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/internal/controllers/serverless/runtime/nodejs.go
  components/function-controller/internal/controllers/serverless/runtime/nodejs_test.go
  components/function-controller/internal/controllers/serverless/runtime/python.go
  components/function-controller/internal/controllers/serverless/runtime/runtime.go
  components/function-controller/internal/controllers/serverless/runtime/runtime_test.go
  components/function-controller/internal/controllers/serverless/suite_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/runtime_validation.go
  docs/serverless/03-01-supported-webhooks.md
  resources/cluster-essentials/files/functions.serverless.crd.yaml
  resources/console/charts/web/templates/configmap.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/templates/_helper_funtction_runtime_migration.txt
  resources/serverless/templates/functions-runtime-migration.yaml
  resources/serverless/templates/runtimes.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#9251 Update Function CR queries in CBS for Functions
  components/console-backend-service/.dockerignore
  components/console-backend-service/Dockerfile
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/eventing.resolvers.go
  components/console-backend-service/internal/domain/eventing/resolver.go
  components/console-backend-service/internal/domain/eventing/service.go
  components/console-backend-service/internal/domain/eventing/service_test.go
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/domain/serverless/function_converter.go
  components/console-backend-service/internal/domain/serverless/function_converter_test.go
  components/console-backend-service/internal/domain/serverless/function_resolver.go
  components/console-backend-service/internal/domain/serverless/function_resolver_test.go
  components/console-backend-service/internal/domain/serverless/function_service.go
  components/console-backend-service/internal/domain/serverless/function_service_test.go
  components/console-backend-service/internal/gqlschema/eventing.graphql
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/resource/unstructured_test.go
Labels: area/console, area/serverless, enhancement

#9291 Update base images for functions
  components/function-runtimes/Makefile
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/python38/Dockerfile
Labels: area/serverless

#9234 Use dynamic informers
  components/console-backend-service/internal/domain/application/app_service.go
  components/console-backend-service/internal/domain/application/app_service_test.go
  components/console-backend-service/internal/domain/application/application.go
  components/console-backend-service/internal/domain/application/eventactivation_service.go
  components/console-backend-service/internal/domain/application/eventactivation_service_test.go
  components/console-backend-service/internal/domain/application/export_test.go
  components/console-backend-service/internal/domain/application/extractor/application.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_service.go
  components/console-backend-service/internal/domain/ui/extractor/microfrontend.go
  components/console-backend-service/internal/domain/ui/microfrontend_service.go
  components/console-backend-service/internal/domain/ui/ui.go
Labels: area/console, enhancement

#9290 Update CBS and Core-ui images
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console, area/serverless, enhancement

#9292 Update Python version used in function-controller
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/samples/serverless_v1alpha1_funtion_python38.yaml
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/runtime/runtime.go
  components/function-controller/internal/controllers/serverless/runtime/runtime_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/runtime_validation.go
  resources/cluster-essentials/files/functions.serverless.crd.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/templates/runtimes.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#9293 Update python runtime version used in CBS
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/serverless/function_converter_test.go
  components/console-backend-service/internal/domain/serverless/function_resolver_test.go
  components/console-backend-service/internal/domain/serverless/function_service_test.go
Labels: area/serverless, enhancement

#9297 Bump CBS, function-controller and UI images
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/console, area/serverless, enhancement

#9298 Bump dependencies in tests of knative-serving and function-controller
  resources/knative-serving/values.yaml
  resources/serverless/values.yaml
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
Labels: area/serverless, security/high, security/medium

#9300 Delete forks from dependencies
  components/application-registry/go.mod
  components/application-registry/go.sum
  resources/application-connector/values.yaml
  tests/application-gateway-tests/go.mod
  tests/application-gateway-tests/go.sum
  tests/connection-token-handler-tests/go.mod
  tests/connection-token-handler-tests/go.sum
Labels: area/application-connector, enhancement

#9265 Add Git Server tool
  CODEOWNERS
  tools/gitserver/Dockerfile
  tools/gitserver/Makefile
  tools/gitserver/README.md
  tools/gitserver/etc/git.conf
  tools/gitserver/etc/httpd.conf
  tools/gitserver/etc/init_repos.sh
  tools/gitserver/repos/function/handler.js
  tools/gitserver/repos/function/package.json
Labels: area/serverless, enhancement

#9303 Bump APIRule form fix
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#9271 Bump dynamic informers
  resources/console/values.yaml
Labels: area/console

#9313 [CVE-2020-14040] Bump x/text in tests/cbs
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/Gopkg.toml
Labels: security/medium

#9223 Add e2e test for different runtimes and allow them to be parallely runned
  resources/serverless/templates/tests/test.yaml
  resources/serverless/values.yaml
  tests/function-controller/Dockerfile
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/function-controller/main_test.go
  tests/function-controller/pkg/addons/addons.go
  tests/function-controller/pkg/apirule/apirule.go
  tests/function-controller/pkg/broker/broker.go
  tests/function-controller/pkg/function/function.go
  tests/function-controller/pkg/function/functiondetails.go
  tests/function-controller/pkg/job/job.go
  tests/function-controller/pkg/namespace/namespace.go
  tests/function-controller/pkg/poller/poller.go
  tests/function-controller/pkg/resource/resource.go
  tests/function-controller/pkg/retry/retry.go
  tests/function-controller/pkg/servicebinding/servicebinding.go
  tests/function-controller/pkg/servicebindingusage/servicebindingusage.go
  tests/function-controller/pkg/serviceinstance/serviceinstance.go
  tests/function-controller/pkg/shared/shared.go
  tests/function-controller/pkg/step/cli.go
  tests/function-controller/pkg/step/parallel.go
  tests/function-controller/pkg/step/retry.go
  tests/function-controller/pkg/step/step.go
  tests/function-controller/pkg/trigger/trigger.go
  tests/function-controller/testsuite/fixtures.go
  tests/function-controller/testsuite/functiondetails.go
  tests/function-controller/testsuite/runtimes/cfg.go
  tests/function-controller/testsuite/runtimes/nodejs.go
  tests/function-controller/testsuite/runtimes/python.go
  tests/function-controller/testsuite/scenarios/runtime.go
  tests/function-controller/testsuite/teststep/addons.go
  tests/function-controller/testsuite/teststep/check.go
  tests/function-controller/testsuite/teststep/configure.go
  tests/function-controller/testsuite/teststep/function.go
  tests/function-controller/testsuite/teststep/namespace.go
  tests/function-controller/testsuite/teststep/serial.go
  tests/function-controller/testsuite/testsuite.go
Labels: area/serverless

#9254 Introduce HTTP Output for Fluent-Bit configuration
  resources/logging/charts/fluentbit/templates/configmap.yaml
  resources/logging/charts/fluentbit/templates/daemonset.yaml
  resources/logging/charts/fluentbit/templates/secrets.yaml
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#9278 Cypress POC Bump
  installation/resources/installer-config-local.yaml.tpl
  resources/console/charts/web/templates/test/test.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9295 Add Git flow scenario to Serverless E2E tests
  resources/serverless/templates/tests/rbac.yaml
  resources/serverless/templates/tests/test.yaml
  resources/serverless/values.yaml
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/function-controller/main_test.go
  tests/function-controller/pkg/function/function.go
  tests/function-controller/pkg/function/functiondetails.go
  tests/function-controller/pkg/git/git.go
  tests/function-controller/pkg/gitrepository/gitrepository.go
  tests/function-controller/pkg/gitserver/gitserver.go
  tests/function-controller/pkg/retry/retry_test.go
  tests/function-controller/testsuite/gitops/cfg.go
  tests/function-controller/testsuite/gitops/function.go
  tests/function-controller/testsuite/gitops/gitrepository.go
  tests/function-controller/testsuite/scenarios/gitops.go
  tests/function-controller/testsuite/teststep/addons.go
  tests/function-controller/testsuite/teststep/commitchanges.go
  tests/function-controller/testsuite/teststep/gitrepository.go
  tests/function-controller/testsuite/teststep/gitserver.go
  tests/function-controller/testsuite/testsuite.go
Labels: area/serverless, enhancement

#9327 Addons ui fixes
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#9304 Replace PR tags of knative-serving-acceptance-tests and function-controller-test
  resources/knative-serving/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#9320 [Whitesource] Bump coreos/etcd
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
Labels: security/high

#9229 Increase function-controller test verbosity
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
Labels: area/serverless
