Repository kyma-project/kyma, pull requests merged in 2020-10, with the labels that each got.

#9583 Fixing misconfiguration for prometheus-pushgateway
  resources/monitoring/charts/prometheus-pushgateway/templates/kyma-additions/policy.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/service.yaml
Labels: area/monitoring, bug

#9602 Add logging label changes to the migration guide
  docs/migration-guides/1.15-1.16.md
Labels: area/documentation

#9601 Monitoring retention size update
  docs/monitoring/05-04-production-profile.md
  resources/monitoring/values.yaml
Labels: area/documentation, area/monitoring

#9595 Fix upgrade process in MinIO
  docs/rafter/03-06-upload-service.md
  docs/rafter/03-08-front-matter-service.md
  resources/rafter/charts/controller-manager/charts/minio/templates/_helper_patch_credentials.txt
  resources/rafter/charts/controller-manager/charts/minio/templates/deployment.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/patch-credentials-job.yaml
  resources/rafter/charts/controller-manager/charts/minio/values.yaml
  resources/rafter/values.yaml
Labels: bug, priority/critical

#9590 Add troubleshooting for "Not enough permissions" error
  docs/security/10-04-not-enough-permissions.md
Labels: area/documentation

#9562 Remove policy migration code
  components/event-sources/Gopkg.lock
  components/event-sources/Makefile
  components/event-sources/apis/sources/v1alpha1/http_lifecycle.go
  components/event-sources/client/generated/injection/istio/informers/authentication/v1alpha1/meshpolicy/fake/fake.go
  components/event-sources/client/generated/injection/istio/informers/authentication/v1alpha1/meshpolicy/meshpolicy.go
  components/event-sources/client/generated/injection/istio/informers/authentication/v1alpha1/policy/fake/fake.go
  components/event-sources/client/generated/injection/istio/informers/authentication/v1alpha1/policy/policy.go
  components/event-sources/reconciler/httpsource/controller.go
  components/event-sources/reconciler/httpsource/controller_test.go
  components/event-sources/reconciler/httpsource/reconcile.go
  components/event-sources/reconciler/httpsource/reconcile_test.go
  components/event-sources/reconciler/testing/listers.go
  resources/event-sources/templates/200-rbac.yaml
  resources/event-sources/values.yaml
Labels: area/eventing

#9624 Bump event-sources controller-manager image
  resources/event-sources/values.yaml
Labels: area/eventing

#9599 Add "watch" to role & clusterRole verbs
  components/console-backend-service/internal/domain/roles/clusterRoleBinding.resolver.go
  components/console-backend-service/internal/domain/roles/roleBinding.resolver.go
  resources/console/charts/backend/templates/cluster-role.yaml
  resources/console/charts/backend/templates/deployment.yaml
Labels: area/console

#9600 Bump viewgroups
  resources/console/charts/web/values.yaml
Labels: area/console

#9625 Upgrade uaa-activator SI and SB creator
  components/uaa-activator/internal/uaa/creator.go
  resources/uaa-activator/values.yaml
Labels: area/control-plane

#9630 Upgrade 'etcd' in Compass Runtime Agent
  components/compass-runtime-agent/go.mod
  components/compass-runtime-agent/go.sum
Labels: area/security, hacktoberfest-accepted

#9643 Fix dead links
  docs/security/08-04-add-connector.md
  resources/dex/README.md
Labels: area/documentation

#9573 Upgrade golang.org/x/text for E2E tests
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.lock
Labels: area/security, hacktoberfest-accepted

#9652 Istio 1.6 migration guide update
  docs/migration-guides/1.15-1.16.md
Labels: area/documentation

#9609 Grafana logs
  resources/console/charts/web/templates/test/test.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/logging/charts/logui/templates/clustermicrofrontend.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/logs-microfrontend.yaml
Labels: area/console, area/logging, hacktoberfest-accepted

#9611 Disable logs view if Rafter is disabled
  resources/console/charts/web/templates/test/test.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9654 cleanup monitoring leftovers
  resources/monitoring/templates/grafana/kyma-dashboards/rest-service.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/webapps.yaml
  resources/monitoring/templates/kyma-additions/aks-kubelet-monitoring-patch-pre-upgrade-cleanup.yaml
  resources/monitoring/templates/prometheus/kyma-rules/alert-rules-rest-services.yaml
  resources/monitoring/templates/prometheus/kyma-rules/alert-rules-webapps.yaml
Labels: area/monitoring

#9628 Add a possibility to copy the drawer content in the console
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#9447 Configurable build resources - changes
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/serverless/function_converter.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/resource/unstructured_test.go
  components/function-controller/cmd/manager/main.go
  components/function-controller/cmd/webhook/main.go
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/go.sum
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
  tests/console-backend-service/internal/domain/serverless/function_test.go
Labels: area/serverless, enhancement

#9679 Update function-controller dependency in cbs to newest version
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
Labels: enhancement

#9659 Fix headers in serverless events
  components/function-runtimes/nodejs10/Dockerfile
  components/function-runtimes/nodejs10/kubeless/kubeless-npm-install.sh
  components/function-runtimes/nodejs10/kubeless/kubeless_rt/kubeless.js
  components/function-runtimes/nodejs10/kubeless/kubeless_rt/lib/helper.js
  components/function-runtimes/nodejs10/kubeless/kubeless_rt/package-lock.json
  components/function-runtimes/nodejs10/kubeless/kubeless_rt/package.json
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/nodejs12/kubeless/kubeless-npm-install.sh
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/kubeless.js
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/lib/helper.js
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/package-lock.json
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/package.json
  components/function-runtimes/python38/Dockerfile
  components/function-runtimes/python38/kubeless/kubeless.py
  resources/serverless/values.yaml
Labels: area/eventing, area/serverless, bug

#9682 Add component label to Grafana service
  resources/monitoring/charts/grafana/templates/service.yaml
  resources/monitoring/templates/grafana/servicemonitor.yaml
Labels: area/monitoring

#9670 Correct diagram
  docs/security/assets/kyma-access-kubectl.svg
Labels: area/documentation

#9664 Redo tutorial section for event-mesh
  docs/event-mesh/05-01-nats-streaming.md
  docs/event-mesh/08-01-configure-kafka-channel.md
Labels: area/documentation, area/eventing

#9481 Checking that all scrape pools have active targets
  resources/monitoring/templates/tests/rbac.yaml
  resources/monitoring/values.yaml
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/prom/targets.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/targets_rules.go
  tests/integration/monitoring/Gopkg.lock
  tests/integration/monitoring/Gopkg.toml
  tests/integration/monitoring/prom/targets.go
  tests/integration/monitoring/test-monitoring.go
Labels: area/monitoring, bug, test-missing

#9530 Configurable build resources - integration
  docs/serverless/03-03-supported-webhooks.md
  docs/serverless/03-04-available-presets.md
  docs/serverless/03-05-api-rules.md
  docs/serverless/03-06-function-processing.md
  docs/serverless/03-07-security.md
  docs/serverless/05-01-serverless-envs.md
  docs/serverless/05-02-serverless-chart-config.md
  docs/serverless/06-01-function-cr.md
  docs/serverless/08-05-trigger-function-with-event.md
  installation/resources/installer-config-local.yaml.tpl
  resources/cluster-essentials/files/functions.serverless.crd.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/serverless/charts/webhook/templates/configmap.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/templates/_helper_migration.txt
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/functions-migration.yaml
  resources/serverless/values.yaml
Labels: area/documentation, area/serverless, enhancement

#9672 fixed loki access from grafana
  resources/logging/templates/loki/authorizationpolicy.yaml
Labels: area/monitoring, bug

#9683 Bump k8s.io/apimachinery to 18.8
  components/application-connectivity-certs-setup-job/go.mod
  components/application-connectivity-certs-setup-job/go.sum
  components/compass-runtime-agent/go.mod
  components/connection-token-handler/go.mod
  components/connection-token-handler/go.sum
  components/connection-token-handler/hack/code-generator.go
  components/connection-token-handler/hack/tools.go
  components/connection-token-handler/pkg/client/clientset/versioned/clientset.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_tokenrequest.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/tokenrequest.go
  components/connector-service/go.mod
  components/connector-service/go.sum
  resources/application-connector/values.yaml
Labels: area/application-connector, area/security

#9653 Add autoscaling to Application Gateway
  components/application-operator/charts/application/templates/autoscaler.yaml
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/charts/gateway/templates/autoscaler.yaml
  components/application-operator/charts/gateway/templates/deployment.yaml
  components/application-operator/charts/gateway/values.yaml
  resources/application-connector/charts/application-operator/templates/cluster-rolebinding.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, enhancement

#9299 Generic make add post pr tag
  common/makefiles/generic-make-go.mk
Labels: area/ci, enhancement

#9706 Remove 1.15->1.16 migration guide
  docs/migration-guides/1.15-1.16.md
Labels: area/documentation, hacktoberfest

#9702 Bump core-ui image with fix for monaco editor
  resources/console/charts/web/values.yaml
Labels: area/console, area/serverless, bug, hacktoberfest, hacktoberfest-accepted, priority/critical

#9707 Bump Application Connector images
  resources/application-connector/values.yaml
Labels: area/application-connector, hacktoberfest-accepted

#9640 Fix comparing valueFrom in function-controller
  components/function-controller/config/samples/serverless_v1alpha1_function_full.yaml
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_controller_test.go
  resources/serverless/templates/tests/rbac.yaml
  resources/serverless/values.yaml
  tests/function-controller/go.sum
  tests/function-controller/pkg/configmap/configmap.go
  tests/function-controller/pkg/function/function.go
  tests/function-controller/pkg/function/functiondetails.go
  tests/function-controller/testsuite/runtimes/nodejs.go
  tests/function-controller/testsuite/scenarios/runtime.go
  tests/function-controller/testsuite/teststep/configmap.go
  tests/function-controller/testsuite/testsuite.go
Labels: area/serverless, enhancement

#9691 Add a troubleshooting guide for Serverless
  docs/serverless/10-01-failure-to-build-functions.md
Labels: area/documentation, area/serverless

#9709 Bump Serverless runtimes images
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#9657 Add GitOps tutorial
  docs/serverless/03-01-available-runtimes.md
  docs/serverless/08-07-sync-function-with-gitops.md
  docs/serverless/assets/add-ssh-key.png
  docs/serverless/assets/create-ssh-key.png
  docs/serverless/assets/settings.png
Labels: area/documentation, area/serverless

#9692 Check if release exists before deleting it during Kyma uninstall
  components/kyma-operator/pkg/kymahelm/kyma-helm-client.go
  components/kyma-operator/pkg/kymaoperation/steps/step_test.go
  components/kyma-operator/pkg/kymaoperation/steps/uninstall.go
Labels: area/installation

#9700 Proper aggregation of istio metrics using prometheus federation
  docs/monitoring/05-03-prometheus.md
  docs/monitoring/05-04-production-profile.md
  installation/resources/installer-config-production.yaml.tpl
  resources/istio/templates/monitoring/grafana/dashboards/istio-mesh.yaml
  resources/istio/templates/monitoring/grafana/dashboards/istio-performance.yaml
  resources/istio/templates/monitoring/grafana/dashboards/istio-pilot.yaml
  resources/istio/templates/monitoring/grafana/dashboards/istio-service.yaml
  resources/istio/templates/monitoring/grafana/dashboards/istio-workload.yaml
  resources/istio/templates/monitoring/prometheus/podmonitor-envoy-stats.yaml
  resources/istio/templates/monitoring/servicemonitor-pilot.yaml
  resources/istio/values.yaml
  resources/monitoring/charts/prometheus-istio/Chart.yaml
  resources/monitoring/charts/prometheus-istio/templates/_helpers.tpl
  resources/monitoring/charts/prometheus-istio/templates/clusterrole.yaml
  resources/monitoring/charts/prometheus-istio/templates/clusterrolebinding.yaml
  resources/monitoring/charts/prometheus-istio/templates/cm.yaml
  resources/monitoring/charts/prometheus-istio/templates/deploy.yaml
  resources/monitoring/charts/prometheus-istio/templates/rolebinding.yaml
  resources/monitoring/charts/prometheus-istio/templates/service.yaml
  resources/monitoring/charts/prometheus-istio/templates/serviceaccount.yaml
  resources/monitoring/charts/prometheus-istio/templates/servicemonitor.yaml
  resources/monitoring/charts/prometheus-istio/values.yaml
  resources/monitoring/requirements.yaml
  resources/monitoring/templates/grafana/configmaps-datasources.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/nodes-exporter.yaml
  resources/monitoring/templates/kyma-additions/istio-servicemonitor.yaml
  resources/monitoring/templates/prometheus/kyma-rules/kubernetes-storage.yaml
  resources/monitoring/values.yaml
  resources/rafter/charts/asyncapi-service/templates/service-monitor.yaml
  resources/rafter/charts/asyncapi-service/values.yaml
  resources/rafter/charts/controller-manager/templates/service-monitor.yaml
  resources/rafter/charts/controller-manager/values.yaml
  resources/rafter/charts/front-matter-service/templates/service-monitor.yaml
  resources/rafter/charts/front-matter-service/values.yaml
  resources/rafter/charts/upload-service/templates/service-monitor.yaml
  resources/rafter/charts/upload-service/values.yaml
  resources/serverless/templates/service-monitor.yaml
  resources/serverless/values.yaml
Labels: area/monitoring

#9729 Fix a dead link
  docs/kyma/04-02-local-installation.md
Labels: area/documentation, bug

#9723 Bump apimachinery package to v0.18.6
  components/kyma-operator/go.mod
  components/kyma-operator/go.sum
Labels: area/installation

#9740 Fix busybox vulns in rafter tests
  tests/rafter/Dockerfile
Labels: area/core-and-supporting

#9742 Update test image in Rafter
  resources/rafter/values.yaml
Labels: area/core-and-supporting

#9731 Bump resource upload fix
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#9743 Change eventTypeVersion to version
  docs/serverless/08-07-sync-function-with-gitops.md
Labels: area/documentation, area/serverless

#9696 Avoid repetitively defining app and release labels in prometheus-pushgateway
  resources/monitoring/charts/prometheus-pushgateway/templates/_helpers.tpl
  resources/monitoring/charts/prometheus-pushgateway/templates/deployment.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/ingress.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/kyma-additions/policy.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/pdb.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/service.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/servicemonitor.yaml
Labels: area/monitoring

#9728 Add tutorial for unsecured service
  docs/api-gateway/08-01-expose-service.md
  docs/api-gateway/08-02-exposesecure.md
Labels: area/documentation

#9752 Changes in Docker registry docs
  docs/serverless/01-01-serverless.md
  docs/serverless/02-01-serverless.md
  docs/serverless/03-07-security.md
Labels: area/documentation, area/serverless

#9697 Resources on namespace view
  components/console-backend-service/README.md
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/authn/oidc.go
  components/console-backend-service/internal/domain/apigateway/resolver.go
  components/console-backend-service/internal/domain/application/application.go
  components/console-backend-service/internal/domain/application/gateway/config.go
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/automock/limit_range_lister.go
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_lister.go
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_status_checker.go
  components/console-backend-service/internal/domain/k8s/dep.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/limitrange_converter.go
  components/console-backend-service/internal/domain/k8s/limitrange_converter_test.go
  components/console-backend-service/internal/domain/k8s/limitrange_resolver.go
  components/console-backend-service/internal/domain/k8s/limitrange_resolver_test.go
  components/console-backend-service/internal/domain/k8s/limitrange_service.go
  components/console-backend-service/internal/domain/k8s/limitrange_service_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service_test.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_service.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_service_test.go
  components/console-backend-service/internal/domain/k8sNew.resolvers.go
  components/console-backend-service/internal/domain/k8sNew/k8s.go
  components/console-backend-service/internal/domain/k8sNew/limitRange.resolver.go
  components/console-backend-service/internal/domain/k8sNew/resourceQuota.resolver.go
  components/console-backend-service/internal/domain/k8sNew/service.go
  components/console-backend-service/internal/domain/k8sNew/test/limitRange_test.go
  components/console-backend-service/internal/domain/k8sNew/test/resourceQuota_test.go
  components/console-backend-service/internal/domain/k8sNew/test/setup.go
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/domain/roles/service.go
  components/console-backend-service/internal/domain/schema.resolvers.go
  components/console-backend-service/internal/gqlschema/k8sNew.graphql
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/resource/toJson.go
  components/console-backend-service/main.go
  resources/console/charts/backend/templates/cluster-role.yaml
  tests/console-backend-service/internal/domain/k8s/limitrange_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
Labels: hacktoberfest-accepted

#9753 Bump angular in core console
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#9765 Remove Softicious logo from the main README.md
  README.md
Labels: area/documentation

#9755 Add Binding chart
  components/binding/charts/binding/.helmignore
  components/binding/charts/binding/Chart.yaml
  components/binding/charts/binding/templates/_helpers.tpl
  components/binding/charts/binding/templates/crds/binding.yaml
  components/binding/charts/binding/templates/crds/targetkind.yaml
  components/binding/charts/binding/templates/deployment.yaml
  components/binding/charts/binding/templates/mutating-webhook.yaml
  components/binding/charts/binding/templates/rbac.yaml
  components/binding/charts/binding/values.yaml
Labels: hacktoberfest-accepted

#9789 Add pod mutating functionality to Binding component
  components/binding/cmd/manager/main.go
  components/binding/go.mod
  components/binding/internal/webhook/matcher_gvk.go
  components/binding/internal/webhook/pod_webhook.go
  components/binding/internal/webhook/pod_webhook_test.go
  components/binding/pkg/apis/v1alpha1/binding_types.go
Labels: enhancement

#9783 Fix routing to ServiceClassPlansList
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/service-catalog, bug, hacktoberfest-accepted

#9796 Fix Pod webhook behavior
  components/binding/internal/webhook/pod_webhook.go
  components/binding/internal/webhook/pod_webhook_test.go
Labels: enhancement

#9761 Resources on namespace details view bump
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9787 Scrape sample limit for prometheus istio envoy job
  resources/monitoring/charts/prometheus-istio/values.yaml
Labels: area/monitoring

#9784 Add a prerequisite to the Serverless tutorial
  docs/serverless/08-07-sync-function-with-gitops.md
Labels: area/documentation, area/serverless

#9803 Bump serverless images before release
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#9813 Change "Stats & metrics" to "Metrics" in Grafana Tutorial
  docs/monitoring/08-03-create-and-configure-grafana-dashboard.md
  docs/monitoring/assets/metrics.png
  docs/monitoring/assets/stats-and-metrics.png
Labels: area/documentation

#9794 Use kyma upgrade command in the docs
  docs/kyma/04-07-upgrade.md
  docs/kyma/04-08-update.md
  docs/kyma/05-02-custom-component-installation.md
  docs/kyma/05-03-overrides.md
  docs/monitoring/08-05-send-notifications.md
Labels: area/cli, area/documentation

#9804 fixed override key for prometheus-istio instance
  installation/resources/installer-config-production.yaml.tpl
  resources/monitoring/charts/prometheus-istio/templates/servicemonitor.yaml
  resources/monitoring/requirements.yaml
  resources/monitoring/templates/grafana/configmaps-datasources.yaml
  resources/monitoring/templates/kyma-additions/istio-servicemonitor.yaml
  resources/monitoring/values.yaml
Labels: bug

#9810 Add alert rule when one or more targets for job has scrape limit exce…
  resources/monitoring/templates/prometheus/kyma-rules/kyma-rules.yaml
Labels: area/monitoring

#9805 Bump Compass Runtime Agent and end to end tests
  resources/compass-runtime-agent/values.yaml
  tests/end-to-end/external-solution-integration/chart/external-solution/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Labels: area/application-connector

#9814 filtering metrics for logging
  resources/logging/charts/fluentbit/templates/service-monitor.yaml
  resources/logging/templates/loki/servicemonitor.yaml
Labels: area/logging, area/monitoring
