Repository kyma-project/kyma, pull requests merged in 2020-12, with the labels that each got.

#10081 Update fn-controller deps
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/suite_test.go
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#10097 Add a migration step for Kyma with Compass
  docs/migration-guides/1.15-1.17.md
Labels: area/documentation

#10025 Upgrade node exporter chart
  resources/monitoring/charts/prometheus-node-exporter/Chart.yaml
  resources/monitoring/charts/prometheus-node-exporter/templates/_helpers.tpl
  resources/monitoring/charts/prometheus-node-exporter/templates/daemonset.yaml
  resources/monitoring/charts/prometheus-node-exporter/templates/monitor.yaml
  resources/monitoring/charts/prometheus-node-exporter/templates/serviceaccount.yaml
  resources/monitoring/charts/prometheus-node-exporter/values.yaml
Labels: area/monitoring

#10065 Upgrade kube-state-metrics chart
  resources/monitoring/charts/kube-state-metrics/Chart.yaml
  resources/monitoring/charts/kube-state-metrics/templates/_helpers.tpl
  resources/monitoring/charts/kube-state-metrics/templates/clusterrole.yaml
  resources/monitoring/charts/kube-state-metrics/templates/clusterrolebinding.yaml
  resources/monitoring/charts/kube-state-metrics/templates/deployment.yaml
  resources/monitoring/charts/kube-state-metrics/templates/kubeconfig-secret.yaml
  resources/monitoring/charts/kube-state-metrics/templates/podsecuritypolicy.yaml
  resources/monitoring/charts/kube-state-metrics/templates/psp-clusterrole.yaml
  resources/monitoring/charts/kube-state-metrics/templates/psp-clusterrolebinding.yaml
  resources/monitoring/charts/kube-state-metrics/templates/service.yaml
  resources/monitoring/charts/kube-state-metrics/templates/serviceaccount.yaml
  resources/monitoring/charts/kube-state-metrics/templates/servicemonitor.yaml
  resources/monitoring/charts/kube-state-metrics/templates/stsdiscovery-role.yaml
  resources/monitoring/charts/kube-state-metrics/values.yaml
Labels: area/monitoring

#10067 Upgrade prometheus-istio chart
  resources/monitoring/charts/prometheus-istio/Chart.yaml
  resources/monitoring/charts/prometheus-istio/templates/cm.yaml
  resources/monitoring/charts/prometheus-istio/templates/rolebinding.yaml
  resources/monitoring/charts/prometheus-istio/templates/servicemonitor.yaml
  resources/monitoring/charts/prometheus-istio/values.yaml
Labels: area/monitoring

#10085 Upgrade grafana chart
  resources/monitoring/charts/grafana/Chart.yaml
  resources/monitoring/charts/grafana/templates/_helpers.tpl
  resources/monitoring/charts/grafana/templates/_pod.tpl
  resources/monitoring/charts/grafana/templates/clusterrole.yaml
  resources/monitoring/charts/grafana/templates/clusterrolebinding.yaml
  resources/monitoring/charts/grafana/templates/configmap-dashboard-provider.yaml
  resources/monitoring/charts/grafana/templates/deployment.yaml
  resources/monitoring/charts/grafana/templates/image-renderer-deployment.yaml
  resources/monitoring/charts/grafana/templates/image-renderer-network-policy.yaml
  resources/monitoring/charts/grafana/templates/image-renderer-service.yaml
  resources/monitoring/charts/grafana/templates/ingress.yaml
  resources/monitoring/charts/grafana/templates/poddisruptionbudget.yaml
  resources/monitoring/charts/grafana/templates/podsecuritypolicy.yaml
  resources/monitoring/charts/grafana/templates/role.yaml
  resources/monitoring/charts/grafana/templates/rolebinding.yaml
  resources/monitoring/charts/grafana/templates/secret.yaml
  resources/monitoring/charts/grafana/templates/service.yaml
  resources/monitoring/charts/grafana/templates/servicemonitor.yaml
  resources/monitoring/charts/grafana/templates/statefulset.yaml
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring

#10000 Remove content-ui
  components/console-backend-service/internal/domain/rafter/clusterassetgroup_resolver.go
  components/console-backend-service/internal/domain/schema.resolvers.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  resources/console/charts/web/templates/test/test.yaml
  resources/core/charts/docs/README.md
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/docs/charts/content-ui/templates/configmap.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/core/charts/docs/charts/content-ui/templates/destination-rule.yaml
  resources/core/charts/docs/charts/content-ui/templates/service.yaml
  resources/core/charts/docs/charts/content-ui/templates/virtualservice.yaml
  resources/core/charts/docs/charts/content-ui/values.yaml
  resources/core/requirements.yaml
  resources/core/values.yaml
Labels: area/console

#10080 Remove references to the Documentation view from Kyma docs
  docs/console/03-04-rafter-in-console.md
  docs/rafter/01-02-rafter-in-kyma.md
  docs/rafter/08-01-add-new-documentation-to-console.md
  docs/rafter/08-01-set-minio-to-gateway-mode.md
  docs/serverless/03-03-supported-webhooks.md
  docs/service-catalog/15-04-specifications-in-console-ui.md
Labels: area/console, area/documentation

#9981 Remove 1.6 related resources
  resources/istio/files/istio-operator-1-6-cluster.yaml
  resources/istio/files/istio-operator-1-6-minikube.yaml
  resources/istio/files/istio-upgrade-1-6.sh
  resources/istio/files/migrate-vs.sh
  resources/istio/templates/configmap-control-plane.yaml
  resources/istio/templates/job-istio-1-7.yaml
  resources/istio/templates/job-migrate-vs.yaml
  resources/istio/templates/job-upgrade-1-6.yaml
  resources/istio/templates/uninstall-job.yaml
  resources/istio/values.yaml
Labels: area/service-mesh

#10059 Add k3s-tests subchart in serverless chart
  resources/serverless/charts/k3s-tests/Chart.yaml
  resources/serverless/charts/k3s-tests/README.md
  resources/serverless/charts/k3s-tests/templates/k3s-test.yaml
  resources/serverless/charts/k3s-tests/values.yaml
  resources/serverless/requirements.yaml
  resources/serverless/values.yaml
  tests/function-controller/cmd/main.go
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/function-controller/pkg/gitserver/gitserver.go
  tests/function-controller/testsuite/config.go
  tests/function-controller/testsuite/scenarios/gitops.go
  tests/function-controller/testsuite/teststep/gitserver.go
Labels: area/serverless

#10092 fixed istio mesh dashboard
  resources/istio/templates/monitoring/grafana/dashboards/istio-mesh.yaml
Labels: area/monitoring, area/service-mesh, bug

#10087 Improve the Git Function tutorial
  docs/serverless/08-01-create-inline-function.md
  docs/serverless/08-02-create-git-function.md
  docs/serverless/08-02-expose-function.md
  docs/serverless/08-03-bind-service-instance.md
  docs/serverless/08-04-trigger-function-with-event.md
  docs/serverless/08-05-create-git-function.md
Labels: area/documentation, area/serverless

#10114 Extend monitoring owners
  CODEOWNERS
  resources/monitoring/OWNERS
Labels: area/monitoring

#10116 Bump api-gateway tests
  resources/api-gateway/values.yaml
Labels: area/api-gateway

#10121 Fix production profile for rafter
  resources/rafter/profile-production.yaml
Labels: bug

#10094 Update function-controller test dependencies
  resources/serverless/values.yaml
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/function-controller/pkg/addons/addons.go
  tests/function-controller/pkg/apirule/apirule.go
  tests/function-controller/pkg/apirule/types/apirule.go
  tests/function-controller/pkg/apirule/types/groupversion_info.go
  tests/function-controller/pkg/apirule/types/rule_types.go
  tests/function-controller/pkg/broker/broker.go
  tests/function-controller/pkg/configmap/configmap.go
  tests/function-controller/pkg/function/function.go
  tests/function-controller/pkg/gitrepository/gitrepository.go
  tests/function-controller/pkg/gitserver/gitserver.go
  tests/function-controller/pkg/job/job.go
  tests/function-controller/pkg/namespace/namespace.go
  tests/function-controller/pkg/resource/resource.go
  tests/function-controller/pkg/servicebinding/servicebinding.go
  tests/function-controller/pkg/servicebindingusage/servicebindingusage.go
  tests/function-controller/pkg/serviceinstance/serviceinstance.go
  tests/function-controller/pkg/trigger/trigger.go
  tests/function-controller/testsuite/scenarios/light_runtimes.go
Labels: area/serverless

#10075 Bump libraries in Connection Token Handler
  components/connection-token-handler/go.mod
  components/connection-token-handler/go.sum
  resources/application-connector/values.yaml
Labels: area/application-connector

#10124 Fix an SKR override
  resources/monitoring/charts/grafana/templates/service.yaml
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring

#10051 Connect event publisher proxy to application operator
  components/application-connectivity-validator/README.md
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/applicationconnectivityvalidator.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
  components/application-connectivity-validator/internal/validationproxy/handler.go
  components/application-connectivity-validator/internal/validationproxy/handler_test.go
  components/application-operator/README.md
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/templates/httpsource.yaml
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/pkg/kymahelm/application/overrides.go
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/values.yaml
Labels: area/eventing

#10002 Bump content-ui removal
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#10132 removed probes for kcproxy
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
Labels: area/monitoring, area/service-mesh, area/tracing

#10062 Bump APIRule method requirements in Console
  resources/console/charts/web/values.yaml
Labels: area/console

#10126 Bump Application Connectivity PR images
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
Labels: area/application-connector

#10137 Add service deletion to UI
  resources/console/charts/web/values.yaml
Labels: area/console

#10142 switched to apirule for loki jwt validation
  resources/logging/templates/loki/apirule.yaml
  resources/logging/templates/loki/migration-job.yaml
  resources/logging/templates/loki/requestauthentication.yaml
  resources/logging/templates/loki/virtualservice.yaml
  resources/logging/values.yaml
  tests/integration/logging/pkg/jwt/jwt.go
  tests/integration/logging/pkg/logstream/logstream.go
  tests/integration/logging/test-logging.go
Labels: area/logging

#10143 reduce dropped labels for istio, make istio scrape config configurable
  resources/monitoring/charts/prometheus-istio/values.yaml
Labels: area/monitoring

#10144 added new ingress apiGroup to role for tracing
  resources/tracing/templates/role.yaml
Labels: area/tracing, bug

#10151 Update Serverless docs with a link to the CLI tutorial
  docs/serverless/08-01-create-inline-function.md
Labels: area/documentation

#10150 Add troubleshooting guide for prometheus istio server OOM
  docs/monitoring/10-01-prometheus-istio-server-oom.md
Labels: area/documentation, area/monitoring

#10042 Define profiles for Application Connectivity
  components/application-operator/charts/application/profile-evaluation.yaml
  components/application-operator/charts/application/profile-production.yaml
  components/application-operator/charts/application/templates/autoscaler.yaml
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/charts/gateway/profile-evaluation.yaml
  components/application-operator/charts/gateway/profile-production.yaml
  components/application-operator/charts/gateway/templates/autoscaler.yaml
  components/application-operator/charts/gateway/templates/deployment.yaml
  components/application-operator/charts/gateway/values.yaml
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/go.mod
  components/application-operator/go.sum
  components/application-operator/pkg/kymahelm/application/applicationreleasemanager.go
  components/application-operator/pkg/kymahelm/application/applicationreleasemanager_test.go
  components/application-operator/pkg/kymahelm/client.go
  components/application-operator/pkg/kymahelm/gateway/gatewaymanager.go
  components/application-operator/pkg/kymahelm/gateway/gatewaymanager_test.go
  components/application-operator/pkg/kymahelm/mocks/HelmClient.go
  components/application-operator/pkg/utils/maps.go
  components/application-operator/pkg/utils/maps_test.go
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/values.yaml
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/values.yaml
  resources/application-connector/charts/connection-token-handler/templates/deployment.yaml
  resources/application-connector/charts/connection-token-handler/values.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/virtualservice.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/profile-evaluation.yaml
  resources/application-connector/profile-production.yaml
  resources/application-connector/values.yaml
Labels: WIP, area/application-connector

#10160 Add k8s test to fast-integration
  tests/fast-integration/package-lock.json
  tests/fast-integration/package.json
  tests/fast-integration/test/fixtures.js
  tests/fast-integration/test/k8s-test.js
  tests/fast-integration/test/test.js
Labels: area/ci

#9972 Add pamela deployment
  resources/console/charts/pamela/.helmignore
  resources/console/charts/pamela/Chart.yaml
  resources/console/charts/pamela/OWNERS
  resources/console/charts/pamela/templates/_helpers.tpl
  resources/console/charts/pamela/templates/deployment.yaml
  resources/console/charts/pamela/templates/service.yaml
  resources/console/charts/pamela/templates/virtualservice.yaml
  resources/console/charts/pamela/values.yaml
  resources/console/charts/web/templates/configmap.yaml
  resources/console/charts/web/values.yaml
  resources/console/requirements.yaml
Labels: hacktoberfest-accepted

#10164 Bump ory gcloud-proxy
  resources/ory/charts/gcloud-sqlproxy/values.yaml
Labels: area/security

#10169 Fix a broken link to PodPreset
  docs/service-catalog/03-01-provisioning.md
Labels: area/documentation, bug

#10117 Remove duplicated function tests from e2e pipeline
  resources/serverless/values.yaml
  tests/function-controller/pkg/secret/secret.go
  tests/function-controller/testsuite/runtimes/nodejs.go
  tests/function-controller/testsuite/scenarios/light_runtimes.go
  tests/function-controller/testsuite/scenarios/runtime.go
  tests/function-controller/testsuite/teststep/configmap.go
  tests/function-controller/testsuite/teststep/secret.go
Labels: area/serverless, enhancement

#10172 fixed kiali evaluation profile
  resources/kiali/profile-evaluation.yaml
Labels: area/service-mesh

#10167 Introduce first version of fast-integration pipeline written in nodejs
  tests/fast-integration/package-lock.json
  tests/fast-integration/package.json
  tests/fast-integration/test/fixtures.js
  tests/fast-integration/test/k8s-test.js
Labels: area/ci

#9790 Add PodSecurityPolicy to Compass Runtime Agent
  resources/compass-runtime-agent/templates/cluster-role-binding.yaml
  resources/compass-runtime-agent/templates/pod-security-policy.yaml
  resources/compass-runtime-agent/templates/runtime-resync-job.yaml
Labels: area/security

#10184 Fix grafana scrape target
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-service.yaml
  resources/monitoring/charts/grafana/templates/service.yaml
  resources/monitoring/charts/prometheus-istio/templates/servicemonitor.yaml
  resources/monitoring/templates/grafana/servicemonitor.yaml
Labels: area/monitoring

#10193 Adjust alert manager resources profile
  resources/monitoring/values.yaml
Labels: area/monitoring

#10194 Fix indentation in Rafter to enable gateway mode
  resources/rafter/charts/upload-service/templates/migrator-job.yaml
Labels: area/core-and-supporting

#10205 Add a missing bracket
  docs/kyma/01-01-in-a-nutshell.md
Labels: area/documentation

#10196 Fix probe namespace selector on SKR
  resources/monitoring/templates/prometheus/prometheus.yaml
Labels: area/monitoring

#10202 Fix rafter migration script with gatewaymode enabled
  resources/rafter/charts/controller-manager/charts/minio/templates/_helper_ensure_secret.txt
  resources/rafter/charts/controller-manager/charts/minio/templates/ensure-secret-job.yaml
  resources/rafter/charts/controller-manager/charts/minio/values.yaml
  resources/rafter/charts/upload-service/templates/migrator-job.yaml
  resources/rafter/values.yaml
Labels: enhancement

#10219 Double Kiali memory limit
  resources/kiali/values.yaml
Labels: area/monitoring

#10195 Implement proper waiting for resources in fast-integration
  tests/fast-integration/package.json
  tests/fast-integration/test/fixtures.js
  tests/fast-integration/test/fixtures/commerce-mock.yaml
  tests/fast-integration/test/fixtures/mocks-namespace.yaml
  tests/fast-integration/test/k8s-test.js
Labels: area/ci

#10222 Fix the links in the migration guide
  docs/migration-guides/1.15-1.17.md
Labels: area/documentation, bug

#10209 Disable Applications smoke test for Console
  resources/console/values.yaml
Labels: area/console, test-failing

#10208 Fix taret _blank issue in console
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, bug

#10212 Use console-backend serviceaccount for Pamela
  resources/console/charts/pamela/values.yaml
Labels: area/console

#10214 Add Getting Started Guides tests to fast-integration tests
  tests/fast-integration/package-lock.json
  tests/fast-integration/package.json
  tests/fast-integration/test/commerce-mock.js
  tests/fast-integration/test/fixtures/commerce-mock/commerce-mock.yaml
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/test/fixtures/commerce-mock/mocks-namespace.yaml
  tests/fast-integration/test/fixtures/getting-started-guides/index.js
  tests/fast-integration/test/fixtures/getting-started-guides/microservice.yaml
  tests/fast-integration/test/fixtures/getting-started-guides/ns.yaml
  tests/fast-integration/test/fixtures/getting-started-guides/redis-addon-sb-si.yaml
  tests/fast-integration/test/fixtures/getting-started-guides/redis-sbu.yaml
  tests/fast-integration/test/fixtures/getting-started-guides/serviceinstance.yaml
  tests/fast-integration/test/fixtures/getting-started-guides/xf-mocks.yaml
  tests/fast-integration/test/getting-started-guides.js
  tests/fast-integration/test/test.js
  tests/fast-integration/utils/index.js
  tests/fast-integration/utils/index.test.js
Labels: area/ci

#10165 Scaffold NATS publisher
  components/event-publisher-proxy/.gitignore
  components/event-publisher-proxy/Makefile
  components/event-publisher-proxy/README.md
  components/event-publisher-proxy/cmd/event-publisher-nats/Dockerfile
  components/event-publisher-proxy/cmd/event-publisher-nats/main.go
  components/event-publisher-proxy/cmd/event-publisher-proxy/Dockerfile
  components/event-publisher-proxy/config/event-publisher-nats/100-service.yaml
  components/event-publisher-proxy/config/event-publisher-nats/200-deployment.yaml
  components/event-publisher-proxy/config/event-publisher-proxy/100-secret.yaml
  components/event-publisher-proxy/config/event-publisher-proxy/200-service.yaml
  components/event-publisher-proxy/config/event-publisher-proxy/300-deployment.yaml
Labels: area/eventing

#9285 Remove host used in old UI tests
  resources/console/charts/web/templates/test/test.yaml
Labels: area/console

#10230 Update Application Connector documentation
  docs/application-connector/08-02-get-client-certificate.md
  docs/application-connector/08-09-renew-client-cert.md
  docs/application-connector/08-10-revoke-cert.md
  docs/application-connector/08-11-rotate-root-ca.md
Labels: area/documentation

#10240 Increase timeout in fast-integration tests
  tests/fast-integration/test/commerce-mock.js
Labels: area/ci

#10227 Overwrite nil-valued labels to be an empty array
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
Labels: area/console

#10223 Add "Deploy new workload" dropdown
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#10241 update base image of fluent-bit
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#10243 added livenessProbe for keycloak deployments
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
Labels: area/monitoring, area/tracing

#10237 Change categories of addonsmicrofrontend and serverless ClusterMicroF…
  resources/api-gateway/templates/api-rules-microfrontend.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/serverless/templates/cluster-microfrontend-functions.yaml
Labels: area/console, enhancement

#10244 Update Rafter tests Dockerfile
  resources/rafter/values.yaml
  resources/serverless/charts/docker-registry/values.yaml
  tests/rafter/Dockerfile
Labels: area/core-and-supporting

#10257 Remove obsolete migration guides for 1.17 and 1.18
  docs/migration-guides/1.15-1.17.md
  docs/migration-guides/1.17-1.18.md
Labels: area/documentation

#10264 Integration tests README review
  tests/fast-integration/README.md
Labels: area/documentation

#10266 Update UI steps in tutorials after recent navigation changes
  docs/console/05-01-console.md
  docs/getting-started/03-deploy-microservice.md
  docs/getting-started/08-connect-external-application.md
  docs/getting-started/09-trigger-microservice-with-event.md
  docs/getting-started/10-create-function.md
  docs/getting-started/12-bind-redis-service-to-function.md
  docs/getting-started/13-trigger-function-with-event.md
  docs/serverless/08-01-create-inline-function.md
  docs/serverless/08-02-expose-function.md
  docs/serverless/08-03-bind-service-instance.md
  docs/serverless/08-04-trigger-function-with-event.md
  docs/serverless/08-05-create-git-function.md
Labels: area/documentation

#10256 Bump create deployment modal
  resources/console/charts/pamela/values.yaml
  resources/console/charts/web/values.yaml
Labels: area/console

#10265 Add specification for the function's signature
  docs/serverless/03-01-available-runtimes.md
  docs/serverless/03-02-function-specification.md
  docs/serverless/03-03-git-source-type.md
  docs/serverless/03-04-supported-webhooks.md
  docs/serverless/03-05-available-presets.md
  docs/serverless/03-06-api-rules.md
  docs/serverless/03-07-function-processing.md
  docs/serverless/03-08-security.md
  docs/serverless/08-04-trigger-function-with-event.md
Labels: area/documentation, area/serverless

#10159 Prepare istio 1.8.0 upgrade
  resources/apiserver-proxy/templates/deployment.yaml
  resources/cluster-users/files/sar-test.sh
  resources/istio/Chart.yaml
  resources/istio/files/istio-install.sh
  resources/istio/files/istio-operator-cluster-evaluation.yaml
  resources/istio/files/istio-operator-cluster.yaml
  resources/istio/files/istio-operator-minikube-evaluation.yaml
  resources/istio/files/istio-operator-minikube.yaml
  resources/istio/files/istio-upgrade.sh
  resources/istio/profile-evaluation.yaml
  resources/istio/templates/configmap-control-plane.yaml
  resources/istio/templates/job-istio.yaml
  resources/istio/values.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-policy.yaml
  resources/service-catalog/charts/catalog/templates/webhook-policy.yaml
Labels: area/service-mesh
