Repository kyma-project/kyma, pull requests merged in 2020-07, with the labels that each got.

#8876 Update alpine to fix console vulnerabilities
  resources/console/charts/web/templates/deployment.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#8941 Add a note to the RA docs that Compass is an experimental component
  docs/event-mesh/08-01-configure-kafka-channel.md
  docs/kyma/04-01-overview.md
  docs/runtime-agent/01-01-runtime-agent.md
Labels: area/documentation, bug

#8937 Add isLocalEnv to istio chart
  resources/istio/values.yaml
Labels: area/service-mesh

#8942 Remove cluster-local-gateway from Knative Serving - leftover
  resources/knative-serving/templates/istio-knative-extras.yaml
Labels: enhancement

#8946 Fix double underlines in Console
  resources/console/charts/web/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, bug

#8890 Add Namespace selector for eventing-webhook
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/values.yaml
Labels: area/eventing

#8949 Security fixes for alertmanager image
  resources/monitoring/values.yaml
Labels: area/monitoring, area/security

#8951 Update serving to 0 15 2 in Application Connector tests
  resources/application-connector/values.yaml
  tests/application-connector-tests/Gopkg.lock
  tests/application-connector-tests/Gopkg.toml
Labels: area/application-connector

#8888 Setup external docker registry in serverless
  components/function-controller/README.md
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-controller/internal/controllers/serverless/configmap.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/job.go
  resources/serverless/requirements.yaml
  resources/serverless/templates/apirule.yaml
  resources/serverless/templates/daemonset-certs-configmap.yaml
  resources/serverless/templates/daemonset-certs.yaml
  resources/serverless/templates/daemonset-service-account.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/secrets.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#8909 Add tutorial about setting external docker registry in serverless
  docs/rafter/08-02-set-minio-to-gateway-mode.md
  docs/serverless/02-01-serverless.md
  docs/serverless/08-05-set-external-docker-registry.md
Labels: area/serverless, enhancement

#8962 bump istioctl to 1.4.10
  components/istio-installer/Dockerfile
Labels: area/service-mesh

#8955 Image bump, security fixes for grafana kiwigrid sidecar
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring, area/security

#8960 Bump serverless ctrl - setup external docker registry
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#8956 Bump the Application Connector tests image
  resources/application-connector/values.yaml
Labels: area/application-connector

#8943 Remove old compass code from UI
  resources/compass-runtime-agent/templates/compass-apps-microfrontend.yaml
  resources/compass-runtime-agent/templates/compass-scenarios-and-runtimes-microfrontend.yaml
  resources/console/charts/web/templates/configmap.yaml
  resources/console/charts/web/templates/deployment.yaml
  resources/console/charts/web/templates/destination-rule-compass-mfs.yaml
  resources/console/charts/web/templates/service-compass-mfs.yaml
  resources/console/charts/web/templates/virtualservice-compass-mfs.yaml
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#8963 bump istio to 1.4.10
  resources/istio-kyma-patch/values.yaml
  resources/istio/Chart.yaml
  resources/istio/values.yaml
Labels: area/service-mesh

#8930 Add additional logs for instances tests
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/internal/domain/servicecatalog/servicebinding_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/console-backend-service/internal/domain/shared/log.go
  tests/console-backend-service/internal/domain/shared/wait/serviceinstance.go
Labels: test-failing

#8972 Set content-type check to cbs
  resources/console/charts/backend/templates/virtualservice.yaml
Labels: area/console, enhancement

#8980 Temporarily disable failing CBS tests
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
Labels: test-failing

#8988 Update sample service deployment links
  docs/kyma/08-01-sample-service-deployment-to-local.md
  docs/kyma/08-02-sample-service-deployment-to-cluster.md
Labels: area/documentation

#8947 Add UID field to service
  components/console-backend-service/go.mod
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console

#9002 Fix broken links in the official docs
  README.md
  docs/application-connector/02-01-application-connector.md
  docs/helm-broker/01-01-helm-broker.md
  docs/kyma/01-01-in-a-nutshell.md
  docs/kyma/03-01-components.md
  docs/security/08-02-manage-static-users.md
  docs/serverless/08-03-bind-service-instance.md
Labels: area/documentation, bug

#9009 Jaeger in Grafana and Grafana 7.0.6 update
  resources/monitoring/charts/grafana/templates/_helpers.tpl
  resources/monitoring/charts/grafana/templates/configmap.yaml
  resources/monitoring/charts/grafana/templates/deployment.yaml
  resources/monitoring/charts/grafana/templates/ingress.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/stats-metrics-microfrontend.yaml
  resources/monitoring/charts/grafana/templates/secret.yaml
  resources/monitoring/charts/grafana/templates/service.yaml
  resources/monitoring/charts/grafana/templates/statefulset.yaml
  resources/monitoring/charts/grafana/templates/tests/test-configmap.yaml
  resources/monitoring/charts/grafana/templates/tests/test-podsecuritypolicy.yaml
  resources/monitoring/charts/grafana/templates/tests/test-role.yaml
  resources/monitoring/charts/grafana/templates/tests/test-rolebinding.yaml
  resources/monitoring/charts/grafana/templates/tests/test-serviceaccount.yaml
  resources/monitoring/charts/grafana/templates/tests/test.yaml
  resources/monitoring/charts/grafana/values.yaml
  resources/monitoring/values.yaml
  resources/tracing/templates/kyma-additions/microfrontend.yaml
Labels: area/monitoring, area/tracing

#9015 Add warning about sensitive info on traces
  docs/tracing/01-01-tracing.md
Labels: area/tracing

#8989 Enable setting max payload size for function
  components/function-controller/internal/controllers/serverless/function_controller.go
  docs/serverless/03-01-supported-webhooks.md
  docs/serverless/05-01-serverless-envs.md
  docs/serverless/05-02-serverless-chart-config.md
  resources/console/charts/web/templates/configmap.yaml
  resources/serverless/charts/webhook/values.yaml
Labels: area/documentation, area/serverless, enhancement

#8991 Remove suffix from catalog labels in console
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, bug

#9023 Add viewGroup to MicroFrontend
  common/microfrontend-client/pkg/apis/ui/v1alpha1/types.go
  common/microfrontend-client/pkg/client/clientset/versioned/clientset.go
Labels: area/console, enhancement

#8987 Fix multiple calls on search input change in console
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#8978 Fix for AKS Kubelet Servicemonitor
  resources/monitoring/templates/kyma-additions/aks-delete-patch.yaml
  resources/monitoring/templates/kyma-additions/aks-kubelet-monitoring-patch-pre-upgrade-cleanup.yaml
Labels: area/monitoring, bug

#9014 Disable pod-preset PDB by default
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
  resources/cluster-essentials/charts/pod-preset/values.yaml
Labels: bug, priority/critical

#9028 Bump oathkeeper-maester image
  resources/ory/charts/oathkeeper/values.yaml
Labels: area/security

#9026 Remove the doc on Kyma installation through Marketplace
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-03-marketplace-installation.md
  docs/kyma/04-04-use-your-own-domain.md
  docs/kyma/04-05-use-your-own-image.md
  docs/kyma/04-06-use-helm.md
  docs/kyma/04-07-upgrade.md
  docs/kyma/04-08-update.md
  docs/kyma/04-09-back-up-kyma.md
  docs/kyma/04-10-error-handling.md
  installation/README.md
Labels: area/documentation

#8924 Prepare functionality for serverless gitops POC
  components/function-controller/Makefile
  components/function-controller/cmd/jobinit/README.md
  components/function-controller/cmd/jobinit/main.go
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/git/automock/client.go
  components/function-controller/internal/git/client.go
  components/function-controller/internal/git/git.go
  components/function-controller/internal/git/git_test.go
Labels: WIP, area/serverless

#8985 [CBS] Refactor eventing domain
  components/console-backend-service/go.mod
  components/console-backend-service/internal/domain/eventing.resolvers.go
  components/console-backend-service/internal/domain/eventing/automock/resolver.go
  components/console-backend-service/internal/domain/eventing/disabled/resolver.go
  components/console-backend-service/internal/domain/eventing/eventing.go
  components/console-backend-service/internal/domain/eventing/eventing_test.go
  components/console-backend-service/internal/domain/eventing/extractor/trigger_unstructured.go
  components/console-backend-service/internal/domain/eventing/extractor/trigger_unstructured_test.go
  components/console-backend-service/internal/domain/eventing/listener/automock/converter.go
  components/console-backend-service/internal/domain/eventing/listener/trigger.go
  components/console-backend-service/internal/domain/eventing/listener/trigger_test.go
  components/console-backend-service/internal/domain/eventing/pretty/kind.go
  components/console-backend-service/internal/domain/eventing/resolver.go
  components/console-backend-service/internal/domain/eventing/service.go
  components/console-backend-service/internal/domain/eventing/service_test.go
  components/console-backend-service/internal/domain/eventing/trigger.go
  components/console-backend-service/internal/domain/eventing/trigger/automock/gql_converter.go
  components/console-backend-service/internal/domain/eventing/trigger/automock/service.go
  components/console-backend-service/internal/domain/eventing/trigger/converter.go
  components/console-backend-service/internal/domain/eventing/trigger/converter_test.go
  components/console-backend-service/internal/domain/eventing/trigger/disabled/gql_converter.go
  components/console-backend-service/internal/domain/eventing/trigger/disabled/service.go
  components/console-backend-service/internal/domain/eventing/trigger/service.go
  components/console-backend-service/internal/domain/eventing/trigger/service_test.go
  components/console-backend-service/internal/domain/eventing/trigger_test.go
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/domain/schema.resolvers.go
  components/console-backend-service/internal/gqlschema/UID.go
  components/console-backend-service/internal/gqlschema/URI.go
  components/console-backend-service/internal/gqlschema/eventing.graphql
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/resource/fake/service.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
Labels: area/console

#9045 Upgrade golang.org/x/text
  resources/knative-serving/values.yaml
  resources/serverless/values.yaml
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
Labels: area/serverless, security/medium

#8952 switching some kiali/monitoring/tracing images to mirrored images
  resources/kiali/values.yaml
  resources/monitoring/charts/grafana/values.yaml
  resources/tracing/values.yaml
Labels: area/monitoring, area/tracing

#8945 Update Expose Function tutorial
  docs/serverless/08-02-expose-function.md
Labels: area/console, area/serverless, enhancement

#9053 Jaeger upgrade docker images to version 1.18.1
  resources/tracing/values.yaml
Labels: area/tracing

#9064 Minor improvements in Serverless docs
  README.md
  docs/kyma/01-01-in-a-nutshell.md
  docs/monitoring/08-01-overview.md
  docs/serverless/05-01-serverless-envs.md
  docs/serverless/05-02-serverless-chart-config.md
  docs/serverless/06-01-function-cr.md
  docs/serverless/08-05-set-external-docker-registry.md
  docs/serverless/assets/serverless-architecture.svg
Labels: area/documentation, area/serverless

#9052 Upgrade tags for tests of the knative-serving and the function-controller
  resources/knative-serving/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#9071 Bump Helm Broker version
  resources/helm-broker/values.yaml
Labels: area/service-catalog, bug

#9041 Add a section on configuring the Runtime to Runtime Agent docs
  docs/runtime-agent/01-01-runtime-agent.md
  docs/runtime-agent/03-02-configuring-runtime.md
Labels: area/documentation

#9013 A way to have additional addons repositories configured
  docs/helm-broker/05-01-helm-broker.md
  resources/helm-broker/templates/addons-cfg.yaml
  resources/helm-broker/templates/default-addons-cfg.yaml
  resources/helm-broker/values.yaml
Labels: area/service-catalog

#9062 Update Console after trigger domain refactor, use new success notification
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#9051 Add deployments subscription
  components/console-backend-service/internal/domain/k8s/automock/deployment_lister.go
  components/console-backend-service/internal/domain/k8s/deployment_resolver.go
  components/console-backend-service/internal/domain/k8s/deployment_service.go
  components/console-backend-service/internal/domain/k8s/listener/deployment.go
  components/console-backend-service/internal/domain/schema.resolvers.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console

#9077 Fix dead link
  docs/helm-broker/02-01-helm-broker.md
Labels: area/documentation

#9078 Add Sybit adopter
  README.md
Labels: area/community

#9076 Bump ServiceCatalog image
  resources/service-catalog/charts/catalog/values.yaml
Labels: area/service-catalog

#9049 Bump x/text package to v0.3.3
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
Labels: area/console, bug

#9087 Fix dead link
  components/service-binding-usage-controller/README.md
Labels: area/documentation

#9093 Fix dead links
  docs/logging/02-01-logging.md
  docs/rafter/05-01-rafter.md
Labels: area/documentation

#9080 Reenable Service Brokers tests
  components/console-backend-service/internal/domain/schema.resolvers.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
Labels: area/console

#9046 send_resolved parameter is configurable in alertmanger config
  docs/monitoring/05-01-alertmanager.md
  resources/monitoring/templates/kyma-additions/alertmanager.config.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring

#9091 Fix the logging service monitor
  resources/logging/charts/fluentbit/templates/service-monitor.yaml
  resources/logging/charts/fluentbit/templates/service.yaml
Labels: area/logging, area/monitoring

#9098 Add retries inside of connect application test step
  tests/end-to-end/external-solution-integration/pkg/testsuite/connect_application.go
Labels: test-failing

#9065 Bump status subscriptions
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#9097 switched kiali test to alpine-kubectl image
  resources/kiali/templates/tests/test.yaml
  resources/kiali/values.yaml
Labels: area/service-mesh

#9108 Adding missing helm delete policy hooks for kyma helm charts
  resources/istio-kyma-patch/templates/job.yaml
  resources/monitoring/templates/kyma-additions/aks-kubelet-monitoring-patch-pre-upgrade-cleanup.yaml
  resources/monitoring/templates/kyma-additions/delete-dns-patch.yaml
  resources/monitoring/templates/kyma-additions/monitoring-dns-patch.yaml
  resources/monitoring/templates/prometheus-operator/cleanup-crds.yaml
  resources/rafter/charts/controller-manager/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/rafter/charts/upload-service/templates/migrator-job.yaml
  resources/rafter/templates/pre-upgrade-delete-vs-job.yaml
  resources/serverless/templates/daemonset-delete-job.yaml
  resources/serverless/templates/knative-migrator-job-post.yaml
  resources/xip-patch/templates/job.yaml
Labels: area/cluster, area/installation, area/monitoring, area/serverless, area/service-mesh, bug

#9096 Add migration job for AC certs
  resources/cluster-essentials/templates/migrate-ac-certs-job.yaml
  resources/cluster-essentials/values.yaml
Labels: bug

#9040 disable tracing in event source adapter
  components/event-sources/Gopkg.lock
  components/event-sources/Makefile
  components/event-sources/adapter/http/README.md
  components/event-sources/adapter/http/adapter.go
  components/event-sources/adapter/http/adapter_integration_test.go
  components/event-sources/cmd/http-adapter/main.go
  components/event-sources/reconciler/httpsource/adapter_config.go
  components/event-sources/reconciler/httpsource/controller_test.go
  components/event-sources/reconciler/httpsource/reconcile.go
  components/event-sources/reconciler/httpsource/reconcile_test.go
  components/event-sources/reconciler/object/equality.go
  components/event-sources/reconciler/object/equality_test.go
  resources/event-sources/templates/500-sources-controller.yaml
  resources/event-sources/values.schema.json
  resources/event-sources/values.yaml
Labels: estimate: 3

#9100 Add notes about exposing function on Minikube
  docs/serverless/03-02-api-rules.md
  docs/serverless/08-02-expose-function.md
Labels: area/documentation, area/serverless

#9115 Console fixes: small texts, notification toast and hiding logs
  resources/console/charts/web/values.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#9123 Retry sending event on every status
  resources/application-connector/values.yaml
  tests/application-connector-tests/test/applicationaccess/suite.go
Labels: test-failing

#9106 Use modules in the 'Common' package
  common/Gopkg.lock
  common/Gopkg.toml
  common/Makefile
  common/before-commit.sh
  common/go.mod
  common/go.sum
  common/microfrontend-client/hack/update-codegen.sh
  common/microfrontend-client/pkg/client/clientset/versioned/clientset.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/clustermicrofrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/fake/fake_clustermicrofrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/fake/fake_microfrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/microfrontend.go
  common/microfrontend-client/pkg/client/informers/externalversions/ui/v1alpha1/clustermicrofrontend.go
  common/microfrontend-client/pkg/client/informers/externalversions/ui/v1alpha1/microfrontend.go
  common/tools.go
Labels: enhancement

#9125 Update Function CRD to support lambda code versioning
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/crd/bases/serverless.kyma-project.io_gitrepositories.yaml
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
Labels: WIP, area/serverless

#9129 Remove hardcoded Istio Gateway in Logging component
  resources/logging/charts/logui/templates/virtualservice.yaml
  resources/logging/templates/loki/virtualservice.yaml
  resources/logging/values.yaml
Labels: area/logging, enhancement

#9135 Add a missing directive to CBS
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console, bug

#9136 Fix function view related permissions
  resources/cluster-users/templates/rbac-roles.yaml
Labels: area/serverless, priority/critical

#9095 Add GitRepository CRD
  components/function-controller/PROJECT
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/crd/kustomization.yaml
  components/function-controller/config/crd/patches/cainjection_in_gitrepositories.yaml
  components/function-controller/config/crd/patches/webhook_in_gitrepositories.yaml
  components/function-controller/config/rbac/gitrepository_editor_role.yaml
  components/function-controller/config/rbac/gitrepository_viewer_role.yaml
  components/function-controller/config/samples/serverless_v1alpha1_gitrepository-with-auth.yaml
  components/function-controller/config/samples/serverless_v1alpha1_gitrepository.yaml
Labels: area/serverless, enhancement

#9142 Fix serverless migration
  resources/serverless/templates/_helper_knative_migration.txt
Labels: area/serverless

#9138 installer uses max history on upgrade
  components/kyma-operator/pkg/kymahelm/kyma-helm-client.go
Labels: area/installation, bug

#9143 Exlude unnecessary namespaces from knative-eventing webhook
  resources/knative-eventing/values.yaml
Labels: area/eventing

#9147 kyma-operator image bump
  tools/kyma-installer/kyma.Dockerfile
Labels: area/installation

#9144 Bump moby/moby package in cbs
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
Labels: area/console, enhancement

#9092 Add documentation how Application Broker handles API Packages
  docs/application-connector-compass-mode/01-01-application-connector.md
  docs/application-connector-compass-mode/02-01-application-connector.md
  docs/application-connector-compass-mode/02-04-application-broker.md
  docs/application-connector-compass-mode/06-03-event-activation.md
  docs/application-connector-compass-mode/assets/004-AB-architecture.svg
  docs/application-connector-compass-mode/assets/005-AB-API-service-class.svg
  docs/application-connector-compass-mode/assets/005-AB-API-service-plan.svg
  docs/application-connector-compass-mode/assets/006-AB-event-service-class.svg
  docs/application-connector-compass-mode/assets/006-AB-event-service-plan.svg
  docs/application-connector-compass-mode/assets/api-credentials-flow.svg
  docs/application-connector/02-01-application-connector.md
  docs/application-connector/02-04-application-broker.md
  docs/application-connector/06-03-event-activation.md
Labels: area/documentation, area/service-catalog, enhancement

#9153 Fix the Application Connector tutorial for generating a CSR
  docs/application-connector/08-02-get-client-certificate.md
Labels: area/documentation, bug
