Repository kyma-project/kyma, pull requests merged in 2021-01, with the labels that each got.

#10271 Provide deployments with Pamela
  resources/console/charts/pamela/values.yaml
  resources/console/charts/web/values.yaml
Labels: area/console

#10282 Remove old part of console
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console, enhancement

#10136 Improve application resource caching
  components/application-connectivity-validator/README.md
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/applicationconnectivityvalidator.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
  components/application-connectivity-validator/go.mod
  components/application-connectivity-validator/go.sum
  components/application-connectivity-validator/internal/controller/cachesynccontroller.go
  components/application-connectivity-validator/internal/controller/manager.go
  components/application-connectivity-validator/internal/controller/signals/signal.go
  components/application-connectivity-validator/internal/validationproxy/handler.go
  components/application-connectivity-validator/internal/validationproxy/handler_test.go
  components/application-operator/charts/application/templates/role-binding.yaml
  components/application-operator/charts/application/templates/validator.yaml
Labels: area/application-connector, enhancement

#10291 Resolve WS-2020-0218 in Console
  resources/console/charts/web/values.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#10302 fixed minio dashboards
  resources/rafter/charts/controller-manager/charts/minio/templates/dashboard-configmap.yaml
Labels: area/core-and-supporting

#10251 NATS Subscription Controller
  components/eventing-controller/README.md
  components/eventing-controller/api/v1alpha1/subscription_lifecycle.go
  components/eventing-controller/cmd/eventing-controller-nats/main.go
  components/eventing-controller/config/manager-nats/manager.yaml
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  components/eventing-controller/pkg/env/nats_config.go
  components/eventing-controller/pkg/handlers/beb.go
  components/eventing-controller/pkg/handlers/nats.go
  components/eventing-controller/pkg/handlers/nats_test.go
  components/eventing-controller/reconciler/subscription-nats/reconciler.go
  components/eventing-controller/reconciler/subscription-nats/reconciler_test.go
  components/eventing-controller/reconciler/subscription/reconciler.go
  components/eventing-controller/reconciler/subscription/reconciler_test.go
  components/eventing-controller/reconciler/subscription/unit_test.go
  components/eventing-controller/testing/cloudevent.go
  components/eventing-controller/testing/matchers.go
  components/eventing-controller/testing/nats.go
  components/eventing-controller/testing/subscriber.go
  components/eventing-controller/testing/test_helpers.go
  components/eventing-controller/utils/utils.go
  components/eventing-controller/utils/utils_test.go
Labels: area/eventing

#10299 Fix cluster role access
  components/console-backend-service/Dockerfile
  components/console-backend-service/internal/gqlschema/roles.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Labels: area/console

#10186 BeB eventing domain
  components/console-backend-service/go.mod
  components/console-backend-service/go.sum
  components/console-backend-service/internal/domain/apigateway.resolvers.go
  components/console-backend-service/internal/domain/apigateway/resolver.go
  components/console-backend-service/internal/domain/apigateway/service_test.go
  components/console-backend-service/internal/domain/bebEventing/resolver.go
  components/console-backend-service/internal/domain/bebEventing/service.go
  components/console-backend-service/internal/domain/bebEventing/service_test.go
  components/console-backend-service/internal/domain/bebEventing/subscription.go
  components/console-backend-service/internal/domain/bebeventing.resolvers.go
  components/console-backend-service/internal/domain/resolver.go
  components/console-backend-service/internal/gqlschema/apigateway.graphql
  components/console-backend-service/internal/gqlschema/bebeventing.graphql
  components/console-backend-service/internal/gqlschema/eventing.graphql
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/logi.txt
  components/console-backend-service/main.go
  resources/console/charts/backend/templates/cluster-role.yaml
Labels: area/console

#10310 update fluent-bit base image
  resources/logging/charts/fluentbit/values.yaml
Labels: area/logging

#10204 Bump BeB eventing
  resources/console/charts/backend/templates/deployment.yaml
  resources/console/charts/web/templates/configmap.yaml
  resources/console/charts/web/values.yaml
  resources/console/values.yaml
Labels: area/console

#10283 Function images build scheduling
  components/function-controller/README.md
  components/function-controller/cmd/manager/main.go
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/profile-evaluation.yaml
  resources/serverless/profile-production.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#10328 Update serverless configuration doc
  docs/serverless/05-02-serverless-chart-config.md
Labels: area/documentation

#10340 Remove isNatsEnabled global var
  resources/eventing/charts/nats-controller/templates/clusterrole.yaml
  resources/eventing/charts/nats-controller/templates/clusterrolebinding.yaml
  resources/eventing/charts/nats-controller/templates/deployment.yaml
  resources/eventing/charts/nats-controller/templates/service.yaml
  resources/eventing/charts/nats-controller/templates/serviceaccount.yaml
  resources/eventing/charts/nats/templates/00-prereqs.yaml
  resources/eventing/charts/nats/templates/10-deployment.yaml
  resources/eventing/charts/nats/templates/20-service.yaml
  resources/eventing/charts/nats/templates/30-destination-rule.yaml
  resources/eventing/charts/nats/templates/40-cr.yaml
  resources/eventing/values.yaml
Labels: area/eventing

#10331 Event publisher to NATS
  components/event-publisher-proxy/cmd/event-publisher-nats/main.go
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  components/event-publisher-proxy/pkg/env/nats_config.go
  components/event-publisher-proxy/pkg/handler/handler_test.go
  components/event-publisher-proxy/pkg/handler/nats.go
  components/event-publisher-proxy/pkg/handler/nats_test.go
  components/event-publisher-proxy/pkg/legacy-events/legacy_test.go
  components/event-publisher-proxy/pkg/receiver/receiver.go
  components/event-publisher-proxy/pkg/sender/nats.go
  components/event-publisher-proxy/pkg/sender/nats_test.go
  components/event-publisher-proxy/pkg/subscribed/response.go
Labels: area/eventing

#10333 Revert Pamela related changes
  resources/console/README.md
  resources/console/charts/pamela/.helmignore
  resources/console/charts/pamela/Chart.yaml
  resources/console/charts/pamela/OWNERS
  resources/console/charts/pamela/templates/_helpers.tpl
  resources/console/charts/pamela/templates/deployment.yaml
  resources/console/charts/pamela/templates/service.yaml
  resources/console/charts/pamela/templates/virtualservice.yaml
  resources/console/charts/pamela/values.yaml
  resources/console/charts/web/templates/configmap.yaml
  resources/console/charts/web/values.yaml
  resources/console/profile-evaluation.yaml
  resources/console/profile-production.yaml
  resources/console/requirements.yaml
Labels: area/console

#10369 Fix dead links
  docs/kyma/04-03-cluster-installation.md
  docs/security/10-03-certificates-gardener.md
Labels: area/documentation

#10372 Remove Loki migration job
  resources/logging/templates/loki/migration-job.yaml
Labels: area/logging

#10371 Delete Kiali migration job
  resources/kiali/templates/kyma-additions/migration-job.yaml
Labels: area/service-mesh

#10319 Fix problem with certificates being removed from the secret during upgrade
  resources/application-connector/files/watcher.sh
  resources/application-connector/templates/certs-sync-rbac.yaml
  resources/core/charts/gateway/templates/application-connector-certs.yaml
Labels: area/application-connector

#10380 Fix links to Compass installation documentation
  docs/application-connector/02-01-application-connector.md
Labels: area/documentation

#10373 Fix UI function envs
  resources/console/charts/web/values.yaml
Labels: area/console, area/serverless, bug

#10381 Set default CBS values
  resources/console/charts/backend/values.yaml
  resources/console/profile-production.yaml
Labels: area/console, bug

#10392 Set default CBS values
  resources/console/charts/backend/values.yaml
  resources/console/profile-production.yaml
Labels: area/console, bug

#10397 Set default CBS values
  resources/console/charts/backend/values.yaml
  resources/console/profile-production.yaml
Labels: area/console, bug

#10384 Upgrade Kiali image
  CODEOWNERS
  resources/kiali/OWNERS
  resources/kiali/templates/role-viewer.yaml
  resources/kiali/templates/role.yaml
  resources/kiali/values.yaml
Labels: area/service-mesh

#10323 Introduce nodejs kyma installer library for fast-integration tests
  tests/fast-integration/.gitignore
  tests/fast-integration/installer/charts/ingress-dns-cert/Chart.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/OWNERS
  tests/fast-integration/installer/charts/ingress-dns-cert/README.md
  tests/fast-integration/installer/charts/ingress-dns-cert/templates/certificate.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/templates/job.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/templates/rolebindings.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/templates/roles.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/templates/serviceaccount.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/values.yaml
  tests/fast-integration/installer/config-istio.yaml
  tests/fast-integration/installer/helm.js
  tests/fast-integration/installer/index.js
  tests/fast-integration/installer/installer-local.yaml
  tests/fast-integration/installer/istioctl.js
  tests/fast-integration/installer/system-namespaces.yaml
  tests/fast-integration/package-lock.json
  tests/fast-integration/package.json
Labels: area/ci

#10410 cluster essentials adding set -e to CRDs installation
  resources/cluster-essentials/templates/crd-install-job.yaml
Labels: area/installation

#10383 Update TLS certificates document
  docs/security/08-02-update-tls-certificates.md
Labels: area/documentation

#10412 cluster essentials adding set -e to CRDs installation
  resources/cluster-essentials/templates/crd-install-job.yaml
Labels: area/installation

#10417 Update the apimachinery version for the event-service
  components/event-service/go.mod
  components/event-service/go.sum
  resources/application-connector/values.yaml
Labels: area/eventing

#10400 Authorization test for logging
  resources/logging/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/logging/logging.go
  tests/end-to-end/upgrade/pkg/tests/logging/pkg/logstream/logstream.go
  tests/end-to-end/upgrade/pkg/tests/logging/pkg/request/request.go
  tests/integration/logging/pkg/logstream/logstream.go
  tests/integration/logging/pkg/request/request.go
  tests/integration/logging/test-logging.go
Labels: area/logging

#10418 Update the event-service image
  resources/application-connector/values.yaml
Labels: area/eventing

#10416 Added dashboard labels for event-service
  components/application-operator/charts/application/templates/deployment.yaml
  resources/application-connector/values.yaml
  resources/knative-eventing/charts/event-mesh-dashboard/templates/event-mesh-pods-dashboard.yaml
Labels: area/eventing

#10413 Add PSP to Iam-kubeconfig-service
  resources/iam-kubeconfig-service/templates/deployment.yaml
  resources/iam-kubeconfig-service/templates/psp.yaml
  resources/iam-kubeconfig-service/templates/rbac.yaml
  resources/iam-kubeconfig-service/values.yaml
Labels: area/security

#10405 Add PSP to Permission-controller
  resources/permission-controller/templates/deployment.yaml
  resources/permission-controller/templates/psp.yaml
  resources/permission-controller/values.yaml
Labels: area/security

#10404 Add PSP to Dex component
  resources/dex/templates/dex-deployment.yaml
  resources/dex/templates/dex-rbac-role.yaml
  resources/dex/templates/psp.yaml
  resources/dex/templates/upgrade-job.yaml
  resources/dex/values.yaml
Labels: area/security

#10432 Fix the event-publisher-proxy receiver test to be more resilient
  components/event-publisher-proxy/pkg/receiver/receiver_test.go
  resources/eventing/charts/event-publisher-proxy/values.yaml
Labels: area/eventing, test-failing

#10385 Add PSP to apiserver-proxy component
  resources/apiserver-proxy/charts/apiserver-proxy-init/templates/generate-certs-job.yaml
  resources/apiserver-proxy/charts/apiserver-proxy-init/templates/psp.yaml
  resources/apiserver-proxy/charts/apiserver-proxy-init/templates/rbac.yaml
  resources/apiserver-proxy/charts/apiserver-proxy-init/values.yaml
  resources/apiserver-proxy/templates/deployment.yaml
  resources/apiserver-proxy/templates/job.yaml
  resources/apiserver-proxy/templates/psp.yaml
  resources/apiserver-proxy/templates/rbac.yaml
  resources/apiserver-proxy/values.yaml
Labels: area/security

#10439 Update the event-publisher-proxy image
  resources/eventing/charts/event-publisher-proxy/values.yaml
Labels: area/eventing

#10420 Add PSP to ORY components
  resources/ory/templates/job-secret-migration.yaml
  resources/ory/templates/psp.yaml
  resources/ory/values.yaml
Labels: area/security

#10379 Add PSP to Api-gateway
  resources/api-gateway/templates/deployment.yaml
  resources/api-gateway/templates/psp.yaml
  resources/api-gateway/templates/rbac.yaml
  resources/api-gateway/values.yaml
Labels: area/api-gateway, area/security

#10437 Adapt kyma-installer to work as non-root user
  components/kyma-operator/Dockerfile
Labels: area/installation, area/security

#10438 Add PSP to kyma-operator component
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  tools/kyma-installer/kyma.Dockerfile
Labels: area/installation, area/security

#10284 Refactor Fluent Bit Chart
  resources/logging/charts/fluent-bit/.helmignore
  resources/logging/charts/fluent-bit/Chart.yaml
  resources/logging/charts/fluent-bit/templates/_helpers.tpl
  resources/logging/charts/fluent-bit/templates/_pod.tpl
  resources/logging/charts/fluent-bit/templates/clusterrole.yaml
  resources/logging/charts/fluent-bit/templates/clusterrolebinding.yaml
  resources/logging/charts/fluent-bit/templates/configmap.yaml
  resources/logging/charts/fluent-bit/templates/daemonset.yaml
  resources/logging/charts/fluent-bit/templates/deployment.yaml
  resources/logging/charts/fluent-bit/templates/kyma-additions/_parsers.tpl
  resources/logging/charts/fluent-bit/templates/kyma-additions/grafana-dashboard.yaml
  resources/logging/charts/fluent-bit/templates/kyma-additions/migration-job.yaml
  resources/logging/charts/fluent-bit/templates/kyma-additions/peerauthentication.yaml
  resources/logging/charts/fluent-bit/templates/kyma-additions/secrets.yaml
  resources/logging/charts/fluent-bit/templates/kyma-additions/serviceentry.yaml
  resources/logging/charts/fluent-bit/templates/psp.yaml
  resources/logging/charts/fluent-bit/templates/service.yaml
  resources/logging/charts/fluent-bit/templates/serviceaccount.yaml
  resources/logging/charts/fluent-bit/templates/servicemonitor.yaml
  resources/logging/charts/fluent-bit/values.yaml
  resources/logging/charts/fluentbit/Chart.yaml
  resources/logging/charts/fluentbit/templates/NOTES.txt
  resources/logging/charts/fluentbit/templates/_helpers.tpl
  resources/logging/charts/fluentbit/templates/cluster-role.yaml
  resources/logging/charts/fluentbit/templates/cluster-rolebinding.yaml
  resources/logging/charts/fluentbit/templates/configmap.yaml
  resources/logging/charts/fluentbit/templates/daemonset.yaml
  resources/logging/charts/fluentbit/templates/pod-security-policy.yaml
  resources/logging/charts/fluentbit/templates/secrets.yaml
  resources/logging/charts/fluentbit/templates/service-account.yaml
  resources/logging/charts/fluentbit/templates/service-monitor.yaml
  resources/logging/charts/fluentbit/templates/service.yaml
  resources/logging/charts/fluentbit/values.yaml
  resources/logging/requirements.yaml
  resources/logging/values.yaml
Labels: area/logging

#10457 fixed metric expression in minio grafana dashboard
  resources/rafter/charts/controller-manager/charts/minio/templates/dashboard-configmap.yaml
Labels: area/monitoring

#10443 Update permissions in istio-installer
  components/istio-installer/Dockerfile
Labels: area/security, area/service-mesh

#10422 Disable privilege escalations for UI containers
  resources/console/charts/backend/templates/cluster-role.yaml
  resources/console/charts/backend/templates/deployment.yaml
  resources/console/charts/backend/templates/psp.yaml
  resources/console/charts/backend/values.yaml
  resources/console/charts/web/templates/deployment.yaml
  resources/console/charts/web/templates/psp.yaml
  resources/console/charts/web/templates/rbac.yaml
  resources/console/charts/web/values.yaml
  resources/helm-broker/charts/addons-ui/templates/deployment.yaml
  resources/helm-broker/charts/addons-ui/templates/psp.yaml
  resources/helm-broker/charts/addons-ui/templates/rbac.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/templates/deployment.yaml
  resources/logging/charts/logui/templates/psp.yaml
  resources/logging/charts/logui/templates/rbac.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/psp.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/rbac.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#10446 Add securityContext for pamela
  resources/console/charts/pamela/templates/deployment.yaml
Labels: area/console

#10472 Rename API Packages to API Bundles and fix the link to their documentation
  docs/runtime-agent/03-02-configuring-runtime.md
Labels: area/documentation

#10475 Bump console image - show valueFrom serverless envs
  resources/console/charts/web/values.yaml
Labels: area/console, enhancement

#10476 Update fluent-bit image tag
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging

#10375 Event Publisher NATS Helm Chart
  resources/eventing/charts/event-publisher-nats/.helmignore
  resources/eventing/charts/event-publisher-nats/Chart.yaml
  resources/eventing/charts/event-publisher-nats/templates/_helpers.tpl
  resources/eventing/charts/event-publisher-nats/templates/clusterrole.yaml
  resources/eventing/charts/event-publisher-nats/templates/clusterrolebinding.yaml
  resources/eventing/charts/event-publisher-nats/templates/deployment.yaml
  resources/eventing/charts/event-publisher-nats/templates/service.yaml
  resources/eventing/charts/event-publisher-nats/templates/serviceaccount.yaml
  resources/eventing/charts/event-publisher-nats/values.yaml
Labels: area/eventing

#10474 Use generic list for addons configurations and catalog
  resources/helm-broker/charts/addons-ui/templates/addons-clustermicrofrontend.yaml
  resources/helm-broker/charts/addons-ui/templates/addons-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-microfrontend.yaml
Labels: area/console, enhancement

#10421 Add PSP to Istio
  resources/istio/files/istio-install.sh
  resources/istio/files/istio-operator-cluster-evaluation.yaml
  resources/istio/files/istio-operator-cluster-production.yaml
  resources/istio/files/istio-operator-cluster.yaml
  resources/istio/files/istio-operator-minikube-evaluation.yaml
  resources/istio/files/istio-operator-minikube.yaml
  resources/istio/files/istio-upgrade.sh
  resources/istio/templates/istio-proxy-reset.yaml
  resources/istio/templates/job-cleanup.yaml
  resources/istio/templates/job-istio.yaml
  resources/istio/templates/job-namespace-label.yaml
  resources/istio/templates/job-uninstall.yaml
  resources/istio/templates/psp.yaml
  resources/istio/templates/rbac-install.yaml
  resources/istio/templates/rbac-namespace-label.yaml
  resources/istio/values.yaml
Labels: area/security, area/service-mesh

#10479 Add docs about security measures in Functions
  docs/serverless/03-08-security.md
Labels: area/documentation

#10463 Add alert and improve the dashboard for Fluent Bit
  resources/logging/charts/fluent-bit/templates/kyma-additions/grafana-dashboard.yaml
  resources/monitoring/templates/prometheus/kyma-rules/alert-rules-logging.yaml
  resources/monitoring/values.yaml
Labels: area/logging
