Repository kyma-project/kyma, pull requests merged in 2021-02, with the labels that each got.

#10434 Allow to switch container registry for serverless in the runtime
  components/function-controller/internal/controllers/kubernetes/secret_controller.go
  components/function-controller/internal/controllers/kubernetes/secret_controller_test.go
  components/function-controller/internal/controllers/kubernetes/secret_service.go
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-controller/internal/controllers/serverless/configmap.go
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/function_reconcile.go
  components/function-controller/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_matchers_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/job.go
  components/function-controller/internal/controllers/serverless/suite_test.go
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/secrets.yaml
  resources/serverless/templates/service-accounts.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#10496 Bump release version to 1.18.2
  installation/resources/installer.yaml
Labels: area/ci

#10462 Add support for secrets in Fluent Bit config
  resources/logging/charts/fluent-bit/templates/_pod.tpl
  resources/logging/charts/fluent-bit/templates/kyma-additions/secrets.yaml
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging

#10388 Fast-integration tests with installation via nodejs
  tests/fast-integration/Makefile
  tests/fast-integration/installer/config-istio.yaml
  tests/fast-integration/installer/helm.js
  tests/fast-integration/installer/istioctl.js
  tests/fast-integration/package.json
  tests/fast-integration/test/1-install.js
  tests/fast-integration/test/2-commerce-mock.js
  tests/fast-integration/test/3-getting-started-guides.js
  tests/fast-integration/test/4-upgrade-test.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Labels: area/ci

#10504 patching coredns cm for local.kyma.dev domain case
  components/xip-patch/xip-patch.sh
Labels: area/installation

#10514 xip-patch bump
  resources/apiserver-proxy/values.yaml
  resources/core/values.yaml
  resources/xip-patch/templates/roles.yaml
  resources/xip-patch/values.yaml
  tests/fast-integration/installer/charts/ingress-dns-cert/values.yaml
Labels: area/installation

#10499 Use new switch `eventing.backend` in eventing Helm charts
  resources/eventing/charts/controller/templates/clusterrole.yaml
  resources/eventing/charts/controller/templates/clusterrolebinding.yaml
  resources/eventing/charts/controller/templates/deployment.yaml
  resources/eventing/charts/controller/templates/oauth2-client.yaml
  resources/eventing/charts/controller/templates/service.yaml
  resources/eventing/charts/controller/templates/serviceaccount.yaml
  resources/eventing/charts/event-publisher-nats/templates/clusterrole.yaml
  resources/eventing/charts/event-publisher-nats/templates/clusterrolebinding.yaml
  resources/eventing/charts/event-publisher-nats/templates/deployment.yaml
  resources/eventing/charts/event-publisher-nats/templates/service.yaml
  resources/eventing/charts/event-publisher-nats/templates/serviceaccount.yaml
  resources/eventing/charts/event-publisher-proxy/templates/clusterrole.yaml
  resources/eventing/charts/event-publisher-proxy/templates/clusterrolebinding.yaml
  resources/eventing/charts/event-publisher-proxy/templates/deployment.yaml
  resources/eventing/charts/event-publisher-proxy/templates/service.yaml
  resources/eventing/charts/event-publisher-proxy/templates/serviceaccount.yaml
  resources/eventing/charts/nats-controller/templates/clusterrole.yaml
  resources/eventing/charts/nats-controller/templates/clusterrolebinding.yaml
  resources/eventing/charts/nats-controller/templates/deployment.yaml
  resources/eventing/charts/nats-controller/templates/service.yaml
  resources/eventing/charts/nats-controller/templates/serviceaccount.yaml
  resources/eventing/charts/nats/templates/00-prereqs.yaml
  resources/eventing/charts/nats/templates/10-deployment.yaml
  resources/eventing/charts/nats/templates/20-service.yaml
  resources/eventing/charts/nats/templates/30-destination-rule.yaml
  resources/eventing/charts/nats/templates/40-cr.yaml
  resources/eventing/values.yaml
Labels: area/eventing

#10450 Set log level to warn for Loki
  resources/logging/profile-evaluation.yaml
  resources/logging/profile-production.yaml
  resources/logging/values.yaml
Labels: area/logging

#10512 Document switching to external registries in the runtime
  docs/serverless/03-01-function-specification.md
  docs/serverless/03-02-available-runtimes.md
  docs/serverless/03-03-registries.md
  docs/serverless/03-04-git-source-type.md
  docs/serverless/03-05-supported-webhooks.md
  docs/serverless/03-06-available-presets.md
  docs/serverless/03-07-api-rules.md
  docs/serverless/03-08-function-processing.md
  docs/serverless/03-09-security.md
  docs/serverless/08-06-set-external-registry.md
  docs/serverless/08-07-switch-to-external-registry.md
Labels: area/documentation, area/serverless

#10408 Create mechanism to automate docker config generation for external registries
  components/function-controller/Makefile
  components/function-controller/cmd/manager/main.go
  components/function-controller/config/webhook/manifests.yaml
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/kubernetes/remote_registry_cfg_webhook.go
  components/function-controller/internal/controllers/kubernetes/remote_registry_cfg_webhook_test.go
  components/function-controller/internal/docker/registry.go
  components/function-controller/internal/docker/registry_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
  resources/serverless/templates/admission_webhook.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/service.yaml
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#10510 Bump final permission fixes
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#10527 Delete not needed anymore job to resync SKR after Kyma upgrade
  resources/compass-runtime-agent/templates/runtime-resync-job.yaml
Labels: area/installation, enhancement

#10513 Update cluster-essentials to support SecurityContext
  resources/cluster-essentials/templates/psp-privileged.yaml
  resources/cluster-essentials/templates/psp-unprivileged.yaml
  resources/cluster-essentials/templates/rbac-clusterrole.yaml
  resources/cluster-essentials/templates/rbac-clusterrolebinding.yaml
  resources/cluster-essentials/values.yaml
  resources/dex/templates/dex-rbac-role.yaml
  resources/dex/templates/psp.yaml
  resources/dex/templates/upgrade-job.yaml
  resources/dex/values.yaml
Labels: area/installation, area/security

#10468 Add VERSION file to Kyma repo
  CODEOWNERS
  VERSION
Labels: area/ci

#10557 Do not mount machine ID file by default
  resources/logging/charts/fluent-bit/templates/_pod.tpl
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging

#10517 Speed up serverless build process
  components/function-controller/.dockerignore
  components/function-controller/.gitignore
  components/function-controller/Makefile
  components/function-controller/README.md
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
Labels: area/serverless

#10315 Migrate App Conn Validator logging to Zap
  common/go.mod
  common/go.sum
  common/logging/logger/format.go
  common/logging/logger/format_test.go
  common/logging/logger/level.go
  common/logging/logger/level_test.go
  common/logging/logger/logger.go
  common/logging/logger/logger_test.go
  common/logging/tracing/helper.go
  common/logging/tracing/helper_test.go
  common/logging/tracing/middleware.go
  common/logging/tracing/middleware_test.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/applicationconnectivityvalidator.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
  components/application-connectivity-validator/go.mod
  components/application-connectivity-validator/go.sum
  components/application-connectivity-validator/internal/controller/cachesynccontroller.go
  components/application-connectivity-validator/internal/controller/manager.go
  components/application-connectivity-validator/internal/httptools/response.go
  components/application-connectivity-validator/internal/validationproxy/handler.go
  components/application-connectivity-validator/internal/validationproxy/handler_test.go
  components/application-connectivity-validator/internal/validationproxy/proxy.go
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/go.mod
  components/application-operator/go.sum
  components/application-operator/pkg/kymahelm/application/applicationreleasemanager.go
  components/application-operator/pkg/overrides/overrides.go
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/values.yaml
Labels: area/quality, enhancement

#10551 Add 'privileges' security contexts to app-connector
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/templates/tests/gateway-test.yaml
  resources/application-connector/charts/application-operator/templates/tests/operator-test.yaml
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/templates/tests/test.yaml
  resources/application-connector/charts/connection-token-handler/templates/deployment.yaml
  resources/application-connector/charts/connection-token-handler/templates/tests/test.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/templates/certs-setup-job.yaml
  resources/application-connector/templates/certs-sync-deploy.yaml
  resources/application-connector/templates/tests/test.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector

#10565 Function controller logging level
  components/function-controller/cmd/manager/main.go
  components/function-controller/go.mod
  components/function-controller/go.sum
  resources/serverless/profile-evaluation.yaml
  resources/serverless/profile-production.yaml
  resources/serverless/templates/deployment.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#10570 Use custom Grafana image
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring

#10500 Add group claim check for Loki
  resources/logging/OWNERS
  resources/logging/templates/loki/NOTES.txt
  resources/logging/templates/loki/_helpers.tpl
  resources/logging/templates/loki/apirule.yaml
  resources/logging/templates/loki/authorizationpolicy.yaml
  resources/logging/templates/loki/kyma-additions/authorizationpolicy.yaml
  resources/logging/templates/loki/kyma-additions/backendmodule.yaml
  resources/logging/templates/loki/kyma-additions/peerauthentication.yaml
  resources/logging/templates/loki/kyma-additions/requestautentication.yaml
  resources/logging/templates/loki/kyma-additions/virtualservice.yaml
  resources/logging/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/logging/logging.go
  tests/integration/logging/test-logging.go
Labels: area/logging

#10415 Document Kyma profiles
  docs/kyma/04-01-overview.md
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-07-upgrade.md
Labels: area/documentation, enhancement

#10523 Clean the application name from none-alphanumeric characters for the publisher apps
  components/event-publisher-proxy/cmd/event-publisher-nats/main.go
  components/event-publisher-proxy/cmd/event-publisher-proxy/main.go
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  components/event-publisher-proxy/pkg/application/applicationtest/applicationtest.go
  components/event-publisher-proxy/pkg/application/clean.go
  components/event-publisher-proxy/pkg/application/clean_test.go
  components/event-publisher-proxy/pkg/application/fake/lister.go
  components/event-publisher-proxy/pkg/application/lister.go
  components/event-publisher-proxy/pkg/handler/common.go
  components/event-publisher-proxy/pkg/handler/handler_test.go
  components/event-publisher-proxy/pkg/handler/handlertest/handlertest.go
  components/event-publisher-proxy/pkg/handler/http/handler.go
  components/event-publisher-proxy/pkg/handler/http/handler_test.go
  components/event-publisher-proxy/pkg/handler/nats/handler.go
  components/event-publisher-proxy/pkg/handler/nats/handler_test.go
  components/event-publisher-proxy/pkg/handler/nats_test.go
  components/event-publisher-proxy/pkg/informers/sync.go
  components/event-publisher-proxy/pkg/legacy-events/constants.go
  components/event-publisher-proxy/pkg/legacy-events/error_responses.go
  components/event-publisher-proxy/pkg/legacy-events/helpers.go
  components/event-publisher-proxy/pkg/legacy-events/helpers_test.go
  components/event-publisher-proxy/pkg/legacy-events/legacy.go
  components/event-publisher-proxy/pkg/legacy-events/legacy_test.go
  components/event-publisher-proxy/pkg/receiver/receiver_test.go
  components/event-publisher-proxy/pkg/sender/nats_test.go
  components/event-publisher-proxy/pkg/subscribed/helpers.go
  components/event-publisher-proxy/testing/fixtures.go
  components/event-publisher-proxy/testing/mock_server.go
  components/event-publisher-proxy/testing/utils.go
Labels: area/eventing

#10546 Clean the Application name from none-alphanumeric characters for the event controller apps
  components/eventing-controller/cmd/eventing-controller-nats/main.go
  components/eventing-controller/cmd/eventing-controller/main.go
  components/eventing-controller/config/samples/eventing_v1alpha1_subscription.yaml
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  components/eventing-controller/pkg/application/applicationtest/applicationtest.go
  components/eventing-controller/pkg/application/clean.go
  components/eventing-controller/pkg/application/clean_test.go
  components/eventing-controller/pkg/application/fake/lister.go
  components/eventing-controller/pkg/application/lister.go
  components/eventing-controller/pkg/env/config.go
  components/eventing-controller/pkg/env/config_test.go
  components/eventing-controller/pkg/env/nats_config.go
  components/eventing-controller/pkg/env/nats_config_test.go
  components/eventing-controller/pkg/handlers/beb.go
  components/eventing-controller/pkg/handlers/beb_test.go
  components/eventing-controller/pkg/handlers/eventtype/build.go
  components/eventing-controller/pkg/handlers/eventtype/build_test.go
  components/eventing-controller/pkg/handlers/eventtype/clean.go
  components/eventing-controller/pkg/handlers/eventtype/clean_test.go
  components/eventing-controller/pkg/handlers/eventtype/parse.go
  components/eventing-controller/pkg/handlers/eventtype/parse_test.go
  components/eventing-controller/pkg/handlers/nats.go
  components/eventing-controller/pkg/handlers/nats_test.go
  components/eventing-controller/pkg/handlers/utils_test.go
  components/eventing-controller/pkg/informers/sync.go
  components/eventing-controller/reconciler/subscription-nats/reconciler.go
  components/eventing-controller/reconciler/subscription-nats/reconciler_test.go
  components/eventing-controller/reconciler/subscription/reconciler.go
  components/eventing-controller/reconciler/subscription/reconciler_test.go
  components/eventing-controller/reconciler/subscription/unit_test.go
  components/eventing-controller/testing/bebmock.go
  components/eventing-controller/testing/matchers.go
  components/eventing-controller/testing/test_helpers.go
Labels: area/eventing

#10482 Do not create hpa when minReplicas==maxReplicas in function-controller
  components/function-controller/go.mod
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/deployment_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler.go
  components/function-controller/internal/controllers/serverless/horizontalpodautoscaler_test.go
  resources/serverless/values.yaml
Labels: area/serverless, bug

#10524 Update the images for the Event publishers and controllers
  resources/eventing/charts/controller/templates/clusterrole.yaml
  resources/eventing/charts/controller/templates/deployment.yaml
  resources/eventing/charts/controller/values.yaml
  resources/eventing/charts/event-publisher-nats/templates/clusterrole.yaml
  resources/eventing/charts/event-publisher-nats/templates/deployment.yaml
  resources/eventing/charts/event-publisher-nats/values.yaml
  resources/eventing/charts/event-publisher-proxy/templates/clusterrole.yaml
  resources/eventing/charts/event-publisher-proxy/templates/deployment.yaml
  resources/eventing/charts/event-publisher-proxy/values.yaml
  resources/eventing/charts/nats-controller/templates/clusterrole.yaml
  resources/eventing/charts/nats-controller/templates/deployment.yaml
  resources/eventing/charts/nats-controller/values.yaml
  resources/eventing/values.yaml
Labels: area/eventing

#10553 Patch PSP and SC in short-lived jobs
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  resources/apiserver-proxy/templates/job.yaml
  resources/apiserver-proxy/templates/psp.yaml
  resources/apiserver-proxy/templates/rbac.yaml
  resources/apiserver-proxy/values.yaml
  resources/cluster-essentials/charts/pod-preset/templates/controller-manager/stateful-set.yaml
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
  resources/cluster-essentials/charts/pod-preset/values.yaml
  resources/cluster-essentials/templates/crd-install-job.yaml
  resources/cluster-essentials/templates/migrate-ac-certs-job.yaml
  resources/cluster-essentials/templates/psp-privileged.yaml
  resources/cluster-essentials/templates/psp-unprivileged.yaml
  resources/cluster-essentials/templates/rbac-clusterrole.yaml
  resources/cluster-essentials/templates/remove-subscription-job.yaml
  resources/istio/templates/istio-proxy-reset.yaml
  resources/istio/templates/job-cleanup.yaml
  resources/istio/templates/job-istio.yaml
  resources/istio/templates/job-namespace-label.yaml
  resources/istio/templates/job-uninstall.yaml
Labels: area/security

#10549 Eventing chart fixes
  resources/eventing/charts/event-publisher-nats/templates/_helpers.tpl
  resources/eventing/charts/event-publisher-nats/templates/service.yaml
  resources/eventing/charts/event-publisher-nats/values.yaml
  resources/eventing/templates/_helpers.tpl
  resources/eventing/templates/backendmodule.yaml
  resources/eventing/templates/secret.yaml
  resources/eventing/values.yaml
Labels: area/eventing

#10545 Override global configuration on the namespace level
  components/function-controller/internal/controllers/kubernetes/secret_controller_test.go
  components/function-controller/internal/controllers/kubernetes/secret_service.go
  components/function-controller/internal/controllers/kubernetes/suite_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  resources/serverless/values.yaml
Labels: area/serverless

#10550 Override global configuration on the namespace level - docs
  docs/serverless/03-03-registries.md
Labels: area/serverless

#10589 Configure catalog CMF
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-microfrontend.yaml
Labels: area/console, enhancement

#10585 Bump serverless images
  resources/serverless/values.yaml
Labels: area/serverless

#10584 Add GHAction Kyma release
  .github/workflows/github-release.yaml
Labels: area/ci

#10586 Update cluster-users SC
  resources/cluster-users/templates/tests/test.yaml
  resources/cluster-users/values.yaml
Labels: area/security

#10567 Add emsPublisherUrlSuffix as a config value
  resources/eventing/charts/event-publisher-proxy/templates/deployment.yaml
  resources/eventing/charts/event-publisher-proxy/values.yaml
Labels: area/eventing

#10519 Application Broker new eventing feature flag
  components/application-broker/cmd/broker/main.go
  components/application-broker/cmd/broker/main_test.go
  components/application-broker/internal/broker/broker.go
  components/application-broker/internal/broker/fix_test.go
  components/application-broker/internal/broker/provision.go
  components/application-broker/internal/broker/provision_test.go
  components/application-broker/internal/config/config.go
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/values.yaml
Labels: area/application-connector, area/eventing, area/service-catalog

#10562 Add migration guide for 1.20
  docs/migration-guides/1.19-1.20.md
Labels: area/documentation

#10601 Bump Application Broker image tag version
  resources/application-connector/values.yaml
Labels: area/application-connector, area/eventing

#10606 Fix CVE-2021-3121 for the event-sources
  components/event-sources/go.mod
  components/event-sources/go.sum
  resources/event-sources/values.yaml
Labels: area/eventing, area/security

#10611 Update k8s library in apiserver-proxy
  components/apiserver-proxy/Dockerfile
  components/apiserver-proxy/Gopkg.lock
  components/apiserver-proxy/Gopkg.toml
  components/apiserver-proxy/Makefile
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/go.mod
  components/apiserver-proxy/go.sum
  components/apiserver-proxy/internal/authn/delegating.go
  components/apiserver-proxy/internal/authz/auth.go
  components/apiserver-proxy/internal/proxy/proxy_test.go
Labels: area/security

#10574 Fix function-webhook
  components/function-controller/go.mod
  components/function-controller/go.sum
  resources/serverless/charts/webhook/templates/cluster-role.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: WIP, area/serverless, bug, priority/critical

#10547 Junit reports in fast-integration tests
  tests/fast-integration/.gitignore
  tests/fast-integration/mocha-reporter-config.json
  tests/fast-integration/package-lock.json
  tests/fast-integration/package.json
  tests/fast-integration/test/2-commerce-mock.js
  tests/fast-integration/test/3-getting-started-guides.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/utils/index.js
Labels: area/ci

#10627 Bump serverless images
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#10623 Multiline parser configuration
  resources/logging/charts/fluent-bit/templates/configmap.yaml
  resources/logging/charts/fluent-bit/templates/kyma-additions/_parsers.tpl
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging, enhancement

#10620 Upgrade k8s and docker in application-operator and -registry
  components/application-operator/go.mod
  components/application-operator/go.sum
  components/application-registry/go.mod
  components/application-registry/go.sum
  resources/application-connector/values.yaml
Labels: area/application-connector, area/security

#10638 Bump images in application-operator and application-registry
  resources/application-connector/values.yaml
Labels: area/application-connector, area/quality

#10617 non-priviliged securityContext for all observability containers
  resources/kiali/templates/deployment.yaml
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/kiali/values.yaml
  resources/logging/charts/fluent-bit/values.yaml
  resources/logging/charts/logui/templates/psp.yaml
  resources/logging/charts/loki/templates/statefulset.yaml
  resources/logging/charts/loki/values.yaml
  resources/monitoring/charts/grafana/templates/_pod.tpl
  resources/monitoring/charts/grafana/templates/kyma-additions/auth-proxy-deployment.yaml
  resources/monitoring/charts/grafana/values.yaml
  resources/monitoring/charts/kube-state-metrics/templates/deployment.yaml
  resources/monitoring/charts/kube-state-metrics/values.yaml
  resources/monitoring/charts/prometheus-istio/templates/deploy.yaml
  resources/monitoring/charts/prometheus-istio/values.yaml
  resources/monitoring/charts/prometheus-node-exporter/templates/daemonset.yaml
  resources/monitoring/charts/prometheus-node-exporter/values.yaml
  resources/monitoring/charts/prometheus-pushgateway/templates/deployment.yaml
  resources/monitoring/charts/prometheus-pushgateway/values.yaml
  resources/monitoring/templates/prometheus-operator/deployment.yaml
  resources/monitoring/values.yaml
  resources/tracing/templates/deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
  resources/tracing/values.yaml
Labels: area/security

#10629 Enable hot-deploy in serverless functions
  components/function-runtimes/nodejs10/Dockerfile
  components/function-runtimes/python38/Dockerfile
  components/function-runtimes/python38/kubeless/kubeless.py
  resources/serverless/values.yaml
Labels: area/serverless

#10645 Bump tags for serverless runtimes
  resources/serverless/values.yaml
Labels: area/serverless

#10641 Bump crypto library in function-controller
  components/function-controller/go.mod
  components/function-controller/go.sum
  resources/serverless/values.yaml
Labels: area/serverless

#10578 Clean-up the docs after providing general documentation about profiles
  docs/kyma/05-05-profiles.md
  docs/logging/01-01-logging.md
  docs/logging/05-02-production-profile.md
  docs/monitoring/01-01-monitoring.md
  docs/monitoring/05-04-production-profile.md
  docs/service-mesh/01-01-service-mesh.md
  docs/service-mesh/05-05-production-profile.md
Labels: area/documentation

#10642 Fluent bit increase mem limits
  resources/logging/charts/fluent-bit/values.yaml
  resources/logging/profile-evaluation.yaml
Labels: area/ci

#10648 Istio increase mem limits
  resources/istio/files/istio-operator-cluster-evaluation.yaml
Labels: area/ci

#10662 Move the supported Kubernetes versions to the prerequisites sections in installation docs
  docs/kyma/04-01-overview.md
  docs/kyma/04-03-cluster-installation.md
Labels: area/documentation, enhancement

#10672 Remove the old migration guide
  docs/migration-guides/1.18-1.19.md
Labels: area/documentation

#10664 modifying components for new kyma
  installation/resources/components.yaml
Labels: area/installation

#10649 Serverless increase mem limit
  resources/serverless/values.yaml
Labels: area/ci

#10659 Upgrade k8s client in connector-service
  components/connector-service/go.mod
  components/connector-service/go.sum
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
  components/connector-service/internal/externalapi/revocationhandler.go
  components/connector-service/internal/externalapi/revocationhandler_test.go
  components/connector-service/internal/internalapi/internalapi.go
  components/connector-service/internal/internalapi/revocationhandler.go
  components/connector-service/internal/internalapi/revocationhandler_test.go
  components/connector-service/internal/revocation/middlewares/revocationcheck.go
  components/connector-service/internal/revocation/middlewares/revocationcheck_test.go
  components/connector-service/internal/revocation/mocks/Manager.go
  components/connector-service/internal/revocation/mocks/RevocationListRepository.go
  components/connector-service/internal/revocation/repository.go
  components/connector-service/internal/revocation/repository_test.go
  components/connector-service/internal/secrets/mocks/Manager.go
  components/connector-service/internal/secrets/mocks/Repository.go
  components/connector-service/internal/secrets/repository.go
  components/connector-service/internal/secrets/repository_test.go
  resources/application-connector/values.yaml
Labels: area/application-connector, area/security

#10681 Bump serverless images
  resources/serverless/values.yaml
Labels: area/serverless

#10682 Use temporary custom Python image in Serverless
  components/function-runtimes/python38/Dockerfile
Labels: area/security, area/serverless

#10683 Bump Serverless Python runtime version
  resources/serverless/values.yaml
Labels: area/security, area/serverless

#10666 Upgrade golang.org/x/crypto in compass-runtime-agent
  components/compass-runtime-agent/go.mod
  components/compass-runtime-agent/go.sum
  resources/compass-runtime-agent/values.yaml
Labels: area/management-plane, area/security

#10684 Use Python 3.8.8 in Serverless
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/python38/Dockerfile
Labels: area/serverless, enhancement

#10651 Fix vulnerabilities in application-connectivity
  components/application-connectivity-certs-setup-job/go.mod
  components/application-connectivity-certs-setup-job/go.sum
  components/application-connectivity-certs-setup-job/mocks/Manager.go
  components/application-connectivity-certs-setup-job/secrets.go
  components/application-connectivity-certs-setup-job/secrets_test.go
  components/application-connectivity-validator/go.mod
  components/application-connectivity-validator/go.sum
  components/application-gateway/go.mod
  components/application-gateway/go.sum
  components/application-operator/go.mod
  components/application-operator/go.sum
  components/application-registry/go.mod
  components/application-registry/go.sum
  components/connection-token-handler/go.mod
  components/connection-token-handler/go.sum
  components/connector-service/go.mod
  components/connector-service/go.sum
  resources/application-connector/values.yaml
Labels: area/application-connector, area/security

#10686 Bump Serverless runtimes images
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#10687 Upgrade component images for compass-runtime-agent and application-connector
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
Labels: area/application-connector, area/security

#10647 Minio increase mem limit
  resources/rafter/charts/controller-manager/charts/minio/values.yaml
  resources/rafter/profile-evaluation.yaml
  resources/rafter/profile-production.yaml
  resources/rafter/values.yaml
Labels: area/ci

#10705 Fix broken link
  docs/kyma/04-03-cluster-installation.md
Labels: area/documentation

#10713 Rephrase runtime references
  docs/serverless/03-03-registries.md
  docs/serverless/03-05-supported-webhooks.md
  docs/serverless/08-07-switch-to-external-registry.md
Labels: area/documentation

#10671 Increase CBS resources, set default values for the UI containers
  resources/console/charts/backend/values.yaml
  resources/console/charts/web/values.yaml
  resources/console/profile-evaluation.yaml
  resources/console/profile-production.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/helm-broker/profile-production.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
  resources/service-catalog-addons/profile-production.yaml
Labels: area/console, bug

#10451 Update k8s dependencies in Eventing Controller
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  resources/eventing/charts/controller/values.yaml
Labels: area/eventing

#10727 Bump Eventing Controller image version
  resources/eventing/charts/controller/values.yaml
Labels: area/eventing

#10679 better way of configuring the Loki log level
  resources/logging/charts/loki/values.yaml
  resources/logging/profile-evaluation.yaml
  resources/logging/profile-production.yaml
Labels: area/logging

#10718 Update BEB secret fetching
  components/console-backend-service/internal/domain/bebEventing/resolver.go
  components/console-backend-service/internal/domain/bebEventing/service_test.go
Labels: area/console

#10734 enable scraping of audit logs metrics by default
  resources/monitoring/values.yaml
Labels: area/monitoring

#10719 Bump CBS BEB secret fetching
  resources/console/values.yaml
Labels: area/console

#10678 Disabled node-exporter specific PSP to not conflict with kyma psp
  resources/monitoring/charts/prometheus-node-exporter/templates/psp.yaml
Labels: area/monitoring

#10738 Add renamed fields to MILV config
  milv.config.yaml
Labels: area/documentation, enhancement

#10688 Adjust applications CMF
  resources/api-gateway/templates/api-rules-microfrontend.yaml
  resources/application-connector/templates/applications-microfrontend.yaml
  resources/cluster-essentials/files/clustermicrofrontends.ui.crd.yaml
  resources/helm-broker/charts/addons-ui/templates/addons-clustermicrofrontend.yaml
  resources/helm-broker/charts/addons-ui/templates/addons-microfrontend.yaml
  resources/serverless/templates/cluster-microfrontend-functions.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-microfrontend.yaml
Labels: area/console

#10740 Fix CVE-2020-26160
  components/event-publisher-proxy/cmd/event-publisher-nats/main.go
  components/event-publisher-proxy/cmd/event-publisher-proxy/main.go
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
Labels: area/eventing, area/security

#10754 Fix links in documentation
  components/event-sources/README.md
  components/eventing-controller/README.md
Labels: area/documentation

#10737 Increase timeout for the pre-master-serverless-integration-k3s pipeline
  resources/serverless/values.yaml
  tests/function-controller/testsuite/scenarios/light_runtimes.go
  tests/function-controller/testsuite/teststep/check.go
Labels: WIP, area/serverless, bug

#10748 Deploy the CVE-2020-26160 fix for Event publishers
  resources/eventing/charts/event-publisher-nats/values.yaml
  resources/eventing/charts/event-publisher-proxy/values.yaml
Labels: area/eventing, area/security
