Repository kyma-project/kyma, pull requests merged in 2021-03, with the labels that each got.

#10764 Remove deprecated fields from MILV config
  milv.config.yaml
Labels: area/documentation, enhancement

#10766 Increase memory limit for application-operator in evaluation
  resources/application-connector/profile-evaluation.yaml
Labels: area/ci

#10770 upgrade kiwigrid sidecar image
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring

#10768 Post-review of README.md for fast-integration tests
  tests/fast-integration/README.md
Labels: area/documentation

#10772 Fix the broken link to the kyma install command options/flags
  docs/kyma/04-05-use-your-own-image.md
Labels: area/documentation, bug

#10777 Disable version info from grafana in case of anonymous users
  resources/monitoring/charts/grafana/values.yaml
Labels: area/monitoring

#10612 Certificates management for new Kyma
  installation/resources/components.yaml
  resources/certificates/.helmignore
  resources/certificates/Chart.yaml
  resources/certificates/OWNERS
  resources/certificates/README.md
  resources/certificates/files/check.sh
  resources/certificates/files/gardener.sh
  resources/certificates/files/legacy.sh
  resources/certificates/files/user-provided.sh
  resources/certificates/templates/_helpers.tpl
  resources/certificates/templates/gateway.yaml
  resources/certificates/templates/job-check.yaml
  resources/certificates/templates/job-gardener.yaml
  resources/certificates/templates/job-legacy.yaml
  resources/certificates/templates/job-user-provided.yaml
  resources/certificates/templates/rbac-check.yaml
  resources/certificates/templates/rbac-gardener.yaml
  resources/certificates/templates/rbac-legacy.yaml
  resources/certificates/templates/rbac-user-provided.yaml
  resources/certificates/values.yaml
Labels: area/security

#10778 Allow HEAD requests in serverless registry API Rule
  resources/serverless/templates/apirule.yaml
Labels: area/serverless, bug

#10650 upgrade fluent-bit loki plugin
  resources/logging/charts/fluent-bit/templates/configmap.yaml
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging

#10721 Preserve CE event's mode (structured or binary)
  components/event-publisher-proxy/pkg/handler/http/handler.go
  components/event-publisher-proxy/pkg/handler/http/handler_test.go
  components/event-publisher-proxy/pkg/handler/nats/handler.go
  components/event-publisher-proxy/pkg/sender/nats.go
Labels: area/eventing

#10802 Update Lodash in the Console
  resources/console/charts/web/values.yaml
  resources/helm-broker/charts/addons-ui/values.yaml
  resources/logging/charts/logui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Labels: area/console

#10803 Improve apiserver-proxy build performance
  components/apiserver-proxy/Dockerfile
  components/apiserver-proxy/Makefile
Labels: area/ci

#10797 dynamic configuration for grafana datasources
  docs/monitoring/03-02-istio.md
  resources/logging/charts/fluent-bit/templates/kyma-additions/grafana-dashboard.yaml
  resources/logging/charts/loki/templates/kyma-additions/grafana-datasource.yaml
  resources/logging/charts/loki/values.yaml
  resources/logging/values.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/backendmodule.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/grafana-dashboard.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/logs-microfrontend.yaml
  resources/monitoring/charts/grafana/templates/kyma-additions/metrics-microfrontend.yaml
  resources/monitoring/charts/prometheus-istio/templates/kyma-additions/grafana-datasource.yaml
  resources/monitoring/charts/prometheus-istio/values.yaml
  resources/monitoring/templates/grafana/configmaps-datasources.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/alertmanager.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/apiserver.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kubernetes-apiserver-per-client.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kyma-backends.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kyma-controllers.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kyma-frontends.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/pods.yaml
  resources/monitoring/values.yaml
  resources/tracing/templates/kyma-additions/grafana-dashboard.yaml
  resources/tracing/templates/kyma-additions/grafana-datasource.yaml
Labels: area/monitoring

#10729 Reuse the same cloudevents client while dispatching from NATS
  components/eventing-controller/go.sum
  components/eventing-controller/pkg/env/nats_config.go
  components/eventing-controller/pkg/env/nats_config_test.go
  components/eventing-controller/pkg/handlers/nats.go
  components/eventing-controller/pkg/handlers/nats_test.go
  components/eventing-controller/reconciler/subscription-nats/reconciler.go
Labels: area/eventing, area/performance

#10723 Reuse NATS connection to enhance NATS publisher performance
  components/event-publisher-proxy/cmd/event-publisher-nats/main.go
  components/event-publisher-proxy/pkg/env/nats_config.go
  components/event-publisher-proxy/pkg/handler/nats/handler_test.go
  components/event-publisher-proxy/pkg/nats/connect.go
  components/event-publisher-proxy/pkg/nats/connect_test.go
  components/event-publisher-proxy/pkg/sender/nats.go
  components/event-publisher-proxy/pkg/sender/nats_test.go
  components/event-publisher-proxy/testing/fixtures.go
  components/event-publisher-proxy/testing/nats.go
Labels: area/eventing, area/performance

#10804 Improve application-connectivity-certs-setup-job build performance
  components/application-connectivity-certs-setup-job/Dockerfile
  components/application-connectivity-certs-setup-job/Makefile
Labels: area/ci

#10807 Improve application-registry build performance
  components/application-registry/Dockerfile
  components/application-registry/Makefile
Labels: area/ci

#10821 Improve compass-runtime-agent build performance
  components/compass-runtime-agent/Dockerfile
  components/compass-runtime-agent/Makefile
Labels: area/ci

#10805 Improve application-connectivity-validator build performance
  components/application-connectivity-validator/Dockerfile
  components/application-connectivity-validator/Makefile
Labels: area/ci

#10806 Improve application-operator build performance
  components/application-operator/Dockerfile
  components/application-operator/Makefile
Labels: area/ci

#10822 Improve connection-token-handler build performance
  components/connection-token-handler/Dockerfile
  components/connection-token-handler/Makefile
Labels: area/ci

#10823 Improve connector-service build performance
  components/connector-service/Dockerfile
  components/connector-service/Makefile
Labels: area/ci

#10824 Improve event-service build performance
  components/event-service/Dockerfile
  components/event-service/Makefile
Labels: area/ci

#10835 Improve service-binding-usage-controller build performance
  components/service-binding-usage-controller/Dockerfile
  components/service-binding-usage-controller/Makefile
Labels: area/ci

#10838 Improve iam-kubeconfig-service build performance
  components/iam-kubeconfig-service/Dockerfile
  components/iam-kubeconfig-service/Makefile
Labels: area/ci

#10735 Update the images for the Eventing publishers and controllers
  resources/eventing/charts/controller/values.yaml
  resources/eventing/charts/event-publisher-nats/values.yaml
  resources/eventing/charts/event-publisher-proxy/values.yaml
  resources/eventing/charts/nats-controller/values.yaml
Labels: area/eventing

#10851 Remove kyma version from the init call
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#10813 Kcproxy optional
  resources/kiali/templates/kyma-additions/kcproxy-deployment.yaml
  resources/kiali/templates/kyma-additions/kcproxy-secret.yaml
  resources/kiali/templates/kyma-additions/kcproxy-service.yaml
  resources/kiali/templates/kyma-additions/virtualservice.yaml
  resources/kiali/values.yaml
  resources/tracing/templates/kyma-additions/kcproxy-deployment.yaml
  resources/tracing/templates/kyma-additions/kcproxy-secret.yaml
  resources/tracing/templates/kyma-additions/kcproxy-service.yaml
  resources/tracing/templates/kyma-additions/virtualservice.yaml
  resources/tracing/values.yaml
Labels: area/tracing

#10825 Improve permission-controller build performance
  components/permission-controller/Dockerfile
  components/permission-controller/Makefile
Labels: area/ci

#10852 Document prerequisites for serverless and rapid clusters
  docs/kyma/04-03-cluster-installation.md
Labels: area/serverless

#10853 Revert "Remove kyma version from the init call (#10851)"
  resources/console/charts/web/values.yaml
Labels: area/console, bug

#10861 Fix the NATS dispatcher error handling
  components/eventing-controller/pkg/handlers/nats.go
Labels: area/eventing

#10862 Update the Eventing controller images with the dispatcher error handling fix
  resources/eventing/charts/controller/values.yaml
  resources/eventing/charts/nats-controller/values.yaml
Labels: area/eventing

#10868 upgraded debian packages of fluent-bit image
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging

#10841 Improve function-controller build performance
  components/function-controller/Makefile
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
Labels: area/ci

#10877 Bump k8s client in microfrontend client
  common/go.mod
  common/go.sum
Labels: bug

#10856 Update fn-ctrl so that it ignores user set annotations on fn's deployment
  components/function-controller/internal/controllers/serverless/deployment.go
  components/function-controller/internal/controllers/serverless/deployment_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_asserts_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  resources/serverless/values.yaml
Labels: area/serverless

#10867 Add an upgrade test from EventMesh to the new Kyma eventing
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/application-operator/application_operator.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/eventing.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/eventmesh.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/helpers/event.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/helpers/subscription.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/setup.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/subscription/api/v1alpha1/groupversion_info.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/subscription/api/v1alpha1/subscription_lifecycle.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/subscription/api/v1alpha1/subscription_types.go
  tests/end-to-end/upgrade/pkg/tests/eventmesh/subscription/api/v1alpha1/zz_generated.deepcopy.go
Labels: area/eventing

#10895 Bump apimachinery in Connection Token Handler
  components/connection-token-handler/go.mod
  components/connection-token-handler/go.sum
  resources/application-connector/values.yaml
Labels: area/application-connector

#10899 Remove the migration guide for Release 1.20
  docs/migration-guides/1.19-1.20.md
Labels: area/documentation

#10879 add securityContext for istiod, removed istio psp
  resources/istio/files/istio-operator-cluster-evaluation.yaml
  resources/istio/files/istio-operator-cluster-production.yaml
  resources/istio/templates/psp.yaml
Labels: area/service-mesh

#10897 Bump Connection Token Handler image
  resources/application-connector/values.yaml
Labels: area/application-connector

#10900 Bump Serverless runtimes
  components/function-runtimes/nodejs10/Dockerfile
  components/function-runtimes/nodejs10/docker-entrypoint.sh
  components/function-runtimes/nodejs12/Dockerfile
  resources/serverless/values.yaml
Labels: area/serverless

#10901 Remove the Trigger CR part from the GitOps tutorial
  docs/serverless/08-07-sync-function-with-gitops.md
Labels: area/documentation, area/serverless

#10905 Force security scans of dynamically deployed Serverless images
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/runtimes.yaml
Labels: area/serverless, enhancement

#10902 Fix the subscribed endpoint filtration logic for empty event-sources
  components/event-publisher-proxy/pkg/subscribed/helpers.go
  components/event-publisher-proxy/pkg/subscribed/helpers_test.go
Labels: area/eventing, bug

#10898 Fix for helm hook for new eventing installation
  components/event-sources/upgrade-job/process/save_current_state.go
  components/event-sources/upgrade-job/process/save_current_state_test.go
Labels: area/eventing

#10820 Update all existing eventing documentation to reflect removal of event-mesh
  docs/README.md
  docs/application-connector-compass-mode/01-01-application-connector.md
  docs/application-connector-compass-mode/02-01-application-connector.md
  docs/application-connector-compass-mode/02-02-connector-service.md
  docs/application-connector-compass-mode/02-04-application-broker.md
  docs/application-connector-compass-mode/05-01-application-operator.md
  docs/application-connector-compass-mode/06-01-application.md
  docs/application-connector-compass-mode/06-03-event-activation.md
  docs/application-connector-compass-mode/08-02-get-client-certificate.md
  docs/application-connector-compass-mode/08-06-trigger-lambda-with-event.md
  docs/application-connector-compass-mode/08-13-get-subscribed-events.md
  docs/application-connector-compass-mode/assets/001-application-connector.svg
  docs/application-connector/01-01-application-connector.md
  docs/application-connector/02-01-application-connector.md
  docs/application-connector/02-02-connector-service.md
  docs/application-connector/02-04-application-broker.md
  docs/application-connector/05-01-application-operator.md
  docs/application-connector/06-01-application.md
  docs/application-connector/06-03-event-activation.md
  docs/application-connector/08-02-get-client-certificate.md
  docs/application-connector/08-06-trigger-lambda-with-event.md
  docs/application-connector/08-13-get-subscribed-events.md
  docs/application-connector/assets/001-application-connector.svg
  docs/console/03-02-console-backend-service.md
  docs/event-mesh/01-01-knative-eventing-mesh.md
  docs/event-mesh/02-01-knative-eventing-mesh.md
  docs/event-mesh/03-01-event-processing.md
  docs/event-mesh/05-01-nats-streaming.md
  docs/event-mesh/06-01-httpsource.md
  docs/event-mesh/08-01-configure-kafka-channel.md
  docs/event-mesh/08-02-set-up-channel.md
  docs/event-mesh/assets/event-mesh-flow.svg
  docs/event-mesh/assets/event-mesh-implementation.svg
  docs/eventing/01-01-eventing-overview.md
  docs/eventing/02-01-eventing-architecture.md
  docs/eventing/03-01-event-processing.md
  docs/eventing/03-02-in-cluster-eventing.md
  docs/eventing/06-01-event-subscription.md
  docs/eventing/assets/eventing-flow.svg
  docs/eventing/assets/eventing-implementation.svg
  docs/getting-started/09-trigger-microservice-with-event.md
  docs/getting-started/10-create-function.md
  docs/getting-started/13-trigger-function-with-event.md
  docs/kyma/01-01-in-a-nutshell.md
  docs/kyma/03-01-components.md
  docs/kyma/04-01-overview.md
  docs/kyma/05-02-custom-component-installation.md
  docs/security/05-07-permission-controller.md
  docs/serverless/08-04-trigger-function-with-event.md
  docs/service-catalog/06-02-usage-kind.md
  resources/core/charts/docs/charts/content-ui/templates/docs-components-eventing-cag.yaml
Labels: WIP, area/documentation

#10903 Deprecate nodejs10 function runtime in docs
  docs/serverless/03-01-function-specification.md
  docs/serverless/03-02-available-runtimes.md
  docs/serverless/06-01-function-cr.md
Labels: area/documentation

#10910 Bump Application Connector images after tests cleanup
  resources/application-connector/values.yaml
Labels: area/application-connector

#10911 Bump serverless images
  resources/serverless/values.yaml
Labels: area/serverless

#10907 Update the publishers images with the subscribed endpoint fix for empty event-sources
  resources/eventing/charts/event-publisher-nats/values.yaml
  resources/eventing/charts/event-publisher-proxy/values.yaml
Labels: area/eventing

#10793 Make new eventing as a default component
  installation/resources/installer-cr-azure-eventhubs.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/values.yaml
  resources/cluster-essentials/files/subscriptions.eventing.kyma-project.io.crd.yaml
  resources/compass-runtime-agent/templates/tests/compass-connectivity-adapter-external-solution-test.yaml
  resources/compass-runtime-agent/templates/tests/compass-external-solution-test.yaml
  resources/console/values.yaml
  resources/core/templates/tests/test-external-solution.yaml
  resources/eventing/charts/controller/templates/deployment.yaml
  resources/eventing/charts/controller/values.yaml
  resources/eventing/charts/event-publisher-nats/values.yaml
  resources/eventing/charts/nats/templates/40-cr.yaml
  resources/eventing/charts/nats/values.yaml
  resources/eventing/profile-evaluation.yaml
  resources/eventing/profile-production.yaml
  resources/eventing/templates/_helpers.tpl
  resources/eventing/templates/backendmodule.yaml
  resources/eventing/templates/post-install-job.yaml
  resources/eventing/values.yaml
  resources/serverless/templates/tests/rbac.yaml
  resources/serverless/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/fast-integration/compass-test/compass-test.js
  tests/fast-integration/hack/create-cluster-k3d.sh
  tests/fast-integration/hack/create-cluster-k3s.sh
  tests/fast-integration/test/1-install.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Labels: area/eventing

#10588 Update the docs regarding the Application name cleaning
  docs/application-connector/06-01-application.md
Labels: area/eventing

#10917 Fix vulnerability in openssh
  components/function-controller/deploy/jobinit/Dockerfile
  resources/serverless/values.yaml
Labels: area/serverless

#10919 Add basic metrics for Eventing publishers
  components/event-publisher-proxy/README.md
  components/event-publisher-proxy/cmd/event-publisher-nats/main.go
  components/event-publisher-proxy/cmd/event-publisher-proxy/main.go
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  components/event-publisher-proxy/pkg/metrics/metrics.go
  components/event-publisher-proxy/pkg/options/options.go
Labels: area/eventing

#10921 Bump serverless images
  resources/serverless/values.yaml
Labels: area/serverless, enhancement

#10930 Add nats-operator component
  components/nats-operator/Dockerfile
  components/nats-operator/Makefile
Labels: area/eventing

#10931 Add nats-operator codeowners
  CODEOWNERS
Labels: area/eventing

#10933 Update nats-operator image
  resources/eventing/charts/nats/templates/10-deployment.yaml
  resources/eventing/charts/nats/values.yaml
Labels: area/eventing

#10958 Fix the Trigger a Function with events AC tutorial
  docs/application-connector/08-06-trigger-lambda-with-event.md
Labels: area/application-connector, area/documentation, bug

#10959 Fix the Trigger a Function with events AC tutorial
  docs/application-connector/08-06-trigger-lambda-with-event.md
Labels: area/application-connector, area/documentation

#10963 updated base image of fluent-bit to latest debian version
  resources/logging/charts/fluent-bit/values.yaml
Labels: area/logging

#10809 Npm private registry
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/config.go
  components/function-runtimes/nodejs10/Dockerfile
  components/function-runtimes/nodejs10/kubeless/kubeless-npm-install.sh
  components/function-runtimes/nodejs12/kubeless/kubeless-npm-install.sh
  docs/serverless/08-08-logging-in-to-private-packages-registry.md
  resources/serverless/templates/deployment.yaml
  resources/serverless/templates/runtimes.yaml
  resources/serverless/templates/tests/rbac.yaml
  resources/serverless/templates/tests/test.yaml
  resources/serverless/values.yaml
  tests/function-controller/README.md
  tests/function-controller/testsuite/config.go
  tests/function-controller/testsuite/runtimes/nodejs.go
  tests/function-controller/testsuite/runtimes/python.go
  tests/function-controller/testsuite/scenarios/light_runtimes.go
Labels: area/serverless, enhancement

#10909 Add APIRule 404 troubleshooting guide
  docs/api-gateway/10-02-connect-api-rule.md
Labels: area/documentation

#10943 Add documentation for new envs in serverless functions
  docs/serverless/05-01-serverless-envs.md
Labels: WIP, area/serverless

#10878 Alert rules clean up
  resources/logging/templates/_helpers.tpl
  resources/logging/templates/logging.rules.yaml
  resources/logging/values.yaml
  resources/monitoring/templates/prometheus/kyma-rules/alert-rules-logging.yaml
  resources/monitoring/templates/prometheus/kyma-rules/general.rules.yaml
  resources/monitoring/templates/prometheus/kyma-rules/kyma-rules.yaml
  resources/monitoring/templates/prometheus/kyma-rules/kyma-rules2.yaml
  resources/monitoring/templates/prometheus/kyma-rules/prometheus-operator.rules.yaml
  resources/monitoring/templates/prometheus/kyma-rules/prometheus.rules.yaml
  resources/monitoring/values.yaml
Labels: area/monitoring

#10889 Add readiness and startup probe to function container
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/build_resources_test.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-runtimes/nodejs10/kubeless/kubeless_rt/kubeless.js
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/kubeless.js
  components/function-runtimes/python38/kubeless/kubeless.py
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless

#10981 Fix nats controller profiles
  resources/eventing/charts/nats-controller/templates/deployment.yaml
  resources/eventing/charts/nats-controller/values.yaml
  resources/eventing/profile-evaluation.yaml
  resources/eventing/profile-production.yaml
Labels: area/eventing

#10995 remove obsolete fluent-bit migration job
  resources/logging/charts/fluent-bit/templates/kyma-additions/migration-job.yaml
Labels: area/logging

#11010 Avoid swallowing errors in nats reconciler
  components/eventing-controller/reconciler/subscription-nats/reconciler.go
Labels: area/eventing

#11020 Fix netlify job
  .kyma-project-io/build-preview.sh
Labels: area/documentation

#11017 Add alias to Loki address in local case
  resources/logging/templates/tests/test.yaml
Labels: area/logging
