Repository kyma-project/kyma, pull requests merged in 2022-04, with the labels that each got.

#13696 Docs: Tracing Instrumentation doesn't work for outgoing axios requests in nodejs function runtimes
  docs/03-tutorials/00-serverless/svls-11-set-asynchronous-connection-of-functions.md
Labels: area/documentation, area/serverless, size/XS, lgtm

#13746 Using eventTypePrefix as subjects filter for stream in JetStream
  components/eventing-controller/README.md
  components/eventing-controller/config/manager/manager.yaml
  components/eventing-controller/controllers/subscription/jetstream/reconciler.go
  components/eventing-controller/controllers/subscription/jetstream/reconciler_test.go
  components/eventing-controller/pkg/env/nats_config.go
  components/eventing-controller/pkg/env/nats_config_test.go
  components/eventing-controller/pkg/handlers/jetstream.go
  components/eventing-controller/pkg/handlers/jetstream_test.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream_test.go
  components/eventing-controller/testing/test_helpers.go
  resources/eventing/charts/controller/templates/deployment.yaml
  resources/eventing/charts/controller/values.yaml
  resources/eventing/values.yaml
Labels: area/eventing, size/L, lgtm, area/charts

#13776 monitoring test: check that port forward works
  tests/fast-integration/monitoring/client.js
  tests/fast-integration/monitoring/index.js
  tests/fast-integration/monitoring/prometheus.js
Labels: size/L, lgtm, area/tests

#13808 Remove Migration Guide for Kyma 2.1
  docs/migration-guide-2.0-2.1.md
Labels: area/documentation, size/XS, lgtm

#13803 Bump k8s-tools image
  docs/04-operation-guides/operations/10-backup-kyma.md
  resources/busola-migrator/values.yaml
  resources/cluster-essentials/values.yaml
  resources/ory/values.yaml
  resources/rafter/values.yaml
  resources/serverless/values.yaml
  tests/integration/api-gateway/Dockerfile
Labels: area/documentation, area/serverless, area/security, area/service-mesh, area/core-and-supporting, area/api-gateway, size/S, lgtm, area/charts, area/tests

#13665 Add istio external auth tutorial
  docs/01-overview/main-areas/api-exposure/apix-02-useful-links.md
  docs/03-tutorials/00-api-exposure/apix-01-own-domain.md
  docs/03-tutorials/00-api-exposure/apix-02-create-workload.md
  docs/03-tutorials/00-api-exposure/apix-04-expose-and-secure-workload-istio.md
  docs/03-tutorials/assets/function.yaml
  milv.config.yaml
Labels: area/documentation, size/L, lgtm

#13819 Remove CODEOWNERS file
  CODEOWNERS
Labels: approved, size/L, lgtm

#13727 Add log pipeline status conditions
  components/telemetry-operator/api/v1alpha1/logpipeline_types.go
  components/telemetry-operator/api/v1alpha1/logpipeline_types_test.go
  components/telemetry-operator/api/v1alpha1/zz_generated.deepcopy.go
  components/telemetry-operator/config/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  components/telemetry-operator/config/rbac/role.yaml
  components/telemetry-operator/controllers/logpipeline_controller.go
  components/telemetry-operator/controllers/logpipeline_controller_test.go
  resources/telemetry/charts/fluent-bit/values.yaml
  resources/telemetry/charts/operator/templates/role.yaml
  resources/telemetry/crds/logpipelines.crd.yaml
  resources/telemetry/values.yaml
  tests/fast-integration/telemetry-test/telemetry-test.js
Labels: area/logging, approved, size/XL, lgtm, area/charts, area/tests

#13788 Fix tracing sampling in nodejs
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/.gitignore
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/lib/tracer.js
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/package-lock.json
  components/function-runtimes/nodejs12/kubeless/kubeless_rt/package.json
  components/function-runtimes/nodejs14/kubeless/kubeless_rt/lib/tracer.js
  components/function-runtimes/nodejs14/kubeless/kubeless_rt/package-lock.json
  components/function-runtimes/nodejs14/kubeless/kubeless_rt/package.json
  resources/serverless/values.yaml
Labels: area/serverless, approved, size/L, lgtm, area/charts

#13804 Update and upgrade apk modules in context of serverless components
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/nodejs14/Dockerfile
  components/function-runtimes/python39/Dockerfile
  resources/rafter/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless, area/security, area/core-and-supporting, size/M, approved, lgtm, area/charts

#13785 Unit tests for NATS Reconcile()
  components/eventing-controller/controllers/subscription/nats/reconciler.go
  components/eventing-controller/controllers/subscription/nats/reconciler_internal_test.go
  components/eventing-controller/pkg/handlers/eventtype/clean.go
  components/eventing-controller/pkg/handlers/sink/validator.go
  components/eventing-controller/testing/test_helpers.go
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/L, lgtm, area/charts

#13827 updated external alpine to 3.15.3
  resources/logging/values.yaml
  resources/ory/values.yaml
  resources/service-manager-proxy/values.yaml
Labels: area/service-management, area/service-mesh, area/logging, area/api-gateway, approved, size/XS, lgtm, area/charts

#13809 Fix Ory port names in services to comply with Istio convention
  resources/ory/charts/hydra/charts/hydra-maester/templates/service-metrics.yaml
  resources/ory/charts/hydra/templates/service-admin.yaml
  resources/ory/charts/oathkeeper/templates/service-metrics.yaml
  resources/ory/charts/oathkeeper/templates/service-proxy.yaml
  resources/ory/templates/monitoring-hydra.yaml
  resources/ory/templates/monitoring-oathkeeper.yaml
Labels: area/service-mesh, area/api-gateway, size/S, approved, lgtm, area/charts

#13826 Remove duplicate key from api-gateway deployment yaml
  resources/api-gateway/templates/deployment.yaml
Labels: area/service-mesh, area/api-gateway, approved, size/XS, lgtm, area/charts

#13708 Support custom base image for serverless runtimes
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/crd/bases/serverless.kyma-project.io_gitrepositories.yaml
  components/function-controller/internal/controllers/serverless/build_resources.go
  components/function-controller/internal/controllers/serverless/fixtures_test.go
  components/function-controller/internal/controllers/serverless/function_controller.go
  components/function-controller/internal/controllers/serverless/function_reconcile_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
  installation/resources/crds/serverless/functions.serverless.crd.yaml
  installation/resources/crds/serverless/gitrepositories.serverless.crd.yaml
  resources/serverless/templates/runtimes.yaml
  resources/serverless/values.yaml
Labels: area/serverless, area/installation, approved, size/XL, lgtm, area/charts

#13839 Cherrypick security for the serverless components
  components/busola-migrator/Dockerfile
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/nodejs14/Dockerfile
  components/function-runtimes/python39/Dockerfile
  components/function-runtimes/python39/kubeless/requirements.txt
Labels: area/serverless, size/M, approved, lgtm, area/busola-migrator

#13830 Upgrade eventing images to use go 1.18 runtime
  components/event-publisher-proxy/cmd/event-publisher-proxy/Dockerfile
  components/eventing-controller/Dockerfile
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#13840 Upgrade resources after cherry-pick
  resources/busola-migrator/values.yaml
  resources/rafter/values.yaml
  resources/serverless/values.yaml
Labels: area/documentation, area/serverless, area/monitoring, area/security, area/eventing, area/service-mesh, area/core-and-supporting, area/api-gateway, size/S, approved, lgtm, area/charts, area/tests

#13844 Upgrade go-runtime for busola-migrator
  components/busola-migrator/Dockerfile
  resources/busola-migrator/values.yaml
Labels: approved, size/XS, lgtm, area/charts, area/busola-migrator

#13849 Bumped NATS image on main
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#13846 Bumped NATS image on 2.1
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#13850 Skip the test if Loki PVC not found (e.g. evaluation profile)
  tests/fast-integration/logging/client.js
  tests/fast-integration/logging/helpers.js
  tests/fast-integration/logging/index.js
Labels: size/S, approved, lgtm, area/tests

#13811 Fix port names in services to comply with Istio co…
  resources/cluster-essentials/charts/pod-preset/templates/webhook/service.yaml
  resources/rafter/charts/controller-manager/values.yaml
  resources/service-catalog/charts/catalog/templates/webhook-service.yaml
Labels: area/service-management, area/core-and-supporting, approved, size/XS, lgtm, area/charts

#13843 Upgrade eventing images to use go 1.18 runtime
  components/event-publisher-proxy/cmd/event-publisher-proxy/Dockerfile
  components/eventing-controller/Dockerfile
  components/eventing-controller/Makefile
  components/eventing-controller/pkg/handlers/nats_test.go
  hack/verify-lint.sh
Labels: area/eventing, size/S, approved, lgtm, area/charts

#13854 Bump version to 2.1.2
  VERSION
Labels: approved, size/XS, lgtm

#13775 Pass Jetstream environment variables to eventing publisher proxy
  components/eventing-controller/cmd/eventing-controller/main.go
  components/eventing-controller/controllers/backend/reconciler.go
  components/eventing-controller/controllers/backend/reconciler_test.go
  components/eventing-controller/pkg/deployment/publisher_deployment.go
  components/eventing-controller/pkg/deployment/publisher_deployment_test.go
  components/eventing-controller/pkg/env/backend_config.go
  components/eventing-controller/pkg/env/nats_config.go
  components/eventing-controller/pkg/object/equality_test.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream.go
  components/eventing-controller/pkg/subscriptionmanager/nats/nats.go
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/L, lgtm, area/charts

#13763 Add support for event publishing to NATS in jetstream mode
  components/event-publisher-proxy/cmd/event-publisher-proxy/main.go
  components/event-publisher-proxy/cmd/event-publisher-proxy/nats/nats.go
  components/event-publisher-proxy/internal/httpconsts.go
  components/event-publisher-proxy/pkg/env/nats_config.go
  components/event-publisher-proxy/pkg/handler/nats/handler.go
  components/event-publisher-proxy/pkg/handler/nats/handler_health_test.go
  components/event-publisher-proxy/pkg/handler/nats/handler_integration_test.go
  components/event-publisher-proxy/pkg/handler/nats/health.go
  components/event-publisher-proxy/pkg/handler/nats/health_test.go
  components/event-publisher-proxy/pkg/handler/nats/mock/mock.go
  components/event-publisher-proxy/pkg/nats/connect_test.go
  components/event-publisher-proxy/pkg/sender/jetstream.go
  components/event-publisher-proxy/pkg/sender/jetstream_test.go
  components/event-publisher-proxy/pkg/sender/nats.go
  components/event-publisher-proxy/pkg/sender/nats_test.go
  components/event-publisher-proxy/testing/nats.go
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XL, lgtm, area/charts

#13631 Rewrite serverless webhooks using controller-runtime
  components/function-controller/cmd/webhook/main.go
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/internal/webhook/config.go
  components/function-controller/internal/webhook/defaulting_webhook.go
  components/function-controller/internal/webhook/defaulting_webhook_test.go
  components/function-controller/internal/webhook/resources/certificates.go
  components/function-controller/internal/webhook/resources/certificates_test.go
  components/function-controller/internal/webhook/resources/resources.go
  components/function-controller/internal/webhook/resources/resources_test.go
  components/function-controller/internal/webhook/resources/webhook_config.go
  components/function-controller/internal/webhook/resources/webhook_config_test.go
  components/function-controller/internal/webhook/validating_webhook.go
  components/function-controller/internal/webhook/validating_webhook_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_defaults_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/function_validation_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_defaults.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/gitrepository_validation_test.go
  components/function-controller/pkg/apis/serverless/v1alpha1/runtime_validation.go
  components/function-controller/pkg/apis/serverless/v1alpha1/validation_helpers.go
  components/function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
  resources/serverless/charts/webhook/templates/cluster-role.yaml
  resources/serverless/charts/webhook/templates/deployment.yaml
  resources/serverless/charts/webhook/templates/secret.yaml
  resources/serverless/charts/webhook/templates/webhooks.yaml
  resources/serverless/charts/webhook/values.yaml
  resources/serverless/values.yaml
Labels: area/serverless, size/XXL, approved, lgtm, area/charts

#13694 Expect 0 svcat resources after migration
  tests/fast-integration/skr-svcat-migration-test/test-helpers.js
Labels: approved, size/XS, lgtm

#13864 bump dependencies in epp
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#13866 Replace port forwarding with calling API server proxy
  tests/fast-integration/monitoring/client.js
  tests/fast-integration/monitoring/index.js
  tests/fast-integration/monitoring/prometheus.js
  tests/fast-integration/utils/index.js
Labels: size/M, approved, lgtm, area/tests

#13863 bump dependencies in eventing controller
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#13725 fast-integration test: add debug message for expected traces
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Labels: area/eventing, size/M, approved, lgtm, area/tests

#13870 Remove shorim from OWNERS file
  tests/fast-integration/OWNERS
Labels: approved, size/XS, lgtm, area/tests

#13871 Remove prometheusPortForward leftovers
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/skr-test/skr-test.js
Labels: area/eventing, size/S, approved, lgtm, area/tests

#13879 Preset Version Bump
  resources/cluster-essentials/values.yaml
Labels: approved, size/XS, lgtm, area/charts

#13884 fix security vulnerability in ec
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#13867 Improve retry logic in telemetry-operator
  components/telemetry-operator/api/v1alpha1/zz_generated.deepcopy.go
  components/telemetry-operator/controllers/logpipeline_controller.go
  components/telemetry-operator/controllers/suite_test.go
  components/telemetry-operator/internal/fluentbit/config_validator.go
  components/telemetry-operator/internal/webhook/suite_test.go
  resources/telemetry/values.yaml
Labels: area/logging, approved, size/L, lgtm, area/charts

#13885 Change link in the Observability second note to relative and fix list formatting for Kubernetes logs in Kyma Dashboard
  docs/02-get-started/05-observability.md
  docs/04-operation-guides/operations/obsv-01-access-logs.md
Labels: area/documentation, approved, size/XS, lgtm

#13883 fix security vulnerability in epp
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#13881 Get rid of the `kubeless-npm-install.sh` file
  components/function-runtimes/nodejs12/kubeless/kubeless-npm-install.sh
  components/function-runtimes/nodejs14/.dockerignore
  components/function-runtimes/nodejs14/kubeless/kubeless-npm-install.sh
  components/function-runtimes/nodejs14/kubeless/kubeless_rt/.gitignore
  components/function-runtimes/python39/kubeless/.gitignore
  resources/serverless/templates/runtimes.yaml
  resources/serverless/values.yaml
Labels: area/serverless, size/M, approved, lgtm, area/charts

#13869 add troubleshooting guide for sidecar proxy after upgrade
  docs/01-overview/main-areas/api-exposure/apix-02-useful-links.md
  docs/04-operation-guides/troubleshooting/apix-09-upgrade-sidecar-proxy.md
Labels: area/documentation, size/S, approved, lgtm

#13897 Add ecosystems to dependabot config.
  .github/dependabot-config.yaml
  .github/dependabot.yml
Labels: area/ci, approved, size/L, lgtm, area/tooling, area/dependency

#13841 Make eventing backend status more verbose
  components/eventing-controller/api/v1alpha1/condition.go
  components/eventing-controller/api/v1alpha1/condition_test.go
  components/eventing-controller/api/v1alpha1/eventingbackend_types.go
  components/eventing-controller/api/v1alpha1/zz_generated.deepcopy.go
  components/eventing-controller/config/crd/bases/eventing.kyma-project.io_eventingbackends.yaml
  components/eventing-controller/controllers/backend/reconciler.go
  components/eventing-controller/controllers/backend/reconciler_test.go
  components/eventing-controller/controllers/subscription/beb/reconciler.go
  components/eventing-controller/controllers/subscription/beb/reconciler_internal_test.go
  components/eventing-controller/controllers/subscription/equality.go
  components/eventing-controller/controllers/subscription/equality_test.go
  components/eventing-controller/controllers/subscription/jetstream/reconciler.go
  components/eventing-controller/controllers/subscription/jetstream/reconciler_internal_test.go
  components/eventing-controller/pkg/object/equality.go
  components/eventing-controller/pkg/object/equality_test.go
  components/eventing-controller/testing/matchers.go
  components/eventing-controller/testing/test_helpers.go
  installation/resources/crds/eventing/eventingbackends.eventing.kyma-project.io.crd.yaml
  resources/eventing/values.yaml
  tests/fast-integration/utils/index.js
Labels: area/eventing, area/installation, size/XXL, approved, lgtm, area/charts, area/tests

#13896 Bump k8s-tools image
  docs/04-operation-guides/operations/10-backup-kyma.md
  resources/busola-migrator/values.yaml
  resources/cluster-essentials/values.yaml
  resources/ory/values.yaml
  resources/rafter/values.yaml
  resources/serverless/values.yaml
  tests/integration/api-gateway/Dockerfile
Labels: area/documentation, area/serverless, area/security, area/service-mesh, area/core-and-supporting, area/api-gateway, size/S, approved, lgtm, area/charts, area/tests

#13858 Bumped NATS image on 2.0
  resources/eventing/values.yaml
Labels: approved, size/XS, lgtm

#13954 Missing New Line
  OWNERS_ALIASES
Labels: approved, size/XS, lgtm

#13956 Prepare k3d upgrade: wait for connector-service to be ready for commerce mock
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Labels: approved, size/XS, lgtm, area/tests

#13963 Update VERSION to 2.1.3 on release-2.1 branch
  VERSION
Labels: approved, size/XS, lgtm

#13947 Make JetStream consumer deliver policy configurable
  components/eventing-controller/README.md
  components/eventing-controller/pkg/env/nats_config.go
  components/eventing-controller/pkg/handlers/jetstream.go
  components/eventing-controller/pkg/handlers/jetstream_util.go
  resources/eventing/charts/controller/templates/deployment.yaml
  resources/eventing/charts/controller/values.yaml
  resources/eventing/profile-evaluation.yaml
  resources/eventing/profile-production.yaml
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#13951 Pod Preset Updates
  common/go.mod
  common/go.sum
  resources/cluster-essentials/values.yaml
  resources/helm-broker/values.yaml
  resources/ory/values.yaml
Labels: area/service-management, area/application-connector, area/service-mesh, area/api-gateway, approved, size/L, lgtm, area/charts

#13887 check if the array is returned is empty when querying audit log metrics
  tests/fast-integration/audit-log/helpers.js
Labels: approved, size/XS, lgtm, area/tests

#13964 bump postgres alpine for Ory
  resources/ory/values.yaml
Labels: area/service-mesh, area/api-gateway, approved, size/XS, lgtm, area/charts

#13832 Enabled NATS metrics exporter and added JetStream dashbaord
  resources/eventing/charts/dashboards/templates/jetstream.yaml
  resources/eventing/charts/dashboards/templates/nats.yaml
  resources/eventing/charts/nats/templates/serviceMonitor.yaml
  resources/eventing/charts/nats/templates/statefulset.yaml
  resources/eventing/charts/nats/values.yaml
  resources/eventing/values.yaml
  tests/fast-integration/eventing-test/metric-test.js
  tests/fast-integration/eventing-test/nats-dashboard-queries.json
Labels: area/eventing, size/XXL, approved, lgtm, area/charts, area/tests

#13876 Adapt PodPreset to k8s 1.22
  installation/resources/crds/service-catalog-addons/podpresets.settings.svcat.crd.yaml
Labels: area/service-management, area/installation, size/M, approved, lgtm

#13888 Update eventing codeowners
  OWNERS_ALIASES
  common/OWNERS
  tools/event-subscriber/OWNERS
Labels: area/eventing, approved, size/XS, lgtm, area/tools/event-subscriber, area/tools

#13967 Improve Authentication when calling API server proxy
  tests/fast-integration/monitoring/client.js
Labels: size/M, approved, lgtm, area/tests

#13971 fix broken link
  docs/05-technical-reference/ra-01-configuring-runtime.md
Labels: area/documentation, approved, size/XS, lgtm

#13972 Fix circular dependency between Eventing and commerce mock in the fast-integration tests
  tests/fast-integration/eventing-test/common/common.js
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Labels: area/eventing, size/M, approved, lgtm, area/tests

#13949 Fix `make test` for eventing-controller and event-publisher-proxy
  components/event-publisher-proxy/Makefile
  components/eventing-controller/Makefile
Labels: area/eventing, approved, size/XS, lgtm

#13965 Rename the backend label in the EPP deployment
  components/eventing-controller/pkg/deployment/publisher_deployment.go
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#13974 Putting back code for execing in pod in tests
  tests/fast-integration/utils/index.js
Labels: approved, size/XS, lgtm, area/tests

#13779 JetStream E2E fast integration tests
  tests/fast-integration/eventing-test/.env.template
  tests/fast-integration/eventing-test/README.md
  tests/fast-integration/eventing-test/common/common.js
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/utils/index.js
Labels: area/eventing, approved, size/L, lgtm, area/tests

#13119 Restructure obsv overview
  docs/01-overview/main-areas/observability/README.md
  docs/01-overview/main-areas/observability/assets/monitoring-istio.svg
  docs/01-overview/main-areas/observability/assets/prometheus-setup.svg
  docs/01-overview/main-areas/observability/obsv-01-monitoring-in-kyma.md
  docs/01-overview/main-areas/observability/obsv-01-telemetry-observability-overview.md
  docs/01-overview/main-areas/observability/obsv-02-logging-in-kyma.md
  docs/01-overview/main-areas/observability/obsv-03-istio-monitoring.md
  docs/01-overview/main-areas/observability/obsv-03-tracing-in-kyma.md
  docs/03-tutorials/00-observability/obsv-01-observe-application-metrics.md
  docs/03-tutorials/00-observability/obsv-03-define-alerting-rules-monitor.md
  docs/03-tutorials/00-observability/obsv-04-send-notifications.md
  docs/04-operation-guides/operations/obsv-03-enable-grafana-for-istio.md
  docs/04-operation-guides/operations/obsv-04-enable-mtls-for-custom-metrics.md
  docs/05-technical-reference/00-architecture/assets/obsv-monitoring-istio.svg
  docs/05-technical-reference/00-architecture/assets/obsv-prometheus-setup.svg
  docs/05-technical-reference/00-architecture/obsv-01-architecture-monitoring.md
Labels: area/documentation, approved, size/L, lgtm

#13981 Bump gce-proxy and etcd versions
  resources/helm-broker/values.yaml
  resources/ory/values.yaml
Labels: area/service-management, area/service-mesh, area/api-gateway, approved, size/XS, lgtm, area/charts

#13983 Bump versions of go and gogo/protobuf
  components/service-binding-usage-controller/Dockerfile
  components/service-binding-usage-controller/go.mod
  components/service-binding-usage-controller/go.sum
Labels: area/service-management, size/M, approved, lgtm

#13895 Docs runtime image override
  docs/01-overview/main-areas/serverless/svls-06-security-considerations.md
  docs/03-tutorials/00-serverless/svls-13-override-runtime-image.md
  docs/05-technical-reference/00-configuration-parameters/svls-02-environment-variables.md
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
  docs/05-technical-reference/svls-06-function-configuration-file.md
  docs/05-technical-reference/svls-08-function-specification.md
  milv.config.yaml
Labels: area/documentation, approved, size/L, lgtm

#13955 Remove unused k8s-tools definitions
  resources/busola-migrator/values.yaml
  resources/cluster-essentials/values.yaml
  resources/service-catalog/values.yaml
Labels: area/service-management, size/S, approved, lgtm, area/charts

#13969 Fix and enable JetStream monitoring tests in eventing fast-integration
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/metric-test.js
  tests/fast-integration/utils/index.js
Labels: area/eventing, size/S, approved, lgtm, area/tests

#13975 Reduce flakiness of getting started e2e tests
  tests/fast-integration/test/fixtures/getting-started-guide/index.js
  tests/fast-integration/test/fixtures/getting-started-guide/microservice.yaml
Labels: size/S, approved, lgtm, area/tests

#13986 Replace temporary link
  docs/03-tutorials/00-serverless/svls-13-override-runtime-image.md
Labels: area/documentation, approved, size/XS, lgtm

#13958 bump dependencies in ec
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#13801 skr-without-sc-integration-dev
  tests/fast-integration/Makefile
  tests/fast-integration/audit-log/helpers.js
  tests/fast-integration/kyma-environment-broker/client.js
  tests/fast-integration/package.json
  tests/fast-integration/skr-svcat-migration-test/skr-svcat-migration-test.js
  tests/fast-integration/skr-svcat-migration-test/test-helpers.js
  tests/fast-integration/skr-test-without-sc/.env.template
  tests/fast-integration/skr-test-without-sc/OWNERS
  tests/fast-integration/skr-test-without-sc/helpers.js
  tests/fast-integration/skr-test-without-sc/index.js
  tests/fast-integration/skr-test-without-sc/readme.md
  tests/fast-integration/skr-test-without-sc/skr-test.js
  tests/fast-integration/skr-test-without-sc/test.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Labels: approved, size/L, lgtm, area/tests

#14001 bump docker build image to golang 1.18.1
  components/eventing-controller/Dockerfile
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#13987 Docs: Functions referencing big GIT repositories cause FC crash
  docs/03-tutorials/00-serverless/svls-02-create-git-function.md
  docs/04-operation-guides/troubleshooting/svls-05-serverless-periodically-restarting.md
Labels: area/documentation, size/S, approved, lgtm

#14009 Update Eventing images
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#14010 bump docker build image to go 1.18.1 in EPP
  components/event-publisher-proxy/cmd/event-publisher-proxy/Dockerfile
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#13717 Fix pre-main-kyma-gardener-gcp-eventing (#13661)
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/test/fixtures/commerce-mock/lastorder-function.yaml
Labels: area/eventing, approved, lgtm

#13978 Add fast-integration tests for Istio and api-gateway
  tests/fast-integration/api-exposure/fixtures/apirule-allow.yaml
  tests/fast-integration/api-exposure/fixtures/apirule-oauth.yaml
  tests/fast-integration/api-exposure/fixtures/httpbin.yaml
  tests/fast-integration/api-exposure/fixtures/index.js
  tests/fast-integration/api-exposure/fixtures/ns.yaml
  tests/fast-integration/api-exposure/index.js
  tests/fast-integration/test/test.js
Labels: approved, size/L, lgtm, area/tests

#13957 Update istio component chart to 1.13.2
  resources/istio-resources/files/dashboards/control-plane.json
  resources/istio-resources/files/dashboards/mesh.json
  resources/istio-resources/files/dashboards/performance.json
  resources/istio-resources/files/dashboards/service.json
  resources/istio-resources/files/dashboards/workload.json
  resources/istio/Chart.yaml
  resources/istio/values.yaml
Labels: area/monitoring, area/security, area/service-mesh, size/S, approved, lgtm, area/charts

#14008 Bump Compass Runtime Agent
  resources/compass-runtime-agent/values.yaml
Labels: area/application-connector, approved, size/XS, lgtm, area/charts

#14018 Update Eventing images
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#14019 Bump telemetry-operator image
  resources/telemetry/values.yaml
Labels: area/logging, approved, size/XS, lgtm, area/charts

#14029 Bump image
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#14061 Bump dependencies in EC
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/M, approved, lgtm, area/charts

#14020 update commerce-mock in fast-integration test to 0.7.2
  tests/fast-integration/test/fixtures/commerce-mock/commerce-mock.yaml
Labels: approved, size/XS, lgtm, area/tests

#14016 Rename the backend label in the EPP deployment
  components/eventing-controller/pkg/deployment/publisher_deployment.go
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#14070 bump github.com/nats-io/nats-server/v2 from 2.8.0 to 2.8.1 in EPP
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/S, approved, lgtm, area/charts

#14069 bump github.com/nats-io/nats-server/v2 from 2.8.0 to 2.8.1 in EC
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  resources/eventing/values.yaml
Labels: area/eventing, size/S, approved, lgtm, area/charts

#14026 Add custom plugins to LogPipeline validation
  components/telemetry-operator/Dockerfile
  components/telemetry-operator/internal/fluentbit/config_validator.go
  components/telemetry-operator/internal/fluentbit/config_validator_test.go
  components/telemetry-operator/main.go
  resources/telemetry/values.yaml
Labels: area/logging, size/M, approved, lgtm, area/charts

#14066 Add subscription namespacedName to consumer description
  components/eventing-controller/pkg/handlers/jetstream.go
  resources/eventing/values.yaml
Labels: area/eventing, approved, size/XS, lgtm, area/charts

#14072 2.1 replace prometheus client golang to 1.11.1 EC and EPP
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
Labels: area/eventing, size/M, approved, lgtm

#14011 Fix make target to run telemetry-operator locally
  components/telemetry-operator/.gitignore
  components/telemetry-operator/Makefile
  components/telemetry-operator/main.go
  resources/telemetry/values.yaml
Labels: area/logging, size/S, approved, lgtm, area/charts

#14076 Skip automerge for dependabot eventing PRs
  .github/dependabot-config.yaml
  .github/dependabot.yml
Labels: area/ci, approved, size/XS, lgtm

#14012 Upgrade telemetry fluent bit chart
  resources/logging/values.yaml
  resources/telemetry/charts/fluent-bit/dashboards/fluent-bit.json
  resources/telemetry/charts/fluent-bit/templates/_helpers.tpl
  resources/telemetry/charts/fluent-bit/templates/_pod.tpl
  resources/telemetry/charts/fluent-bit/templates/configmap-dashboards.yaml
  resources/telemetry/charts/fluent-bit/templates/configmap.yaml
  resources/telemetry/charts/fluent-bit/templates/daemonset.yaml
  resources/telemetry/charts/fluent-bit/templates/deployment.yaml
  resources/telemetry/charts/fluent-bit/templates/hpa.yaml
  resources/telemetry/charts/fluent-bit/templates/ingress.yaml
  resources/telemetry/charts/fluent-bit/templates/pdb.yaml
  resources/telemetry/charts/fluent-bit/templates/prometheusrule.yaml
  resources/telemetry/charts/fluent-bit/templates/service.yaml
  resources/telemetry/charts/fluent-bit/templates/servicemonitor.yaml
  resources/telemetry/charts/fluent-bit/values.yaml
  resources/telemetry/values.yaml
Labels: area/logging, size/XXL, approved, lgtm, area/charts

#13973 Call Prometheus, Loki and Jaeger via Grafana API
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/logging/client.js
  tests/fast-integration/logging/index.js
  tests/fast-integration/logging/loki.js
  tests/fast-integration/monitoring/client.js
  tests/fast-integration/monitoring/grafana.js
  tests/fast-integration/monitoring/index.js
  tests/fast-integration/monitoring/prometheus.js
  tests/fast-integration/package-lock.json
  tests/fast-integration/skr-svcat-migration-test/deploy-sample-resources.js
  tests/fast-integration/telemetry-test/telemetry-test.js
  tests/fast-integration/test/1-commerce-mock.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/test/test.js
  tests/fast-integration/tracing/client.js
  tests/fast-integration/tracing/index.js
  tests/fast-integration/upgrade-test/upgrade-test-prep.js
  tests/fast-integration/upgrade-test/upgrade-test-tests.js
  tests/fast-integration/utils/index.js
Labels: area/eventing, approved, size/XL, lgtm, area/tests

#14088 improved apiserver metrics relabeling to not drop all metrics as unwa…
  resources/monitoring/values.yaml
  tests/fast-integration/monitoring/prometheus.js
Labels: area/monitoring, approved, size/XS, lgtm, area/charts, area/tests

#14092 improved apiserver metrics relabeling to not drop all metrics
  resources/monitoring/values.yaml
  tests/fast-integration/monitoring/prometheus.js
Labels: area/monitoring, approved, size/XS, lgtm, area/charts, area/tests

#14084 Release 2.0 replace prometheus/client_golang to 1.11.1 EC and EPP
  components/event-publisher-proxy/go.mod
  components/event-publisher-proxy/go.sum
  components/eventing-controller/Makefile
  components/eventing-controller/api/v1alpha1/zz_generated.deepcopy.go
  components/eventing-controller/go.mod
  components/eventing-controller/go.sum
  components/eventing-controller/pkg/handlers/nats_test.go
  hack/verify-lint.sh
Labels: approved, size/L, lgtm

#14077 Bump busybox for serverless components
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/nodejs14/Dockerfile
  components/function-runtimes/python39/Dockerfile
  resources/serverless/values.yaml
Labels: area/serverless, size/S, approved, lgtm, area/charts

#14075 Prepare for Github workflow
  CODEOWNERS
Labels: approved, size/L, lgtm

#14093 fix kyma-integration-k3d-telemetry
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/monitoring/client.js
  tests/fast-integration/monitoring/index.js
  tests/fast-integration/telemetry-test/telemetry-test.js
  tests/fast-integration/test/test.js
  tests/fast-integration/upgrade-test/upgrade-test-tests.js
  tests/fast-integration/utils/index.js
Labels: area/eventing, size/M, approved, lgtm, area/tests

#14089 Change telemetry-operator PR image version
  resources/telemetry/values.yaml
Labels: area/logging, approved, size/XS, lgtm, area/charts

#14091 Enable telemetry fluent bit dashboard
  resources/telemetry/charts/fluent-bit/dashboards/fluent-bit.json
  resources/telemetry/charts/fluent-bit/templates/_pod.tpl
  resources/telemetry/charts/fluent-bit/values.yaml
Labels: area/logging, approved, size/XS, lgtm, area/charts

#14106 Fix CODEOWNERS
  CODEOWNERS
Labels: size/M

#14100 Remove unecessary metrics as they are not exposed by apiserver
  resources/monitoring/values.yaml
Labels: area/monitoring, approved, size/XS, lgtm, area/charts

#13878 Get a JWT tutorial
  docs/01-overview/main-areas/api-exposure/apix-02-useful-links.md
  docs/02-get-started/02-deploy-expose-function.md
  docs/02-get-started/03-deploy-expose-microservice.md
  docs/03-tutorials/00-api-exposure/apix-01-own-domain.md
  docs/03-tutorials/00-api-exposure/apix-02-create-workload.md
  docs/03-tutorials/00-api-exposure/apix-04-get-jwt.md
  docs/03-tutorials/00-api-exposure/apix-05-expose-and-secure-workload-istio.md
  docs/03-tutorials/00-api-exposure/apix-05-expose-and-secure-workload-jwt.md
  docs/03-tutorials/00-serverless/svls-03-expose-function.md
  milv.config.yaml
Labels: area/documentation, size/L, lgtm

#14096 Bump k8s-tools image
  docs/04-operation-guides/operations/10-backup-kyma.md
  resources/ory/values.yaml
  resources/rafter/values.yaml
  resources/serverless/values.yaml
  tests/integration/api-gateway/Dockerfile
Labels: area/documentation, area/serverless, area/security, area/service-mesh, area/core-and-supporting, area/api-gateway, size/S, lgtm, do-not-merge/missing-docs-review, area/charts, area/tests

#14107 Update Eventing images
  resources/eventing/values.yaml
Labels: area/eventing, size/XS, lgtm

#14098 Bump SBU prometheus client to v1.12.1 (cherry-pick #13270)
  components/service-binding-usage-controller/go.mod
  components/service-binding-usage-controller/go.sum
Labels: size/L, lgtm

#14109 Bump images
  resources/busola-migrator/values.yaml
  resources/serverless/values.yaml
Labels: size/S, lgtm

#14108 Remove warning about istio installation on macs with m1 SoC
  docs/04-operation-guides/operations/02-install-kyma.md
Labels: size/XS, lgtm

#14112 update the tracing override docu
  docs/04-operation-guides/troubleshooting/obsv-02-troubleshoot-jaeger-shows-few-traces.md
Labels: size/S, lgtm

#14110 update kiali to 1.49.0
  resources/kiali/templates/configmap.yaml
  resources/kiali/templates/role-viewer.yaml
  resources/kiali/templates/role.yaml
  resources/kiali/values.yaml
Labels: size/S, lgtm

#14105 Workaround for short expiry notice on gardener upgrade tests
  tests/fast-integration/monitoring/prometheus.js
Labels: size/S, lgtm

#14071 skr-without-sc-integration-dev - Part 2
  tests/fast-integration/audit-log/helpers.js
  tests/fast-integration/skr-svcat-migration-test/skr-svcat-migration-test.js
  tests/fast-integration/skr-svcat-migration-test/test-helpers.js
  tests/fast-integration/skr-test-without-sc/helpers.js
  tests/fast-integration/skr-test-without-sc/skr-test.js
  tests/fast-integration/skr-test-without-sc/test.js
  tests/fast-integration/smctl/helpers.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/utils/index.js
Labels: size/L, lgtm, area/tests

#14114 Improve telemetry-operator README and Makefile
  components/telemetry-operator/Makefile
  components/telemetry-operator/README.md
  components/telemetry-operator/config/default/kustomization.yaml
  components/telemetry-operator/config/default/manager_auth_proxy_patch.yaml
  components/telemetry-operator/config/default/manager_config_patch.yaml
  components/telemetry-operator/config/default/manager_webhook_patch.yaml
  components/telemetry-operator/config/default/webhookcainjection_patch.yaml
  components/telemetry-operator/config/manager/controller_manager_config.yaml
  components/telemetry-operator/config/manager/kustomization.yaml
  components/telemetry-operator/config/manager/manager.yaml
  components/telemetry-operator/config/prometheus/kustomization.yaml
  components/telemetry-operator/config/prometheus/monitor.yaml
  installation/resources/crds/telemetry/logpipelines.crd.yaml
Labels: size/L, lgtm

#14101 Changed make deploy for eventing-controller to use helm templates with kustomize
  components/eventing-controller/Makefile
  components/eventing-controller/config/.gitignore
  components/eventing-controller/config/beb/secret.yaml
  components/eventing-controller/config/crd/kustomization.yaml
  components/eventing-controller/config/default/controller_ko_image.yaml
  components/eventing-controller/config/default/kustomization.yaml
  components/eventing-controller/config/default/manager_auth_proxy_patch.yaml
  components/eventing-controller/config/default/manager_config_patch.yaml
  components/eventing-controller/config/default/manager_env.yaml
  components/eventing-controller/config/helm/eventing_controller_patch.yaml
  components/eventing-controller/config/helm/kustomization.yaml
  components/eventing-controller/config/manager/kustomization.yaml
  components/eventing-controller/config/manager/manager.yaml
  components/eventing-controller/config/rbac/auth_proxy_client_clusterrole.yaml
  components/eventing-controller/config/rbac/auth_proxy_role.yaml
  components/eventing-controller/config/rbac/auth_proxy_role_binding.yaml
  components/eventing-controller/config/rbac/auth_proxy_service.yaml
  components/eventing-controller/config/rbac/eventingbackend_editor_role.yaml
  components/eventing-controller/config/rbac/eventingbackend_viewer_role.yaml
  components/eventing-controller/config/rbac/kustomization.yaml
  components/eventing-controller/config/rbac/leader_election_role.yaml
  components/eventing-controller/config/rbac/leader_election_role_binding.yaml
  components/eventing-controller/config/rbac/role_binding.yaml
  components/eventing-controller/config/rbac/service_account.yaml
  components/eventing-controller/config/rbac/subscription_editor_role.yaml
  components/eventing-controller/config/rbac/subscription_viewer_role.yaml
Labels: area/eventing, size/XL, lgtm

#14090 Query the EPP by its backend label, fix the tests
  components/eventing-controller/controllers/backend/reconciler.go
  components/eventing-controller/controllers/backend/reconciler_test.go
  components/eventing-controller/pkg/deployment/publisher_deployment.go
  resources/eventing/values.yaml
Labels: area/eventing, size/L, lgtm, area/charts

#14120 DOCS: Removed information that's no longer true
  docs/03-tutorials/00-serverless/svls-06-sync-function-with-gitops.md
Labels: size/S, lgtm

#14099 JetStream documentation
  docs/01-overview/main-areas/eventing/evnt-02-useful-links.md
  docs/02-get-started/04-trigger-workload-with-event.md
  docs/04-operation-guides/operations/evnt-01-enable-kyma-with-jetstream.md
  docs/05-technical-reference/00-architecture/evnt-01-architecture.md
Labels: area/documentation, size/M, lgtm

#14113 telemop: create internal pkg for syncing resources
  components/telemetry-operator/controllers/logpipeline_controller.go
  components/telemetry-operator/controllers/logpipeline_controller_test.go
  components/telemetry-operator/go.mod
  components/telemetry-operator/internal/sync/mocks/Client.go
  components/telemetry-operator/internal/sync/sync.go
  components/telemetry-operator/internal/sync/sync_test.go
  resources/telemetry/values.yaml
Labels: size/XXL, lgtm

#14124 Bump telemetry-operator image
  resources/telemetry/values.yaml
Labels: size/XS, lgtm

#14130 Tests adjusted to fetch shootName by kcp cli
  tests/fast-integration/kyma-environment-broker/helpers.js
  tests/fast-integration/skr-test-without-sc/test.js
Labels: size/S, lgtm
