Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @kyma-project/gopher, @kyma-project/technical-writers, @valentinvieriu, @akucharska, @qbalukom, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @piotrmiskiewicz, @VOID404, @koala7659, @franpog859, @mvshao, @kyma-project/eventing, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @kyma-project/observability, @khlifi411, @jeremyharisch, @ruanxin, @tobiscr, @jakobmoellersap, @kyma-project/goat, @lindnerby, @rakesh-garimella, @dennis-ge, @chrkl, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @janmedrek

Move Otel collector RBAC creation to telemetry-operator (#16910)
  resources/telemetry/charts/operator/templates/trace-collector-role.yaml
  resources/telemetry/values.yaml
Owners: @kyma-project/observability

Fix path in dockerfiles
  components/function-runtimes/nodejs/nodejs16/Dockerfile
  components/function-runtimes/nodejs/nodejs18/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

update node14 to version: 14.21.3
  components/function-runtimes/nodejs14/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

update node14 to version: 14.21.3 (#16914)
  components/function-runtimes/nodejs14/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

bump node14 image
  resources/serverless/values.yaml
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

updated timestamp
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

Fix time comparisons for NATS in Eventing FI tests
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

bump node14 image (#16915)
  resources/serverless/values.yaml
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

add note on Istio sidecar injection
  docs/01-overview/main-areas/application-connectivity/ac-01-application-connector.md
Owners: @kyma-project/technical-writers

fix links
  docs/01-overview/main-areas/application-connectivity/ac-01-application-connector.md
Owners: @kyma-project/technical-writers

updated:
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

updated
  tests/fast-integration/eventing-test/eventing-test.js
Owners: @kyma-project/eventing

Include nodejs18 in erverless ntegration and benchmark tests
  tests/function-controller/go.mod
  tests/function-controller/go.sum
  tests/function-controller/testsuite/scenarios/gitops.go
  tests/function-controller/testsuite/scenarios/light_runtimes.go
  tests/serverless-bench/fixtures/functions/nodejs18-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

updated
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

Fix time comparisons for NATS in Eventing FI tests (#16916)
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

updated
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

Added tests for exact type matching in Eventing FI tests
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

Fixed tests, removed redundant
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @chrkl

Reverted changes
  tests/fast-integration/test/fixtures/commerce-mock/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @chrkl

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @kyma-project/prow @kyma-project/gopher
/.github/ISSUE_TEMPLATE @kyma-project/technical-writers


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @qbalukom @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz @VOID404 @koala7659 @franpog859 @mvshao
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/directory-size-exporter @kyma-project/observability

# All files and subdirectories in /docs
/docs @kyma-project/technical-writers

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap
/installation/resources/crds/api-gateway @kyma-project/goat
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @kyma-project/goat
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @kyma-project/goat
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @kyma-project/observability
/installation/resources/crds/tracing @kyma-project/observability

/resources/api-gateway @kyma-project/goat
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @kyma-project/goat
/resources/cluster-essentials @kyma-project/goat
/resources/cluster-users @kyma-project/goat
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @kyma-project/eventing
/resources/istio @kyma-project/goat
/resources/istio-resources @kyma-project/goat
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/logging @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @kyma-project/goat
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @kyma-project/observability
/resources/tracing @kyma-project/observability

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @kyma-project/observability


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @chrkl
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/kcp @kyma-project/gopher
/tests/fast-integration/kyma-environment-broker @kyma-project/gopher
/tests/fast-integration/skr-aws-upgrade-integration @kyma-project/gopher
/tests/fast-integration/skr-nightly @kyma-project/gopher
/tests/fast-integration/skr-test @kyma-project/gopher
/tests/fast-integration/smctl @kyma-project/gopher
/tests/fast-integration/logging @kyma-project/observability
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/telemetry-test @kyma-project/observability
/tests/fast-integration/tracing @kyma-project/observability


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @kyma-project/eventing

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @kyma-project/technical-writers

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @kyma-project/technical-writers

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap
