Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @valentinvieriu, @akucharska, @qbalukom, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @VOID404, @koala7659, @franpog859, @mvshao, @kyma-project/eventing, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @kyma-project/observability, @clebs, @khlifi411, @jeremyharisch, @ruanxin, @tobiscr, @jakobmoellersap, @adityabhatia, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @lindnerby, @rakesh-garimella, @dennis-ge, @chrkl, @jaroslaw-pieszka, @janmedrek

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @kyma-project/prow
/.github/ISSUE_TEMPLATE @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @qbalukom @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz @VOID404 @koala7659 @franpog859 @mvshao
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/telemetry-operator @kyma-project/observability
/components/directory-size-exporter @kyma-project/observability
/components/webhook-cert-init @kyma-project/observability

# All files and subdirectories in /docs
/docs @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

/hack @clebs

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia
/installation/resources/crds/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @kyma-project/observability
/installation/resources/crds/tracing @kyma-project/observability

/resources/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @dariusztutaj @cnvergence @strekm @werdes72 @barchw
/resources/cluster-essentials @strekm @dariusztutaj @cnvergence @barchw @werdes72 @PK85 @videlov @triffer
/resources/cluster-users @cnvergence @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @kyma-project/eventing
/resources/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/logging @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @kyma-project/observability
/resources/tracing @kyma-project/observability

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @kyma-project/observability


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @tillknuesting @chrkl
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/kcp @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/skr-aws-upgrade-integration @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-nightly @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-svcat-migration-test @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm
/tests/fast-integration/skr-test @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/smctl @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/logging @kyma-project/observability
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/telemetry-test @kyma-project/observability
/tests/fast-integration/tracing @kyma-project/observability


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @kyma-project/eventing

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia @clebs

Fix port
  resources/tracing/templates/kyma-additions/metrics-service.yaml
Owners: @kyma-project/observability

Move cause
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Migrate application connector tests (#16692)
  tests/components/application-connector/go.mod
  tests/components/application-connector/go.sum
  tests/components/application-connector/resources/charts/application-connectivity-validator-test/values.yaml
  tests/components/application-connector/resources/charts/compass-runtime-agent-test/values.yaml
  tests/components/application-connector/resources/charts/gateway-test/values.yaml
  tests/components/application-connector/test/application-gateway/suite_test.go
  tests/components/application-connector/test/application-gateway/tools.go
  tests/components/application-connector/test/compass-runtime-agent/suite_test.go
  tests/components/application-connector/test/compass-runtime-agent/synchronisation_test.go
  tests/components/application-connector/test/compass-runtime-agent/testkit/applications/comparator.go
  tests/components/application-connector/test/compass-runtime-agent/testkit/applications/comparator_test.go
  tests/components/application-connector/test/compass-runtime-agent/testkit/applications/mocks/ApplicationGetter.go
  tests/components/application-connector/test/compass-runtime-agent/testkit/director/directorclient.go
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Rename script and add missing resources to delete
  docs/assets/2.11-2.12-cleanup-servicemonitors-and-rules.sh
  docs/migration-guide-2.11-2.12.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Bump CRA image
  resources/compass-runtime-agent/values.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

Bump image
  resources/application-connector/values.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

Move cause
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Rename script back
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
  docs/migration-guide-2.11-2.12.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Troubleshooting guide explaining possible reasons why exposed service cannot be reached (5xx) (#16804)
  docs/04-operation-guides/troubleshooting/api-exposure/apix-01-apigateway-connect-api-rule.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update Eventing security context
  components/eventing-controller/pkg/deployment/publisher_deployment.go
  resources/eventing/charts/nats/templates/statefulset.yaml
  resources/eventing/charts/nats/values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Update Eventing security context (#16772)
  components/eventing-controller/pkg/deployment/publisher_deployment.go
  resources/eventing/charts/nats/templates/statefulset.yaml
  resources/eventing/charts/nats/values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Bump gateway image
  resources/application-connector/values.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

Convert logging, tracing to annotation-based Prometheus scraping (#16813)
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
  resources/logging/charts/loki/templates/kyma-additions/loki.rules.yaml
  resources/logging/charts/loki/templates/servicemonitor.yaml
  resources/logging/charts/loki/values.yaml
  resources/tracing/templates/kyma-additions/metrics-service.yaml
  resources/tracing/templates/kyma-additions/metrics-servicemonitor.yaml
  resources/tracing/values.yaml
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/observability

Revert "Temporarily re-add FluentBit ServiceMonitor (#16766)"
  resources/telemetry/charts/operator/templates/fluent-bit/service-monitor.yaml
  resources/telemetry/charts/operator/values.yaml
Owners: @kyma-project/observability

change the Docker and k8s link
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

change the Docker and k8s link (#16815)
  README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Fix cleanup script
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Revert "Temporarily re-add FluentBit ServiceMonitor (#16766)" (#16814)
  resources/telemetry/charts/operator/templates/fluent-bit/service-monitor.yaml
  resources/telemetry/charts/operator/values.yaml
Owners: @kyma-project/observability

Fix cleanup script (#16816)
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

remove mg from main
  docs/assets/2.10-2.11-cleanup-kiali.sh
  docs/assets/2.9-2.10-OS-copy-secrets-to-system-namespace.sh
  docs/assets/2.9-2.10-SKR-copy-secrets-to-system-namespace.sh
  docs/migration-guide-2.10-2.11.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

remove mg from main (#16817)
  docs/assets/2.10-2.11-cleanup-kiali.sh
  docs/assets/2.9-2.10-OS-copy-secrets-to-system-namespace.sh
  docs/assets/2.9-2.10-SKR-copy-secrets-to-system-namespace.sh
  docs/migration-guide-2.10-2.11.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

bring back assets
  docs/assets/2.10-2.11-cleanup-kiali.sh
  docs/assets/2.9-2.10-OS-copy-secrets-to-system-namespace.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

bring back assets
  docs/assets/2.10-2.11-cleanup-kiali.sh
  docs/assets/2.9-2.10-OS-copy-secrets-to-system-namespace.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

bring back assets (#16819)
  docs/assets/2.10-2.11-cleanup-kiali.sh
  docs/assets/2.9-2.10-OS-copy-secrets-to-system-namespace.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

add metric for dispatch duration in nats dispatcher (#16522)
  components/eventing-controller/Makefile
  components/eventing-controller/hack/metrics.doc.tpl
  components/eventing-controller/pkg/backend/metrics/collector.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  docs/04-operation-guides/operations/evnt-02-eventing-metrics.md
  resources/eventing/charts/dashboards/templates/delivery.yaml
  resources/eventing/values.yaml
  tests/fast-integration/eventing-test/metric-test.js
  tests/fast-integration/eventing-test/nats-dashboard-queries.json
Owners: @kyma-project/eventing, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

temelemetry manager image dry-run
  resources/telemetry/values.yaml
Owners: @kyma-project/observability

Missing Deprovisioning
  tests/fast-integration/skr-test/test-own-cluster.js
Owners: @szwedm, @wozniakjan, @tillknuesting, @ralikio, @PK85, @piotrmiskiewicz, @jaroslaw-pieszka

Revert "dont run individual testcases in parallel"
  components/eventing-controller/controllers/subscriptionv2/jetstream/reconciler_integration_test.go
Owners: @kyma-project/eventing

fix lint issues
  components/eventing-controller/.golangci.yaml
  components/eventing-controller/controllers/subscriptionv2/jetstream/reconciler_integration_test.go
  components/eventing-controller/pkg/object/equality_test.go
  components/eventing-controller/pkg/object/v2/equality_test.go
Owners: @kyma-project/eventing

Missing Deprovisioning (#16763)
  tests/fast-integration/skr-test/test-own-cluster.js
Owners: @szwedm, @wozniakjan, @tillknuesting, @ralikio, @PK85, @piotrmiskiewicz, @jaroslaw-pieszka

Reorder ory troubleshooting guide
  docs/04-operation-guides/troubleshooting/api-exposure/apix-01-apigateway-connect-api-rule.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-04-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-05-dns-mgt-connection-refused.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-06-dns-mgt-could-not-resolve-host.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-07-dns-mgt-resource-ignored.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-08-cert-mgt-issuer-not-created.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-09-gateway-not-reachable.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-10-upgrade-sidecar-proxy.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-api-rule-troubleshooting.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update useful links
  docs/01-overview/main-areas/api-exposure/apix-02-useful-links.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Reorder ory troubleshooting guide (#16823)
  docs/01-overview/main-areas/api-exposure/apix-02-useful-links.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-01-apigateway-connect-api-rule.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-04-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-05-dns-mgt-connection-refused.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-06-dns-mgt-could-not-resolve-host.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-07-dns-mgt-resource-ignored.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-08-cert-mgt-issuer-not-created.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-09-gateway-not-reachable.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-10-upgrade-sidecar-proxy.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-api-rule-troubleshooting.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Delete secrets RBAC
  resources/compass-runtime-agent/templates/cluster-role-binding.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

temelemetry manager image dry-run (#16821)
  resources/telemetry/values.yaml
Owners: @kyma-project/observability
