Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @valentinvieriu, @akucharska, @qbalukom, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @VOID404, @koala7659, @franpog859, @mvshao, @kyma-project/eventing, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @kyma-project/observability, @clebs, @khlifi411, @jeremyharisch, @ruanxin, @tobiscr, @jakobmoellersap, @adityabhatia, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @lindnerby, @rakesh-garimella, @dennis-ge, @chrkl, @jaroslaw-pieszka, @janmedrek

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @kyma-project/prow
/.github/ISSUE_TEMPLATE @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @qbalukom @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz @VOID404 @koala7659 @franpog859 @mvshao
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/telemetry-operator @kyma-project/observability
/components/directory-size-exporter @kyma-project/observability
/components/webhook-cert-init @kyma-project/observability

# All files and subdirectories in /docs
/docs @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

/hack @clebs

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia
/installation/resources/crds/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @kyma-project/observability
/installation/resources/crds/tracing @kyma-project/observability

/resources/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @dariusztutaj @cnvergence @strekm @werdes72 @barchw
/resources/cluster-essentials @strekm @dariusztutaj @cnvergence @barchw @werdes72 @PK85 @videlov @triffer
/resources/cluster-users @cnvergence @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @kyma-project/eventing
/resources/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/logging @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @kyma-project/observability
/resources/tracing @kyma-project/observability

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @kyma-project/observability


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @tillknuesting @chrkl
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/kcp @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/skr-aws-upgrade-integration @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-nightly @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-svcat-migration-test @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm
/tests/fast-integration/skr-test @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/smctl @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/logging @kyma-project/observability
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/telemetry-test @kyma-project/observability
/tests/fast-integration/tracing @kyma-project/observability


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @kyma-project/eventing

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia @clebs

Fix file path
  docs/04-operation-guides/troubleshooting/api-exposure/apix-01-apigateway-connect-api-rule.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

dont run individual testcases in parallel
  components/eventing-controller/controllers/subscriptionv2/jetstream/reconciler_integration_test.go
Owners: @kyma-project/eventing

RBAC for compass-system Namespace
  resources/compass-runtime-agent/templates/cluster-role-binding.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

Test commit
  tests/fast-integration/eventing-test/eventing-test.js
Owners: @kyma-project/eventing

Review update
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Revert function docs changes (#16741)
  docs/03-tutorials/00-serverless/svls-11-set-asynchronous-connection-of-functions.md
  docs/05-technical-reference/svls-06-function-configuration-file.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Convert api gateway, istio, ory to annotation-based Prometheus scraping (#16805)
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
  resources/api-gateway/templates/monitoring.yaml
  resources/istio-resources/README.md
  resources/istio-resources/templates/service-monitor.yaml
  resources/istio-resources/values.yaml
  resources/istio/profile-evaluation.yaml
  resources/istio/templates/istio-operator.yaml
  resources/istio/values.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/service-metrics.yaml
  resources/ory/charts/oathkeeper/templates/service-metrics.yaml
  resources/ory/templates/monitoring-hydra.yaml
  resources/ory/templates/monitoring-oathkeeper.yaml
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer

correct the note
  docs/03-tutorials/00-api-exposure/apix-02-setup-custom-domain-for-workload.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

doc test
  components/telemetry-operator/README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/03-tutorials/00-api-exposure/apix-02-setup-custom-domain-for-workload.md
  docs/03-tutorials/00-api-exposure/apix-02-setup-custom-domain-for-workload.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

change ACME to Let's Encrypt
  docs/03-tutorials/00-api-exposure/apix-02-setup-custom-domain-for-workload.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

resolve conflicts
  docs/03-tutorials/00-api-exposure/apix-02-setup-custom-domain-for-workload.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

add note about the renewal of a certificate (#16801)
  docs/03-tutorials/00-api-exposure/apix-02-setup-custom-domain-for-workload.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Convert service monitor to annotations
  resources/serverless/templates/service-monitor.yaml
  resources/serverless/values.yaml
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

Fix chart
  resources/serverless/values.yaml
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

Revert function docs changes (#16741) (#16808)
  docs/03-tutorials/00-serverless/svls-11-set-asynchronous-connection-of-functions.md
  docs/05-technical-reference/svls-06-function-configuration-file.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update migration script
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Secret scope RBAC
  components/compass-runtime-agent/internal/certificates/migrator.go
  resources/compass-runtime-agent/templates/cluster-role-binding.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao, @PK85

remove redundant role for reading secrets in compass-system namespace
  resources/compass-runtime-agent/templates/role-binding.yaml
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

Convert serverless to annotation-based Prometheus scraping (#16810)
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
  resources/serverless/templates/service-monitor.yaml
  resources/serverless/values.yaml
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

fix makefile and documentation
  components/eventing-controller/Makefile
  docs/04-operation-guides/operations/evnt-02-eventing-metrics.md
Owners: @kyma-project/eventing, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Convert loki
  docs/assets/2.11-2.12-cleanup-servicemonitors.sh
  resources/logging/charts/loki/templates/kyma-additions/loki.rules.yaml
  resources/logging/charts/loki/templates/servicemonitor.yaml
  resources/logging/charts/loki/values.yaml
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @kyma-project/observability

Change loglevel for unneccessary info messages to debug (#16771)
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Update docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
  docs/04-operation-guides/troubleshooting/api-exposure/apix-11-500-server-error.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Convert jaeger
  resources/tracing/templates/kyma-additions/metrics-service.yaml
  resources/tracing/templates/kyma-additions/metrics-servicemonitor.yaml
  resources/tracing/values.yaml
Owners: @kyma-project/observability
