Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/kyma-steering-committee, @kyma-project/prow, @kyma-project/gopher, @kyma-project/technical-writers, @kyma-project/Hasselhoff, @kyma-project/Framefrog, @kyma-project/eventing, @kyma-project/Otters, @kyma-project/Jellyfish, @kyma-project/goat, @kyma-project/observability, @pbochynski

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @kyma-project/kyma-steering-committee

/.github @kyma-project/prow
/.github/workflows @kyma-project/prow @kyma-project/gopher
/.github/ISSUE_TEMPLATE @kyma-project/technical-writers


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @kyma-project/Hasselhoff

# Logging library
/common/logging @kyma-project/Framefrog

/components/central-application-connectivity-validator @kyma-project/Framefrog
/components/central-application-gateway @kyma-project/Framefrog
/components/compass-runtime-agent @kyma-project/Framefrog
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @kyma-project/Otters
/components/function-runtimes @kyma-project/Otters


# All files and subdirectories in /docs
/docs @kyma-project/technical-writers

/installation @kyma-project/Jellyfish
/installation/resources/crds/api-gateway @kyma-project/goat
/installation/resources/crds/application-connector @kyma-project/Framefrog
/installation/resources/crds/compass-runtime-agent @kyma-project/Framefrog
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @kyma-project/goat
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @kyma-project/goat
/installation/resources/crds/serverless @kyma-project/Otters
/installation/resources/crds/telemetry @kyma-project/observability
/installation/resources/crds/tracing @kyma-project/observability

/resources/api-gateway @kyma-project/goat
/resources/application-connector @kyma-project/Framefrog
/resources/certificates @kyma-project/goat
/resources/cluster-essentials @kyma-project/goat
/resources/cluster-users @kyma-project/goat
/resources/compass-runtime-agent @kyma-project/Framefrog
/resources/eventing @kyma-project/eventing
/resources/istio @kyma-project/goat
/resources/istio-resources @kyma-project/goat
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/logging @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @kyma-project/goat
/resources/serverless @kyma-project/Otters
/resources/telemetry @kyma-project/observability
/resources/tracing @kyma-project/observability

/tests/application-gateway-legacy-tests @kyma-project/Framefrog

# Fast Integration Tests
/tests/fast-integration/test @kyma-project/observability @kyma-project/eventing @kyma-project/Otters @kyma-project/goat
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/kcp @kyma-project/gopher
/tests/fast-integration/kyma-environment-broker @kyma-project/gopher
/tests/fast-integration/skr-aws-upgrade-integration @kyma-project/gopher
/tests/fast-integration/skr-nightly @kyma-project/gopher
/tests/fast-integration/skr-test @kyma-project/gopher
/tests/fast-integration/smctl @kyma-project/gopher
/tests/fast-integration/logging @kyma-project/observability
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/telemetry-test @kyma-project/observability
/tests/fast-integration/tracing @kyma-project/observability


/tests/function-controller @kyma-project/Otters
/tests/components/api-gateway @kyma-project/goat
/tests/components/istio @kyma-project/goat
/tests/components/application-connector @kyma-project/Framefrog

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @kyma-project/Otters

# The tools/event-subscriber directory
/tools/event-subscriber/ @kyma-project/eventing

# The tools/gitserver directory
/tools/gitserver/ @kyma-project/Otters

# Config file for MILV - milv.config.yaml
milv.config.yaml @kyma-project/Otters @kyma-project/technical-writers

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @kyma-project/technical-writers

# Managed Modules
/modules @pbochynski @kyma-project/Jellyfish

bumpvalues
  resources/serverless/values.yaml
Owners: @kyma-project/Otters

Security Team Otters - Bump Values (#17240)
  resources/serverless/values.yaml
Owners: @kyma-project/Otters

Trigger success
  docs/05-technical-reference/00-custom-resources/telemetry-01-logpipeline.md
Owners: @kyma-project/technical-writers

Added retries on Eventing FI tests (#17235)
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

Added retries on Eventing FI tests (#17235)
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

Cherry-picked "Added retries on Eventing FI tests" to Release-2.12 (#17241)
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

More Logging Messages
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Linting Corrections
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Review Remarks
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Review Remarks
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Review Remarks
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Test PR for eventing
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

bumps golang runtime due to CVE-2023-24532
  components/central-application-connectivity-validator/Dockerfile
Owners: @kyma-project/Framefrog

Update values.yaml
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

More Logging Messages (#17242)
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

improve Kyma overview and contributing
  CONTRIBUTING.md
  README.md
Owners: @kyma-project/technical-writers

More Logging Messages
  tests/fast-integration/skr-aws-upgrade-integration/index.js
  tests/fast-integration/skr-test/provision/provision-skr.js
  tests/fast-integration/utils/index.js
Owners: @kyma-project/gopher, @kyma-project/kyma-steering-committee
