Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/kyma-steering-committee, @kyma-project/prow, @kyma-project/gopher, @kyma-project/technical-writers, @kyma-project/Hasselhoff, @kyma-project/Framefrog, @kyma-project/eventing, @kyma-project/Otters, @kyma-project/Jellyfish, @kyma-project/goat, @kyma-project/observability, @pbochynski

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @kyma-project/kyma-steering-committee

/.github @kyma-project/prow
/.github/workflows @kyma-project/prow @kyma-project/gopher
/.github/ISSUE_TEMPLATE @kyma-project/technical-writers


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @kyma-project/Hasselhoff

# Logging library
/common/logging @kyma-project/Framefrog

/components/central-application-connectivity-validator @kyma-project/Framefrog
/components/central-application-gateway @kyma-project/Framefrog
/components/compass-runtime-agent @kyma-project/Framefrog
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @kyma-project/Otters
/components/function-runtimes @kyma-project/Otters


# All files and subdirectories in /docs
/docs @kyma-project/technical-writers

/installation @kyma-project/Jellyfish
/installation/resources/crds/api-gateway @kyma-project/goat
/installation/resources/crds/application-connector @kyma-project/Framefrog
/installation/resources/crds/compass-runtime-agent @kyma-project/Framefrog
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @kyma-project/goat
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @kyma-project/goat
/installation/resources/crds/serverless @kyma-project/Otters
/installation/resources/crds/telemetry @kyma-project/observability
/installation/resources/crds/tracing @kyma-project/observability

/resources/api-gateway @kyma-project/goat
/resources/application-connector @kyma-project/Framefrog
/resources/certificates @kyma-project/goat
/resources/cluster-essentials @kyma-project/goat
/resources/cluster-users @kyma-project/goat
/resources/compass-runtime-agent @kyma-project/Framefrog
/resources/eventing @kyma-project/eventing
/resources/istio @kyma-project/goat
/resources/istio-resources @kyma-project/goat
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/logging @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @kyma-project/goat
/resources/serverless @kyma-project/Otters
/resources/telemetry @kyma-project/observability
/resources/tracing @kyma-project/observability

/tests/application-gateway-legacy-tests @kyma-project/Framefrog

# Fast Integration Tests
/tests/fast-integration/test @kyma-project/observability @kyma-project/eventing @kyma-project/Otters @kyma-project/goat
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/kcp @kyma-project/gopher
/tests/fast-integration/kyma-environment-broker @kyma-project/gopher
/tests/fast-integration/skr-aws-upgrade-integration @kyma-project/gopher
/tests/fast-integration/skr-nightly @kyma-project/gopher
/tests/fast-integration/skr-test @kyma-project/gopher
/tests/fast-integration/smctl @kyma-project/gopher
/tests/fast-integration/logging @kyma-project/observability
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/telemetry-test @kyma-project/observability
/tests/fast-integration/tracing @kyma-project/observability


/tests/function-controller @kyma-project/Otters
/tests/components/api-gateway @kyma-project/goat
/tests/components/istio @kyma-project/goat
/tests/components/application-connector @kyma-project/Framefrog

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @kyma-project/Otters

# The tools/event-subscriber directory
/tools/event-subscriber/ @kyma-project/eventing

# The tools/gitserver directory
/tools/gitserver/ @kyma-project/Otters

# Config file for MILV - milv.config.yaml
milv.config.yaml @kyma-project/Otters @kyma-project/technical-writers

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @kyma-project/technical-writers

# Managed Modules
/modules @pbochynski @kyma-project/Jellyfish

Sync data
  docs/05-technical-reference/00-custom-resources/telemetry-01-logpipeline.md
Owners: @kyma-project/technical-writers

Fixes telemetry manager codebase linting errors.
  resources/telemetry/values.yaml
Owners: @kyma-project/observability

Fullfill stub for webhooks (#17187)
  components/function-controller/hack/config.yaml
  components/function-controller/internal/webhook/resources/resources.go
  components/function-controller/internal/webhook/resources/resources_test.go
  components/function-controller/internal/webhook/resources/webhook_config.go
  components/function-controller/internal/webhook/resources/webhook_config_test.go
  resources/serverless/charts/webhook/templates/webhooks.yaml
  resources/serverless/values.yaml
Owners: @kyma-project/Otters

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Fixes telemetry manager codebase linting errors.
  resources/telemetry/values.yaml
Owners: @kyma-project/observability

Test upgrade job
  components/eventing-controller/README.md
Owners: @kyma-project/technical-writers

Dump the PR number
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Dummy comment
  components/eventing-controller/cmd/eventing-controller/main.go
Owners: @kyma-project/eventing

Update values.yaml
  resources/compass-runtime-agent/values.yaml
Owners: @kyma-project/Framefrog

Update values.yaml
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

Update values.yaml
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Update values.yaml
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

Updates central-application-gateway image
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

Update values.yaml
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

bumps compass-runtime-agent image
  resources/compass-runtime-agent/values.yaml
Owners: @kyma-project/Framefrog

allow to delete secrets
  resources/eventing/charts/controller/templates/clusterrole.yaml
Owners: @kyma-project/eventing

change main to release branch for Kiali
  docs/migration-guide-2.10-2.11.md
Owners: @kyma-project/technical-writers

change main to release branch for Kiali (#17226)
  docs/migration-guide-2.10-2.11.md
Owners: @kyma-project/technical-writers

bumps central-application-gateway
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

bumps compass-runtime-agent
  resources/compass-runtime-agent/values.yaml
Owners: @kyma-project/Framefrog

Changed crd to test prow job call
  installation/resources/crds/telemetry/logparsers.crd.yaml
Owners: @kyma-project/observability

Update values.yaml
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

Bump Alpine based images
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/ory/values.yaml
  resources/tracing/values.yaml
Owners: @kyma-project/observability, @kyma-project/goat

Trigger incorrect result
  docs/05-technical-reference/00-custom-resources/telemetry-01-logpipeline.md
Owners: @kyma-project/technical-writers

Update values.yaml
  resources/compass-runtime-agent/values.yaml
Owners: @kyma-project/Framefrog

bumps central-application-gateway image
  resources/application-connector/values.yaml
Owners: @kyma-project/Framefrog

Bump Alpine based images (#17224)
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/ory/values.yaml
  resources/tracing/values.yaml
Owners: @kyma-project/observability, @kyma-project/goat

Added retries on Eventing FI tests
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/utils/index.js
Owners: @kyma-project/eventing, @kyma-project/kyma-steering-committee

moved helpers to eventing codebase
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/utils/index.js
Owners: @kyma-project/eventing, @kyma-project/kyma-steering-committee

lint fix
  tests/fast-integration/utils/index.js
Owners: @kyma-project/kyma-steering-committee

Change v1alpha1 to v1alpha2 serverless fast integration (#17180)
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/test/fixtures/getting-started-guide/index.js
  tests/fast-integration/utils/index.js
Owners: @kyma-project/observability, @kyma-project/eventing, @kyma-project/Otters, @kyma-project/goat, @kyma-project/kyma-steering-committee

reduce rbac permissions for eventing component (#17137)
  resources/eventing/charts/controller/templates/clusterrole.yaml
Owners: @kyma-project/eventing

Change v1alpha1 to v1alpha2 serverless fast integration (#17180) (#17236)
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/test/fixtures/getting-started-guide/index.js
  tests/fast-integration/utils/index.js
Owners: @kyma-project/observability, @kyma-project/eventing, @kyma-project/Otters, @kyma-project/goat, @kyma-project/kyma-steering-committee

fix env comparison with true
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/eventing

security-bump
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/registry-gc/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
  resources/serverless/values.yaml
Owners: @kyma-project/Otters

Update resources/eventing/values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Security Team Otters (#17237)
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/registry-gc/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
  resources/serverless/values.yaml
Owners: @kyma-project/Otters

Trigger fail
  installation/resources/crds/telemetry/logpipelines.crd.yaml
Owners: @kyma-project/observability

Api-gateway 1.5.0 (#17218)
  resources/api-gateway/Chart.yaml
  resources/api-gateway/templates/rbac.yaml
  resources/api-gateway/values.yaml
Owners: @kyma-project/goat
