Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/kyma-steering-committee, @kyma-project/prow, @kyma-project/gopher, @kyma-project/technical-writers, @kyma-project/Hasselhoff, @kyma-project/Framefrog, @kyma-project/eventing, @kyma-project/Otters, @kyma-project/Jellyfish, @kyma-project/goat, @kyma-project/observability, @pbochynski

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @kyma-project/kyma-steering-committee

/.github @kyma-project/prow
/.github/workflows @kyma-project/prow @kyma-project/gopher
/.github/ISSUE_TEMPLATE @kyma-project/technical-writers


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @kyma-project/Hasselhoff

# Logging library
/common/logging @kyma-project/Framefrog

/components/central-application-connectivity-validator @kyma-project/Framefrog
/components/central-application-gateway @kyma-project/Framefrog
/components/compass-runtime-agent @kyma-project/Framefrog
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @kyma-project/Otters
/components/function-runtimes @kyma-project/Otters


# All files and subdirectories in /docs
/docs @kyma-project/technical-writers

/installation @kyma-project/Jellyfish
/installation/resources/crds/api-gateway @kyma-project/goat
/installation/resources/crds/application-connector @kyma-project/Framefrog
/installation/resources/crds/compass-runtime-agent @kyma-project/Framefrog
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @kyma-project/goat
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @kyma-project/goat
/installation/resources/crds/serverless @kyma-project/Otters
/installation/resources/crds/telemetry @kyma-project/observability
/installation/resources/crds/tracing @kyma-project/observability

/resources/api-gateway @kyma-project/goat
/resources/application-connector @kyma-project/Framefrog
/resources/certificates @kyma-project/goat
/resources/cluster-essentials @kyma-project/goat
/resources/cluster-users @kyma-project/goat
/resources/compass-runtime-agent @kyma-project/Framefrog
/resources/eventing @kyma-project/eventing
/resources/istio @kyma-project/goat
/resources/istio-resources @kyma-project/goat
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/logging @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @kyma-project/goat
/resources/serverless @kyma-project/Otters
/resources/telemetry @kyma-project/observability
/resources/tracing @kyma-project/observability

/tests/application-gateway-legacy-tests @kyma-project/Framefrog

# Fast Integration Tests
/tests/fast-integration/test @kyma-project/observability @kyma-project/eventing @kyma-project/Otters @kyma-project/goat
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/kcp @kyma-project/gopher
/tests/fast-integration/kyma-environment-broker @kyma-project/gopher
/tests/fast-integration/skr-aws-upgrade-integration @kyma-project/gopher
/tests/fast-integration/skr-nightly @kyma-project/gopher
/tests/fast-integration/skr-test @kyma-project/gopher
/tests/fast-integration/smctl @kyma-project/gopher
/tests/fast-integration/logging @kyma-project/observability
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/telemetry-test @kyma-project/observability
/tests/fast-integration/tracing @kyma-project/observability


/tests/function-controller @kyma-project/Otters
/tests/components/api-gateway @kyma-project/goat
/tests/components/istio @kyma-project/goat
/tests/components/application-connector @kyma-project/Framefrog

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @kyma-project/Otters

# The tools/event-subscriber directory
/tools/event-subscriber/ @kyma-project/eventing

# The tools/gitserver directory
/tools/gitserver/ @kyma-project/Otters

# Config file for MILV - milv.config.yaml
milv.config.yaml @kyma-project/Otters @kyma-project/technical-writers

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @kyma-project/technical-writers

# Managed Modules
/modules @pbochynski @kyma-project/Jellyfish

Updating verify-md for prow job
  hack/verify-md.sh
Owners: @kyma-project/kyma-steering-committee

Telemetry CRD description update (#17198)
  docs/05-technical-reference/00-custom-resources/telemetry-01-logpipeline.md
  docs/05-technical-reference/00-custom-resources/telemetry-02-logparser.md
  docs/05-technical-reference/00-custom-resources/telemetry-03-tracepipeline.md
  installation/resources/crds/telemetry/logparsers.crd.yaml
  installation/resources/crds/telemetry/logpipelines.crd.yaml
  installation/resources/crds/telemetry/tracepipelines.crd.yaml
Owners: @kyma-project/technical-writers, @kyma-project/observability

Dump the PR number
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Test upgrade job
  components/eventing-controller/README.md
Owners: @kyma-project/technical-writers

Dummy comment
  components/eventing-controller/cmd/eventing-controller/main.go
Owners: @kyma-project/eventing

minor fixes to eventing fi tests
  tests/fast-integration/eventing-test/README.md
  tests/fast-integration/eventing-test/assets/eventing-sink.yaml
  tests/fast-integration/eventing-test/assets/eventing-upgrade-sink.yaml
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/prow/config/skr_config.json
  tests/fast-integration/eventing-test/utils.js
Owners: @kyma-project/technical-writers, @kyma-project/eventing

add keeping some descriptions
  components/function-controller/config/crd/bases/table-gen.go
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/Otters, @kyma-project/technical-writers

final refactor
  components/function-controller/config/crd/bases/table-gen.go
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/Otters, @kyma-project/technical-writers

rename FunctionSpec in description
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
  installation/resources/crds/serverless/crd-serverless.yaml
Owners: @kyma-project/Otters

move table-gen to hack and rename
  components/function-controller/hack/function-spec-doc-gen.go
Owners: @kyma-project/Otters

removed new line from keeped rows
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

add TODOs and small changes
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

add function crd generator (under development)
  components/function-controller/config/crd/bases/table-gen.go
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/Otters, @kyma-project/technical-writers

regenerate crd
  installation/resources/crds/serverless/crd-serverless.yaml
  resources/serverless/templates/crds.yaml
Owners: @kyma-project/Otters

add skip some elements in markdown
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

move markers in md file to end of line
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/technical-writers

add TODO
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

add test comment into doc
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/technical-writers

spec part marked to auto generation
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/technical-writers

add documentation comments to table-gen
  components/function-controller/hack/function-spec-doc-gen.go
Owners: @kyma-project/Otters

change descriptions api v1alpha2
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
Owners: @kyma-project/Otters

move table-gen some params to args
  components/function-controller/Makefile
  components/function-controller/hack/function-spec-doc-gen.go
Owners: @kyma-project/Otters

add sort by name; skip first word of description
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

next try
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

move markers in md file to end of line
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/technical-writers

add table-gen to make manifests
  components/function-controller/Makefile
Owners: @kyma-project/Otters

regenerate crd
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
Owners: @kyma-project/Otters

add skip some elements
  components/function-controller/config/crd/bases/table-gen.go
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/Otters, @kyma-project/technical-writers

change comments for generator in doc
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/technical-writers

regenerate doc by table-gen
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/technical-writers

add replacing into doc
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

try to read function crd yaml
  components/function-controller/config/crd/bases/table-gen.go
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Owners: @kyma-project/Otters, @kyma-project/technical-writers

fresh version of function CRD
  resources/serverless/templates/crds.yaml
Owners: @kyma-project/Otters

add expanding links to other elements in destciption
  components/function-controller/config/crd/bases/table-gen.go
Owners: @kyma-project/Otters

Update values.yaml
  resources/api-gateway/values.yaml
Owners: @kyma-project/goat

Update rbac.yaml
  resources/api-gateway/templates/rbac.yaml
Owners: @kyma-project/goat

Update values.yaml
  resources/eventing/values.yaml
Owners: @kyma-project/eventing

Updating verify-md for prow job (#17209)
  hack/verify-md.sh
Owners: @kyma-project/kyma-steering-committee

Test data
  installation/resources/crds/telemetry/logpipelines.crd.yaml
Owners: @kyma-project/observability

Update Chart.yaml
  resources/api-gateway/Chart.yaml
Owners: @kyma-project/goat
