Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @valentinvieriu, @akucharska, @dariadomagala, @qbalukom, @Wawrzyn321, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @VOID404, @koala7659, @franpog859, @mvshao, @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @hisarbalik, @clebs, @khlifi411, @ruanxin, @tobiscr, @jakobmoellersap, @adityabhatia, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @jaroslaw-pieszka, @janmedrek

Split collector service into otlp and opencensus
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/resources.go
  components/telemetry-operator/controller/tracepipeline/resources_test.go
  components/telemetry-operator/controller/tracepipeline/suite_test.go
  components/telemetry-operator/main.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Add a flag for the oltp service name
  components/telemetry-operator/main.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Minor flag adjustment
  components/telemetry-operator/main.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Fix integration tests
  components/telemetry-operator/controller/tracepipeline/controller_test.go
  components/telemetry-operator/controller/tracepipeline/suite_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Remove a constant
  components/telemetry-operator/controller/tracepipeline/resources.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Bump operator image
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Fix tests
  components/telemetry-operator/controller/tracepipeline/controller_test.go
  components/telemetry-operator/controller/tracepipeline/suite_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Return error while reconciling
  components/telemetry-operator/controller/logparser/controller.go
  components/telemetry-operator/controller/logpipeline/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Rewrite error handling in the logpipeline controller
  components/telemetry-operator/controller/logpipeline/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Rewrite error handling in the logparser controller
  components/telemetry-operator/controller/logparser/controller.go
  components/telemetry-operator/controller/logpipeline/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Rewrite error handling in the tracepipeline controller
  components/telemetry-operator/controller/logparser/controller.go
  components/telemetry-operator/controller/logpipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Remove dead code
  components/telemetry-operator/controller/common.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Remove unneded log lines
  components/telemetry-operator/controller/logparser/controller.go
  components/telemetry-operator/controller/logpipeline/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Set log level to debug
  components/telemetry-operator/controller/tracepipeline/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Watch also secret creation
  components/telemetry-operator/controller/logparser/setup.go
  components/telemetry-operator/controller/logpipeline/setup.go
  components/telemetry-operator/controller/tracepipeline/setup.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Bump operator image
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

unit test for secret checks added
  components/telemetry-operator/controller/tracepipeline/status_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Update 02-deploy-expose-function.md
  docs/02-get-started/02-deploy-expose-function.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @kyma-project/prow
/.github/ISSUE_TEMPLATE @mmitoraj @NHingerl @grego952 @IwonaLanger  


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @dariadomagala @qbalukom @Wawrzyn321 @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/eventing-controller @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/telemetry-operator @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/directory-size-exporter @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/webhook-cert-init @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik

# All files and subdirectories in /docs
/docs @mmitoraj @NHingerl @grego952 @IwonaLanger  

/hack @clebs

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia
/installation/resources/crds/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/installation/resources/crds/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/installation/resources/crds/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @NHingerl @hisarbalik
/installation/resources/crds/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/resources/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @dariusztutaj @cnvergence @strekm @werdes72 @barchw
/resources/cluster-essentials @a-thaler @strekm @dariusztutaj @cnvergence @barchw @werdes72 @PK85 @videlov @triffer
/resources/cluster-essentials/charts/pod-preset @wozniakjan @PK85 @piotrmiskiewicz @szwedm @ralikio @tillknuesting
/resources/cluster-users @cnvergence @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/resources/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources/files/dashboards @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/kiali @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @tillknuesting @chrkl
/tests/fast-integration/eventing-test @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/image @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/kcp @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/skr-aws-upgrade-integration @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-nightly @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-svcat-migration-test @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm
/tests/fast-integration/skr-test @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/smctl @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/telemetry-test @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia

# performance tests
/tests/perf @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @lilitgh @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @muralov

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @mmitoraj @NHingerl @grego952 @IwonaLanger

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia @clebs
