Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @valentinvieriu, @akucharska, @dariadomagala, @qbalukom, @Wawrzyn321, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @VOID404, @koala7659, @franpog859, @mvshao, @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @hisarbalik, @clebs, @khlifi411, @ruanxin, @tobiscr, @jakobmoellersap, @adityabhatia, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @jaroslaw-pieszka, @janmedrek

TracePipeline status first revision
  components/telemetry-operator/apis/telemetry/v1alpha1/tracepipeline_types.go
  components/telemetry-operator/apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  components/telemetry-operator/config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  components/telemetry-operator/controller/logparser/finalizer.go
  components/telemetry-operator/controller/logparser/finalizer_test.go
  components/telemetry-operator/controller/logparser/status_test.go
  components/telemetry-operator/controller/logpipeline/finalizer.go
  components/telemetry-operator/controller/logpipeline/finalizer_test.go
  components/telemetry-operator/controller/logpipeline/status_test.go
  components/telemetry-operator/controller/logpipeline/suite_test.go
  components/telemetry-operator/controller/logpipeline/sync.go
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/setup.go
  components/telemetry-operator/controller/tracepipeline/status.go
  components/telemetry-operator/controller/tracepipeline/suite_test.go
  components/telemetry-operator/go.mod
  components/telemetry-operator/internal/configchecksum/checksum_test.go
  components/telemetry-operator/internal/kubernetes/daemonset.go
  components/telemetry-operator/internal/kubernetes/daemonset_test.go
  components/telemetry-operator/internal/kubernetes/deployment.go
  components/telemetry-operator/main.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Corrected Linting
  tests/fast-integration/gardener/client.js
  tests/fast-integration/skr-test/test-own-cluster.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl, @szwedm, @wozniakjan, @ralikio, @piotrmiskiewicz, @jaroslaw-pieszka

telemetry controller image bump
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

integration test for tracepipeline status check added
  components/telemetry-operator/controller/tracepipeline/setup.go
  tests/fast-integration/telemetry-test/helpers.js
  tests/fast-integration/telemetry-test/suite.js
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Add liveness/readiness probes
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/resources.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Added local to linting to fix local make error
  components/telemetry-operator/Makefile
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

some not used code removed
  components/telemetry-operator/controller/tracepipeline/setup.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

tracepipeline integration test fix
  tests/fast-integration/telemetry-test/suite.js
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @hisarbalik

Duplicate definition of GF_PATHS_PROVISIONING env variable in grafana pod
  resources/monitoring/charts/grafana/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Added local to linting to fix local make error (#16222)
  components/telemetry-operator/Makefile
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Add test
  components/telemetry-operator/controller/tracepipeline/resources_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

updated kiwigrid sidecar to newest python version
  resources/monitoring/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Env Cleanup
  tests/fast-integration/gardener/client.js
  tests/fast-integration/kcp/client.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl, @piotrmiskiewicz, @szwedm, @wozniakjan, @ralikio, @jaroslaw-pieszka

Duplicate definition of GF_PATHS_PROVISIONING env variable in grafana pod (#16223)
  resources/monitoring/charts/grafana/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

integration test fix
  tests/fast-integration/telemetry-test/helpers.js
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @hisarbalik

Linting Corrections
  tests/fast-integration/gardener/client.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Add health_check extension
  components/telemetry-operator/controller/tracepipeline/resources.go
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

updated kiwigrid sidecar to newest python version (#16224)
  resources/monitoring/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

integration test fix
  tests/fast-integration/telemetry-test/helpers.js
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @hisarbalik

updated node-exporter to latest patch version (#16215)
  resources/monitoring/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

lint fixes
  tests/fast-integration/telemetry-test/helpers.js
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @hisarbalik

Clean consumers for ec restart (#16133)
  components/eventing-controller/controllers/subscription/jetstream/reconciler_internal_integration_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/errors.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_integration_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_internal_unit_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/mocks/Backend.go
  components/eventing-controller/pkg/backend/jetstreamv2/mocks/JetStreamBackend.go
  components/eventing-controller/pkg/backend/jetstreamv2/stubs_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/types.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream_test.go
  components/eventing-controller/testing/v2/test_helpers.go
  components/eventing-controller/utils/errors.go
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Add security context
  components/telemetry-operator/controller/tracepipeline/resources.go
  components/telemetry-operator/controller/tracepipeline/resources_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Add priorityClassName
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/resources.go
  components/telemetry-operator/main.go
  resources/telemetry/charts/operator/templates/deployment.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Tracepipeline status unit tests
  components/telemetry-operator/controller/tracepipeline/mocks/deployment_prober.go
  components/telemetry-operator/controller/tracepipeline/status_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Added os to the local bin path
  components/telemetry-operator/Makefile
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Add maxBytes and discard policy info to documentation
  docs/01-overview/main-areas/eventing/evnt-90-glossary.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Add maxBytes and discard policy info to documentation (#16233)
  docs/01-overview/main-areas/eventing/evnt-90-glossary.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Add fallback for getting the load balancer IP, so we are able to run custom domain test on DNS and IP based load balancer ingress points. (#16209)
  tests/components/api-gateway/README.md
  tests/components/api-gateway/custom_domain_test.go
  tests/components/api-gateway/pkg/helpers/loadbalancer.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer

Update tests/fast-integration/skr-test/test-own-cluster.js
  tests/fast-integration/skr-test/test-own-cluster.js
Owners: @szwedm, @wozniakjan, @tillknuesting, @ralikio, @PK85, @piotrmiskiewicz, @jaroslaw-pieszka

Added os to the local bin path (#16227)
  components/telemetry-operator/Makefile
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Review Remarks
  tests/fast-integration/skr-test/test-own-cluster.js
  tests/telemetry-operator-perf-tests/go.sum
Owners: @szwedm, @wozniakjan, @tillknuesting, @ralikio, @PK85, @piotrmiskiewicz, @jaroslaw-pieszka, @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @hisarbalik

Linting Corrections
  tests/fast-integration/skr-test/test-own-cluster.js
Owners: @szwedm, @wozniakjan, @tillknuesting, @ralikio, @PK85, @piotrmiskiewicz, @jaroslaw-pieszka

Add Int Test for NATS Created Consumer Deletion
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Parameterize cpu/memory limits
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/resources.go
  components/telemetry-operator/controller/tracepipeline/resources_test.go
  components/telemetry-operator/controller/tracepipeline/suite_test.go
  components/telemetry-operator/main.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Improve Sync Subscription Types Functions
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Rename a helper method
  components/telemetry-operator/controller/tracepipeline/resources.go
  components/telemetry-operator/controller/tracepipeline/resources_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Update values.yaml
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Update values.yaml
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

secret reference checks added
  components/telemetry-operator/apis/telemetry/v1alpha1/tracepipeline_types.go
  components/telemetry-operator/controller/tracepipeline/secret_refs.go
  components/telemetry-operator/controller/tracepipeline/status.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @kyma-project/prow
/.github/ISSUE_TEMPLATE @mmitoraj @NHingerl @grego952 @IwonaLanger  


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @dariadomagala @qbalukom @Wawrzyn321 @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/eventing-controller @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/telemetry-operator @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/directory-size-exporter @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/webhook-cert-init @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik

# All files and subdirectories in /docs
/docs @mmitoraj @NHingerl @grego952 @IwonaLanger  

/hack @clebs

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia
/installation/resources/crds/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/installation/resources/crds/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/installation/resources/crds/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @NHingerl @hisarbalik
/installation/resources/crds/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/resources/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @dariusztutaj @cnvergence @strekm @werdes72 @barchw
/resources/cluster-essentials @a-thaler @strekm @dariusztutaj @cnvergence @barchw @werdes72 @PK85 @videlov @triffer
/resources/cluster-essentials/charts/pod-preset @wozniakjan @PK85 @piotrmiskiewicz @szwedm @ralikio @tillknuesting
/resources/cluster-users @cnvergence @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/resources/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources/files/dashboards @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/kiali @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @tillknuesting @chrkl
/tests/fast-integration/eventing-test @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/image @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/kcp @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/skr-aws-upgrade-integration @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-nightly @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-svcat-migration-test @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm
/tests/fast-integration/skr-test @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/smctl @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/telemetry-test @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia

# performance tests
/tests/perf @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @lilitgh @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @muralov

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @mmitoraj @NHingerl @grego952 @IwonaLanger

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia @clebs
