Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @valentinvieriu, @akucharska, @dariadomagala, @qbalukom, @Wawrzyn321, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @VOID404, @koala7659, @franpog859, @mvshao, @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @hisarbalik, @clebs, @khlifi411, @ruanxin, @tobiscr, @jakobmoellersap, @adityabhatia, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @jaroslaw-pieszka, @janmedrek

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @kyma-project/prow
/.github/ISSUE_TEMPLATE @mmitoraj @NHingerl @grego952 @IwonaLanger  


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @dariadomagala @qbalukom @Wawrzyn321 @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/eventing-controller @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/telemetry-operator @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/directory-size-exporter @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/webhook-cert-init @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik

# All files and subdirectories in /docs
/docs @mmitoraj @NHingerl @grego952 @IwonaLanger  

/hack @clebs

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia
/installation/resources/crds/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/installation/resources/crds/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/installation/resources/crds/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @NHingerl @hisarbalik
/installation/resources/crds/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/resources/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @dariusztutaj @cnvergence @strekm @werdes72 @barchw
/resources/cluster-essentials @a-thaler @strekm @dariusztutaj @cnvergence @barchw @werdes72 @PK85 @videlov @triffer
/resources/cluster-essentials/charts/pod-preset @wozniakjan @PK85 @piotrmiskiewicz @szwedm @ralikio @tillknuesting
/resources/cluster-users @cnvergence @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/resources/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources/files/dashboards @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/kiali @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @tillknuesting @chrkl
/tests/fast-integration/eventing-test @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/image @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/kcp @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/skr-aws-upgrade-integration @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-nightly @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-svcat-migration-test @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm
/tests/fast-integration/skr-test @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/smctl @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/telemetry-test @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia

# performance tests
/tests/perf @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @lilitgh @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @muralov

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @mmitoraj @NHingerl @grego952 @IwonaLanger

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia @clebs

removing code
  components/function-runtimes/java11/examples/hello-world/Dockerfile-function
  components/function-runtimes/java11/examples/hello-world/Dockerfile-graalvm-function
  components/function-runtimes/java11/examples/hello-world/README.md
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/JerseyServer.java
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @mmitoraj, @NHingerl, @grego952, @IwonaLanger

remove dead code
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/handler/Handler.java
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

improve generating of cm
  components/function-runtimes/java11/Dockerfile-jvm-function.tpl
  components/function-runtimes/java11/Makefile
  components/function-runtimes/java11/pom.xml
  components/function-runtimes/java11/resources/cm.yaml.tpl
  components/function-runtimes/java11/resources/generate-cm.py
  components/function-runtimes/java11/resources/generate-dockerfile.py
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

fix
  components/function-runtimes/java11/Dockerfile-jvm-function.tpl
  components/function-runtimes/java11/Makefile
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

Fixed the crash
  components/telemetry-operator/controller/tracepipeline/setup.go
  components/telemetry-operator/controller/tracepipeline/setup_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Small improvement
  components/telemetry-operator/controller/tracepipeline/setup.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Bump operator image
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Bump k8s-tools image (#16168)
  docs/04-operation-guides/operations/10-backup-kyma.md
  resources/ory/values.yaml
  resources/serverless/values.yaml
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

Add Int Test for NATS Created Consumer Deletion
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Fix Linting Issues
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Add Int Test for NATS Created Consumer Deletion
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Delete Dangling Consuner during JetStream Is Down
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Make the fix for v1alpha2
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Fix linting errors
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Improve Naming and Tests
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_integration_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Improve Integration Tests for Review Comments
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_integration_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Create Int Test Case for v1alpha2 Fix
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_integration_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
  components/eventing-controller/testing/v2/test_helpers.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Improve Sync Subscription Types Functions
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Add missing CRD_NAME env for api-gateway cert webhook (#16147)
  resources/api-gateway/templates/webhook-certificates.yaml
  resources/api-gateway/values.yaml
Owners: @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer

Add Int Test for NATS Created Consumer Deletion
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Use clean event types from spec
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_internal_unit_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/stubs_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Fix linting errors
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_internal_unit_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/stubs_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream.go
  components/eventing-controller/utils/errors.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Delete invalid consumers during EC down
  components/eventing-controller/pkg/backend/jetstreamv2/errors.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_internal_unit_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/stubs_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/types.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream.go
  components/eventing-controller/testing/v2/test_helpers.go
  components/eventing-controller/utils/errors.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Use PR Number for EC Version
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Add unit test for v1alpha1
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_internal_unit_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Improve Function Names and Unit Tests
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream_internal_unit_test.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Fix Failing Integration Tests
  components/eventing-controller/controllers/subscription/jetstream/reconciler_internal_integration_test.go
  components/eventing-controller/pkg/backend/jetstreamv2/mocks/Backend.go
  components/eventing-controller/pkg/backend/jetstreamv2/mocks/JetStreamBackend.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Fix Tests and Linting Errors
  components/eventing-controller/pkg/backend/jetstreamv2/jetstream.go
  components/eventing-controller/pkg/backend/nats/jetstream/jetstream_integration_test.go
  components/eventing-controller/pkg/subscriptionmanager/jetstream/jetstream_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

New Watch Method with Custom K8S Context (#16202)
  tests/fast-integration/kcp/client.js
  tests/fast-integration/utils/index.js
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @jaroslaw-pieszka, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @chrkl

update
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/test/fixtures/commerce-mock/lastorder-function.yaml
  tests/fast-integration/utils/index.js
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

updated node-exporter to latest patch version
  resources/monitoring/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Delete 2.5-2.6-cleanup-logging-fluent-bit.sh
  docs/assets/2.5-2.6-cleanup-logging-fluent-bit.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Delete 2.8-2.9-cleanup-psp.sh
  docs/assets/2.8-2.9-cleanup-psp.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Delete 2.5-2.6 cleanup logging fluent bit
  docs/assets/2.5-2.6-cleanup-logging-fluent-bit.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Own Cluster Test
  tests/fast-integration/Makefile
  tests/fast-integration/gardener/client.js
  tests/fast-integration/package.json
  tests/fast-integration/skr-test/helpers.js
  tests/fast-integration/skr-test/test-own-cluster.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl, @szwedm, @wozniakjan, @ralikio, @piotrmiskiewicz, @jaroslaw-pieszka

delete-2.8-2.9-cleanup
  docs/assets/2.8-2.9-cleanup-psp.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

delete-2.5-2.6-cleanup
  docs/assets/2.5-2.6-cleanup-logging-fluent-bit.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Fix tracepipeline controller crash (#16211)
  components/telemetry-operator/controller/logparser/controller.go
  components/telemetry-operator/controller/logparser/setup.go
  components/telemetry-operator/controller/logparser/setup_test.go
  components/telemetry-operator/controller/logpipeline/controller.go
  components/telemetry-operator/controller/logpipeline/setup.go
  components/telemetry-operator/controller/logpipeline/setup_test.go
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/setup.go
  components/telemetry-operator/controller/tracepipeline/setup_test.go
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

added test for subscritpion v1alpha2
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/test/fixtures/commerce-mock/index.js
  tests/fast-integration/utils/index.js
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Delete 2.5-2.6 and 2.8-2.9 cleanups (#16220)
  docs/assets/2.5-2.6-cleanup-logging-fluent-bit.sh
  docs/assets/2.8-2.9-cleanup-psp.sh
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger
