Repository kyma-project/kyma, changes with the owners that CODEOWNERS names for each.
All owners: @pbochynski, @PK85, @a-thaler, @kyma-project/prow, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @valentinvieriu, @akucharska, @dariadomagala, @qbalukom, @Wawrzyn321, @Sawthis, @mrCherry97, @Lyczeq, @Tomasz-Smelcerz-SAP, @akgalwas, @VOID404, @koala7659, @franpog859, @mvshao, @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @hisarbalik, @clebs, @khlifi411, @ruanxin, @tobiscr, @jakobmoellersap, @adityabhatia, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer, @jaroslaw-pieszka, @janmedrek

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @pbochynski @PK85 @a-thaler

/.github @kyma-project/prow
/.github/workflows @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @kyma-project/prow
/.github/ISSUE_TEMPLATE @mmitoraj @NHingerl @grego952 @IwonaLanger  


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @valentinvieriu @akucharska @dariadomagala @qbalukom @Wawrzyn321 @Sawthis @mrCherry97 @Lyczeq

/common @Tomasz-Smelcerz-SAP @akgalwas @piotrmiskiewicz
# Logging library
/common/logging @VOID404 @akgalwas @koala7659 @franpog859 @mvshao

/components/application-operator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-connectivity-validator  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/central-application-gateway  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/components/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao @PK85
/components/event-publisher-proxy @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/eventing-controller @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/components/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/function-runtimes @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/components/telemetry-operator @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/directory-size-exporter @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/components/webhook-cert-init @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik

# All files and subdirectories in /docs
/docs @mmitoraj @NHingerl @grego952 @IwonaLanger  

/hack @clebs

/installation @khlifi411 @jeremyharisch @ruanxin @tobiscr @moelsayed @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia
/installation/resources/crds/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/installation/resources/crds/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/installation/resources/crds/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/installation/resources/crds/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/installation/resources/crds/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/installation/resources/crds/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @NHingerl @hisarbalik
/installation/resources/crds/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/resources/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/application-connector  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/certificates @dariusztutaj @cnvergence @strekm @werdes72 @barchw
/resources/cluster-essentials @a-thaler @strekm @dariusztutaj @cnvergence @barchw @werdes72 @PK85 @videlov @triffer
/resources/cluster-essentials/charts/pod-preset @wozniakjan @PK85 @piotrmiskiewicz @szwedm @ralikio @tillknuesting
/resources/cluster-users @cnvergence @strekm @werdes72 @dariusztutaj @barchw @videlov @triffer
/resources/compass-runtime-agent  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/resources/eventing @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/resources/istio @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/istio-resources/files/dashboards @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/kiali @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/ory @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/resources/serverless @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/resources/telemetry @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/resources/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik

/tests/application-gateway-legacy-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/application-gateway-tests  @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/telemetry-operator-perf-tests @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


# Fast Integration Tests
/tests/fast-integration @lindnerby @rakesh-garimella @jeremyharisch @khlifi411 @ruanxin @pbochynski @dennis-ge @jakobmoellersap @Tomasz-Smelcerz-SAP @PK85 @tillknuesting @chrkl
/tests/fast-integration/eventing-test @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/image @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @lilitgh @muralov
/tests/fast-integration/kcp @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @tillknuesting @ralikio @jaroslaw-pieszka
/tests/fast-integration/skr-aws-upgrade-integration @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-nightly @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm @wozniakjan @jaroslaw-pieszka
/tests/fast-integration/skr-svcat-migration-test @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @szwedm
/tests/fast-integration/skr-test @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/smctl @szwedm @wozniakjan @tillknuesting @ralikio @PK85 @piotrmiskiewicz @jaroslaw-pieszka
/tests/fast-integration/logging @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/monitoring @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/telemetry-test @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik
/tests/fast-integration/tracing @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @hisarbalik


/tests/function-controller @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm
/tests/components/api-gateway @strekm @werdes72 @dariusztutaj @cnvergence @barchw @videlov @triffer
/tests/components/istio @strekm @dariusztutaj @cnvergence @barchw @werdes72 @videlov @triffer
/tests/components/application-connector @VOID404 @akgalwas @koala7659 @franpog859 @mvshao
/tests/components/reconciler @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia

# performance tests
/tests/perf @a-thaler @rakesh-garimella @skhalash @jeremyharisch @chrkl @lindnerby @dennis-ge @lilitgh @hisarbalik
/tests/serverless-bench @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# The tools/event-subscriber directory
/tools/event-subscriber/ @lilitgh @k15r @nachtmaar @marcobebway @mfaizanse @friedrichwilken @vladislavpaskar @raypinto @muralov

# The tools/gitserver directory
/tools/gitserver/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey @anoipm

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel @kwiatekus @moelsayed @cortey @anoipm @mmitoraj @NHingerl @grego952 @IwonaLanger

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger

# Managed Modules
/modules @pbochynski @janmedrek @khlifi411 @jeremyharisch @ruanxin @tobiscr @Tomasz-Smelcerz-SAP @jakobmoellersap @adityabhatia @clebs

Bump istio to 1.16.0
  resources/istio-resources/files/dashboards/control-plane.json
  resources/istio-resources/files/dashboards/mesh.json
  resources/istio-resources/files/dashboards/performance.json
  resources/istio-resources/files/dashboards/service.json
  resources/istio-resources/files/dashboards/workload.json
  resources/istio/Chart.yaml
  resources/istio/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer

Fix retry on conflict in Serverless integration tests (#16172)
  resources/serverless/values.yaml
  tests/function-controller/pkg/function/function.go
  tests/function-controller/pkg/function/v1alpha1/function.go
  tests/function-controller/pkg/resource/resource.go
  tests/function-controller/pkg/retry/retry.go
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

Fix Serverless internal docker registry permissions bug
  resources/serverless/charts/docker-registry/templates/deployment.yaml
  resources/serverless/charts/docker-registry/values.yaml
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

Enable Use of Watch with Non-global K8S Context
  tests/fast-integration/utils/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

merge problem solved
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Fix Serverless internal docker registry permissions bug (#16191)
  resources/serverless/charts/docker-registry/templates/deployment.yaml
  resources/serverless/charts/docker-registry/values.yaml
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

lint error fixes
  components/telemetry-operator/controller/tracepipeline/resources.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Opentelemetry collector base configuration (#16189)
  components/telemetry-operator/config/crd/kustomization.yaml
  components/telemetry-operator/config/samples/telemetry_v1alpha1_tracepipeline_jaeger.yaml
  components/telemetry-operator/controller/tracepipeline/resources.go
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Linting Corrections
  tests/fast-integration/utils/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

add tip about creating App from Busola (#16182)
  docs/03-tutorials/00-application-connectivity/ac-01-create-application.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Review Corrections
  tests/fast-integration/utils/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Linting Issues
  tests/fast-integration/kcp/client.js
  tests/fast-integration/utils/index.js
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @tillknuesting, @ralikio, @jaroslaw-pieszka, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @chrkl

Fix reflecting Fluent Bit state on LogParser CRD
  components/telemetry-operator/controller/logparser/controller.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Applied review comments
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/utils/index.js
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Bump telemetry-operator image
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Bump otel-collector image
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

fix: adjust exposing a function to the new apirules
  docs/02-get-started/02-deploy-expose-function.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Remove Helm templating for telemetry busola extensions
  resources/telemetry/charts/operator/templates/logparser_busola_extension_cm.yaml
  resources/telemetry/charts/operator/templates/logpipeline_busola_extension_cm.yaml
  resources/telemetry/charts/operator/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

fix: exposing function with new apirules view
  docs/03-tutorials/00-serverless/svls-03-expose-function.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Add fallback for getting the load balancer IP, so we are able to run custom domain test on DNS and IP based load balancer ingress points.
  tests/components/api-gateway/README.md
  tests/components/api-gateway/custom_domain_test.go
  tests/components/api-gateway/pkg/helpers/loadbalancer.go
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @strekm, @werdes72, @dariusztutaj, @cnvergence, @barchw, @videlov, @triffer

Fix reflecting Fluent Bit state on LogParser CRD (#16204)
  components/telemetry-operator/controller/logparser/controller.go
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Bump otel-collector image (#16206)
  resources/telemetry/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

fix: creating apirule using new view
  docs/02-get-started/03-deploy-expose-microservice.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

fix: update Functions UI screenshot
  docs/03-tutorials/00-serverless/README.md
  docs/03-tutorials/00-serverless/assets/svls-function-ui.png
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

Review Remarks
  tests/fast-integration/utils/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

fixed missing import
  tests/fast-integration/eventing-test/utils.js
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Remove Helm templating for telemetry busola extensions (#16207)
  resources/telemetry/charts/operator/templates/logparser_busola_extension_cm.yaml
  resources/telemetry/charts/operator/templates/logpipeline_busola_extension_cm.yaml
  resources/telemetry/charts/operator/values.yaml
Owners: @a-thaler, @rakesh-garimella, @skhalash, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Extract setup logic into a separate file
  components/telemetry-operator/controller/logparser/controller.go
  components/telemetry-operator/controller/logparser/setup.go
  components/telemetry-operator/controller/logparser/setup_test.go
  components/telemetry-operator/controller/logpipeline/controller.go
  components/telemetry-operator/controller/logpipeline/setup.go
  components/telemetry-operator/controller/logpipeline/setup_test.go
  components/telemetry-operator/controller/tracepipeline/controller.go
  components/telemetry-operator/controller/tracepipeline/setup.go
  components/telemetry-operator/controller/tracepipeline/setup_test.go
Owners: @a-thaler, @rakesh-garimella, @skhalash, @jeremyharisch, @chrkl, @lindnerby, @dennis-ge, @lilitgh, @hisarbalik

Review Remarks
  tests/fast-integration/utils/index.js
Owners: @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Add stream re-creation check in eventing FI tests (#16131)
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/utils/index.js
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Start deleting test
  tests/components/application-connector/test/compass-runtime-agent/synchronisation_test.go
Owners: @VOID404, @akgalwas, @koala7659, @franpog859, @mvshao

add example wit SecretMounts to doc
  docs/03-tutorials/00-serverless/svls-16-use-secret-mounts.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger

adding support for v1alpha2 part 1
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/utils.js
  tests/fast-integration/utils/index.js
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov, @lindnerby, @rakesh-garimella, @jeremyharisch, @khlifi411, @ruanxin, @pbochynski, @dennis-ge, @jakobmoellersap, @Tomasz-Smelcerz-SAP, @PK85, @tillknuesting, @chrkl

Fix EventMesh namespace in Exact type matching for Sub v1alpha2 CRD
  components/eventing-controller/pkg/backend/utils/eventmesh_utils.go
  components/eventing-controller/pkg/backend/utils/eventmesh_utils_test.go
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

image bump
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

Fix EventMesh namespace in Exact type matching for Sub v1alpha2 CRD (#16213)
  components/eventing-controller/pkg/backend/utils/eventmesh_utils.go
  components/eventing-controller/pkg/backend/utils/eventmesh_utils_test.go
  resources/eventing/values.yaml
Owners: @k15r, @nachtmaar, @marcobebway, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @muralov

add gitignore
  components/function-controller/.gitignore
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

init of java
  components/function-runtimes/java11/.gitignore
  components/function-runtimes/java11/Dockerfile-jvm-function.tpl
  components/function-runtimes/java11/Dockerfile-jvm11-runtime
  components/function-runtimes/java11/Makefile
  components/function-runtimes/java11/examples/hello-world/.Dockerignore
  components/function-runtimes/java11/examples/hello-world/.gitignore
  components/function-runtimes/java11/examples/hello-world/Dockerfile-function
  components/function-runtimes/java11/examples/hello-world/Dockerfile-graalvm-function
  components/function-runtimes/java11/examples/hello-world/README.md
  components/function-runtimes/java11/examples/hello-world/pom.xml
  components/function-runtimes/java11/examples/hello-world/src/main/java/io/project/kyma/serverless/handler/Handler.java
  components/function-runtimes/java11/pom.xml
  components/function-runtimes/java11/resources/.gitignore
  components/function-runtimes/java11/resources/generate-cm.py
  components/function-runtimes/java11/resources/generate-dockerfile.py
  components/function-runtimes/java11/serverless-java-sdk/Makefile
  components/function-runtimes/java11/serverless-java-sdk/pom.xml
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/CloudEvent.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/CloudEventImpl.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/Function.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/ResponseCloudEvent.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/TraceableRequest.java
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/Config.java
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/JerseyServer.java
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/Main.java
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/handler/Handler.java
  components/function-runtimes/java11/src/main/resources/META-INF/native-image/io.project.kyma.serverless/jni-config.json
  components/function-runtimes/java11/src/main/resources/META-INF/native-image/io.project.kyma.serverless/proxy-config.json
  components/function-runtimes/java11/src/main/resources/META-INF/native-image/io.project.kyma.serverless/reflect-config.json
  components/function-runtimes/java11/src/main/resources/META-INF/native-image/io.project.kyma.serverless/resource-config.json
  components/function-runtimes/java11/src/main/test/io/project/kyma/serverless/MainTest.java
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm, @mmitoraj, @NHingerl, @grego952, @IwonaLanger

remove uneeded interfaces
  components/function-runtimes/java11/examples/hello-world/src/main/java/io/project/kyma/serverless/handler/Handler.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/CloudEvent.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/CloudEventImpl.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/Function.java
  components/function-runtimes/java11/serverless-java-sdk/src/main/java/io/project/kyma/serverless/sdk/TraceableRequest.java
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/JerseyServer.java
  components/function-runtimes/java11/src/main/java/io/project/kyma/serverless/handler/Handler.java
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm

remove graalvm references
  components/function-runtimes/java11/Dockerfile-jvm-function.tpl
  components/function-runtimes/java11/Dockerfile-jvm11-runtime
  components/function-runtimes/java11/Makefile
Owners: @m00g3n, @pPrecel, @dbadura, @kwiatekus, @moelsayed, @cortey, @anoipm
